[2019-07-19 18:07] autrilla commented on #769
This was probably it. I used a Python application with aiohttp as a server. I don't think it handled `SIGTERM` this way.

[2019-07-19 18:35] mackoftrack commented on #769
@freehan one difference I'm seeing is that my Service is type: NodePort and yours is type: ClusterIP

Could that be the issue? I followed these tutorials:  https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer and https://cloud.google.com/kubernetes-engine/docs/concepts/ingress

[2019-07-19 19:48] freehan commented on #769
@mackoftrack  That should be irrelevant.

[2019-07-20 01:21] rodrigorodrigues opened #800 "Ingress not redirect to https"
Hi everyone,

I'm struggling to solve an issue with `GKE + Ingress + Nginx redirect http to https`, I've tried different ways without luck.

I have a few `Java Spring Boot Apps` running in `https` but when I tried to call the url through Ingress get `Bad Request - This combination of host and port requires TLS.`

https://eureka.spendingbetter.com

Follow configuration for Ingress
[code]
I believe

[2019-07-20 20:55] #632 closed

[2019-07-20 22:12] clehene commented on #136
@nicksardo are these phantom LBs still being worked on?
This is a good example of how eventual consistency can make things hard to impossible. Deleting an ingress and creating another ingress with the same name is even more interesting. Tooling reports some certificates while in reality, it uses the old ones. The list goes on. Managing these idiosyncrasies feels more like voodoo :)

[2019-07-22 11:05] stinger-forever commented on #476
Recently , I have same issue on both clusters....
I have some GCE ingresses and have several nginx.class ingresses on the same cluster.
Now when I create new nginx class controller, service implementing successfully, get proper IP address, but the nginx class annotaion is ignored during deploy and new L7 balancer is creating.

[2019-07-22 12:50] stinger-forever opened #801 "Recently , I have same issue on both clusters...."
Recently , I have same issue on both clusters....
I have some GCE ingresses and have several nginx.class ingresses on the same cluster.
Now when I create new nginx class controller, service implementing successfully, get proper IP address, but the nginx class annotaion is ignored during deploy and new L7 balancer is creating.

_Originally posted by @stinger-forever in https://github.com/kubernetes

[2019-07-22 14:33] mackoftrack commented on #769
@freehan I couldn't reproduce the issue using your test yamls. I'm wondering if I'm hitting this: https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#scale-to-zero_workloads_interruption

As our production cluster is a regional GKE cluster, and some of these deployments have only a single replica, that means that in a regional cluster there is 0 network endpoints

[2019-07-22 17:02] bowei commented on #801
Which L7 is being provisioned? (ingress-gce or nginx)

[2019-07-22 17:02] bowei commented on #801
@rramkumar1

[2019-07-22 17:04] bowei commented on #800
I would post on the ingress-nginx repo with this issue.

[2019-07-22 17:05] rramkumar1 commented on #791
/assign

[2019-07-22 17:06] rramkumar1 commented on #794
Adding @bowei so he can respond to this.

/assign @bowei

[2019-07-22 18:01] stinger-forever commented on #801
Yes definitely it's a ingress-gce L7, as it creates 3 riles
Load balancer:
k8s-um-default-reducted-5a9cf192f8bf54dd
Target proxy
k8s-tp-default-0-reducted--5a9cf192f8bf54dd
Forwarding rule
k8s-fw-default-0-reducted--5a9cf192f8bf54dd
Besides, during deployment I noticed that at some moment it attached IP from the other nginx class for about 5 seconds and later proceed with absolutely new IP and loa

[2019-07-22 18:02] freehan commented on #769
@mackoftrack Based on my testing, the bug has been fixed. You can try it as well.

1. Scale backend to 0
2. Send traffic, observe 502s and wait for a few minutes
3. Scale backend to 1
4. Send traffic and observe how long it takes for LB to response 200.

Step 4 should take only some seconds, not minutes.

[2019-07-22 18:15] mackoftrack commented on #769
@freehan I believe this is in fact the issue. I was able to reproduce using your test yamls on our _regional_ GKE cluster in us-west1 region. This may in fact be a new bug.

1. Deploy your test yamls on a GKE regional cluster (in us-west1 this results in 3 NEG's, 1 in each zone us-west1-a, us-west1-b, us-west1-c)
2. Do a rolling update of the deployment
3. Observe 502s during deployment (there sho

[2019-07-22 18:22] freehan commented on #769
@mackoftrack how many backends do you have?

[2019-07-22 18:27] mackoftrack commented on #769
I'm using your test yamls, which creates a single backend

[2019-07-22 18:39] freehan commented on #769
FYI, the rolling update test itself scales up the deployment to multiple backends.

If you only have 1 replicas, then it is basically a race between removing the old endpoint and adding a new one. If you want to avoid 502s for rolling update 1 replica, you need to tune the rolling update strategy to MaxUnavailable to 0:

[code]

[2019-07-22 18:52] mackoftrack commented on #769
Sorry, you're right, Setting

[code]

I didn't see the 502s.

[2019-07-22 19:23] stinger-forever commented on #801
I have found resolutition:
The cause of Ingresses classes conflict was below annotation
**kubernetes.io/tls-acme: true**
It was added by my colleague and I didn't noticed it at first glance.
But is it normal behavior?

[2019-07-22 19:28] rramkumar1 commented on #801
@stinger-forever FWIW, Ingress-GCE does not respect the kubernetes.io/tls-acme annotation.

Did this happen recently? Can you send me an email with your GCP project ID, cluster name and cluster location?

[2019-07-22 19:30] rramkumar1 commented on #800
@rodrigorodrigues Closing as per comment by @bowei. Please file an issue with the ingress-nginx folks.

/close

[2019-07-22 19:30] #800 closed

[2019-07-22 19:31] rramkumar1 commented on #793
@JanisOrlovs Can you please clarify what exact issue you are running into? It's not clear to me from your screenshot.

[2019-07-22 19:33] rramkumar1 commented on #797
@shance Sounds reasonable, you mind fixing it?

[2019-07-22 19:34] spencerhance commented on #797
sounds good /assign @spencerhance

[2019-07-22 19:35] JanisOrlovs commented on #793
Hello,
Websocket breaks after 30 seconds

[2019-07-22 19:42] rramkumar1 commented on #793
@JanisOrlovs The default setting for backend service timeout is 30 sec so its possible your BackendConfig settings were not applied.

Can you check if there are any K8s events on your Ingress?

[2019-07-22 19:48] stinger-forever commented on #801
Thank you, already sent, check email from Armen Gasparyan.

[2019-07-22 19:58] JanisOrlovs commented on #793
Hello,
There are no ingress events only setup certs eg normal events.
How can I check default timeouts? In LBL ui/gcloud console everything all looks as it should

[2019-07-22 20:20] rramkumar1 commented on #793
@JanisOrlovs So if you look at the associated Backend Service in the UI, it shows the timeout as 720000?

[2019-07-23 07:19] JanisOrlovs commented on #793
yes of course

[2019-07-23 13:14] rramkumar1 commented on #793
@JanisOrlovs Can you send me an email with your project ID, cluster name and cluster zone? I can take a closer look on our end.

[2019-07-23 17:01] bowei commented on #794
How do the other cluster's endpoints get added to the LB in this case?

[2019-07-23 22:22] samcgardner commented on #794
The core ideas is for the controller in each cluster to set the backend service's endpoints to current contents ∪ that cluster's endpoints.  To outline the full procedure in a simple two-cluster case with no concurrency issues:

1. Cluster 0 is created with a declarative multi-cluster Ingress configured
2. Ingress controller in cluster zero (I<sub>0</sub> hereafter for brevity) creates a global fo

[2019-07-24 15:22] mercuriete commented on #246
TLS 1.0 is the default of GCE.
We need to restrict to 1.2 or better.

Doesn't make any sense to change it by hand.

Please create a BackendConfig with this.

[2019-07-25 13:16] philpearl commented on #769
I'm still seeing problems with this in GKE (1.13.7-gke.8, regional deployment). I have terminationGracePeriodSeconds: 180 and minReadySeconds: 180. My deployment has 2 replicas. I see 502s if I redeploy or do a rolling restart. The problem seems to happen at the moment when a pod is stopped.

I see a log indicating the endpoint has been removed from the endpoint group, and at around the same insta

[2019-07-25 15:34] philpearl commented on #769
Here's a simple nginx-based repro for the problem. With is config I run `ab -n 100000 -c 10 http://<ipaddr>/` and `kubectl rollout restart deploy/nginx`then I get some 500s. If I replace the lifecycle preStop with a 60s sleep it doesn't 500 (at least not in the few times I've tried it)

[code]

[2019-07-25 15:38] mackoftrack commented on #769
Yeah, now that @philpearl mentioned running on a regional GKE cluster, I tend to think that this problem is specific to regional clusters, as that is where I've been seeing these issue as well.

[2019-07-25 17:04] philpearl commented on #769
@mackoftrack not so sure - I did that repro above in a single-zone cluster with a single machine

[2019-07-25 20:43] freehan commented on #769
I should make it a bit more clear. When pod is deleted (added deletion timestamp), these things happens in parallel:

1. kubelet send SIGTERM to pods
2. endpoint controller update endpoints for corresponding services (if pod is selected by the service)

After Endpoints resource got updated (pod endpoint removed from ready addresses), service programming starts:
3. kube-proxy programs iptables to r

[2019-07-25 20:46] freehan commented on #769
@philpearl
I am not sure what ` - /usr/sbin/nginx -s -quit` exactly do. I would imagine it would stop responding to new requests?

[2019-07-25 21:05] philpearl commented on #769
I believe so. But what is "proper handling of SIGTERM"? From this
explanation, the only sensible thing to do appears to be to completely
ignore it and keep serving. Am I missing something?

On Thu, 25 Jul 2019, 9:46 pm Minhan Xia, <notifications@github.com> wrote:

[2019-07-25 21:10] aledbf commented on #769
@philpearl something like https://github.com/kubernetes/ingress-nginx/issues/322#issuecomment-298016539
As @freehan mentioned, this is not an issue with ingress-gce itself.

[2019-07-25 21:18] bowei commented on #769
For generic HTTP server, yes, it means keep serving existing requests, but should be sending connection: close on the response so client have to reconnect.
Servers that have a "lame duck" state handling that can actively reject existing sessions with the clients would start behaving differently.

[2019-07-25 21:32] mackoftrack commented on #769
This is what I don't understand. I shouldn't have to add special SIGTERM handling to my container if it terminates quickly.

[2019-07-26 07:16] philpearl commented on #769
OK, this all makes sense, but the documentation is actively confusing. It seems like the basic advice should be "make sure your service ignores SIGTERM" - anything else is only needed in edge-cases. The advice here  https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace is at least strongly hinting that you should do a "graceful shutdown" - and that's the oppos

[2019-07-26 08:08] philpearl commented on #769
@mackoftrack I don't think anyone is denying this is all a bit hacky. It seems like k8s is missing the synchronisation mechanisms needed to make this clean. I'm grumbling because the docs aren't clear - probably because clear documentation would make the hackiness very apparent! _old man shakes fist at cloud_

[2019-07-26 13:48] acondrat commented on #511
+1
This would makes things so much easier for us! Any updates on when this could be available?

[2019-07-26 16:56] freehan commented on #34
Ref: https://github.com/kubernetes/ingress-gce/issues/769

[2019-07-26 18:33] ivansenic opened #805 "Is there any way an Ingress can send X-Forwarded-* headers to the service/deployment"
I searched the internet for almost 4 hours and could not find a concrete answer to this question.

I have deployment that exposes a app listening on the HTTP/1.1. Since communication between Ingress and a client can be secure, I hoped that the Ingress would include the `X-Forwarded-For` and `X-Forwarded-Proto` headers, however I am not getting them at all. Is there any option for this be activated

[2019-07-26 19:59] ivansenic commented on #805
Closing as I confirmed that headers are actually set.

[2019-07-26 19:59] #805 closed

[2019-07-29 02:35] djsell commented on #605
I wasted a long time trying to figure out why my Ingress wasn't working, and @muhammadsalmansheikh fix worked.  This should really be brought to attention on the Services & Ingress page here https://console.cloud.google.com/kubernetes/discovery

It'll save a lot of people time if it just displays a warning like, "Ingress isn't available because you don't have the HTTP Load Balancer add-on enabled.

[2019-07-29 04:05] bowei commented on #605
It's an unfortunate aspect of the spec, but many people run their own Ingress provider (e.g. ingress-nginx). It's difficult to tell if disabling and having Ingress objects is around is intentional or not from the provider standpoint.

[2019-07-29 20:45] vital4ik commented on #33
this should go into a feature request and be implemented as soon as possible. simple task of maintaining some files becomes a nuisance and like folks said before, a showstopper

[2019-07-29 22:11] bowei commented on #33
/lifecycle frozen

[2019-07-29 22:11] bowei commented on #33
Please take a look at

[2019-08-01 22:38] #649 closed

[2019-08-02 18:47] #791 closed

[2019-08-03 08:11] #657 closed

[2019-08-03 15:58] ashish-oyo commented on #51
Disappointing. HTTPS redirection and adding HTTPS support is so difficult in GKE. That's why AWS is leading the market.

[2019-08-05 14:46] gijo-varghese opened #817 "Unable to use TLS 1.3"
So I created a load balancer with GKE Ingress and enabled SSL using [gke-managed-certs](https://github.com/GoogleCloudPlatform/gke-managed-certs). However, an issue that I face is that TLS 1.3 is not supported

Digging deep, I found that [SSL Policies](https://cloud.google.com/load-balancing/docs/ssl-policies-concepts) only support up to TLS 1.2

Is there any way to upgrade to TLS 1.3?

Similar is

[2019-08-07 07:59] bowei commented on #718
/lifecycle frozen

[2019-08-07 20:10] loxy commented on #109
WTF. Ridiculous...

[2019-08-08 00:18] thockin commented on #109
Hey folks, let's keep it professional, please.

I don't disagree that this seems like a great feature, but the simple fact is that it isn't available yet.

[2019-08-08 13:29] rln-storytel commented on #740
/remove-lifecycle-stale

After discussing this with Google Support, the issue is that our cluster was created prior to Kubernetes 1.7.2. The issue is even [described in the documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balancing#considerations_for_existing_ingresses).

The only current workaround is to not add new zones. The only current fix is to reroll the c

[2019-08-08 17:46] bowei commented on #713
/lifecycle frozen

[2019-08-08 19:45] bowei commented on #740
/lifecycle frozen

[2019-08-08 19:48] bowei commented on #740
Unfortunately the validation restrictions today do not allow for an easy way to switch modes for instance groups that are actively attached to an LB. However, it should be adding additional zones with UTILIZATION mode if it detects problems with creation on RATE, and that should be a bug. Can you file a separate issue for that specifically?

[2019-08-08 19:49] bowei commented on #740
Note that utilization does not work unless you are using NEGs as the load on the VM initially receiving traffic is not correlated at all with the backend pod that may be running on a different VM.

[2019-08-10 03:24] gijo-varghese opened #821 "Duplicate rules created in load balancer"
Every time I add a new rule to the ingress, it creates multiple rules in the load balancer. The rules are basically the same, pointing to the same backend

Here is my ingress file:
[code]

Here are the duplicate rules created in the load balancer:
![AwesomeScreenshot-console-cloud-google-net-services-loadbalancing-details-http-k8s-um-default-basic-ingress--6dca0e07f90e8063-2019-08-10_8_53](https:/

[2019-08-10 06:53] #646 closed

[2019-08-11 12:16] rramkumar1 commented on #821
@gijo-varghese Nothing about your Ingress spec stands out, it looks pretty normal...

Can you dump the contents of the url map k8s-um-default-basic-ingress--6dca0e07f... via the gcloud command line tool? I want to see if the output JSON also has duplicate rules. This would rule out some sort of UI issue.

[2019-08-11 12:18] rramkumar1 commented on #817
Support for SSL policies is tracked in #246. I will close this since its a duplicate.

[2019-08-11 12:18] #817 closed

[2019-08-11 12:20] gijo-varghese commented on #246
Would love to see TLS 1.3. Right now it's 1.2

[2019-08-11 14:21] gijo-varghese commented on #821
@rramkumar1 here is the dump of a similar load balancer:
[code]

[2019-08-11 15:39] gijo-varghese commented on #821
@rramkumar1 the reason for the duplicate rule I think is because the first rule is created for 'defaultService' and the second one for 'pathRules/paths'

[2019-08-12 05:39] Arachnid commented on #87
IPv6 / multiple IP support would be really useful, and long overdue.

[2019-08-12 13:36] rramkumar1 commented on #821
@gijo-varghese Yea appears that is the case, although I remember the UI rendering it differently...

I believe if you leave "paths" empty, we fill in "/*" for you so you but I don't see how that would change the UI. It seems like your UrlMap is structurally correct so I don't think this is any sort of bug. Perhaps they changed the UI a bit which is why this looks a little weird.

Given that, can w

[2019-08-12 13:44] gijo-varghese commented on #821
@rramkumar1 ok. My concern is about the price. Since there are duplicate rules in the UI (4 rules), will I be charged for 4 rules or 2 rules?

[2019-08-12 13:48] rramkumar1 commented on #821
@gijo-varghese Please correct me if I am wrong, but you are never charged for individual rules in a UrlMap. You are only charged for ForwardingRules themselves (which are a completely different API resource).

[2019-08-12 13:50] rramkumar1 commented on #770
This was completed this in #806. bowei@ can this be closed?

[2019-08-12 13:53] gijo-varghese commented on #821
@rramkumar1

What does this mean?

See the below rules:
![b09bc42a-777a-44c8-5cd8-0f7168814de2](https://user-images.githubusercontent.com/23092846/62870104-a96eb800-bd36-11e9-8f6e-865f036eda29.png)
In this case, will I be charged for 5 (total) or 4 (duplicate rules) or 2 rules?

[2019-08-12 13:55] gijo-varghese commented on #821
Here are the Load balancing and forwarding rules pricing: https://cloud.google.com/compute/all-pricing#lb

[2019-08-12 14:00] rramkumar1 commented on #821
You will not be charged anything. These are rules in a UrlMap resource and a UrlMap resource does not incur any charges. What you are charged for is a ForwardingRule. If you look under the "Frontend" heading, you will see two entries (HTTP and HTTPS). These correspond to ForwardingRules. You are charged for those.

[2019-08-12 14:03] gijo-varghese commented on #821
haha! Thanks a lot :smile:

I was thinking about some weird solutions like this! https://stackoverflow.com/questions/57456652/how-to-use-gke-ingress-along-with-nginx-ingress/

[2019-08-12 16:41] rramkumar1 commented on #821
/close

[2019-08-12 16:41] #821 closed

[2019-08-12 21:49] NickLavrov commented on #537
Closing the issue since it was addressed in the PR above!

[2019-08-13 17:59] karlkfi commented on #537
Changes in #650 do not actually solve this issue completely.

It is still possible for GCLB name and backend name (Network Endpoint Group) to collide if the namespace name + ingress name are too long, especially between two clusters with similar names, because the cluster name is at the end and gets truncated first.

LB: https://github.com/kubernetes/ingress-gce/blob/master/pkg/utils/namer.go#L340

[2019-08-13 20:08] wy100101 commented on #794
I'm interested in this because the current solution is so close to what I need OOTB. Today I can declaratively create a GCLB for a service running in GKE just by creating a service with the right annotation, and the corresponding ingress. Unfortunately, I can't create the same deployment in another cluster in another region that automatically gets added to the existing GCLB as additional backends.

[2019-08-13 22:01] freehan commented on #537
Let me summarize the current naming problem per GCE Loadbalancer resource:

1. LB frontend resources: `FowardingRule`, `TargetProxy`, `UrlMap`. These resources have the following naming scheme.
[code]
The name will be truncated to 63 characters (max length of GCE resource name). When the namespace and name long (55 chars). The GCE resource name will lose uniqueness across multiple ingresses within

[2019-08-15 03:48] ashi009 commented on #35
Any update on this?

In the kube-proxy world, showing first backends health status is probably OK, as the traffic can hop between nodes when access with node port. Each backend group will report health regardless if there is a backend in that zone at all.

However, with NEG backends, it's possible to have zones with no corresponding backends at all. In that case, the health status for those backen

[2019-08-15 05:55] bowei commented on #35
@freehan -- can we put this in the backlog? It looks like a self contained item

[2019-08-15 08:12] ashi009 commented on #35
FTR: the GKE console issue is tracked at https://issuetracker.google.com/issues/130748827.

[2019-08-15 19:01] dmarkwat commented on #42
@rramkumar1 what is the change of plan you referred to in https://github.com/kubernetes/ingress-gce/pull/681? I'm very curious because what you wrote there would solve the problems I experienced very recently.

[2019-08-16 14:50] mcfedr commented on #566
Fixed in #795

[2019-08-19 15:34] unludo commented on #18
Hi @rramkumar1, @salrashid123,
Actually to integrate letsencrypt with envoy has changed. Now SDS is available in Istio to correctly manage cert update, without restarting envoy.
I did not find documentation on how to configure this with GCE/GRPC.
That would be very helpful. Do you know if Google will provide more documentation on this?
thx

[2019-08-19 15:41] salrashid123 commented on #18
@unludo

you want to configure gce+grpc on compute engine direct (vs ingress-gke context per this issue)?  if so, the following steps details how to setup grpc serivce on plain COS images as a MIG
- https://github.com/salrashid123/gcegrpc/tree/master/gce
just substitue the place towards the end where a self-signed cert is setup and use
https://cloud.google.com/load-balancing/docs/ssl-certificates

[2019-08-19 23:10] thockin commented on #661
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-08-20 19:21] dpkirchner commented on #699
@rramkumar1 The TCP Proxy LB does support port 443, so this feature would still be useful for situations where it's undesirable to upload TLS certificate(s) to GCP.

[2019-08-21 04:37] Rukeith commented on #51
@ashish-oyo That is too true

[2019-08-21 08:19] thuandt commented on #51
Google is working on it, expect alpha in 2019Q4 :) (see uservoice links)
https://googlecloudplatform.uservoice.com/forums/302616-load-balancing/suggestions/31951531-allow-http-to-redirect-to-https-automatically

[2019-08-21 12:09] #801 closed

[2019-08-21 15:15] rramkumar1 opened #831 "Scale test is failing"
Ref: https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale

@MrHohn can you take a look?

[2019-08-21 16:58] MrHohn commented on #831
Thanks for catching this. Saw a bunch of quota exceeded error from the logs (the latest run): https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/1164061805203427328/artifacts/e2e-a8e3dd9eae-886f8-master/glbc.log
[code]

[2019-08-21 17:03] MrHohn commented on #831
Well, seems like we leaked exactly one SSL cert, so the last LB creation (for ing-scale-99) was not successful:
[code]

Deleting the leaked cert but will look more why it was leaked.

[2019-08-21 17:33] MrHohn commented on #831
Requested a quota bump on the project for relevant resources to allow some headroom as well.

[2019-08-21 18:17] MrHohn commented on #831
Found the deletion error (in used by) on that leaked SSL cert:
[code]

Probably a bug with the GC procedure? As target proxy should be cleaned up prior to SSL cert?

[2019-08-21 19:24] giladsh1 commented on #793
@JanisOrlovs I think you're encountering this issue since you're using the port name and not the actual number (that was the case for me).
try setting the service annotation to something like this -
[code]

[2019-08-21 19:30] giladsh1 opened #832 "GCE Ingress creates a Network Endpoint Group with 0 configured"
GCE Ingress creates a network endpoint group with 0 configured, when setting targetPort name instead of the actual number.
This config will not work and will essentially create a useless network endpoint group, which doesn't recognise the pods.
[code]

However, when changing the `targetPort` to 8080, the network endpoint group will recognise the running pods.
This was a tough bug to catch :-(

[2019-08-22 00:39] MrHohn commented on #831
Okay, test is now passing; https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/1164243519703879680

I tend to believe the resource were leaked from an aborted run (which we can't avoid), and the above deletion error came from janitor a day after that. It failed due to some ordering issue in janitor (deleting cert before target proxy), which https://github.com/kubernetes/t

[2019-08-22 00:39] #831 closed

[2019-08-23 09:24] thuandt commented on #566
@mcfedr seem Google is not yet rolling this feature.

I tried with this configuration in GKE cluster v1.13.x but didn't work

[code]

[2019-08-23 13:19] rramkumar1 commented on #566
@thuandt This has not been released yet on GKE. It will likely be coming in our 1.7 release. Stay tuned...

[2019-08-24 11:38] thuandt commented on #566
@rramkumar1 Ok. Noted

I tried with above configuration in GKE (us-west1), GCP has been trigger to add new custom headers in only one backend services instead both of them so it's not worked as expected.

btw, thanks for your support :)

[2019-08-25 00:51] lgelfan commented on #670
We recently started testing GCE ingress / HTTP(s) LB as all our others are nginx-ingress and noticed this issue. Certainly would be good to clarify the MAX=1 (per instance) default and if there are use cases for increasing it to improve performance. I'm not sure how using `sessionAffinity` might affect the optimal setting. We are using `NEG` so I assume from the previous comments that's how it was

[2019-08-25 10:40] giladsh1 commented on #832
@rramkumar1 adding the deployment config as requested -
[code]

[2019-08-28 20:07] MrHohn opened #836 "Fix or verify the GC logic for multi-cluster ingress"
Ref https://github.com/kubernetes/ingress-gce/pull/825#discussion_r318355014, we may have broke the GC logic for multi-cluster ingress --- we need to keep the instance group if we have at least one multi-cluster ingress. The current logic may delete the instance group if there isn't any gce ingresses (regardless of multi-cluster ingress).

(By multi-cluster ingress I meant below)
https://github.co

[2019-08-29 13:05] mafraba opened #837 "Allow more than 50 paths routes per domain"
Currently it doesn't seem possible to setup more than 50 paths for a given host rule in an ingress.
It's also not possible to have several ingress for one same LB/IP, so one can not route 50+ paths for a single domain.

As far as I can see, the issue seems to be that each `path` in the ingress spec is being translated to a GCP `PathRule` with a single path in it.

https://github.com/kubernetes/ing

[2019-09-02 18:03] samcgardner commented on #794
I'm closing this because I think it's pretty clear at this juncture that this issue is not a going concern.

[2019-09-02 18:03] #794 closed

[2019-09-03 02:38] axot commented on #832
We are suffering exactly same issue.

[2019-09-03 07:40] axot commented on #832
After changing targetPort to port number, ingress works now, but we found PODs in a zone never get ready, we deployed our PODs in a,b,c zone, in this case, b zone POD got the issue.

[code]

[2019-09-03 14:40] axot commented on #769
@bowei, the idea is interesting to send `connection: close` when pod get sigterm which could cut http keep-alive connection down, how do you implement this? It also can archive by application layer, but if it could done in middleware like nginx, the solution could be more general.

[2019-09-03 14:51] axot commented on #769
@freehan Cloud you please explain more about how HLB(NEG) service out a POD, when SIGTERM sending to a POD.

I did some test just tail nginx’s access log, and then delete that pod, in this case the access still coming in up to almost 20 seconds, I think it is not related to the Readiness config of the POD. I tested this with both http keep-alive on and off.

[2019-09-07 01:07] #836 closed

[2019-09-09 15:23] rramkumar1 commented on #797
@spencerhance Can this be closed?

/kind cleanup

[2019-09-09 18:19] bowei commented on #837
Is this an optimization in how we are translating the config to the UrlMap or something that needs to be changed in the k8s schema itself? The first thing seems like a good optimization to make, the second is probably not easily done.

[2019-09-10 18:51] jonah-omny commented on #51
I can't use this product until this feature is implemented.

[2019-09-10 19:05] mafraba commented on #837
No modification to the K8s schema. This would be only about how exactly ingress rules get implemented with GCP objects.

That said, I guess option 1 from the proposals would be even further from the [HttpIngressPath k8s spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#httpingresspath-v1beta1-networking-k8s-io) than the current implementation (which seems non-compliant alr

[2019-09-11 08:25] charlie-lk commented on #109
I think the real fact is that it is a great and one of the most essential features which Google have opened tickets as long as one and half years for.

But - yes. Let's be professional. Don't be like GKE ingress.

[2019-09-13 09:56] kupson commented on #138
It looks like GCP have internal HTTP(S) Load Balancers now - https://cloud.google.com/load-balancing/docs/l7-internal/setting-up-l7-internal

[2019-09-13 22:07] MrHohn commented on #138
I believe this is happening. Ref https://github.com/kubernetes/ingress-gce/issues/731.
cc @spencerhance

[2019-09-13 22:10] spencerhance commented on #731
Current tracking list is out of date but the feature has been merged into master

[2019-09-16 22:12] ianhalpern opened #854 "Websockets not working over TLS (wss)"
Hi,

I've been trying to debug the issue with a simple socket.io app on GKE. Websockets/Socket.io works fine over HTTP (ws://) but when switching to HTTPS (wss://) the client does receive a valid response with a **Sec-WebSocket-Accept** header but within a second or two after the handshake the connection gets closed and no messages are relayed. Below is the configuration. I tried to keep it plain

[2019-09-17 00:04] #854 closed

[2019-09-17 08:52] psalaberria002 commented on #515
Any update on this? It would be very nice to have the ability to change TLS options, ciphers, etc

[2019-09-17 10:15] mcfedr opened #855 "Websocket not working with HTTP2 backend"
When I added the annotation for http2 to the backend websockets got a `502` response.

[code]

When I reverted to http for the backend connection everything works.

[2019-09-18 18:32] michaelbannister opened #857 "Missing Changelog for 1.6"
[GKE release notes 12 September](https://cloud.google.com/kubernetes-engine/docs/release-notes#september_16_2019) states that

It'd be good to see a changelog for this version.

[2019-09-19 18:37] skmatti opened #858 "V2 Frontend Naming Scheme for Ingress-GCE L7"
This tracks the PRs related to V2 frontend naming scheme. This migration is primarily done in the following major PRs.

- [x] Refactor namer into a separate package: https://github.com/kubernetes/ingress-gce/pull/859
- [x] Cleanup backend namer workflow: https://github.com/kubernetes/ingress-gce/pull/861
- [x] Migrate existing namer to Legacy Frontend Namer: https://github.com/kubernetes/ingress-g

[2019-09-20 21:38] freehan commented on #767
/close as #789 is merged

[2019-09-20 21:42] freehan opened #863 "Consider throwing events when Readiness Reflector failed to patch pod"
https://github.com/kubernetes/ingress-gce/blob/master/pkg/neg/readiness/reflector.go#L270

[2019-09-20 21:43] #767 closed

[2019-09-20 21:50] freehan commented on #832
adding a fix and e2e test to prevent regression.

[2019-09-20 22:42] freehan commented on #832
Okay. I think I uncover the problem. This is actually a bug in endpoints controller.

Here is my test yamls:
[code]

In this case, endpoints controller will create the following endpoints object:
[code]

[2019-09-20 23:42] freehan commented on #769
So when the pod gets deleted, 2 things happen in parallel:
A. Kubelet sends SIGTERM to the containers.
B. Endpoint gets deprogrammed from the LB.

B takes more time as A usually happens very fast. So it is recommended to configure the pod to do 2 things when SIGTERM is recieved:
1. Failed the LB health check. (This tells the LB to stop sending traffic no matter B is completed or not)
2. Keep respo

[2019-09-21 01:02] inductor commented on #857
[code]

😂

[2019-09-24 21:33] freehan opened #866 "Add e2e test for Session Affinity"
This commit introduced Session Affinity in BackendConfig.
https://github.com/kubernetes/ingress-gce/commit/0b4dcb06c2700717589584781a219817759736f7

Need to add an e2e test for the feature with NEG enabled

[2019-09-24 23:27] dvaldivia opened #868 "GKE is not creating Load Balancer automatically"
I'm creating an ingress controller but no endpoint ip is getting assigned and the load balancer is not getting created, my question is how can I debug this? there doesn't seem to be an error shown anywhere, nor kubernetes nor gke console.

This ingress used to work, no idea why it stopped working, I've waited a few hours

ingress-app.yaml

[code]

[2019-09-25 02:36] dvaldivia commented on #868
The problem was that the http services didn't return 200 on `/`

[2019-09-25 02:36] #868 closed

[2019-09-25 15:57] vinicyusmacedo commented on #369
I +1 this issue. We work in a namespace-per-app environment and recently we have hit a limit of 1000 forwarding rules. The solution would be to either aggregate our namespaces (which would be kind of hard for us, given the number of workloads), create another cluster in another project or use ingress-nginx (which means we would lose the benefits of the managed L7 LB).

[2019-09-25 16:12] vinicyusmacedo commented on #793
@giladsh1 judging by this [code](https://github.com/kubernetes/ingress-gce/blob/ab3d9e5cf9935595aad5c471901dfc5afb6d5e51/pkg/backendconfig/utils.go#L172), it actually accepts both port name and port number.

@JanisOrlovs can you check the Service events?

[2019-09-27 16:47] mgoodness commented on #731
Any idea when this will be available as a managed service for GKE?

[2019-09-30 21:59] AlienResidents commented on #764
Hi,

I'm also looking forward to getting PR #631 merged.  Any update on that stalled PR?

Chris-

[2019-09-30 23:47] bowei commented on #764
BTW : We are looking at fixing the issue in #631 not on that specific PR.

[2019-10-01 21:41] skmatti opened #879 "Bug: Incorrect ingress key function is being used"
Refer: https://github.com/kubernetes/ingress-gce/pull/825#discussion_r330277262. The ingress key generated by IngressKeyFunc does not match the key generated in Ingress store in some special cases (when namespace is empty). IngressKeyFunc should be replaced by [this](https://github.com/skmatti/ingress-gce/blob/e23564d807c2c6d85e0e5745cef4ee0b9d540b7b/pkg/utils/taskqueue.go#L26). This function is u

[2019-10-01 22:24] skmatti commented on #879
In general this should not cause a bug if ingress has a valid object meta defined [here](https://github.com/kubernetes/ingress-gce/blob/be3cc807e8fc9255a50b7c6cedec562b066094e2/vendor/k8s.io/apimachinery/pkg/apis/meta/v1/meta.go#L33) and a non-empty namespace. So, this would not cause any problems with valid ingresses in production.

[2019-10-02 12:46] Jannis commented on #670
We're using Kubernetes on Google Cloud, with the GCE ingress for load balancing. As far as I can see there is currently no way to configure the RPS per instance/group in `BackendConfig`. It would be fantastic if that was possible, so that you don't have to the Google Cloud Platform console to configure it.

Am I maybe missing something and configuring this is already possible through Kubernetes?

[2019-10-02 16:45] #879 closed

[2019-10-03 06:14] giladsh1 commented on #793
@vinicyusmacedo from my testing, I've encountered several issue while using the port name.
specifically, NEG groups didn't work.
see #832 for more info

[2019-10-08 10:27] thomas-riccardi commented on #857
The changelog is also missing for 1.7

[2019-10-08 22:11] rramkumar1 commented on #857
@michaelbannister Sorry bout that. This is now fixed by #887

[2019-10-08 22:11] #857 closed

[2019-10-08 22:16] rramkumar1 commented on #855
@mcfedr Are you still encountering this? If so, would be helpful to paste the full Service & Ingress specification for both scenarios.

[2019-10-09 13:11] thomas-riccardi commented on #857
@rramkumar1, @spencerhance thanks!

What about https://github.com/kubernetes/ingress-gce/releases?
I subscribe to notifications of github releases and proper content there is useful!

[2019-10-09 13:50] rramkumar1 commented on #857
1.6 had no user-facing changes, it was mostly a maintenance release (I will add a note about this though). 1.7 is releasing on GKE as well speak and I am working on the formal release notes for that now and I hope to have it out today.

[2019-10-09 13:53] rramkumar1 commented on #71
/close

[2019-10-09 13:53] #71 closed

[2019-10-09 13:54] rramkumar1 commented on #397
@skmatti CC'ing you since you are looking into this.

[2019-10-09 13:54] #557 closed

[2019-10-09 13:56] rramkumar1 commented on #731
@mgoodness This will be shipping as part of our 1.7 release. We will be adding formal release notes shortly.

[2019-10-09 13:56] #731 closed

[2019-10-11 16:30] #703 closed

[2019-10-15 14:57] bshibs commented on #764
Just to confirm: manually deleting the LB Frontend port/protocol is a viable workaround until the fix lands?

[2019-10-18 20:36] bowei commented on #765
/remove-lifecycle rotten

[2019-10-21 14:36] carloruiz commented on #51
I followed @mike-marcacci 's suggestion and it works quite nicely. The following code is TF, hence the syntax.

This is the mains service, where I force http.

[code]

This is a simple redirect service I wrote up my self that returns 301.

[code]

[2019-10-21 21:29] #760 closed

[2019-10-22 12:51] nicholasklem commented on #87
Optimistically tried
[code]
no luck yet.

[2019-10-22 16:50] bowei commented on #87
We are tracking this in the backlog. It looks at first blush straightforward to support...

[2019-10-22 16:55] tuliodesouza opened #908 "Unable to manage annotations via terraform due to chosen domain"
The terraform provider makes an assumption that seems reasonable to me. Since it manages state, it has chosen to ignore annotations that can be modified on the server side. They chosen rule of thumb is to ignore any annotation in the `kubernetes.io` domain. The documentation states as follows:

And the code responsible for the "exclusion" is [here](https://github.com/terraform-providers/terraform-

[2019-10-23 11:03] tuliodesouza commented on #908
well, after reading the source code a bit I realised that any mapped annotation (as terraform resource) will be included in the `terraform plan` operation.

I will close this as not an issue but the question remains: shouldn't we somehow differentiate between user-defined from server-side annotations (like controllers)?

[2019-10-23 11:03] #908 closed

[2019-10-25 10:55] naidu571 opened #914 "How to enable authentication for GKE ingress"
I am using the below annotations to enable basic authentication on gke ingress for getting into one of the application workload but its not working as its not asking for credentials when I hit the ingress IPAddress.
I even enabled the tls termination for this. Let me know how authentication works for ingress in GKE.

annotations:
    kubernetes.io/ingress.class: gce
    ingress.kubernetes.io/auth-

[2019-10-28 05:08] brugz commented on #511
I read through this issue a couple times, but can someone check my understanding here: Is recreating a backend simply wiping IAM users from the associated backend when it's being used with IAP? What sort of actions would we expect to recreate those backends? kubectl apply -f?

I'm following up on some possibly related issues internally @ Google and want to verify if this is related to a GKE issue

[2019-10-28 12:22] eversC commented on #511
Hi @brugz, yes that's correct, the list of users able to access a specific backend via IAP get wiped when the associated backend is recreated.

I'm not sure I fully understand the question, but the team I was working with at the time of encountering this was using Helm to create their backends (+ BackendConfig), fwiw

[2019-10-29 10:07] jaceq opened #919 "Add ability to assign custom name to NEG via annotation."
As per titile, I'd like to be able to assign a custom, provided name to NEG via annotation (NEGAttribure).

It seems there is a mention of this in code: https://godoc.org/k8s.io/ingress-gce/pkg/annotations#NegAttributes

[2019-10-29 22:08] samcgardner commented on #914
I don't believe ingress-gce supports that annotation. If you want authentication for your GKE ingress, I'd recommend looking at https://cloud.google.com/iap/docs/enabling-kubernetes-howto

[2019-11-01 04:50] brugz commented on #511
FWIW, I'm tracking this here as well:
https://issuetracker.google.com/133192467

[2019-11-02 21:56] naidu571 commented on #914
Thanks for the reply. I am good with this details.

[2019-11-02 21:56] #914 closed

[2019-11-05 03:59] mitulpanch commented on #566
any update on this?

[2019-11-05 22:16] #832 closed

[2019-11-06 17:14] mackoftrack opened #931 "LoadBalancerNegNotReady"
I upgraded our GKE cluster to 1.13.11-gke.11

Since then 1 newly created service using NEG is failing to become healthy even though the pods are reporting the container is healthy.

[code]

[2019-11-07 05:20] tuananhnguyen-ct commented on #42
We used a rewrite for default host on Istio (anything without a valid host hitting /) to Istio healthcheck endpoint (/healthz/ready), so the fix in on Istio instead of the healthcheck.

[2019-11-08 17:41] rramkumar1 commented on #566
@mitulpanch This is now shipped as part of our 1.7 release.

[2019-11-08 17:41] #566 closed

[2019-11-11 16:57] cmluciano commented on #770
I think this should be good to go

/close

[2019-11-11 16:57] #770 closed

[2019-11-12 12:40] mariusz-jasinski commented on #109
Amazing Google, no simple features inside Ingress:
- no rewrite
- no redirect http to https
:-(

[2019-11-13 08:55] hmeerlo opened #937 "GCE ingress health checks"
Not sure if this is the correct place, but it seems like this is the project most likely to be able to answer my question.
I have a GKE cluster in which I deployed a wordpress helm chart. It has created a GCE ingress controller which in turn created an Google L7 Load balancer. The LB terminates the HTTPS with a certificate created by cert-manager. So far so good. But the health check MUST receive

[2019-11-13 19:11] #32 closed

[2019-11-16 01:13] #537 closed

[2019-11-16 07:21] #858 closed

[2019-11-16 18:13] karlkfi commented on #537
So @skmatti,
With the new naming pattern, what's the truncation strategy and how short do namespace and ingress names need to be to avoid overlap?

[code]

[2019-11-16 19:02] skmatti commented on #537
There is no restriction on lengths of namespace and name. Namespace and Name are trimmed evenly until their combined length is 36 in case of overflows.

[2019-11-16 19:08] karlkfi commented on #537
The 8-char-hash is a hash of the full un-trimmed name, right?
Otherwise we still have a possible collision problem.

[2019-11-16 19:08] skmatti commented on #537
Yes, that's right.

[2019-11-18 20:22] #782 closed

[2019-11-19 09:06] hmeerlo commented on #42
This issue is now open for more than 2 years and still we can not customise the health checks. For me it makes it impossible to use certain k8s deployments on GKE. Is there any progress at all on this issue?

Just for reference, my problem: I have a GKE cluster in which I deploy a stable/wordpress helm chart. Certificate is managed by cert-manager and GCLB is created and which terminates the HTTPS

[2019-11-19 20:51] rramkumar1 commented on #937
@hmeerlo GCE health checks have a hard requirement that a 200 must be returned on the configured path (we do not control this). However, we allow for manually tuning the health check path so that you can serve a 200 on a different path. Can you try manually modifying your health check (via gcloud or the cloud console) and changing the path to something other than "/"?

[2019-11-20 16:46] bowei commented on #537
The trimmed parts of the name are for human consumption only. The hash should be always unique (modulo actual hash collisions, which should be a low probability event).

[2019-11-20 16:49] bowei commented on #42
We will pick this up into backendconfig, likely in the next release.

[2019-11-20 17:08] karlkfi commented on #537
Perfect. That’s what we needed.

[2019-11-20 21:24] joncotton commented on #937
Same situation here—from Kube specs, the generated infrastructure yields a Backend with a Health Check that doesn't work.

(More specifically, I have a Pod with 2 ports. There's a readinessProbe for the first port. 2 Services and then 2 Ingresses. The first Ingress works fine because its Health Check generates off the readinessProbe. It's the second Service/Ingress/Backend with the problem because

[2019-11-27 15:17] tornado67 commented on #931
Same issue on 1.13.11-gke.14 .

[2019-12-04 14:01] imranzunzani commented on #584
Does this role has to be _roles/compute.securityAdmin_ ?
It doesn't seem to work with a custom role!
There are many permissions which would not be good to grant as the compute.securityAdmin.
Could anyone please confirm the minimum permissions that would suffice?

[2019-12-05 00:29] skmatti opened #965 "GCE resource leak with v1 frontend namer"
v1 frontend namer leaks GCE loadbalancer forntend resources for the following ingress names,
Examples: `ingress--1, ingress--2`
Basically, when there exist two consecutive hyphens in namespace or name.

Few of the other cases are (in `<namespace>/<name>` format),
`namespace-/ing1, namespace/-ing2`

The current workflow for v1 frontend namer parses load-balancer name incorrectly.
For example,
URL m

[2019-12-05 09:59] whyman commented on #731
1.7 and 1.8 seem to be tagged now, but I cant find any information on how to use this functionality?

[2019-12-07 15:04] lfaoro commented on #42
@bowei

This means that if my pod has the following config:
[code]
the LB health-check should successfully authenticate and mark it HEALTHY.

Instead I see the LB configured the HC on Path `/` expecting a 200 from there.

[2019-12-11 13:05] vsychov opened #973 "GCE Ingress multi-namespace routing"
Hi guys, is exists any possible way, to create multi namespace ingress in GCE ingress?
I found related issue - https://github.com/kubernetes/kubernetes/issues/17088 but it's seems not resolved yet.

[2019-12-12 23:22] spencerhance commented on #797
/remove-lifecycle stale

[2019-12-14 16:27] #764 closed

[2019-12-18 18:04] rib commented on #42
Is there any kind of workaround for this issue to allow exposing a grpc service via Ingress?

This issue is getting pretty old so there's no indication it's going to get addressed any time soon, but does that really mean no one is successully able to host a GRPC service on GKE via Ingress? Surely not?

Is the only workaround perhaps to configure a load balancer manually without creating a GKE Ingr

[2019-12-19 07:08] inductor commented on #731
+1

[2019-12-19 07:09] inductor commented on #731
Same here. How can I exactly use this feature?

https://cloud.google.com/load-balancing/docs/l7-internal/set-up-gke-pods is not very imformative

[2019-12-20 02:45] rib commented on #42
Ok, so after a some more head scratching I did actually get my grpc service working with Ingress.

There were several issues compounding for me since I hadn't fully appreciated that the https load balancer (and health checks) created by the Ingress will only connect to a http/2 backend service with TLS. I had been disabling TLS since I assumed it would be terminated by the load balancer and I didn

[2019-12-20 07:26] iftachsc commented on #241
nop

[2019-12-23 18:22] bowei commented on #87
/assign

[2019-12-23 18:23] bowei commented on #42
/assign

[2019-12-28 15:56] #667 closed

[2019-12-28 15:56] #583 closed

[2019-12-31 20:03] michaela-elise commented on #136
gcloud beta compute forwarding-rules list | cut -d ' ' -f1 | xargs -I{} gcloud beta compute forwarding-rules delete {} --global
gcloud beta compute target-http-proxies list | cut -d ' ' -f1 | xargs -I{} gcloud beta compute target-http-proxies delete {} --global
gcloud beta compute url-maps list | cut -d ' ' -f1 | xargs -I{} gcloud beta compute url-maps delete {} --global
gcloud beta compute backen

[2020-01-07 02:44] linydquantil opened #982 "Ingress: http status code 413 Request entity too large"
We have default Ingress apiVersion: extensions/v1beta1 serving multiple Pods in Google Kubernetes Engine. The problem appears on our website when we upload large files.
So how can I solve this problem?

[2020-01-08 13:20] b99andla commented on #245
@djensen47 Any news on this? We have the same problem, wordpress deployment that gets 5-6 second latencies intermittently when using GCP Ingress...

[2020-01-08 20:30] bowei commented on #837
/remove-lifecycle rotten

[2020-01-09 22:12] bowei commented on #769
/remove-lifecycle stale

[2020-01-12 18:24] djensen47 commented on #245
I did what @nicksardo suggested and it eventually worked, I think that plus an upgrade to the cluster is actually when it started working. Not sure how to fix it for WordPress. (My recommendation: don't use WordPress 😉).

[2020-01-13 12:32] inductor opened #989 "Add release note for 1.8"

[2020-01-14 13:40] BIGPHATTOBY commented on #931
We're experiencing issue on version v1.13.11-gke.14 aswell, it seems to be correclated to NEGs and the new readiness gates introcuded in 1.13+
Removing our annotations on the service:
[code]
 And reapplying them makes all healthcheck pass.
I'm trying to dig further into the documentation and will report back if I get any findings.

[2020-01-14 19:01] freehan commented on #931
Some backgrounds:
[OSS K8s Pod readiness gate feature](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate)
[usage of pod readiness gate for Container Native LB](https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#pod_readiness)

Based on the troubleshooting guide:
1. Look for `neg-status` annotation on the service with neg annota

[2020-01-15 08:55] inductor commented on #989
@rramkumar1 ping :)

[2020-01-15 15:34] rramkumar1 commented on #989
@spencerhance Can you add release notes?

[2020-01-16 05:52] skmatti opened #993 "Ingress with both http and https enabled yields two separate IPs"
The following sequence of configuration changes to an ingress leads to split IPs with ingress v1.8 (with enable-delete-unused-frontends set)
1. Create an Ingress with both http and https enabled. (Static IP is used)
2. Disable http (Static IP is retained and used by https forwarding rule)
2. Re-enable http (New ephemeral IP is created for http forwarding rule, but https forwarding rule uses static

[2020-01-16 05:54] skmatti commented on #993
/assign @freehan

[2020-01-16 05:56] skmatti commented on #993
/assign @skmatti

[2020-01-16 05:58] skmatti commented on #993
/unassign @freehan

[2020-01-16 18:55] spencerhance commented on #989
1.8.0 release notes are up thanks to @MrHohn :smile:

[2020-01-16 22:34] #993 closed

[2020-01-16 23:49] #989 closed

[2020-01-17 07:20] ArundathiGV opened #1000 "standard_init_linux.go:211: exec user process caused "permission denied""
**Note: This issue persist only with ubuntu 18.04.1. When using ubuntu 16.04 everything works without any issue**

When trying to run gcr.io/google_containers/defaultbackend as non root, the pod goes to crashLoopBackOff state when I see the below error in logs

**standard_init_linux.go:211: exec user process caused "permission denied"**

[code]

OS: Ubuntu 18.04.1 LTS

[2020-01-17 07:31] #1000 closed

[2020-01-17 16:18] SaadBinShahid commented on #765
/remove-lifecycle

[2020-01-17 18:05] dragonpaw opened #1001 "Error 'WillNotConfigureFrontend' when trying to use managed certs + allow-http: false"
I'm trying to setup an API endpoint over https only, since I don't want to worry about data leakage over http (even with redirect to https, it isn't safe).

Version: 1.15.7-gke.2 (Using GKE/GCP)

Ideal setup would look like:
[code]

Now, if I do this with the `allow-http` annotation missing, it does seem to provision both frontends correctly. (Once I add dns myself pointing to the IP, so that the

[2020-01-17 18:49] dcherniv commented on #699
@rramkumar1 Surely you cannot be serious. Here's a real world example that a lot of people out there use.
TCP LB (L4) -> nginx ingress controller (L7) -> internal service -> pod
Please have a look at https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#aws

Responses like these are the reason why AWS is eating you lunch. If a user comes to you with a feature request that is

[2020-01-17 18:50] dcherniv opened #1002 "Add option to enable proxy protocol RE:#699"
Please refer to #699
This is desperately needed for feature parity with AWS.

[2020-01-20 00:33] codefist commented on #51
one of the only features that the everyday man needs in his ingress controller and fucking GOOGLE doesn't have it?!

[2020-01-20 03:57] RammusXu commented on #973
Any news? or suggestions?
I have same question with: https://github.com/kubernetes/kubernetes/issues/17088#issuecomment-495034468

[2020-01-21 11:55] cr8on commented on #1001
I had the exact same issue... with pretty much the same YAML.

Resolved by adding my managed certificate name to
`ingress.gcp.kubernetes.io/pre-shared-cert`

See https://github.com/kubernetes/ingress-gce/issues/738

[2020-01-22 23:23] dragonpaw commented on #1001
I can't see the workaround you mention in #738

Something like:
[code]
?

[2020-01-23 01:24] prameshj opened #1005 "ingress creation should fail if static ip annotation does not exist"
The current handling of the static ip annotation can cause ingress VIP to change somewhat unexpectedly.

https://github.com/kubernetes/ingress-gce/blob/master/pkg/loadbalancers/forwarding_rules.go#L152-L167
If annotation "kubernetes.io/ingress.global-static-ip-name" is specified with a non-existed IP, a new static IP is created by the controller.
Now, if a static address is created with the "kuber

[2020-01-27 18:28] elsbrock commented on #699
Using it for HTTP traffic and would like to enable it via annotation too.

[2020-01-28 09:45] lechuk47 opened #1009 "Healthcheck configuration behavior"
Hi All,

I'm trying to configure a HTTP(s) Load balancer through a GKE Ingress and I'm finding some strange things. The GCP documentation states that if a readynessProbe is configured the LB healthcheck will pick up its configuration, but I'm observing a strange behavior:

* The readynessProbe configuration is not used in the HC if the readynessProbe port is not the same as the port configured in

[2020-01-29 09:32] MPV commented on #290
For anyone returning to this issue:

After annotating with [`kubernetes.io/ingress.allow-http: "false"`](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#disabling_http) **kubectl still reports port 80 on the ingress**, however `gce-ingress` **actually stopped serving requests on port 80**. ✅ 🎉

[2020-01-31 09:22] omatsko commented on #42
Is there any ETA on this issue?

Also, do I understand it correctly, health checks for ingress-gce (global load balancer) are configured automatically right now? Because if I change those configs after deploying, my changes are reverted.

And with this feature, I would be able to configure path/port/host from within my GKE deployment?

[2020-01-31 13:34] jerome-arzel commented on #42
Hello,

You Can close this issue, it is now resolved.
Thanks

Regards

Le ven. 31 janv. 2020 à 10:22, Alexander Matsko <notifications@github.com>
a écrit :

[2020-01-31 15:25] mofirouz commented on #42
@jerome-arzel Can you point me to documentation and/or changelog that mentions how to configure healthcheck if this is resolved? I don't see anything in v1.8.0.

[2020-01-31 15:26] rramkumar1 commented on #42
@mofirouz This is not resolved yet. I'm not sure what the previous comment was referring to.

[2020-01-31 17:33] omatsko commented on #42
So... Any ETAs?

[2020-01-31 20:15] matti commented on #42
peronally I stopped believing in gce ingress and just created LoadBalancer+ingress-nginx. the only downsides: a) can not use global ips b) have to run ingress-nginx as well.

[2020-01-31 21:44] rramkumar1 commented on #1009
That's correct. See https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#health_checks

Not sure I understand what you mean here. Can you elaborate a bit?

[2020-01-31 21:49] rramkumar1 commented on #973
@vsychov Multi-namespace ingress is being looked at for the V2 Ingress APIs (e.g Gateway). The initial design proposal is here: https://docs.google.com/document/d/1BxYbDovMwnEqe8lj8JwHo8YxHAt3oC7ezhlFsG_tyag

Let me know if you need more information on how to keep progress on this effort but the API is being worked on here: https://github.com/kubernetes-sigs/service-apis

[2020-01-31 21:49] #973 closed

[2020-01-31 21:50] rramkumar1 commented on #1001
@dragonpaw Was the ManagedCertificate provisioned correctly? The controller for that API is supposed to add the cert name to the pre-shared-cert annotation automatically but it looks like that was not the case for you.

[2020-01-31 21:52] rramkumar1 commented on #982
@linydquantil What code is your backend returning if you call it directly?

[2020-01-31 21:52] #937 closed

[2020-01-31 23:28] rramkumar1 commented on #42
@omatsko Unfortunately this work got sidetracked in favor of other work but we have picked it back up and are actively working on it. See https://github.com/kubernetes/ingress-gce/pull/1010

[2020-02-02 01:04] cr8on commented on #1001
@dragonpaw Maybe it was more implied in the other ticket. But yep, pretty much that. I kept the managed certificate annotation though. Didn't try it without that.

[Just a note that I am using the latest 1.14 version. Not 1.15 as the OP.]

[code]

[2020-02-02 08:34] SeriousAnt commented on #51
May be in 2021 :( Seriously Google, would love to find out why this essential feature hasn't been implemented in the ingress controller. Take some inspiration from [AWS](https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/tasks/ssl_redirect/)

[2020-02-02 14:22] mercuriete commented on #51
@SeriousAnt if you read this:
https://issuetracker.google.com/issues/35904733

They are already on closed alpha for load balancing.
I am looking forward like you.

Maybe this feature became general available this year and maybe as you said in 2021 will be Alpha for GKE.

By the way It would be nice to know how i can join for the Alpha load balancer.

[2020-02-04 06:37] prameshj commented on #584
Yes, this should be security admin. Fixing it in https://github.com/kubernetes/ingress-gce/pull/1016

[2020-02-04 15:17] jbrunetext opened #1018 "Traefik behind GCP Load Balancer,"
Hello ,
I would like to config my Traefik behind my ingress-gce .
i have created an ingress with TLS endpoint with GCP.

[code]
Conform  to GCE ingres doc it's work, I  can natively auth my user with IAP through Ingress https://cloud.google.com/iap/docs/enabling-kubernetes-howto
but i would like proxy pass by internal load balancer
in other word i would like to forward request to gce ingress to tr

[2020-02-04 15:25] svachmic commented on #764
Could be related to this:
https://issuetracker.google.com/issues/35904733

Any signs that it will finally be resolved?

[2020-02-04 18:15] bowei commented on #1018
What annotation are you looking for?

[2020-02-06 19:07] jbrunetext commented on #1018
How i can know if my request GET have been proxy by Traefik with IAP ?
[code]

[2020-02-06 21:37] jbrunetext commented on #1018
OK my mistake ! . i froget to turn on IAP on my service Traefik on google console . You can close the issue

[2020-02-07 09:09] jaceq commented on #919
@freehan @rramkumar1 Any update on this?

[2020-02-12 05:50] arunmummidi commented on #141
/open

[2020-02-17 17:20] #1018 closed

[2020-02-17 17:21] rramkumar1 commented on #965
@skmatti What is the status of this issue?

[2020-02-17 23:59] #863 closed

[2020-02-18 20:57] bowei commented on #1009
Ref: https://github.com/kubernetes/ingress-gce/pull/1029

[2020-02-19 23:02] Ozrlz commented on #241
@iftachsc  I have the exact use case and I've faced the exact same issue. Did you find a way to have the http traffic deployed to the istio-ingressgateway when the healthchecks are in a different port than the application port?

I've recreated everything from scratch and the healthchecks are pointing to the default /

[2020-02-20 21:16] skmatti commented on #965
Discussed with @freehan and decided that we are not going to fix this special case. May be this should be marked as one of the known issues.

Also, v1.8.1 and above will not run into this issue.

[2020-02-21 02:48] zachdaniel commented on #919
This would be really great!

[2020-02-23 12:48] deedf commented on #919
If it would let the user specify a stable NEG name that would pre-exist, and then keep that NEG in sync, it would be really helpful.

[2020-02-23 21:03] bowei commented on #919
@freehan  -- what do you think? this seems low hanging fruit.

[2020-02-24 18:02] rnaveiras commented on #246
The following PRs added the feature to specify a SslPolicy in the FrontendConfig. Not sure if the implementation is completed, as I am not able to find any documentation.

https://github.com/kubernetes/ingress-gce/pull/1017
https://github.com/kubernetes/ingress-gce/pull/1019
https://github.com/kubernetes/ingress-gce/pull/1020
https://github.com/kubernetes/ingress-gce/pull/1021

Current docs for Ba

[2020-02-24 18:04] spencerhance commented on #246
@rnaveiras The implementation is complete, but it is not available directly from GKE yet.  We are hoping to make that available soon, but in the meantime the only option is to self-manage the controller.

[2020-02-24 18:17] rnaveiras commented on #246
@spencerhance thanks, that are great news. can I .assume that the maintainers will cut a new release and they will update the [GKE Version Mapping](https://github.com/kubernetes/ingress-gce#gke-version-mapping) accordingly?

I believe that we can close this issue then after that.

[2020-02-25 06:49] skmatti opened #1038 "Add release tags for v1.6.2, v1.7.3 and v1.8.2"
v1.6, v1.7 and v1.8 had been updated with a bugfix related to enabling access logs for backends associated with an Ingress. https://github.com/kubernetes/ingress-gce/pull/1023, https://github.com/kubernetes/ingress-gce/pull/1035 and https://github.com/kubernetes/ingress-gce/pull/1044

Corresponding release tags needs be created on respective branches.

@rramkumar1 @MrHohn

cc: @spencerhance

[2020-02-25 11:54] kahootali commented on #290
@MPV Still not working, I have added
`kubernetes.io/ingress.allow-http: "false"`

Still it is serving on http

[2020-02-25 17:25] deedf commented on #919
The intended usage for me is to register a bunch of NEGs as backends to a GCLB backend service, and have the membership of those known NEGs be managed automatically.

I think I need to do this because there currently does not seem to be a pure k8s solution to multi-cluster ingress.
There is currently GoogleCloudPlatform/gke-autoneg-controller that can something similar but you need to run a custom

[2020-02-26 18:37] MTCoster commented on #1009
Apologies for the potentially dumb question, but does this behaviour mean that [this configuration](https://stackoverflow.com/q/60405567/1813169) would not work?

[2020-02-27 03:28] npu21 opened #1042 "fix inaccessible links in the CHANGELOG.md"
There are two inaccessible links in the CHANGELOG.md
1. do not use condition predicate while getting zone for node [\#576](https://github.com/kubernetes/ingress-gce/pull/576) ([pondohva](https://github.com/pondohva))
2. do not leak LB when ingress class is changed [\#547](https://github.com/kubernetes/ingress-gce/pull/547) ([pondohva](https://github.com/pondohva))

[2020-02-27 14:11] mikelnrd commented on #33
Any update on this?

[2020-02-27 15:00] spencerhance commented on #919
@deedf https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-for-anthos might also work for you

[2020-02-28 09:12] deedf commented on #919
Looks like it might, thanks !

Also, thinking about it more, for the lightweight use case where you just want your deployments to register to an externally configured load balancer, I think the approach used by GoogleCloudPlatform/gke-autoneg-controller  is actually exactly right, since using pre-defined NEGs would force the user to create them in every possible zone beforehand.

[2020-02-28 14:07] zachdaniel commented on #919
I didn’t know about https://github.com/GoogleCloudPlatform/gke-autoneg-controller, and I’ll probably use it to solve for this 😍

[2020-03-01 07:47] #793 closed

[2020-03-03 00:11] tmc opened #1046 "Add Hostname to HealthCheckConfig"
Right now the HealthCheckConfig can't/doesn't allow specification of the Host header to send with the health check.

[2020-03-03 21:46] kuwas opened #1047 "BUG > Internal Load Balancer attempts to use regional cert"
# Description

## Current Behavior

* Attempting to use internal load balancer with an existing certificate will lead the controller to attempt to mount a "regional" certificate, but it cannot find the certificate since it is global.

[code]

[code]

## Expected Behavior

* Internal load balancer should use certificate without issues

[2020-03-03 21:51] spencerhance commented on #1047
@kuwas The internal http load balancer actually only supports regional certificates: \([docs\)](https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress#https_between_client_and_load_balancer) so this is expected behavior

[2020-03-03 21:52] spencerhance commented on #1038
/assign @MrHohn

[2020-03-03 21:54] #1047 closed

[2020-03-03 23:47] MrHohn commented on #1038
Acked, I will go ahead and push the tags.

[2020-03-04 00:40] MrHohn commented on #1038
Okay I have pushed the tags. Feel free to reopen if more steps are needed :)

[2020-03-04 00:40] #1038 closed

[2020-03-04 19:49] bowei commented on #919
Note: we are looking at the autoneg use case -- so there will likely be something more "official" integrated into ingress/service.

[2020-03-04 22:02] zachdaniel commented on #919
I've tried out the gke-autoneg-controller and I wasn't able to get it working in the time I had to spend on it. Someone with more ops chops than me might be able to though. But my ideal would absolutely be just allowing us to name it in the annotation :)

[2020-03-05 09:28] jaceq commented on #919
I tried with autoneg but didn't get it to work... it seems complicated, and documentation isn't great...
Overall as I understand steps needed:
-> enable cloud-platform oauth scope
-> install autoneg deployment, roles etc etc
-> create LB backend services (without groups)
-> create compatible healthchecks
-> create services with matching autoneg / neg annotations...

Also, in my specific case (I us

[2020-03-05 17:27] bowei commented on #919
cc: @mark-church

[2020-03-06 18:22] mark-church commented on #919
@deedf @jaceq @zachdaniel I'm interested to know more about autoneg vs NEG naming and how they impact your use-cases. We are looking at solutions for implementation of this in the GKE Svc/NEG controller. Here are the pros and cons in my mind. Would love to know your thoughts:

- **NEG naming (allowing NEG name to be specified in service.yaml)**
  - Pros: much faster to implement and ship, flexible

[2020-03-07 00:00] #855 closed

[2020-03-08 18:51] deedf commented on #919
Mark, thanks for your interest.

My use case is configuring a global backend service in front of multiple regional backends. I did not know about Ingress for Anthos despite doing quite some searching, the S/N ratio wasn't that good. Still, it seems a bit top heavy from skimming through the docs, but I need to look at it more so I'll leave it aside.

The original idea was to have a single global ba

[2020-03-09 09:11] jaceq commented on #919
@mark-church I am using GCLB with features unsupported by ingress-gce (cloud armor - ip whitelisting, and custom health checks - due to basic auth in place, some of my endpoints do not return 200 without Authorization headers)

Honestly I think it would make sense to have both options (named NEGs and autoneg ) so there would be a option to choose best solution.

[2020-03-11 06:45] skmatti opened #1049 "Backendconfig and Frontendconfig CRD informers break with protobuf"
CRD watch fails with clientset that overrides
`ContentType = "application/vnd.kubernetes.protobuf"`(Ref: https://github.com/kubernetes/kubernetes/issues/55541)

This affects ingress v1.6 and above (introduced by https://github.com/kubernetes/ingress-gce/pull/847)

[2020-03-11 23:16] #1049 closed

[2020-03-12 21:19] jpbetz opened #1055 "OpenAPI v2 schema not published for BackendConfig"
BackendConfig CRDs are non-structural because they do not have pruning enabled (note in the CRD that`preserveUnknownFields: true`). See https://v1-17.docs.kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2.

How to reproduce:

- curl `<apiserver-url>/openapi/v2`
- Look for the definition "com.google.cloud.v1beta1.Bac

[2020-03-13 15:58] fvillain commented on #33
Would also be really interested seeing this implemented in the controller

[2020-03-14 04:46] dazzbourgh commented on #109
Bruh, spent 2 days trying to figure out what I'm doing wrong, but it's 2020 and they still don't support it?

[2020-03-15 11:02] roobert commented on #764
I'm also seeing this issue with GKE `1.14.10-gke.17`.

Since it's not yet possible to redirect http->https (https://issuetracker.google.com/issues/35904733) and this annotation doesn't work when using GCP managed certificates, there doesn't appear to be a good way to easily disable the HTTP port left open by the GKE ingress controller.

[2020-03-16 20:01] samschlegel commented on #919
+1 to NEG naming

We also use Terraform extensively, and are currently looking into moving services from MIGs into Kubernetes. Not having a way to know the name of the NEG in advance means we run into similar issues of having to create the Service, pull the auto-created NEG name down, and then manually pass in the name to our Terraform config. I'd also feel much safer having control over this NEG,

[2020-03-16 20:10] samschlegel commented on #919
Perhaps what we'd need is less custom naming, and more the ability to provide a self link to an externally created NEG that the controller should manage. We're currently running into issues trying to use the Internal HTTP Load Balancer in a Shared VPC, as all the resources for that must live in the host project, but the NEG this controller creates lives in the service project

[2020-03-17 07:40] jaceq commented on #919
@samschlegel  Basically there are 2 options in our case.
1. Pass custom name to NEG
OR
2. Be able to read random name back after NEG creation, in fact I opened ticket for that too: https://github.com/terraform-providers/terraform-provider-kubernetes/issues/668

[2020-03-17 07:51] deedf commented on #919
I think the naming problem is also solved by having an annotation in a Service that tells it which Backend Service to register to, just like gke-autoneg does. Then you don't care if the NEG name is generated or not.

I also don't understand how people who advocate using pre-registered NEGs plan to keep them in sync with zone turnups/turndowns (NEGs are per.zone).

[2020-03-17 17:12] #765 closed

[2020-03-18 03:03] Setheck commented on #764
Unable to disable HTTP via annotation `kubernetes.io/ingress.allow-http: "false"` on 1.15.9-gke.12
Hoping for http->https rewrite :crossed_fingers:
But should this issue be re-opened?

[2020-03-18 10:15] pgp commented on #764
I think this should be solved as soon as possible, it's a real shame a security issue of this size is still open... Even without rewrite, disabling http completely should suffice at least for most restricted scenarios

[2020-03-18 10:23] svachmic commented on #764
[Quoting a Googler](https://issuetracker.google.com/issues/35904733#comment93) from the parent issue in Google's bug tracker I quoted:

Help is on its way, unfortunately I am not white-listed and cannot provide any feedback for how good/bad the solution is. If anybody is, please let us know **anything that an alpha NDA allows you to**.

[2020-03-18 16:28] zachdaniel commented on #919
We’re using kustomize + cloud config connector, so we can easily generate resources with unique names (using a prefix/suffix). Being able to name the NEG would be perfect for us.

[2020-03-20 03:42] samschlegel commented on #919
@deedf We define services in Bazel and generate both our k8s manifests and our terraform configs there as well, so spinning up or tearing down a zone is just modifying a list we pass in when generating configs

[2020-03-21 11:49] RoysyLee commented on #109
I'm frustrated..... this issue suggested in 2018..and now is 2020!!

[2020-03-21 20:15] deedf commented on #919
@samschlegel the "how" to spin up or tear down a zone is trivial, the problem is the "when". How do you know that a GCP zone has been spun up or torn down ? How do you hook your update process to these changes ?
Also I don't really understand the argument about not wanting the backend service not managed by Terraform since what gke-autoneg does IIUC is to keep the NEGs in sync with a preexisting b

[2020-03-24 02:52] fbaier-fn opened #1057 "Invalid value for field 'resource.IPAddress' when creating service type LoadBalancer"
Hi,

I am running into an issue where I create a service type `LoadBalancer` with a reserved internal static ip as `LoadBalancerIP` on GKE but that IP never gets assigned to the loadbalancer. Instead I get:

[code]
I am following sort of https://cloud.google.com/kubernetes-engine/docs/tutorials/configuring-domain-name-static-ip#step_2a_using_a_service

Not sure if I am doing something wrong, any i

[2020-03-26 15:09] Hermi999 opened #1059 "Ingress for Internal L7 LB creates backend-service with wrong scheme"
The Ingress for the Internal L7 LB creates a backend-service with the loadBalancingScheme: INTERNAL (see pkg/backends/backends.go).

According to the [docs](https://cloud.google.com/load-balancing/docs/l7-internal/setting-up-traffic-management) the scheme should be **INTERNAL_MANAGED** instead.

While creation of ILB works in this way, I can not update the Urlmap to use routeRules. Instead the fol

[2020-03-26 19:47] samschlegel commented on #919
Ah looking at it more autoneg would work for us.

re: "when" to spin up or tear down a zone, perhaps I'm misunderstanding what you mean there. all of our zone spin up and tear downs are manual, so the "when" is just part of our deployment scripts.

[2020-03-30 22:18] nesl247 commented on #1002
Any update?

[2020-03-31 09:31] CapoD commented on #1002
Currently, we are using GKE + Istio (automatically installed) and our applications need to know the source IP of a request.
Since Istio ingress-gateway service is configuring a TCP Load Balancer, we would need to enable the Proxy Protocol on the GCP LB. Unfortunately, this can only be done on creation.
So we would ask you to provide a service annotation that would allow us to set the Proxy Protoco

[2020-03-31 09:36] CapoD commented on #699
@rramkumar1 When you run Istio on GKE, the ingress-gateway service will configure a TCP LB. Now, if you want to use Istio functions like Rate Limiting on IP basis, you need to know the source IP address. I hope that example might serve as a reasonable use case.
[This is already possible on AWS](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#load-balancers)

[2020-04-01 13:04] blurpy commented on #369
We currently have on-prem clusters and considering a move to GKE. Using nginx-ingress we have wildcard dns for our domains to allow developers to choose subdomain or context path in their ingress without any other configuration involved. Not being able to reuse an ip-address across ingresses seem to increase complexity by quite alot. Hoping for a solution to this.

[2020-04-01 13:48] victortrac commented on #369
@blurpy There's nothing preventing you from using nginx-ingresson GKE to do this today. The nginx-ingress controller will allocate a single GLB with a single public IP address. Set your DNS as a wildcard to to this IP address. Your developers can create as many ingress resources as they want, which can all share this IP address.

[2020-04-02 07:37] blurpy commented on #369
Thanks, good to know. I was hoping to use the managed part of GKE as much as possible though, so I'm still hoping for an improvement here. nginx-ingress is a nightmare for both ops and devs because they don't care about backwards compatibility.

[2020-04-03 05:58] mark-church commented on #1046
Hi @tmc thanks for your question. We have not implemented this yet as we focused on configurability of the path first. Can you detail a little more on the use case for the host header in a health check and what kind of systems require this?

[2020-04-04 14:50] masalinas opened #1067 "WebSocket not works using GCE Ingress. Ingress set UNHEALTHY status always"
I have 1.14 kubernetes version on GCE so the ingress-gce version is   v1.6.0. with many services deployed. One of then is named **trazelab-broker** that expose the 9001 port of MQTT container throw the 80 ingress port service. I configured ingress but ingress always create a Healh check for this backen service to use HTTP port and not TCP, so the status is UNHEALTHY always and the port is closed f

[2020-04-04 15:21] tmc commented on #1046
A use case is as follows:
If you service a health check from within a cluster with a VirtualService say with a VS like so:
[code]
If this healthcheck didn't have a specific hostname then the behavior of the cluster is surprising to developers/operators as the default request is then a content-free 200.

[2020-04-06 08:51] rushrecon commented on #731
You, probably, already find an answer, but someone who will ggl this topic may find the next link useful: [Summary of internal Ingress annotations](https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress#summary_of_internal_ingress_annotations)

[2020-04-06 15:25] CapoD opened #1068 "Reverse certificate dependencies"
Improvement idea: Create a managed certificates annotation that allows to specify selectors for the certificates that need to be associated with the ingress.

Problem: Certificates have to be specified on Ingress by naming them explicitly in the corresponding annotation via `networking.gke.io/managed-certificates: cert1,cert2,.....`
However, this makes it hard to deploy applications independently,

[2020-04-06 19:53] spencerhance commented on #731
Hi All, Thanks for your interest.  Internal L7 Load Balancing with Ingress is currently in Beta:

https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-ilb
https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress

[2020-04-06 23:13] mark-church commented on #1046
Hi @tmc

Does configuring the path of the GCE health check also solve the problem? It would be configured in the BackendConfig which will be supported soon by https://github.com/kubernetes/ingress-gce/pull/1040. Note that this PR does not support changing of the health check hostname, only path.

It could be done like this and referenced by the Service:

[code]

Then all hosts with `/healthz/ready

[2020-04-07 08:47] nikashitsa commented on #290
Any updates?

[2020-04-07 21:47] spencerhance commented on #290
@kahootali @nikashitsa what versions of GKE and/or ingress-gce are you using?

[2020-04-08 01:27] jasonquick commented on #290
For anyone struggling with this the solution is to delete and redeploy your GKE ingress after making configuration changes; GKE Ingresses do not receive configuration updates once they're deployed.

This also applies to health/readiness checks, etc.

[2020-04-08 03:37] spencerhance commented on #290
That is not the expected/intended behavior.  @jasonquick, What version of the controller are you using?

[2020-04-10 07:42] axot opened #1072 "How to setup minReadySeconds/terminationGracePeriodSeconds with NEG?"
According to the [document](https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#align_rollouts),

In my test, even use a much less `minReadySeconds/terminationGracePeriodSeconds`, there are no impact at the view of response latency. Use `minReadySeconds/terminationGracePeriodSeconds:60` will slow down our development deploy progress. How to tuning the value of mi

[2020-04-10 18:14] mark-church opened #1073 "We're revamping the GKE Services and Ingress UI. What would you like to see?"
Hi everybody the GKE Networking team is currently working on a revamp of the GKE Services and Ingress UI. We'd like to know, _what would you like to see in the UI_?

This area of the UI consists of a couple different pages. Feel free to be specific about things you don't like or would like to see.

- Services list page
- Ingress list page
- Services detail page
- Ingress detail page
- Ingress crea

[2020-04-10 18:53] rohansingh commented on #109
I believe this is supported by the GCE load balancer now. For example, here is a load balancer that was created via an ingress. In the console, I could manually switch to use *Advanced host and path rule*, which allows me to specify a URL rewrite:

<img width="1148" alt="HTTP(S) load balancer console" src="https://user-images.githubusercontent.com/615175/79015279-75a09800-7b3a-11ea-9413-d3ff8036a5

[2020-04-10 21:34] rramkumar1 commented on #1055
@skmatti

[2020-04-10 21:35] rramkumar1 commented on #1072
/assign @freehan

[2020-04-11 00:28] skmatti commented on #1055
/assign @skmatti

[2020-04-11 00:29] rramkumar1 commented on #1059
@spencerhance

[2020-04-11 11:28] thesayyn commented on #109
@rohansingh, As far as I know, that configuration applies to the whole load balancer and ingresses are tied to a single load balancer.  So what happens when I create separate ingresses in the cluster?

[2020-04-11 19:05] rohansingh commented on #109
@thesayyn It's no different than how paths work now without rewrites. Just instead of "Advanced host and path rule", ingress-gce currently uses the "Simple host and path rule" which doesn't support rewrites.

Additionally, no, pretty sure each ingress creates its own load balancer.  For example, my load balancer above is named after the ingress that created it.

[2020-04-11 21:26] thesayyn commented on #109
If that's the case, we could send a PR.
I'll take a look at it first thing tomorrow.

[2020-04-12 18:02] spencerhance commented on #1059
@Hermi999 Thanks for submitting this.  There's a fix for this in https://github.com/kubernetes/ingress-gce/pull/1062

[2020-04-12 19:32] abessifi opened #1074 "Failed to get zones for nodes"
Hi folks,

I'm trying to set up glbc on top of OpenShift 4.3 and I'm getting an issue that I could not understand.

After creating an ingress resource, I can see the following event:

[code]

The service and ingress resources:

[code]

The controller seems to start correctly:

[code]

When I've created the ingress resource (foobar/kuard in this case), I've seen the following errors:

[code]

The s

[2020-04-13 10:05] gvko commented on #241
Didn't work for me. I've got the following `spec` for my container `deployment`:

[code]

the `service` spec:
[code]

and the `ingress`:
[code]

[2020-04-13 13:50] rramkumar1 commented on #1057
/assign @prameshj

[2020-04-13 13:51] #1042 closed

[2020-04-13 13:56] rramkumar1 commented on #1068
@CapoD This is an interesting idea although something that is hard to support in the current Ingress API without fundamental changes to the spec.

I would suggest making a FR for the new Gateway API which is still in development and is the next generation of Ingress.

Ref: https://github.com/kubernetes-sigs/service-apis

[2020-04-13 13:56] #1068 closed

[2020-04-13 15:12] prameshj commented on #1057
From the description, it looks like you are trying to create an Internal LoadBalancer, but the service spec does not have the "Internal" annotation.

So the service_controller is trying to create an external loadbalancer and failing because the IP is internal. Please add
  "cloud.google.com/load-balancer-type": "Internal"

to your service spec. The only other thing to make sure is that your GKE cl

[2020-04-13 15:12] prameshj commented on #1057
/close
Please reopen if the above steps don't resolve it.

[2020-04-13 15:13] #1057 closed

[2020-04-14 08:05] jpbochi commented on #241
@gvko If I recall correctly, I only managed to fix this issue in my cluster after I went to https://console.cloud.google.com/compute/healthChecks, manually deleted some wrong check, and run `kubectl apply` again.

[2020-04-14 09:03] gvko commented on #241
@jpbochi , I tried that already before I wrote here, but it didn't help. I tried both deleting the root HC (pointing to `/`) but it wouldn't get removed.
I also tried editing the LB itself, the same way, but once I remove the root HC, the backends are marked unhealthy.
And if I would apply the `kubectl apply` the `ingress` again, the HCs would get overwritten to their original values again.

[2020-04-14 18:25] StephenWithPH commented on #109
confirming that this is GA now: https://issuetracker.google.com/issues/35904733#comment95

[2020-04-14 20:08] rramkumar1 commented on #1067
@masalinas Sorry for the delay in response. The reason that TCP health checks do not work is that they are not yet supported in the BackendConfig resource.

We are currently in the process of adding initial support for all health check protocols in the BackendConfig. We can take a feature request to add support for TCP as well.

[2020-04-14 20:21] frank-berlin commented on #1073
That on the list pages "Rows per page" get remembered or has a user changeable default.

[2020-04-14 20:30] masalinas commented on #1067
I resolved the problem installing nginx ingress controller behind a LoadBalancer. nginxs is prepared with the path /healthz to be checked correctly.

Regards

[2020-04-14 20:30] #1067 closed

[2020-04-14 20:32] Cyral opened #1075 "HTTP to HTTPS redirection"
Now that GCP Load Balancers [finally have HTTP to HTTPS redirection support](https://issuetracker.google.com/issues/35904733#comment95), can this be configured through YAML so redirection is handled by GCP and not the application?

[2020-04-15 01:37] rohansingh commented on #109
Yeah, so this should be totally possible now. Unfortunately I don't have time to dig into the implementation right now, and I have a workaround that works. But for folks up-thread who seem to think this is a major dealbreaker, maybe someone has time to look into it?

[2020-04-15 07:34] bkw commented on #51
I think this can be closed in favour of #1075. Or the other way around.

[2020-04-15 08:32] mercuriete commented on #1075
I think this is a duplicated of #51
and not the other way round.

[2020-04-16 09:29] abessifi commented on #1074
Hi @freehan @rramkumar1 @drekle @zachdaniel

Can you please help on troubleshooting this issue ?

[2020-04-16 13:31] rramkumar1 commented on #1075
cc @spencerhance who is working on integrating this into GKE Ingress.

[2020-04-17 10:27] nikars commented on #87
Hi! Any progress / ETA for this?

[2020-04-17 15:07] hypery2k commented on #1075
any news on this?

[2020-04-17 16:15] mark-church commented on #1075
Yes we are currently working on this. It's currently in development so we don't have a committed timeline yet. We will update this thread as development gets closer to completion and we can provide a realistic estimate.

[2020-04-18 16:19] Kezzsim opened #1078 "Cannot patch new rules onto this resource"
I'm trying to make this ingress more dynamic in scripting by using [kubectl's patch](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#patch) to add more rules, every time I want to setup a new subdomain and point to a new backend service that gets created. In theory this should be easy, just write an [RFC6902](https://tools.ietf.org/html/rfc6902) patch and apply it... easy,

[2020-04-18 16:41] Kezzsim commented on #1078
Kubectl is a little bit verbose in the way it accepts patches

I thought if I did it at position 0 it would overwrite the existing element, but instead it has the desired behavior, so the functional version of the command above is:
`kubectl patch ingresses.networking.k8s.io test-ingress --type='json' -p='[{"op":"add","path":"/spec/rules/0","value":{"host":"boingonetworks.test.com","http":{"paths":

[2020-04-18 16:41] #1078 closed

[2020-04-20 02:27] CoderPraBhu commented on #1073
1. Most interaction with K8s occurs via CLI. Use GKE Services & Ingress UI to verify that everything is green. I use it to understand and explore the connections between ingress controller, url maps and forwarding rules. It also helps to shed some light on what else is connected to a particular ingress.

2. On Ingress Details page, I only see hyperlinks for http target proxy and http forwarding ru

[2020-04-20 10:38] omaskery commented on #1073
Apologies if this is out of scope (also I'm quite new to these technologies, so may be doing something silly :grin:), but is it possible for you to add some way to see the gce-ingress logs on GKE as part of this work?

When using the GKE provided gce-ingress installation it feels like a black box when I make a mistake, because the gce-ingress Ingress Controller is inside the GKE black-box?

(We're

[2020-04-20 10:43] omaskery commented on #1005
Is this definitely a bug and not some sort of feature request? I had assumed this was intended behaviour. We previously relied on this behaviour (until we encountered this issue: https://issuetracker.google.com/154202236 [requires sign-in]).

Perhaps there should be some annotation required to explicitly request that a static IP is generated? :slightly_smiling_face:

[2020-04-20 15:39] rramkumar1 commented on #1074
@abessifi Sorry for the delay in response, we are taking a look at this issue and should have a response shortly.

[2020-04-20 15:43] rramkumar1 commented on #1002
@bowei Is this something that can be addressed by the Gateway API?

/assign @bowei

[2020-04-20 15:47] bowei commented on #1002
It seems to make more sense as a value for app-protocol, may want to xref on k/k

[2020-04-20 17:12] bowei commented on #1005
cc: @spencerhance

[2020-04-20 19:00] prameshj commented on #1005
@omaskery Is it possible to create a staticip and use that name in the annotation? I see we create a staticIP if you also use HTTP and HTTPS - https://github.com/kubernetes/ingress-gce/blob/fbce6b58a83e61cad547779dc364f408a18f74e5/pkg/loadbalancers/l7.go#L177

[2020-04-21 15:40] mark-church commented on #1073
@omaskery and @CoderPraBhu thanks for the feedback. Converging and showing linkages between GKE and GCE LB resources is one of the biggest goals in the UI overhaul. Here are some of the things we are thinking of adding links for on the Ingress page:

- HTTP access logs - these can be viewed with the following query in Cloud Logging. However, it's not immediately obvious to the user how this is don

[2020-04-21 16:19] lpzdvd-packlink commented on #246
+1 here
We'd like to enforce TLS v1.2 using GKE due to credit card payments.
Any updates about it?

[2020-04-21 16:28] mark-church commented on #1073
@omaskery and @CoderPraBhu thanks for the feedback. Converging and showing linkages between GKE and GCE LB resources is one of the biggest goals in the UI overhaul. Here are some of the things we are thinking of adding links for on the Ingress page:

- HTTP access logs - these can be viewed with the following query in Cloud Logging. However, it's not immediately obvious to the user how this is don

[2020-04-21 17:18] rramkumar1 commented on #1074
@abessifi The error message contains the following:

"is already a member of 'projects/XXXXXXXXXXXXXXXX/zones/us-east1-d/instanceGroups/k8s-ig--XXXXXXXXXXX'."

Is this InstanceGroup part of another load balancer?

[2020-04-21 18:06] omaskery commented on #1073
@mark-church Hi, thanks for the reply!

We're using the GKE-managed ingress controller, but my understanding is that there is no way to access the logs from that controller. Does that sound correct? (I'd love to be wrong about this! 😁)

As a result, when we see unexpected behaviour (probably as a result of us making mistakes when applying k8s resources), it is hard to understand the sequence of ev

[2020-04-21 18:11] omaskery commented on #1005
@prameshj yes, I was speaking from an experience of a very unusual (and undesirable) edge case. I don't think it's worth considering here, I feel that my comment here was premature.

Since omitting the `kubernetes.io/ingress.global-static-ip-name` annotation also generates a static IP automatically, I no longer have anything against your suggestion :)

Disregard my comment from above!

[2020-04-21 18:25] prameshj commented on #1005
Thanks for confirming! Here is the PR with the fix - https://github.com/kubernetes/ingress-gce/pull/1080

[2020-04-22 03:14] asgoel commented on #246
@spencerhance is there documentation anywhere on how to setup the `FrontendConfig` on a ingress when using a self-managed controller?

[2020-04-22 19:37] spencerhance commented on #246
@rnaveiras if you checkout the latest 1.9 tag and use "--enable-frontend-config" you should have access to the feature

@asgoel We still plan on releasing this very soon, which will include official documentation.  For the self managed controller here is an example yaml:

[code]

The ingress annotation is: ```networking.gke.io/v1beta1.FrontendConfig: 'ssl-fc'```

[2020-04-22 21:27] jmound commented on #764
/reopen

[2020-04-22 21:31] jmound commented on #764
@jakebolam Feel free to reopen it, I don't think this issue should be closed.

[2020-04-23 02:56] asgoel opened #1085 "Can't create firewall when running in self-controlled mode"
I'm running `ingress-gce` manually on GKE (wanted a newer version to able to access new features such as FrontendConfig). I followed the instructions in `docs/deploy` in order to do so.

Everything seems to be working except this one error that I continuously see in the controller logs:
[code]

Note that I am running using a service project inside a Shared VPC. I've already created my own firewall

[2020-04-23 03:24] asgoel commented on #1085
Upon further inspection, this seems like less of a permissions issue, and more of a API issue (as in, how the program is calling the API to create the firewall). It seems like it is trying to create a firewall rule within the _service_ project (but pointing to the host network), when in reality it should be creating the firewall rule within the _host_ project. Is there anyway to get the program to

[2020-04-23 03:33] asgoel commented on #1085
Nevermind, figured it out. For anyone who comes here in the future, you can use the `network-project-id` flag to set this.

[2020-04-23 03:33] #1085 closed

[2020-04-23 09:21] svachmic commented on #764
The 5year old underlying issue seems to [have been resolved](https://issuetracker.google.com/issues/35904733#comment95).

The question is - correctly asked as the next comment in the issue tracker - how can we make this work in GKE?

[2020-04-23 21:38] asgoel opened #1087 "Ingress creating duplicate rules for same path"
I'm seeing weird behavior where my controller is creating two host routes for the same path - one to the default backend, and one to my actual backend:
![Screen Shot 2020-04-23 at 5 37 31 PM](https://user-images.githubusercontent.com/1323030/80152389-91b82680-8589-11ea-8485-705e4343fb2f.png)

Here is the ingress config:

[code]

any ideas as to why this could be happening?

[2020-04-24 01:47] sho-abe opened #1088 "Feature request: Add support header-based routing and query parameter-based routing"
Since 4/23, Goole Cloud external HTTP (S) load balancer supports header-based routing and query parameter-based routing.
I'd like to use this feature by ingress-gce as well.

FYI:
 * https://cloud.google.com/load-balancing/docs/release-notes#April_23_2020
 * https://cloud.google.com/load-balancing/docs/https/setting-up-traffic-management#http-header-based-routing
 * https://cloud.google.com/load-b

[2020-04-24 19:56] jmound commented on #764
@rramkumar1 Are you able to reopen this issue? If not, should a new one be opened?

[2020-04-24 20:02] rramkumar1 commented on #764
@jmound Let me refresh myself on what the exact issue was here and get back to you. Thanks.

[2020-04-25 02:26] soichisumi commented on #42
Can HealthCheckConfig (implemented in [this PR](https://github.com/kubernetes/ingress-gce/pull/1010)) configure L7LB to pass health checks for grpc applications?

[2020-04-25 03:12] bowei commented on #42
Hi everyone, please take a look at https://github.com/kubernetes/ingress-gce/pull/1029 which implements the healthchecking overrides on the backendconfig for a service.

[2020-04-25 09:31] mofirouz commented on #42
@bowei thanks a lot for your PR. I think this should work well with gRPC applications since we can use a custom path for Healthchecks.

Can you tell us what versions of GKE will this addition be available to use with?

[2020-04-25 14:00] abessifi commented on #1074
@rramkumar1 the `k8s-ig--XXXXXXXXXXX` was created by the glbc and is not used by another existing LB.

![glbc-instance-groups](https://user-images.githubusercontent.com/4158939/80281549-33678100-870c-11ea-9926-53889eca817e.png)

Here is a snippet of the [glbc output](https://github.com/kubernetes/ingress-gce/files/4533076/glbc-output.log) with a `log-level=4`.

[2020-04-27 20:57] spencerhance commented on #1059
This should be closed since it is has been added in v1.9.3

[2020-04-27 20:57] spencerhance commented on #1059
/close

[2020-04-28 15:26] rramkumar1 commented on #1074
@abessifi Do you mind sending me a private message with your GCP project number and the cluster where this is occuring. I can take a look without asking you for PII here :)

[2020-04-28 15:28] rramkumar1 commented on #1087
@asgoel Thanks for filing the issue, I'll take a look.

[2020-04-29 02:56] rramkumar1 commented on #1087
@asgoel Looks like you are using FrontendConfig. Can you share your YAML for that?

[2020-04-29 02:57] rramkumar1 commented on #1087
@spencerhance Is there any known weirdness that happens w/ URL map paths and FrontendConfig?

[2020-04-29 03:07] rramkumar1 commented on #764
@jmound So there are a couple things to unpack here:

1. The underlying issue that caused this issue to be filed has been fixed in #631. If you are not observing that the fix is working, then we can keep this open but otherwise this issue should be closed.
2. Support for SSL-redirects in GKE Ingress is being tracked in #1075 and we will be providing updates on that issue.

Hope that helps.

[2020-04-29 03:09] rramkumar1 commented on #51
Closing in favor of #1075.

[2020-04-29 03:09] #51 closed

[2020-04-29 06:23] mcfedr commented on #1073
hi,

I really only deploy to k8s using CI - but the UI is really helpful for debugging, and with ingresses/services section its most often, why is this url not working
- very often it appears to be that the load balancer isnt setup yet, its still in a pending state
- or an ssl cert change hasnt propated
- or a healthcheck is failing - often this happens because the wrong healthcheck url is set, or

[2020-04-29 06:43] iiro commented on #1073
Totally agree here with the previous feedbacks about the blackbox on what's really happening inside GCE when you're altering your built-in ingress. I guess it's not a UI only thing as I assume the same happens with Cloud SDK - but this is the worst feature of the built-in ingress, as "somewhere the magic just happens" - if happens, and you have no idea what's really going on...

[2020-04-29 17:26] skmatti commented on #764
The fix(#894) is available in GKE version v1.16.4-gke.25 and above(or Ingress v1.8.2).

[2020-04-29 22:13] spencerhance commented on #1087
@rramkumar1 Not that I can think of.  FrontendConfig only configures sslpolicy (on the target proxy) right now

[2020-04-30 03:01] icco commented on #1073
If I have lots of certs on an ingress, it's hard to see which ones are there. Also I would love QPS graphs on services and/or ingresses.

[2020-04-30 12:22] abessifi commented on #1074
@rramkumar1 do you require any other details to help on troubleshooting ?

[2020-04-30 15:30] naseemkullah commented on #42
Thanks @bowei ! But are GCE-Ingress health check overrides available today ?  Not seeing any related docs in https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig

How to keep track if it is available in a given version of GKE (e.g. stable channel) ?

[2020-04-30 21:27] tonybenchsci commented on #919
Same for our company. Using kustomize + KCC, but have to copy the autogenerated NEG name after creating application services, kind of a pain.

[2020-05-01 03:15] asgoel commented on #1087
@rramkumar1 @spencerhance this was an issue before I added the frontend config, anyways. For now, I've gotten around it by only specifying a default backend, and no URL mappings. But it seems like it should work regardless.

[2020-05-01 06:55] dfernandezm commented on #369
I struggle to understand why GCE ingress is still not in parity with other ingress controllers as of 2020. This is a very desired feature in our workflow as including an ingress as par if a Helm Chart gives a lot of flexibility. Looking forward to the combined power of GLB and incremental ingresses.

[2020-05-01 14:57] rramkumar1 commented on #1087
@asgoel Could you send the output of the UrlMap JSON? You can fetch this using gcloud. I'd like to see what the actual internals of the resource are. Perhaps this is a UI issue.

[2020-05-02 00:19] asgoel commented on #1059
@spencerhance has 1.9.3 been published to the google container registry? I don't see it.

[2020-05-04 07:05] bowei commented on #1001
/remove-lifecycle stale

[2020-05-04 10:26] bert-laverman commented on #919
This controller contains several errors., worst of which is that the example uses a Backend Service name with an underscore in it, which is not allowed. I tried this before realising the mistake, and now I have a Service that cannot be deleted because the controller won't progress past the error in the name, _and it blocks_.

I am no Go (or k8s internals)  developer, so I do not know how to solve

[2020-05-04 17:51] LeifRoss opened #1093 "MultiClusterIngress with CDN"
Hi, I am experiencing a slight issue that has turned out to be quite the showstopper.  I have set up a multi cluster ingress, and I am attempting to set up CDN for the static files. I followed this guide which works fine for regular ingresses, but nothing happens when using the MultiClusterIngress, and setting up the CDN manually from the load balancer works for a while, but it gets deleted random

[2020-05-04 19:10] hasheddan commented on #136
@nicksardo any updates on this issue?

[2020-05-04 19:29] bowei commented on #136
Finalizers are now fully supported, so I would consider the ingress-gce side of things to be closed.
Please reopen if the finalizers are not working properly. (Premature stoppage of the controller is a different issue)

/close

[2020-05-04 19:29] #136 closed

[2020-05-04 21:14] rramkumar1 commented on #1093
@LeifRoss That's not exactly the right documentation you want to be following.

https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-for-anthos is the authoritative source for all features supported. Note that while filing feature requests here is okay, the software maintained here is different than what you are trying to configure with the MultiClusterIngress CRD.

[2020-05-04 21:58] hasheddan commented on #136
@bowei it seems like this issue encompasses firewall rules not being cleaned up when a cluster is deleted, which still occurs due to premature stoppage of the ingress controller. I am assuming this will not be solved here, but I also do not think the core of this issue has been addressed.

[2020-05-04 23:04] cnelson commented on #731
@spencerhance Does the GKE cluster need to be a specific version to use this beta feature?  I've followed the instructions, but the resources are never provisioned and there are no events when describing the resource.

[2020-05-04 23:15] spencerhance commented on #731
@cnelson the minimum version is 1.16.0-gke.10 which means you must use rapid channel as per the documentation.  Although the beta should be available in other channels in the coming weeks

[2020-05-05 07:29] LeifRoss commented on #1093
Allright, thanks for the pointer!

I guess what I am wondering is if the Cloud CDN is supposed to be supported, or if I am doing something wrong, or if it is possible to put another regular http(s) load balancer on top of mci load balancer that I can enable CDN manually on without it being overwritten and without it messing up the magic of the Load balancer generated by the MultiClusterIngress?

H

[2020-05-05 07:41] bert-laverman commented on #919
Update: It appears you _can_ actually delete stuff, by manually editing the state of the Service and removing the finalizer pointing at the failing code.

[2020-05-05 15:08] dustinmoris commented on #42
Can someone post here what the recommended fix is? What does a BackendConfig with a health check look like? What is the min Kubernetes version where this feature is supported?

[2020-05-05 15:49] rramkumar1 commented on #1093
@LeifRoss Nope, CDN is not yet supported in that API. We are working on it though and hope to support it in the next couple of weeks. I can ping this thread when it is available.

[2020-05-05 17:08] LeifRoss commented on #1093
That would be great, thank you!

Managed to create a small work-around by manually establishing a new load balancer with rules to route requests for the client files to a backend bucket (+cdn support), and the unmatched traffic to the same backend that was defined in the load balancer established by the mci. Not sure if this is considered a viable solution, but it seems to be stable for now.

[2020-05-05 17:47] bowei commented on #42
the docs will be updated very soon -- @spencerhance

[2020-05-06 11:43] garzdin commented on #1001
I'm facing the same issue. Both cluster and nodes are on version 1.15.11-gke.11. Kubectl version v1.15.11-dispatcher.

My ingress annotations look like this:
`kubernetes.io/ingress.allow-http: "false"
  kubernetes.io/ingress.global-static-ip-name: default-ip
  networking.gke.io/managed-certificates: main-certificate, app-certificate, auth-certificate, api-certificate`

Certificates are provisioned

[2020-05-06 14:49] rramkumar1 commented on #1001
@garzdin The error message is expected until the Managed Certificates are provisioned and the pre-shared cert annotation is applied to the Ingress. However, as you noticed, everything eventually works.

The error message should eventually go away, I think Events persist for some time.

[2020-05-06 15:11] dhdersch opened #1095 "Ingress stuck in "Creating ingress" state"
Hello,

I have a GKE Cluster (version 1.15.11-gke.11) for which I am creating an ingress. The ingress using the following:

- Global Static IP Address
- neg
- Managed Certificate

However, the ingress is stuck in "creating ingress" state. `kubectl describe` shows no events. I have 0 insight into why this isn't working. Furthermore, no Load Balancer is created for the Ingress. Note that creating a

[2020-05-07 01:32] lutierigb commented on #1001
the WillNotConfigureFrontend event will also happen if there is no TLS config specified and one thing that could cause that is the ManagedCertificate in a different namespace than the ingress.

[2020-05-08 15:24] rramkumar1 commented on #1095
@dhdersch We have had multiple customers report similar issues. It's likely that for some reasons to do with the GKE Master, your GKE Ingress controller isn't actually running.

We are working with other GKE teams on how this can be mitigated. Stay tuned.

[2020-05-09 00:12] bowei commented on #769
/remove-lifecycle rotten

@freehan is  this  still relevant?

[2020-05-11 01:25] #797 closed

[2020-05-12 04:32] rivenhk commented on #33
+1

[2020-05-12 16:32] #1055 closed

[2020-05-13 09:50] pgp commented on #764
Hi, just tried this fix (allowHttp: false) with cluster version 1.17.5-gke.0
It actually works, in the sense that when I try to send a plain HTTP request, the response is a 404 from GCP backend. Anyway, with this strategy, any sensitive content in a plain HTTP request is actually sent over the internet (e.g. the body of a POST request); I rather expected the server to deny the TCP handshake - i.e.

[2020-05-13 13:09] thaniyarasu commented on #1075
Can we get an approximate date for this fix into ingress-gce yaml

[2020-05-13 13:26] rramkumar1 commented on #764
@pgp I think the HTTPS redirects feature is what you are after. See #1075

[2020-05-13 14:31] pgp commented on #764
No, in terms of actual security, http->https redirect is equivalent to the situation I described above, in that my plain HTTP request travels over the network, even if it shouldn't (the only difference is I receive a 302 response instead of a 404 one, but the concept is the same). Completely blocking the traffic on port 80 can be useful in case some REST API users do not comply with the given spec

[2020-05-13 14:37] rramkumar1 commented on #764
@pgp I see, thanks for the clarification. I'll bring this up with our load balancing teams to see if there is a feature request here. Until this sort of feature is supported in the upstream load balancing API there is nothing we can do here.

[2020-05-13 14:41] rramkumar1 commented on #764
@pgp Found https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security. Not sure if it helps in your case.

[2020-05-13 14:43] pgp commented on #764
That always regards the response a server sends, nothing prevents the client from sending any kind of data in plain text before knowing this... Anyway, I'll look for possible updates on this issue, thanks for now.

[2020-05-13 15:07] rramkumar1 commented on #1095
@dhdersch What version is your GKE cluster? We are trying to identify if this is affecting a certain version.

[2020-05-13 15:16] dhdersch commented on #1095
@rramkumar1  1.15.11-gke.11

[2020-05-14 07:26] VGerris commented on #241
thanks for the tip. I had the same issue and defined a readiness and liveness probe and redeployed the ingress but it didn't work. Since it worked perfectly with following this:

https://cloud.google.com/kubernetes-engine/docs/how-to/load-balance-ingress

without any additional firewall or loadblanacing config, I figured that it must be the /healthz and / not giving 200. Fixed that end everything

[2020-05-14 08:42] mo4islona commented on #1075
+1

[2020-05-14 09:12] VGerris commented on #34
I sent a feedback about that containers should return 200 at / here:
https://cloud.google.com/kubernetes-engine/docs/how-to/load-balance-ingress
That would improve understanding at that point I think.
Perhaps more people can do that so it will be added there.

[2020-05-14 12:07] zycon commented on #290
@jasonquick yeah , true. many times i faced

[2020-05-14 12:09] zycon commented on #290
any updates,

[2020-05-14 14:08] mikesparr commented on #34
Changing externalTrafficPolicy from Local to Cluster has fixed seemingly random 502 errors with low or single-replica deployments for one project.

Sent from my iPhone

[2020-05-14 17:44] rramkumar1 commented on #1095
@dhdersch I think we resolved your issue? I saw your GCP support case as well.

[2020-05-14 17:44] #1095 closed

[2020-05-14 18:42] dhdersch commented on #1095
@rramkumar1 Yes, thanks.

[2020-05-15 17:57] sp185503-ncr commented on #1075
+1 this is really needed

[2020-05-18 18:40] halradaideh commented on #1075
@thaniyarasu can the GKE ingress have this feature ?

like annotation or something like that ?
to redirect from HTTP to HTTPS

[2020-05-19 18:30] bowei commented on #290
Hi everyone -- if you are seeing this issue, please file a new issue with the details wrt to your specific config. It becomes difficult to resolve an already closed issue with a long conversation thread.

[2020-05-20 10:49] aleks-m opened #1106 "Custom response headers support?"
Hi.

Is there a way to configure custom response headers on path or load balancer level?

Thanks.

[2020-05-21 00:07] skmatti commented on #965
/close

[2020-05-21 00:07] #965 closed

[2020-05-21 13:38] rramkumar1 commented on #1106
@aleks-m Do you mean headers sent back to the client? Can't you do that in your application?

[2020-05-21 14:02] aleks-m commented on #1106
@rramkumar1 yes.

Well, in theory I can. But in my case I have multiple apps behind one load balancer and it will be pretty hard to modify all of them (especially given the fact what they are written in different programming languages). And such approach will be impossible if I run a third-party app with no source code provided and with no header configuration support.
Would be much better to just

[2020-05-21 14:13] minac commented on #246
Sorry to bother, but TLS 1.0 and 1.1 are being deprecated everywhere, and I'm eager to get this set up.

I understand that in GCP it is possible to manually edit the Frontend Configuration to match a more restrictive SSL Policy, but ideally one would set the policy in Kubernetes (as above), given that the load balancers are dynamically generated by the ingress.

How soon do you think is "very soon

[2020-05-21 14:54] rramkumar1 commented on #1106
@mark-church any thoughts? I don't think there is a GCLB feature for this nor can I find a feature request.

[2020-05-21 15:28] bowei commented on #1106
This is not available right now, we'll update when it is possible on the underlying product.

[2020-05-21 15:29] bowei commented on #965
@skmatti did you update the known issues if this is closed?

[2020-05-22 00:20] danielleiszen commented on #290
Can anyone confirm? Is it documented anywhere?

[2020-05-22 17:41] kpurdon opened #1117 "Ingress Update Issue/s (Changing Backend/Rules)"
Sorry for the generic title. I'm having issues updating/changing an ingress. My goal here was to add host validation and switch to the default 404 backend.

Starting with an ingress like:

[code]

I changed the ingress spec to:

[code]

My hope was that this would result in an ingress/lb w/ the default 404 backend, and a single rule allowing only requests w/ the valid host `*.mydomain.io` through

[2020-05-22 18:37] bowei commented on #1117
/assign

[2020-05-22 18:38] bowei commented on #1117
@spencerhance   can  you investigate

[2020-05-22 21:06] bowei commented on #1117
This should be valid -- almost all edits to the Ingress resource are valid.

[2020-05-25 06:42] muru commented on #290
@danielleiszen At least for readiness checks, it's mentioned in the [Limitations](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#limitations):

😞

[2020-05-25 13:53] christian-kreuzberger-dtx commented on #136
I just saw that issue, it caused a problem for us.

[2020-05-25 16:10] oshamin commented on #109
Is it possible to configure the rewrite rules via Ingress manifest?
Or you need to use gcloud CLI /Google Console for that?

[2020-05-26 16:35] m-tanner commented on #1075
+1

[2020-05-26 18:32] rramkumar1 commented on #1117
@kpurdon Can you send both myself and @spencerhance your GCP project ID, cluster name and cluster location in an email?

[2020-05-26 18:34] rramkumar1 commented on #1117
This seems suspiciously similar to https://github.com/kubernetes/ingress-gce/issues/1087

[2020-05-26 23:19] spencerhance commented on #246
@minac This should be coming to the rapid channel in O(weeks), and then to regular channel within a month after that

[2020-05-27 16:09] minac commented on #246
Thanks for the update, @spencerhance! Will it also be made available to older GKE versions not on a channel like 1.14?

[2020-05-27 18:21] spencerhance commented on #246
@minac Most likely not 1.14.  Typically versions in "Regular" channel also are available in "no channel" so that they can be upgraded to.  However, we usually do not cherry-pick new features to k8s versions older than that.

[2020-05-28 09:45] jbg commented on #42
An example BackendConfig using this feature:

[code]

ref: https://godoc.org/k8s.io/ingress-gce/pkg/apis/backendconfig/v1#HealthCheckConfig

It doesn't appear to work though (health check is still created as type HTTP and path "/" regardless of what I configure in the BackendConfig). Is there any GKE release that supports this yet?

[2020-05-28 09:58] Darkspirit commented on #87
This bug is the root cause why [Mozilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1639124) doesn't support IPv6 for most services.

[2020-05-28 13:51] naseemkullah opened #1122 "docs: creating HTTP LB and adding GKE services as backends after the fact"
There is a good amount of docs for streamlining the creation of an HTTP LB via an ingress resource in GKE.

However it can be desirable to add GKE backends (be it NEGs or IGs) to an already existing HTTP LB  (as to not have the HTTP LB's lifecycle so tightly tied to the GKE ingress and to provide more flexibility) and there seems to be a lack of documentation for this approach.

Could documentatio

[2020-05-28 16:31] bowei commented on #1122
Documentation is more appropriate for non-Ingress repo:

https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg

[2020-05-28 16:31] bowei commented on #1122
/close

[2020-05-28 16:31] #1122 closed

[2020-05-28 17:15] naseemkullah commented on #1122
Could you please link the more appropriate non-ingress repo @bowei ?

[2020-05-28 18:16] eduartua commented on #109
Didn't work for me via Ingress manifest.

[2020-05-28 20:35] kpurdon commented on #1117
After some offline debugging w/ @rramkumar1 this looks to be a UI issue only, the LB is behaving as expected.

[2020-05-28 20:35] #1117 closed

[2020-05-31 00:05] Andrewangeta commented on #764
I'm also facing this issue on the latest version and I'm losing my mind.

[2020-05-31 00:08] Andrewangeta commented on #764
my hydrated yaml looks like this and the cert tries to create itself and every time it just ends up saying `FAILED_NOT_VISIBLE` after about 15 minutes of `PROVISIONING`
[code]

[2020-06-01 12:41] naseemkullah commented on #1122
Could you please link the more appropriate non-ingress repo @bowei ?

[2020-06-01 12:43] naseemkullah commented on #1122
Do you mean to say that the feedback button at the top right of https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg should be used to issue this request?

[2020-06-01 12:56] andreas-lundgren-storytel commented on #290
I faced the same issue. Changed from `allow-http: "true"` to `allow-http: "false"` on an existing ingress and the change didn't have any effect.

Setup:
[code]

[2020-06-01 16:55] bowei commented on #1122
Not trying to be flip and closing your issue abruptly, but dealing with Google Cloud specific stuff is not as appropriate to do in this repo -- is there something that the above page is missing?

[2020-06-01 17:18] dconvers1979 commented on #1075
+1

[2020-06-01 17:19] naseemkullah commented on #1122
My apologies for opening this in the wrong repo.

I'm just looking for a place to talk about the lack of documentation and request that some be added. Would the feedback button be the appropriate place?

The only info I've gotten on the subject are in this slack convo https://kubernetes.slack.com/archives/C09R1TL6A/p1588378391280800?thread_ts=1588267265.268900&cid=C09R1TL6A

and this blog post: ht

[2020-06-03 12:07] clenn commented on #1075
+1

[2020-06-03 12:21] sp185503 commented on #1075
Ideally this would be the preferred way to use this feature, via annotation.

[2020-06-03 13:44] mat-613 commented on #109
@bowei any news for the implementation via ingress manifests?

[2020-06-03 15:24] mark-church commented on #1075
Hi All, here's a quick update on where we stand with HTTPS redirects for GKE Ingress:

- It's still in development
- It will be implemented via a boolean enable/disable for the entire Ingress resource (using [FrontendConfig](https://godoc.org/k8s.io/ingress-gce/pkg/apis/frontendconfig/v1beta1) as a CRD to hold structured config for frontend load balancer policy)
- We're targeting Q3 for a release

[2020-06-03 15:30] sp185503 commented on #1075
Good to hear, thanks for sharing.

[2020-06-04 18:20] anderspetersson commented on #1046
Changing the path does not solve this issue for me.

My application checks for hostname and does custom logic (For example customer domain CNAME to my domain to show a customers page) based on requested hostname.

[2020-06-04 18:35] mark-church commented on #1046
Direct health check configuration is currently in development. It will roll out to GKE 1.17 and 1.16 likely within the next 1-2 months. Here are the fields that will be supported. Unfortunately hostname header did not make the cut because of some complications but we hope that these fields will at least make health checking somewhat easier and more predictable:

-     checkIntervalSec: [int]
-

[2020-06-04 22:44] mark-church commented on #1073
@icco we are currently working on integrating QPS and other metrics for Ingress in to the UI. Did you know they can be seen by going to `/monitoring/dashboards/resourceDetail/l7_lb_rule,project_id:${project},url_map_name:${ingress-url-map}`? You can get the URL map name with

[code]

This dashboard has lots of stats such as latency, QPS, response codes, and throughput. It's not very easy to unders

[2020-06-09 19:54] warent opened #1146 "Error during sync: error running backend syncing routine: unable to find nodeport in any service"
Hi, I hope you're doing well. Bashing my head against an ingress issue and beginning to wonder if this is a bug.

I've defined my service and deployment like so:
[code]

Seems to work:

[code]

I don't know if I should be concerned about the 80:30995 mapping it shows or if that's expected.

[code]

Then I define an ingress:

[code]

It doesn't deploy for some reason.
![Screen Shot 2020-06-09 at 12

[2020-06-09 20:00] warent commented on #1146
It looks like the ingress is either unable to find the sherpa nodeport even though it is defined and exists, or it thinks it's unhealthy. The pod can't be unhealthy because it has a liveness probe and the deployment is running without any restarts. That indicates to me that the problem is either with the nodeport or with the ingress, but as far as I can tell I've defined both exactly how you're su

[2020-06-09 21:36] warent commented on #1146
I can confirm this is a bug somewhere outside of my yaml files. I just did the following:

1. kubectl delete -f (config file)
2. Verify on GCP that my service, ingress, and workload have been cleared
3. Visit https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer
4. Apply their files in order: web-deployment.yaml, web-service.yaml, basic-ingress.yaml

Same problem. It says the bas

[2020-06-10 02:04] warent commented on #1146
It just started working on its own. No idea why. Maybe a temporary GCP glitch / caching error thing.

[2020-06-10 02:04] #1146 closed

[2020-06-10 09:31] JBodkin-LH opened #1148 "Internal Load Balancer with Shared VPC"
We've been trying to setup an internal load balancer in our GKE cluster and I think the resources are being created in the wrong project. The NEGs and Load Balancer are created in the service project (which is the same project that our cluster is created in). The following warning is shown when describing the ingress:

  Warning  Sync    17m (x2 over 32m)  loadbalancer-controller  Error during syn

[2020-06-10 13:44] AbhinavAtul opened #1149 "glbc.yaml generated with wrong image version"
the image version needs to be manually updated to 1.9 without which l7-lb pod goes into crash loop

image: k8s.gcr.io/ingress-gce-glbc-amd64:v1.9.0

[2020-06-11 04:26] charlie-lk commented on #109
While we are waiting for this, Nginx ingress has gone a long way.  I recently used it to set up a new project and it worked great. It was a bit difficult at the beginning to set up. But once configured properly, it works great.

Start with Kubernetes Nginx Ingress https://kubernetes.github.io/ingress-nginx/

(There is an Nginx version of this too. But above was what I worked with)

Use Helm to ins

[2020-06-11 19:56] spencerhance commented on #1148
Thanks @JBodkin-LH.  My understanding is that we currently only support creating shared-vpc loadbalancers (external or internal) in the same project as the cluster.  We may be able to support this in the future, but for now I will update the documentation.

[2020-06-12 08:54] inductor opened #1153 "Update GKE Version Mapping"
On README.md, the current version mapping is this

       * 1.9.6-gke.2+ -> 0.9.7
       * 1.9.7-gke.5+ -> 0.9.7
       * 1.10.4-gke.0+ -> v1.1.1
       * 1.10.5-gke.1+ -> v1.2.2
       * 1.10.5-gke.3+ -> v1.2.3
       * 1.10.6-gke.2+ -> v1.3.0
       * 1.10.7-gke.1+ -> v1.3.2
       * 1.11.2-gke.4+ -> v1.3.3
       * 1.11.3-gke.14+ -> v1.4.0
       * 1.11.6-gke.2+ -> v1.4.1
       * 1.11.6-gke.6+

[2020-06-12 21:14] #931 closed

[2020-06-15 01:20] robinpercy commented on #369
/assign

I'd like to tackle this one

[2020-06-15 09:25] martykuentzel commented on #369
Anyone here how was able to find a workaround for this?
I am really puzzled why this feature is (still) not in place. We are running a cluster with almost 100 Microservices. So using one ingress resource is no option because of the namespace limitation. Furthermore we can only use a handful of static IPs, because they are whitelisted by some of our customers. Using nginx-ingress works fine so far,

[2020-06-15 11:58] rramkumar1 commented on #369
@bowei How do you want to proceed with this issue? The new Gateway API will address this problem from the start

[2020-06-15 16:22] bowei commented on #369
This is something that makes more sense for the Gateway GCE implementation as its semantics are better defined.

[2020-06-15 16:52] mijamo commented on #369
Will the gateway GCE implementation be tracked in this repository or somewhere else? Any insight on the timeframe we are looking at (is it 6 months / 2 years away / even further?).

[2020-06-16 14:08] rramkumar1 commented on #1153
@skmatti

[2020-06-16 15:19] robinpercy commented on #369
Ok, taking my name off this if it's no longer (or soon to not be) desired functionality. Risks of grabbing a two year old issue ;)

[2020-06-17 04:33] Gatsby-Lee commented on #290
For any one coming here with question "why HTTP request still is handled"
My Env.
* Global External LB
* Ingress-GCE

After I applied updated Ingress kubernetes.io/ingress.allow-http: "false", HTTP still work.
It was like WTF.

I run command, "kubectl get ingress". It still show PORTS=80 ( anyway this won't be changed )

After 10min, HTTP starts returning 404 ( blocking )

[2020-06-17 18:45] mofirouz commented on #42
I've tried the following setup with no success sadly:

My app ([nakama](https://github.com/heroiclabs/nakama)) exposes two ports - 7110 for gRPC (HTTP/2) and 7111 for gRPC-gateway (HTTP 1.1 with `/` used for LB healthchecks).

This is running on a GKE instance version 1.16.8-gke.10.

[code]

---

backendconfig.yml

[code]

---

ingress.yml

[code]

---

The result is the following:

<img width="11

[2020-06-17 19:21] bowei commented on #42
cc: @spencerhance

[2020-06-17 19:35] spencerhance commented on #42
This feature has not rollout out yet, but will be available in the next release (1.17.6-gke.7) next week, which the exception of port configuration.  That will require a bug fix that should roll out a few weeks after.  Additionally, this feature won't be available in 1.16 clusters until about a month after it has been released in 1.17.

[2020-06-17 20:10] mofirouz commented on #42
Thanks @spencerhance and @bowei for the prompt response - I'll keep a look out for that.

[2020-06-18 22:25] ahmetgeymen commented on #42
[code]

I can manage to have healthy ingress for around 10 minutes by giving custom health check (with node port assigned with readinessProbe port) for automatically created backend service config for load balancer created with ingress. After about 10 minutes health check returns to look for default node port and then I get 502 again for external ip.

(Using screenshot of @mofirouz, but the same c

[2020-06-18 22:42] bowei commented on #42
@ahmetgeymen  -- hopefully after the healthcheck feature is available, the need to edit the healthcheck settings manually will go away. Let us know if there is anything that remains that makes custom configuration necessary..

[2020-06-19 07:49] rubensayshi commented on #638
@freehan the point of a blue/green deploy is to not have any overlap at all.

I'm still facing this issue, with NEG there's a few seconds of 502s and without NEG (using a Ingress with NodePort service) it continues to send some requests to the old pods for a while :/

[2020-06-19 08:02] rubensayshi commented on #638
@freehan @bowei I'm still facing this issue, not sure how to best revive this discussion?

the point of a blue/green deploy is to not have any overlap at all.

with NEG there's a few seconds of 502s when changing the selector.

without NEG (ofc in that case using a NodePort service) it continues to send some requests to the old pods for quite some time ...

the only thing that actually works prope

[2020-06-19 08:02] Dominik-K opened #1163 "Generate CRD files for IDE autocompletion-support"
[IntelliJ supports autocompletion for CRDs when linking to an URL with the CRD](https://www.jetbrains.com/help/idea/kubernetes.html#crd).

Would be nice if we could directly link to the generated CRDs in this repo, for the `BackendConfig` CRD & the others in the making (`FrontendConfig` or `NEG`) :-)

[2020-06-19 08:15] Dominik-K commented on #1163
Will be obsolete when the [Kubernetes plugin of IntelliJ supports reading CRDs from the K8s-cluster itself](https://youtrack.jetbrains.com/issue/IDEA-232365).

[2020-06-22 13:01] rramkumar1 commented on #1163
@skmatti

[2020-06-22 14:00] rubensayshi commented on #638
it seems like the issue is really that when the new endpoints are added to the NEG, their health checks are UNKNOWN for a few seconds (regardless if the pods already exist / are read or not) and it will return 502s for those ~5 seconds?

[2020-06-22 21:21] freehan commented on #638
@rubensayshi  Yes. You pointed out the key gap. The 502s are caused by the race between 2 parallel operations: 1. old endpoints getting removed 2. new endpoints getting added.  If 2 is slower than 1, then you ended up with 502s during the transitions.

I would suggest replacing `sleep X`[here](https://github.com/kubernetes/ingress-gce/issues/638#issuecomment-646499539) with something slightly more

[2020-06-23 07:18] rubensayshi commented on #638
hey @freehan if there's something better on the horizon then I think we'll settle for the almost-perfect solution with the `sleep`, and ye the sleep was just a rough example, I already put the version in the response header and just ping the endpoint until I get 100% of the new version :D.

is that "something better" to be expected in the near future? end of Q2 or begin of Q3? and how can I make s

[2020-06-24 08:11] inductor commented on #1153
@skmatti @rramkumar1 ping

[2020-06-24 17:07] skmatti commented on #1153
Some of the ingress versions do not have an existing GKE version yet. I will update the mapping as soon as they are released(around mid next week).

[2020-06-24 17:07] skmatti commented on #1153
/assign

[2020-06-24 17:38] mheffner commented on #670
Was there a fix here? I see this got closed due to inactivity, but I didn't see a followup.

[2020-06-24 20:56] migueloller opened #1169 "Support for services of type "ExternalName""
When adding an ingress to expose a service of "ExternalName", the following error message appears:

[code]

Does the controller only support services of type "NodePort" and "LoadBalancer"? The NGINX ingress controller doesn't have this issue.

[2020-06-26 14:59] mat-613 opened #1171 "Static ip on internal ingress"
Hi, I've been struggling to set static ip for my internal ingress (GCP Kubernetes with a Deployment, Service NodePort and Internal Ingress).

I'm creating this issue because I can't find a way or an annotation to specify an internal static ip to the internal ingress.

Is this currently supported?

[2020-06-26 15:04] vitomanu96 commented on #1171
Mee too. Soo I am not alone.

[2020-06-26 15:06] federico-s commented on #1171
I have the same problem, I tried different ways but none of those worked for me.

[2020-06-26 17:48] unixfox commented on #1002
I'm also interested into this new annotation. I would like to deploy NGINX behind a TCP LB and I need to preserve the original IP address of the clients.

[2020-06-29 23:54] #982 closed

[2020-06-30 10:28] Gatsby-Lee commented on #42
This  seems available on beta. I am on 1.17.6-gke.11.

I don't need change in Ingress.

[code]

[code]

[2020-06-30 17:45] gnarea commented on #42
I'm using v1.17.6-gke.7 but can't get this to work with gRPC. I basically want to use *TCP* (not HTTP2) health checks because those HTTP2 health checks don't work at all with gRPC.

Here's the resources I have:

[code]

The old HTTP2 healthcheck is still used. In fact, I can't see the healthcheck that should've been created by the `BackendConfig` above (which, according to `kubectl`, is in the rig

[2020-06-30 17:59] gnarea commented on #18
@rramkumar1, can we please reopen this? I don't see how the three links you pasted solved this issue. https://medium.com/google-cloud/gke-grpc-ingress-loadbalancing-4b9cdbc09758 is the closest thing to an actual example, but not quite: It still doesn't offer an actual code example of how to deal with the health checks, which is the blocker to get gRPC services to work.

Based on that article and o

[2020-06-30 21:24] Gatsby-Lee commented on #42
@gnarea
I don't know much about grpc
maybe you can get some idea from here - https://cloud.google.com/compute/docs/reference/rest/v1/healthChecks

[2020-07-01 11:10] gnarea commented on #42
Thanks @Gatsby-Lee! I think that link helps with the structure of the data of the `.spec`, but I don't think that's the problem here. The values I specified are valid and seem to be honoured according to `kubectl describe backendconfig cogrpc`. The problem is that the LB isn't using my custom health check -- And in fact, I can't find that healthcheck on GCP, but I can still see my `BackendConfig`

[2020-07-01 13:59] marcin-ptaszynski commented on #670
Hi @rramkumar1 I've been using GKE with NEGs and so far I was able to manually set BackendService RPS per endpoint and the setting persisted, but now it seems the setting is reverted back to 1 RPS/Endpoint by the controller after a few minutes. Is there any way to workaround this?

[2020-07-05 12:05] omaskery commented on #1073
@mark-church is it possible to expose the log output of the GCE ingress controller? Then any existing documentation for troubleshooting the ingress controller would be potentially useable.

In particular, it would be useful to know errors/failures to reconcile. I'm afraid it's been a while since I was working in this area, so can't be more helpful - apologies for being so vague :(

[2020-07-05 19:08] lgelfan commented on #369
Can you explain (or provide a link) to how to best use the Gateway API with GKE to solve this problem?

[2020-07-05 23:09] Gatsby-Lee commented on #42
I was wrong. I don't think setting healthcheck through Backendconfig works.
Ingress can use custom healthcheck only if Service exists before Ingress knows about the Service.

And, even if custom healthcheck works by bringing up Ingress after Service,
the custom healthcheck won't work if new Pod is deployed.

This is what @nicksardo explained before in different msg thread.

BTW, ingress doesn't ha

[2020-07-06 07:03] mijamo commented on #369
The Gateway API is not even in Alpha right now so there is no way to use it currently.

You can read about it there https://github.com/kubernetes-sigs/service-apis

This is why I was asking for a timeframe as it probably means we are looking at a long wait time before this feature might be usable in production.

[2020-07-06 12:49] rramkumar1 commented on #670
@marcin-ptaszynski This is not something that is surfaced today in any of our APIs.

cc @freehan to see if there are any workarounds

[2020-07-06 15:47] rramkumar1 commented on #18
@gnarea Now that we are soon launching configurable health checks via BackendConfig configuring gRPC apps should be much simpler. I'll open this again so that we can get some better examples published.

[2020-07-06 18:44] freehan commented on #670
@marcin-ptaszynski  Can you check if the backend service contains any beta or alpha feature? We recently fixed a bug where NEG linker will refresh the backends when there is alpha/beta feature enabled on backend-service. #1162 I think the fix will be included in the latest roll out in GKE rapid channel.

[2020-07-06 20:35] spencerhance commented on #1171
Hi all,

This is not currently supported since internal ingress requires a regional static IP, but is planned for GA.  I have created a PR for this here: #1174

[2020-07-08 12:24] marcin-ptaszynski commented on #670
@freehan , thank you. We're using grpc and our service annotations look like:
[code]
So it seems we're hitting all of beta features.

In any case, exposing MaxRPS config via BackendConfig CRD would be great to have as it (with managedcertificates operator) would allow automating full LB lifecycle from GKE.

[2020-07-08 15:09] rschoultz commented on #246
Hi, do you know when this might hit the rapid channel or other?

[2020-07-08 16:39] dpkirchner commented on #42
May I suggest/request adding this to the Feature Comparison table at https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features ? I see custom health checks are marked as being in beta (for Internal Ingress[1]), but there's no version number so it's not clear how to "activate" the beta feature.

[1] I assume this includes ingresses used for IAP given the healthCheck attribute doesn't

[2020-07-08 17:12] rramkumar1 commented on #1169
@migueloller What is the use case?

[2020-07-08 17:25] migueloller commented on #1169
GCP Cloud Functions don't have support for Cloud CDN. If one could use a service of type `ExternalName`, one could then use GCP CDN via an ingress resource and have the cluster proxy those requests to the Cloud Functions host.

Another use case is hosting something like Intercom help pages on your own domain that point to the Kubernetes cluster. For example, we have a DNS A record for `*.example.c

[2020-07-09 07:37] tlbdk opened #1177 "Ingress stil trying to add nodes to instance groups when using NEGs"
We are using ingress-nginx with a manual load balancer in front but are looking to migrate to GCE ingress with NEG and would like to run both for a while. In theory this should be possible as there should be no reason for the GCE ingress to add the nodes to a load-balancer instance group when using NEG. But it seems to do this anyway and fails because the nodes already are added to a manual group.

[2020-07-09 08:07] philipp-hb commented on #246
according to the documentation, it should already be in rapid as beta
https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#ssl

[2020-07-09 12:22] rramkumar1 commented on #1169
@prameshj Any thoughts here since this is sort of related to DNS? I'm not too familiar with ExternalName services

[2020-07-09 14:15] prameshj commented on #1169
Thanks for the explanation. Supporting ExternalName services would involve creating the same frontend resources like the controller does today, but the backends will be of type - [Internet NEGs](https://cloud.google.com/load-balancing/docs/negs/setting-up-internet-negs), and the endpoint for the NEG would be the value of the externalName field in the externalName service. Correct?

[2020-07-09 18:21] migueloller commented on #1169
If the underlying resources the GCE ingress controllers uses are GCP HTTP(S) load balancers, then yes, it would set up an internet NEG with the appropriate URL map based on the ingress host and path matchers.

[2020-07-09 21:54] spencerhance commented on #246
Hi @rschoultz @philipp-hb,

Yes it is currently available in 1.17.6-gke.11 (Rapid Channel).  That ingress features page is the correct documentation.

[2020-07-09 22:14] freehan commented on #1072
Please check with the note on the top of this section: https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#align_rollouts

For versions with pod readiness feedback enabled. `minReadySeconds` is no longer needed. But `terminationGracePeriodSeconds` is still required if the rolling update needs to be seammless.

[2020-07-09 22:14] #1072 closed

[2020-07-09 23:14] iagomelanias commented on #246
Very excited to use this feature when it's available on the regular channel.

[2020-07-10 16:28] rramkumar1 commented on #18
Hello everyone, it will take us a couple weeks to write and publish official docs on this subject. In the meantime, I do want to unblock folks here so look out for an unofficial guide here early next week.

[2020-07-10 16:45] #1153 closed

[2020-07-10 16:48] rramkumar1 commented on #1093
@LeifRoss This is now supported in Ingress for Anthos

[2020-07-10 16:48] #1093 closed

[2020-07-10 17:28] rramkumar1 commented on #713
All AIs have been address here.

[2020-07-10 17:28] #713 closed

[2020-07-10 17:29] rramkumar1 commented on #675
Closing since this issue is fully mitigated.

[2020-07-10 17:29] #675 closed

[2020-07-11 00:17] imsrgadich commented on #34
`Changing externalTrafficPolicy from Local to Cluster has fixed seemingly random 502 errors with low or single-replica deployments for one project.`

@mikesparr note above helped me solve my issue. It was actually throwing a CORS error. This thread has particularly useful. Thank you.

[2020-07-13 11:26] mpskovvang opened #1178 "Multi host ingress is using wrong certificate for single host"
We're using the Ingress resource to serve five different hosts. Each host has their own Google Managed Certificate.

All certificates are provided to the Ingress with the `ingress.gcp.kubernetes.io/pre-shared-cert` annotation.

The failing host is now serving the certificate of another host. The served certificate doesn't match the DNS.

Expected certificate: katoni.**fr**
Actual certificate: kato

[2020-07-13 11:49] mpskovvang commented on #1178
The issue seems to be a human mistake. The failing host only included the registrable domain, not the www subdomain.

A new certificate is now provisioning.

I'll close the issue if this solves the problem.

[2020-07-13 11:55] #1178 closed

[2020-07-13 13:35] m-tanner commented on #1075
Just out of curiosity (not rushing!), will it be available towards the beginning or end of Q3?

[2020-07-13 14:19] rramkumar1 commented on #1177
Assigning @freehan to take a look

[2020-07-13 14:21] rramkumar1 commented on #515
@spencerhance What do you think we should do with this issue?

[2020-07-13 18:57] lakgan commented on #33
+1. Just came across this issue. Would love to see buckets integrated

[2020-07-13 18:58] bowei commented on #33
@markchurch

[2020-07-13 21:33] spencerhance commented on #515
@rramkumar1 I think we should close this since frontendconfig has been added, and keep around the issues regarding specific FC features (redirects, sslpolicy etc.)

[2020-07-13 21:34] #515 closed

[2020-07-14 12:39] #1009 closed

[2020-07-14 12:40] #1059 closed

[2020-07-15 00:21] Maxpain177 commented on #369
Any news?

[2020-07-15 00:26] rramkumar1 commented on #369
@Maxpain177 Refer to the previous comment by @mijamo. The Gateway API is still in development. We will update here when a suitable product is ready for you all to try out.

[2020-07-15 13:24] rramkumar1 commented on #18
Hello folks, as promised I have some material for you all. To set expectations, the HealthCheck section of BackendConfig is only available in GKE versions 1.17.6-gke.11 and above. The current GCP documentation for this new feature lives [here](https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#direct_health).

Now for the fun stuff. We do not have support for gRPC health check

[2020-07-15 14:39] salrashid123 commented on #18
option 1 is the mux or envy cited here:
     https://github.com/salrashid123/gcegrpc/tree/master/gke_ingress_lb

option 2 with the proxy is describe here:
  https://github.com/salrashid123/grpc_health_proxy#kubernetes-pod-healthcheck

i'll update the link on option 1 to now mention the proxy.  i'd recommend option 2 since you don't have to alter your application code to account for a mux.

[2020-07-15 15:40] bowei commented on #369
If someone wants to pursue this, it's worth working out the semantics:

1. What happens in the case of merge conflicts between resources.
2. Many of the annotations, especially on the frontend side (for example FrontendConfig) don't merge cleanly.

[2020-07-15 16:17] tscni opened #1183 "NEG service loses zone when single node in zone is cordoned (multi-zone node pool)"
Configuration:
- Master version: 1.14.10-gke.36
- Cluster with 3 zones (europe-west1) and 1 node per zone (B, C, D)
- Service with NEG configuration for pod P
- Pod P is active on node D in zone europe-west1-d
-  (+ an ingress but I'll leave that out)

Trigger:
- Node D is cordoned

Effect:
- Service loses zone europe-west1-d
- Backend service loses corresponding NEG (though the NEG persists, incl

[2020-07-15 17:37] freehan commented on #1183
If you want to achieve the same effect (Avoid scheduling no pod) but does not want to remove it from load balancer backends, then I suggest to use node taint with NoSchedule effect.

https://cloud.google.com/kubernetes-engine/docs/how-to/node-taints
https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/

[2020-07-15 17:38] tscni commented on #1183
Thank you :)

[2020-07-15 17:38] #1183 closed

[2020-07-16 09:04] WesleyVestjens commented on #87
Although it's not really obvious, it's actually possible to make the same resource available through dual-stack IPv4 and IPv6. We've accomplished this by creating 2 ingresses pointing at the same resource:

[code]

[2020-07-16 11:08] nappy commented on #87
Since you will need 2 configurations, 2 ingresses and are charged 2 times, I would not agree with the term dual-stack.
I would call that double-stack.

[2020-07-16 13:59] agadelshin commented on #87
Also you will have 2 load balancers in GCP

[2020-07-19 18:30] akshatgit opened #1189 "Internal Ingress stuck at creating stage"
## Issue
I followed this [doc](https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress) for creating internal ingress in GKE.

But the ingress is stuck at the creation stage. I have two subnets in my VPC(backend-subnet and proxy-only-subnet) and addon for HTTP load balancing is enabled.

[2020-07-19 21:34] rramkumar1 commented on #1189
@spencerhance FYI

@akshatgit Are there any events on your Ingress? If so, can you please paste it here.

[2020-07-20 05:49] akshatgit commented on #1189
Hi @rramkumar1 , I don't see any events.

[2020-07-20 06:49] yra-wtag opened #1190 "Traefik 2 with Global Static IP in gcloud"
Currently Traefik 2 is exposed using a L4 regional LB in gcloud. You can only add regional IPs for service type LoadBalancer in gcloud. However due to future possibility of moving the cluster resources in different region we need a Global Static IP.

Currently i see two scenario to make this happen

1. Use a Global TCP LB with the service and assign a static IP to it. Currently there is no tutoria

[2020-07-20 08:11] WesleyVestjens commented on #87
I agree, it's not an ideal solution, but for those who absolutely need it, it offers a way to get it done for now.

[2020-07-20 16:47] abdidarmawan007 commented on #246
i try check default ingress gce in GKE stable channel 1.14.x use tls 1.0 and 1.1

Fiture SSL Policies still beta in GKE 1.17.6

[2020-07-20 17:19] rramkumar1 commented on #1190
@yra-wtag Does [this](https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg#use_with) help?

[2020-07-20 19:40] spencerhance commented on #1005
@prameshj Can we close this since the PR has merged?

[2020-07-20 20:01] prameshj commented on #1005
Yes, closing since the fix has been merged.

[2020-07-20 20:01] #1005 closed

[2020-07-21 05:25] yra-wtag commented on #1190
@rramkumar1 Thanks. I studied it. It seemed that a lot of engineering is needed for that solution and cant really be said kubernetes like. However if thats the best solution Google has right now then we can give it a go. Is there any place in Google GKE where we can request these features to work more natively? Thanks again for your help.

[2020-07-21 11:45] rramkumar1 commented on #1190
cc @markchurch for the feature request.

[2020-07-21 11:46] rramkumar1 commented on #1190
cc @mark-church for the feature request.

[2020-07-23 18:31] spencerhance commented on #1189
Hi @akshatgit Can you send me an email with your GCP project ID, cluster name and location?  I can take a look at your cluster.

[2020-07-23 18:50] akshatgit commented on #1189
Sending mail

[2020-07-24 17:24] liza-mae opened #1195 "gcloud container clusters delete is not deleting some resources"
Hi,

I have tests that use the command ```glcloud container clusters delete``` to cleanup after testing.  I noticed this command is not deleting firewall rules and other resources like the target pools and forwarding rules.  We have a quota on the firewall rules and when those are not deleted we get an error once we have reached quota.  From the documentation these resources should be cleaned up.

[2020-07-29 16:40] mulatinho commented on #1146
well, this happened to me too :/ I don't know why exactly, looks like GCP is tricking with the backend-services, after 5-10 minutes everything is OK, but during this phase, all our end users are receiving 502, which is horrible.

[2020-08-01 19:18] jtestard opened #1203 "GKE ingress stuck in `creating ingress` after deploy (master version: 1.15.12-gke.13)"
I expected the GKE ingress to deploy and pick a static IP, but it didn't. I checked, I have not reached my quota of static IPs.

Ingress definition:

[code]

Ingress Events:
[code]

[2020-08-03 12:34] rramkumar1 commented on #1203
@jtestard There are no other events on your Ingress?

[2020-08-03 12:35] jtestard commented on #1203
No

Le lun. 3 août 2020 à 14:34, Rohit Ramkumar <notifications@github.com> a
écrit :

[2020-08-03 17:57] 3j0s opened #1205 "Can't deploy ingress-nginx-internal on GKE Cloud"
Greetings!

I use GKE version 1.17.9-gke.600  <- I was working on 1.16 event that it didn't work for Google recomendation I upgrade to new version.

According with the documentation I'll try to deploy **ingress-gce** using **terraform helm provider** as follow:

`resource "helm_release" "ingress-nginx-internal" {
  name          = "ingress-nginx-internal"
  chart           = "gce-ingress"
  reposi

[2020-08-04 15:26] yuranos commented on #33
Hey, how is it going with this one? Seems to be a very common usecase.

[2020-08-05 07:01] spencerhance commented on #1195
Hi @liza-mae.  I think this is expected behavior.  The firewall rules created by the ingress controller are not part of the cluster creation firewall rules and won't be cleaned up by cluster deletion.  Additionally, target proxies and forwarding rules are part of the load balancer resource.  In order to delete those, you need to delete your ingresses and services before deleting the cluster.

[2020-08-05 22:49] geun commented on #1075
finally!! It's coming. I'm really waiting for this features.
[https://github.com/kubernetes/ingress-gce/pull/1206)](https://github.com/kubernetes/ingress-gce/pull/1206)

[2020-08-07 16:36] williambrode commented on #670
It's worth noting that if you can't change the MaxRPS then Session Affinity is virtually worthless.  Session Affinity only works when the endpoints/instances aren't at max load.  I might open a separate issue that references this for clarity on the user-facing issue.

[2020-08-07 18:56] bplotnick opened #1211 "Rename this project from GLBC"
It is an endless pit of confusion and frustration that GLBC and GCLB are so close. In discussion this makes it incredibly difficult to understand whether the person is talking about the load balancer or the controller or whether they meant to say one, but made a mistake and said the other. Not to mention the fact that I have to search Jira for both terms to find both things. I know naming things i

[2020-08-10 10:34] anderspetersson commented on #33
Looks like the Ingress resource adds the underlying support for this in k8s 1.19:
https://github.com/kubernetes/kubernetes/pull/88775/commits
https://github.com/kubernetes/website/pull/21590/files#diff-56bb969f0c219fb744bcbcb43e40335a

[2020-08-10 14:56] rramkumar1 commented on #1211
@bplotnick Mind sending a PR? We are happy to change references to "GLBC" in documentation and code. We still do maintain a go binary called "glbc" which likely will be harder to change.

[2020-08-11 01:22] sho-abe commented on #919
I think that, the feature of header/query based routing without addons(e.g. Istio) is useful.
/remove-lifecycle stale

[2020-08-11 01:33] mark-church commented on #919
Hi all, custom NEG naming will be coming fairly soon. We'll be releasing it to GKE 1.18 in the late Aug-Sept timeframe.

[2020-08-11 07:30] bowei commented on #1177
@rramkumar1 can you take this bug back from freehan?

[2020-08-12 04:17] sho-abe commented on #1088
This feature is very useful because it allows Ingress to route traffic by headers and queries without Istio.
/remove-lifecycle stale

[2020-08-12 07:02] bowei commented on #1177
@tlbdk can you post your cluster version

[2020-08-12 07:12] tlbdk commented on #1177
1.16.11-gke.5

[2020-08-12 14:28] rramkumar1 commented on #1205
Can you clarify what you mean? I don't quite understand.

[2020-08-12 15:41] rafi-greenberg commented on #1087
I'm seeing this too. @rramkumar1  Here's my UrlMap json:

[code]

[2020-08-12 16:04] 3j0s commented on #1205
Hi!

I was trying to deploy **gce-ingress** using **heml 3** as a provider of **terraform**, but at the end of the logs I got this error:
`app.NewNamer(ctx.KubeClient, "", "") = failed to retrieve uid: configmaps "ingress-uid" is forbidden: User "system:serviceaccount:kube-system:default" cannot get resource "configmaps" in API group "" in the namespace "kube-system", returning empty name`

What I

[2020-08-12 17:01] rafi-greenberg commented on #767
@freehan  Just curious - does #789  only apply to ILB?

It seems that all our NEG-enabled services create default backends as instance groups.

![image](https://user-images.githubusercontent.com/3811209/90044484-8d239500-dc82-11ea-8188-c6588bbb1882.png)

[2020-08-12 21:13] jmound opened #1214 "Kubernetes incorrectly warns with "invalid ingress configuration" when using the "allow-http: false" annotation"
On GKE, creating an Ingress with a managed certificate and disabling http as described in [Disabling HTTP](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-xlb#disabling_http) via the annotation: `kubernetes.io/ingress.allow-http: "false"` generates a warning:

GKE v1.17.8-gke.17:
[code]
Steps to reproduce:
[code]

The warning message appears even when using the annotation as docum

[2020-08-13 00:12] spencerhance commented on #767
@rafi-greenberg right now this only applies to ILB.  @freehan are we planning on supporting this for ELB with neg default?

[2020-08-13 11:03] bukito-ops commented on #1189
Are there any updates? Because we have the same issue when following the instructions in https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress.

Our GKE version is 1.15.12-gke.2.

[2020-08-13 12:46] bukito-ops commented on #1189
According to https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features, it works fine after create a cluster of version 1.16.11-gke.5.

[2020-08-14 12:28] sbocinec opened #1216 "Release versions discrepancy between Releases, Changelog, Readme & main GitHub repo page"
There is a discrepancy in list of releases accross the project what makes it really confusing to navigate through the releases. At the time of submitting the issue, this is the situation:

1. [ingress-gce](https://github.com/kubernetes/ingress-gce) GitHub main page displays v`1.8.0` as the latest release:
![Screenshot from 2020-08-14 14-20-39](https://user-images.githubusercontent.com/4834459/9024

[2020-08-15 13:44] gustavovalverde opened #1219 "Source IP address is lost with nginx-ingress, istio, others, behind a GCE Ingress"
I've been working with some setups in GKE using GLB (through the GCE Ingress ) + Nginx Ingress. I finally got this working with HTTP --> HTTPS redirection + Cert Manager + NEGs + BackendConfig (custom healthcheck).

Now my problem is the Source IP. I've tested a bunch of combinations and got from getting 127.0.0.1. to having the internal Node IP, but not the source IP from the client.

Even settin

[2020-08-15 14:07] akshatgit commented on #1189
@bukito-ops did it work for you?

[2020-08-17 13:05] gustavovalverde commented on #1002
For people trying to preserve the client's Source IP using Nginx, there's no need to use Proxy Protocol, installing with this configuration will do it (use an updated Nginx):

[code]

cc: @unixfox

[2020-08-17 13:29] gustavovalverde commented on #1219
Solved by using this configuration; as `enable-real-ip` was not available a few weeks ago:

[code]

[2020-08-17 13:29] #1219 closed

[2020-08-20 15:05] rramkumar1 commented on #1216
@sbocinec Apologies for the confusion. We are working on fixing this.

[2020-08-20 15:06] rramkumar1 commented on #1214
@jmound The `allow-http` annotation has always been a stopgap and sort of brittle. Would you use redirects once those are supported? The PRs to support redirects are merged.

[2020-08-24 14:18] rramkumar1 commented on #1214
@jmound You are experiencing the same issue as #1001. Ignore the lack of the `WillNotConfigureFrontend` keyword, we removed it for other reasons but the underlying error is the same.

I believe right now this needs to be a two-step process. You need to first configure a HTTP + HTTPS LB with a ManagedCert and once that is fully programmed, then add the `allow-http: false`.

[2020-08-24 19:56] rramkumar1 commented on #1214
@jmound Correction on above after investigating more:

I retract the statement that this should be a two-step process. It can be accomplished in one step, its just that the provisioning of the LB will fail for some time until the ManagedCertificate controller applies the certificate to the Ingress.

[2020-08-25 11:46] marnovo commented on #246
Trying to infer from the comments/statuses: is it reasonable to infer we would see this hitting the regular channels now in Aug-Sep/2020 or I am missing something?

P.s.: let me know if tracking this (thus my question) would be more appropriate elsewhere. Did a lot of search but Google issue tracker tickets seem hopelessly outdated…

[2020-08-25 14:13] jmound commented on #1214
Thanks, that helps. Do you have any thoughts on improving the warning message? To someone creating the Ingress resource, the below message heavily implies that the actual Ingress configuration is invalid, that a mistake was made and something needs to be fixed.

[code]

[2020-08-25 17:04] freehan commented on #1177
The fix is already merged https://github.com/kubernetes/ingress-gce/pull/1105
It is included in the 1.17+ versions.

[2020-08-25 17:26] icco commented on #1075
Now that #1206 has been merged, what's the rollout process look like?

[2020-08-26 14:05] rramkumar1 commented on #1214
@jmound I think that's a reasonable request. What I am thinking is that if you are using ManagedCertificates then this message is a bit different than if you are not using it. What do you think of this:

[code]

[2020-08-26 14:15] jmound commented on #1214
Unless I'm mistaken, it's not an invalid configuration. If that's the case, then that line should be removed. From a previous comment:

How about something along the lines of: `LoadBalancer provisioning in progress, waiting for ManagedCertificate status to update` ? I'm not familiar with the exact workflow of the managed certificate controller, so that probably needs to be modified to be more accu

[2020-08-26 14:19] rramkumar1 commented on #1214
Sure that sounds better, although its going to be a bit painful to rip out this part of the message due to layering in the code:

[code]

What about something like this?

[code]

[2020-08-26 14:37] jmound commented on #1214
Why state that it is an error at all?

This config is what the docs currently state is the correct thing to do. I understand that the Ingress config is described in two separate sections ( [Disabling HTTP](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-xlb#disabling_http) and [Setting up the managed certificate](https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs

[2020-08-26 14:45] rramkumar1 commented on #1214
I agree that its not. Reason for my comment was that I thought it would take a bit of refactoring to make it so that this Event is not prepended with an error message.

However, I double-checked the code and I think it can be accomplished without any refactoring.

[2020-08-26 14:46] rramkumar1 commented on #1214
/assign

[2020-08-27 07:50] spencerhance commented on #1189
Hi @akshatgit,

Sorry for the delay.  It looks like your cluster is not running a new enough version to use internal-ingress.  The cluster must be at version 1.16.5 and above.

[2020-08-28 14:57] Eifoen commented on #699
+1 on this.

We're currently planning to deploy a scenario like the one @dcherniv mentioned with traefik instead of nginx.

Since there is no way to deploy traefik externally of the Kubernetes-Cluster by using e.g. keepalived [(GCP Doc)](https://cloud.google.com/solutions/best-practices-floating-ip-addresses) - and the gcp integrated lb is the only way to go for a solutions like this - it's basica

[2020-09-02 13:49] brettcurtis commented on #1148
I'm assuming your understanding is correct @spencerhance and the kubernetes cluster needs to live in the shared vpc host project? I followed this documentation and ended up in the same spot as @JBodkin-LH.

[2020-09-02 14:41] brettcurtis commented on #1148
So I was able to get my ingress to create successfully after I created a subnet as described [here](https://cloud.google.com/load-balancing/docs/l7-internal/setting-up-l7-internal#configuring_the_proxy-only_subnet)

I still can't get to the ingress IP from a compute instance on the network tho. I get an upstream request timeout.

[2020-09-03 09:24] akshatgit commented on #1189
Thanks @spencerhance  for clearing the issue. We can close it.

[2020-09-03 09:24] #1189 closed

[2020-09-06 10:27] carlpett opened #1252 "Changing class from gce-internal to gce leaves orphaned load balancers"
Hey,
I created an ingress with `ingress.class: gce-internal`. After testing a bit, I changed the class to `gce` to compare the latency. After a while, a new public load balancer was provisioned, however the old internal one still remains, even after removing the ingress object completely.
(The new public load balancer didn't seem to work either, just returning Google 404:s, but that may be somethi

[2020-09-06 15:34] spencerhance commented on #1252
Hey @carlpett,

Is your cluster still in that state?  If you email me your project/cluster info I can take a look.

[2020-09-06 18:36] carlpett commented on #1252
Hey!
I had actually cleaned it up, but could reproduce it. I'll mail you the details!

For completeness, here is the repro yamls:

[code]

[2020-09-07 20:19] vicpara opened #1253 "Integrate GCE-Ingress with custom domains via "googlehosted.com""
When
* I run a GKE cluster; and
* I have a custom domain added to [GAE Domains](https://console.cloud.google.com/appengine/settings/domains)
* I have setup in my DNS records the A/AAAA/CNAME (as instructed) to point to `ghs.googlehosted.com.` and IP v4/v6 addresses; and
* I set up in the Ingress the mapping between my custom domain/subdomain and my cluster internal services,
then.
 remove the need

[2020-09-08 20:57] mayur-rammer commented on #470
This is happening with us now. GKE ingress controller is stuck at creating.

[2020-09-08 20:59] Miyurz commented on #470
This is happening with GKE ingress controller now. I am trying to create an internal ingress and its stuck in "creating state"

[2020-09-14 07:04] carlpett commented on #1252
@spencerhance Just wanted to check if you got my project details last week and had a chance to take a look, or otherwise if you have an approximate idea when? Just so I know when I can do the cleanup I guess is going to be manual :)

[2020-09-14 20:40] spencerhance commented on #1252
Hi @carlpett,

Thanks for sending over the info!  It looks like there is a bug here and I am able to reproduce it locally.  You will unfortunately have to do the cleanup manually.  If you delete the Forwarding Rule, TargetProxy, and UrlMap, the BackendServices and HealthChecks should be deleted automatically.

[2020-09-15 08:17] carlpett commented on #1252
Nice find! I'll clean up, thanks for the hints :)

[2020-09-15 13:48] robertb724 opened #1260 "Health check not being picked up when using internal load balancing with negs for grpc service"
Hi All, I am trying to setup an internal load balancer using this guide.

https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress

When using the manifests below all of the resources are created successfully but the health check falls back to the `Default kubernetes L7 Loadbalancing health check for ILB.`

[code]

[code]

I have been able to successfully follow the gui

[2020-09-16 21:42] gnarea commented on #18
Thanks for the updates, @rramkumar1 and @salrashid123! And apologies for the late reply.

Unfortunately, I still haven't managed to get this to work using a NEG backend for the gRPC service and @salrashid123's `grpc_health_proxy`: The backend is still marked as unhealthy.

Here's the relevant k8s resources:

[code]

And here's the firewall rule I created as a workaround for the bug with NEG backen

[2020-09-16 22:04] gnarea commented on #18
Sorry, just realised the `BackendConfig` wasn't being applied because `protocol: HTTP` should be `type: HTTP`. Having fixed that, the backend is now marked as healthy! :tada:

[2020-09-16 22:39] gnarea commented on #18
Unfortunately, the health check is broken again after I made a [trivial change to the deployment](https://github.com/relaycorp/relaynet-internet-gateway-chart/commit/8d4e08a9cf9751eb0785965ce8f874c30725a791). Here's what I observed:

1. The new version of the deployment got stuck for a while because the BackendConfig heath check didn't pass for the new pod.
1. After a while, the new deployment too

[2020-09-17 10:32] gnarea commented on #18
It seems like the issue above was transient. After an hour or so, and without making any further changes, the backend became healthy again. I've also been doing further deployments and they've been applied successfully very quickly.

I'm facing a new issue though: The LB seems to be using the wrong protocol when talking to my backend. Here's what I get in the gRPC server logs when I enable tracing

[2020-09-17 14:07] rramkumar1 commented on #18
@gnarea Thanks for working through this!

One important point to note is that communication between the LB and your service must use TLS if using HTTP2. It is a hard requirement. You may use a self-signed cert on your service if you choose and it will work just fine.

[2020-09-17 14:15] gnarea commented on #18
Thanks @rramkumar1! That must be it. I'll try that

[2020-09-17 14:55] gnarea commented on #18
@rramkumar1, since presumably anyone deploying gRPC with this ingress will be on the same boat, is there any approach in particular that you'd recommend to get TLS to work with no changes to the application?

For example, I was looking for a ready-made Docker image that would self-issue an ephemeral TLS certificate at startup time and it'd proxy my HTTP2/gRPC service, but I couldn't find anything.

[2020-09-17 14:59] rramkumar1 commented on #18
@gnarea That's an interesting question but I don't have a great answer for you there. I don't see a way to do this without tweaking your app.

[2020-09-17 16:42] bowei commented on #18
It seems like unencrypted HTTP2 is not as common -- https://http2.github.io/faq/#does-http2-require-encryption, so that is probably why support for it on the backend is not possible right now.

Generating the self-signed cert is straightforward, can be done with an init container with a script, but you really have to watch out for cert expiry.

[code]

[2020-09-17 21:47] gnarea commented on #18
Thanks @rramkumar1 and @bowei!

Putting [a TLS reverse proxy](https://github.com/zazukoians/docker-hitch) in front of the gRPC server fixed that problem, but it's uncovered another problem: The load balancer is failing to connect to the proxy and I suspect it's because the LB is refusing the self-issued certificate (not necessarily because it's self-issued, but for a different reason). Here's what

[2020-09-17 23:50] rramkumar1 commented on #18
@gnarea Is your backend trying to do mTLS? If so, its not supported on GCLB.

Your errors look very similar to other errors I've seen where folks are trying to use mTLS.

[2020-09-18 11:30] gnarea commented on #18
@rramkumar1, no, no mutual TLS.

I've managed to solve this issue by ditching the TLS proxy and getting the gRPC server to do TLS with a self-issued certificate.

I think the problem is that the TLS proxy was generating a self-issued certificate with a CommonName (set to the IP address of the pod), but it wasn't setting the SubjectAlternativeName extension. **This is important**. So now I have som

[2020-09-18 11:33] gnarea commented on #18
Here's the final deployment in case it helps anyone:

[code]

[2020-09-18 11:38] raboof commented on #18
While this would be a useful component in the short term, I'd say the 'real' fix would be to allow using h2c (HTTP/2 without HTTPS) between the loadbalancer and the service 'directly'.

[2020-09-18 13:48] gnarea commented on #18
I totally agree with @raboof: GCP LBs should be able to handle TLS termination regardless of whether the backend uses HTTP 1 or 2.

Here's an issue to improve the logging in case anyone's interested: https://issuetracker.google.com/issues/168884858

[2020-09-18 15:57] bowei commented on #18
We will send this to the L7 proxy folks -- in the meantime, comment on the issue tracker -- it's a good way to show there is interest as well.

[2020-09-20 14:14] tudorgrig commented on #109
Can somebody please reply if the problem stated by me has the same issue as described here? https://stackoverflow.com/questions/63979711/404-not-found-response-on-every-https-ingress-request?noredirect=1#comment113135797_63979711

[2020-09-20 16:49] lgelfan commented on #109
If what you're saying is that you are expecting a rewrite, then yes.

[2020-09-21 00:59] salrashid123 commented on #18
@gnarea you can use envoy to proxy the tls intended for the gRPC service.  [here](https://github.com/salrashid123/gcegrpc/tree/master/app#using-envoy-for-tls-proxy) is an exampleof that i just updated plus an easy button way to gen sni from subordinate cert.
however, If you  use envoy now, its yet  another container (making a grand total of containers `+2 (envoy+grpc_healthcheck binary)` just for

[2020-09-21 10:35] gnarea commented on #18
Indeed.

BTW, I've just created a separate issue for the gRPC health checks: https://issuetracker.google.com/issues/168994852

[2020-09-21 10:43] gnarea commented on #18
@bowei, is there a issue for the TLS termination on the L7 proxy? I'd like to star it and get updates.

[2020-09-21 16:01] bowei commented on #18
@gnarea I just noticed that this issue is pretty old and not specific to support for unencrypted backends for HTTP2. It probably is better to open an issue for that topic so the activity can be tracked easier.

[2020-09-22 17:10] gnarea commented on #18
Done @bowei: https://issuetracker.google.com/issues/169122105

[2020-09-22 22:22] mark-church commented on #919
Yup - it's currently targeted to roll out to GKE 1.18 as Beta functionality in the first week of October. Please don't be surprised if things are off by a week or two :)

Because there are some major changes to the ingress controller in this rollout it's unlikely that we will be able to safely backport to older GKE versions. It is likely that this will just be available in GKE 1.18 and newer relea

[2020-09-23 10:25] andriymarchuk opened #1268 "BackendConfig support for user-defined response headers"
We have support for user-defined **request** headers for https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#request_headers

Would be great if BackendConfig also had support for user-defined **response** headers as per
https://cloud.google.com/load-balancing/docs/custom-headers#working-with-response

[2020-09-23 18:13] elavenrac commented on #470
Can confirm I am also running into this issue as of today.

[2020-09-23 19:12] Miyurz commented on #470
I upgraded k8s master version to 1.16+, deleted the ingress, and reapplied which fixed the issue for me.

[2020-09-24 03:55] elavenrac commented on #470
Thanks @Miyurz! We upgrade our cluster (nodes + master) to 1.16+ and they Internal LB Ingress deployed successfully.

[2020-09-24 17:55] asgoel opened #1271 "Public Docker images"
Where should I be looking for the registry of docker images for ingress-gce? I'm looking here: https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/ingress-gce-glbc-amd64?gcrImageListsize=30 and the latest release seems to only be 1.9.1. Are they now somewhere else?

[2020-09-24 19:32] spencerhance commented on #1075
Hi @icco,

This should be rolling out to the GKE Rapid channel within the next two weeks.  It will be at least 2-3 weeks before you will see it in the GKE Regular channel.  I will post an update here as soon as we officially launch 🚀 .

[2020-09-24 19:36] spencerhance commented on #1171
Hello, this should be launching in Rapid + Regular channel within the next two weeks!

[2020-09-26 20:46] hadim commented on #1075
That's great news.

How the redirection will be specified? In the `Ingress` spec within `metadata.annotations`? Something like this:

[code]

[2020-09-26 22:34] iagomelanias commented on #1075
From #1206, it's possible to determine that the configuration is very similar to SSL Policies, as it uses the same resource kind `FrontendConfig`. @spencerhance explained how to use them [in this comment](https://github.com/kubernetes/ingress-gce/issues/246#issuecomment-617991794).

I imagine it would be something like this:
[code]

And the `Ingress` resource should have the following annotation.

[2020-09-27 13:47] #1074 closed

[2020-09-28 06:52] lorenzozimolo commented on #1106
The feature has been released in beta in GCLB 3 days ago.
https://issuetracker.google.com/issues/62051227

[2020-09-30 10:02] giiita commented on #1001
I had the exact same issue.
In cluster version 1.15.12-gke.2, the certificate was properly provisioned, but as soon as I upgraded to 1.16.13-gke.401, it went FailedNotVisible, even after trying to get to 1.18 series.

[2020-09-30 13:42] salrashid123 commented on #1260
i'm not sure about the fallback mentioned above but you do  need an http healtcheck endpoint on the same pod
see
https://github.com/salrashid123/gcegrpc/tree/master/gke_ingress_lb

[2020-09-30 13:45] robertb724 commented on #1260
Thanks @salrashid123
I did find that page after but did not test it. I imagine it would work, however that backend config is not available in the gke version we are using. There is an http health check on the pod but I guess the backend config is the only way to have it registered with the LB

[2020-09-30 13:54] salrashid123 commented on #1260
yeah,  the backendconfig+http healthcheck is only on recent gke versions.  in prior versions, you need to essentially handle http and grpc requests on one port (using either a `mux` or even more complicated way with envoy as a proxy).

https://github.com/salrashid123/gcegrpc/tree/e43bd06d94ac69490d6eb5025835b01700ff2520/gke_ingress_lb

if feasible, i'd recommend using the backendconfig though

[2020-10-06 02:07] #769 closed

[2020-10-06 16:20] mark-church commented on #837
Asking here to understand general scale needs around host rules and path rules ... what numbers are generally needed on a per-Ingress basis for your use-cases?

[2020-10-07 13:29] rramkumar1 commented on #1271
@asgoel Can I ask why you need them?

[2020-10-07 15:21] asgoel commented on #1271
@rramkumar1 we run our own version of ingress-gce to get bleeding edge updates before they are released into GKE (for example, the frontend configs with custom ssl policies before they were available, and now HTTP -> HTTPS redirects)

[2020-10-11 17:19] #1087 closed

[2020-10-12 13:11] rramkumar1 commented on #1271
@spencerhance Anything you can add here?

[2020-10-13 19:39] ncoonrod commented on #1075
@iagomelanias that ```redirectToHttps``` object isn't working for me on a GKE ```1.17.9-gke.6300``` cluster. I'm using networking.gke.io/v1beta1 as well. According to the docs at https://pkg.go.dev/k8s.io/ingress-gce/pkg/apis/frontendconfig/v1beta1
It looks like it should?

Here's how mine looks:
[code]

When I try to deploy it, it says redirectToHttps doesn't exist.

[2020-10-13 19:56] tvvignesh commented on #1075
@spencerhance Any relation between GKE version and GCE ingress version? I have been looking at Rapid channel release notes since it is expected to arrive soon. But, not sure which version of GCE ingress is included with it. For instance, this was released 2 days ago and I am not able to see a release note for GCE ingress there: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGEL

[2020-10-14 09:16] GeckoSplinter commented on #1075
Indeed It's hard to match the ingress-GCE version with a GKE version.

My point of reference is here : https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features
You can see that there is no mention of redirect https in the FrontendConfig part yet.

[2020-10-16 20:24] liggitt opened #1301 "Update to use Ingress and IngressClass networking.k8s.io/v1 APIs before v1.22"
Ingress and IngressClass APIs earlier than networking.k8s.io/v1 are deprecated and scheduled to no longer be served in Kubernetes v1.22

The networking.k8s.io/v1 APIs are available starting in v1.19

/cc @robscott

[2020-10-16 21:05] robscott commented on #1301
/cc @swetharepakula

[2020-10-17 16:23] lukas1994 commented on #246
I need to disable TLS 1.0 due to get access to a third-party API. When will this be available in the regular channel? Is there an easy workaround for now? Can I just set an SSL policy manually after each k8s apply?

[2020-10-17 16:54] hadim opened #1302 "502 error using HTTP2 on GKE ingress"
Using GKE 1.17.9-gke.6300.

Consider the following `Deployment`, `Service` and `Ingress`:

[code]

Accessing the service using a kubectl proxy the `argo-h2` service works well. But trying to access from the ingress endpoint using the `xxxx-dev-ip` IP or `xxx.xxxx.com` URL returns a 502 error.

If I replace `argoproj/argocli:v2.11.5` by `k8s.gcr.io/echoserver:1.10`, the ingress endpoint works as ex

[2020-10-18 10:33] BusiPlay commented on #246
Yes, just set the SSL policy after apply https://cloud.google.com/load-balancing/docs/use-ssl-policies#attach-policy

[2020-10-18 13:05] hadim commented on #1302
In fact the server I am using does not support HTTP2 xD

[2020-10-18 13:05] #1302 closed

[2020-10-18 23:18] spencerhance commented on #246
Hi @lukas1994, this is available in regular channel via 1.17 :)

[2020-10-19 09:05] marnovo commented on #246
Can confirm availability on regular, finally we were able to disable TLS 1.0.

[2020-10-19 11:12] deedf commented on #919
@mark-church Any news ?

[2020-10-19 17:52] migueloller commented on #1169
/remove-lifecycle stale

[2020-10-19 18:28] spencerhance commented on #1075
Hi @tvvignesh We have still not officially released this in GKE unfortunately.  This is currently available in all Ingress-GCE 1.10 versions.

@iagomelanias that setup looks correct.

[2020-10-19 21:18] avasani commented on #87
What is the status of this issue? Is anyone working on this?

[2020-10-21 00:42] tibers commented on #1075
fix plzzzzzzzz I am doing a deployment call right now and they just asked about this.

[2020-10-21 01:38] smarkwell commented on #1075
As someone who is also still waiting for this solution, the work around I have in place today (without spinning up some insane nginx/haproxy/httpd stack inside my cluster) is to stop listening to http on my k8s cluster.

`kubernetes.io/ingress.allow-http: "false"`

Then you are free to setup an entirely separate load balancer at google, on the same IP address that does nothing but listen on port 8

[2020-10-21 15:08] sdrush-mw commented on #1075
Yeah, we have hit upon the same solution - enabling a separate compute engine load balancer on the the same frontend IP port with no backends just firing redirects, but it boggles the mind that a simple feature that has been on the GLB for 6 months STILL is not available in GKE.

[2020-10-21 16:49] dinvlad commented on #1075
Another solution here is a bucket backend which servers a redirect page.

[2020-10-22 08:06] spencerhance commented on #1075
Hi @tvvignesh,

Typically we tag releases in open source and soak them internally before we release them in GKE.  We usually update the changelog here https://github.com/kubernetes/ingress-gce#gke-version-mapping when an image is officially released in GKE.  Sometimes the images are released in rapid before we officially launch a feature and update the docs :)

[2020-10-22 08:12] pdecat commented on #1075
Quick question: why is v1.18.0 still referenced as `latest` while that version is not even in the version mapping list?

https://github.com/kubernetes/ingress-gce/releases/latest redirects to https://github.com/kubernetes/ingress-gce/releases/tag/v1.8.0

[2020-10-22 08:15] spencerhance commented on #1216
Looks like we are still missing the releases

[2020-10-22 08:16] spencerhance commented on #1075
@pdecat That is an error, we have unfortunately not kept our releases and tags in sync: https://github.com/kubernetes/ingress-gce/issues/1216

[2020-10-22 12:54] hermanbanken commented on #369
Would be great if this was possible. It would not even need to be restricted to 1 cluster. Suppose 2 clusters can both provision their own "host" or "path" based rules with their own BackendServices.

However, it begins to smell a lot like a full fletched MultiClusterIngress, which as also a thing, which was cancelled/discontinued.

Still, it would be amazing to have this from native GKE.

[2020-10-22 16:47] tvvignesh commented on #1075
Thanks @spencerhance for the clarification. Will wait (even if its going to be an "unofficial" release 😉)

[2020-10-23 20:03] spencerhance commented on #369
@hermanbanken MCI wasn't cancelled :)

https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-for-anthos

[2020-10-26 16:10] rick-pri commented on #1046
That's unfortunate as Django has an `allowed_hosts` field which should be set specifically to the expected host for your app but this just returns a 400 for the healthcheck because the host is set to a subnet range IP address.  Allow a custom request path doesn't help in that instance (although in some of our applications this is an additional complication.)

[2020-10-27 22:35] Ares3266 commented on #1203
Your API version should be `apiVersion: networking.k8s.io/v1beta1`

[2020-10-27 22:53] Ares3266 opened #1305 "Feature: Support custom TLS certificates when using HTTPS to the backends"
I'd like to be able to configure the certificates that the LB uses to re-encrypt traffic to the backend services. The use case being that I want to be able to build a strong cryptographic identity of north-south traffic (managed by GCE) into my service mesh.

Google already supports defining which scheme to use through the `service.alpha.kubernetes.io/app-protocols` annotation, however our service

[2020-10-28 01:57] Toxblh commented on #837
@mark-church the same issue, we have an application with 21 modules with self paths and that will grow, at current moment we hit the limit because all modules has 2 paths (like /app /app/*) as base and few apps has additional 2-4 paths (the same /smth and /smth/*) and in general it should 21 rules, but already 49, and we think how to resolve it.

[2020-10-28 01:59] obedtandadjaja commented on #1075
@spencerhance Excited about this feature, is there an ETA for it?

[2020-10-28 08:29] mstachniuk opened #1306 "Failed to get cloud provider when installing ingress-gce locally without Google Cloud Platform"
Is it possible to install ingress-gce locally without connection to GCE / GKE or others?
I would test my changes locally before push to production (or any pre prod environment) and would use the same Ingress implementation like in production (I'm using GKE with ingress-gce).
All /docs/* files suggest to install ingress-gce on GCP.

OS: macOS Catalina 10.15.7
Docker Desktop 2.4.0.0
- Engine: 19.03.

[2020-10-29 14:03] hermanbanken opened #1309 "pre-shared-cert ordering (documentation/implementation mismatch)"
The annotation `pre-shared-cert` as documented on [1] is supposed to be ordered:

However, this is not the case. If I apply the YAML [2], then the annotation is rewritten by the controller. The last-applied annotation correctly reflects the order `cert-2, cert-1`, but the annotation becomes `cert-1,cert-2`.

This is troublesome, because some client might not support SNI. The order of the certifica

[2020-10-30 10:37] #1001 closed

[2020-11-03 17:44] thockin opened #1313 "old (beta) topology labels are going away"
Hello.

The labels `failure-domain.beta.kubernetes.io/zone` and `failure-domain.beta.kubernetes.io/region` have been deprecated for almost a year now and are scheduled to be removed from kubernetes/kubernetes after 1.20 (Q1'21).

In prep for that I scanned all our repos looking for places that reference the old names and not the new ones.  There are a couple such places in this repo.  Without know

[2020-11-03 20:42] Berndinox commented on #369
Is there actually a way to reuse an lb with multiple ingress resources?

[2020-11-03 21:28] victortrac commented on #369
You should be able to make multiple ingress resources behind a single GCE ingress controller as long as the ingress resources are in the same namespace.

[2020-11-04 16:00] hermanbanken commented on #369
AFAIK this creates another Load Balancer in GCP.

[2020-11-04 16:07] Berndinox commented on #369
Thanks for clarification!

________________________________
Von: Herman <notifications@github.com>
Gesendet: Wednesday, November 4, 2020 5:00:39 PM
An: kubernetes/ingress-gce <ingress-gce@noreply.github.com>
Cc: Berndinox <berndinox@gmail.com>; Comment <comment@noreply.github.com>
Betreff: Re: [kubernetes/ingress-gce] Option to share LB between Ingresses (#369)

You should be able to make multiple

[2020-11-04 18:47] spencerhance commented on #369
Currently all ingresses map to a unique LB

[2020-11-04 20:02] tpokki commented on #369
As a workaround, you can deploy your own Ingress Controller (e.g. nginx) , but define `serviceType` to be `NodePort` for it. And then created single `Ingress` resource, that routes all the traffic to your ingress controller, for ingress-gce to create L7 load balancer.
All application ingress resources should be annotated to use the ingress controller that you deployed, rather than ingress-gce.

Th

[2020-11-04 20:14] mehdicopter commented on #369
Hey @tpokki do you know where I could find some tutorial/examples in order to implement that ?

thanks !

[2020-11-04 20:22] Berndinox commented on #369
Can i terminate SSL on the Google LB and handle http Traffic only? Like using managed certs of google but the the costom ingress Controller.

My goal is to avoid SSL inside the cluster cause of Performance!

... i know its Not super Secure...

[2020-11-04 20:58] tpokki commented on #369
The custom ingress controller is like any other application for which you assign ingress-gce L7 load balancer. Typically the custom ingress controllers are installed with `LoadBalancer` service type, as that is what is mostly expected. And that is the only thing that you need to change.

Looking at for example the [nginx helm chart](https://github.com/kubernetes/ingress-nginx/blob/master/charts/in

[2020-11-05 11:10] mehdicopter commented on #369
I have been trying to do this configuration but unfortunately this is not working :'(
I am still having `All backend services are in UNHEALTHY state` on my GCE ingress...

[2020-11-05 13:25] tpokki commented on #369
Did a quick test myself with nginx, and it has a few issues. First, you need to do some firewall openings to make the _admission_ service to work in private clusters (you can also disable it). Second, nginx does not provide "working" health/liveness probes that L7 could adapt.  I.e. the L7 makes `GET /`, and nginx returns 503 for that :(

So apparently using nginx in the example was not a good ide

[2020-11-05 23:43] dldereklee commented on #1075
Is there a chance this will work with internal ingress in the future?

[2020-11-06 07:22] MikeMichel commented on #1148
Same here, after following [docs](https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress) and hours of debugging I ended here. The docs should mention that it is not working with shared vpc.

[2020-11-06 10:46] MeNsaaH commented on #369
@mehdicopter, you have to specify BackendConfig for your services/ingresses where you can then specify the appropriate healthchecks. It seems for some reason the default healthcheck endpoint when you use GCE ingresss is `/`. https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg#ingress_with_negs

[2020-11-06 10:48] mehdicopter commented on #369
Thanks @MeNsaaH, I did that but still having backend service unhealthy. Anyway I am polluting this issue.

[2020-11-06 12:48] brettcurtis commented on #1148
@MikeMichel I was able to get it working as described above. My connectivity issue was FW related that I later solved with Google support. I don't have the project anymore. It was a POC but may be able to help more if it still doesn't work for you after creating the subnet.

[2020-11-06 13:48] MikeMichel commented on #1148
@brettcurtis was it a GKE project where lb, fw rules etc. are dynamically created under the hood?

[2020-11-06 19:02] MikeMichel commented on #1171
From my understanding this landed in 1.9. I tried this on a shared vpc setup and I get `Error during sync: error running load balancer syncing routine: loadbalancer 2lvxx6db-default-jenkins-lli16s90 does not exist: the given static IP name jenkins-internal-ip doesn't translate to an existing static IP.`

I am on gke `1.17.12-gke.2502` and reserved an internal IP from a host projects subnet with
`g

[2020-11-07 20:54] #1149 closed

[2020-11-10 07:40] sho-abe commented on #1088
/remove-lifecycle stale

[2020-11-11 02:36] axot opened #1319 "HealthcheckConfig support"
Hello, we found even config with HealthcheckConfig, it didn't apply to HLB's healthcheck.
We are using `1.15.12-gke.20`

[code]

And also we confirmed `kubectl explain` shows the related healthCheck section.
[code]

Our question here are,
1. How to know healthcheckconfig has been support in current GKE version which we are using.
2. How to see BackendConfig related log, so we can quickly to lookin

[2020-11-13 22:06] jhordies commented on #109
Still same issue here, please keep this alive  /remove-lifecycle rotten

[2020-11-14 17:54] hadim commented on #1075
I have also tested the following config:

[code]

but once applied, k8s says the configuration is invalid. If I force the deployment without validation nothing happens on the LoadBalancer.

I am using `GKE 1.17.12-gke.1504`. Not sure at which application-level this feature is deployed since the release notes (https://cloud.google.com/kubernetes-engine/docs/release-notes#november_13_2020) says noth

[2020-11-14 18:12] Cidan opened #1324 "URLMap duplication when using host rules"
GKE version 1.17.12-gke.1504

Take the following Ingress as an example:

[code]

This ingress works as expected and creates a single catch-all URLMap:
![image](https://user-images.githubusercontent.com/1133628/99153954-56865d80-2669-11eb-80cf-6e60275cf40d.png)

However, as soon as you add a host and path match rule:

[code]

We get duplicate URLMap entries:

![image](https://user-images.githubuser

[2020-11-14 18:56] anderspetersson commented on #1075
@hadim Looks like you need 1.18.10+600 https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features

[2020-11-14 19:04] hadim commented on #1075
Thanks, @anderspetersson. Somehow I missed it.

[2020-11-15 18:28] Cidan commented on #1324
Closing this issue -- this is actually a presentation issue in the Google Cloud Console. If you switch to the advanced view of the URLMap configuration, you see what it's actually doing:
![image](https://user-images.githubusercontent.com/1133628/99193336-8e5ad700-2735-11eb-9a73-9f3d360c753d.png)

I'll raise the issue with the console team and see if we can come up with a better design for the defa

[2020-11-15 18:28] #1324 closed

[2020-11-16 05:40] therzv commented on #34
but if we change
`externalTrafficPolicy: Local ` to `externalTrafficPolicy: Cluster `

we cannot preserve client IP address, real client IP

[2020-11-16 22:18] spencerhance commented on #1075
Hey Folks, [this is now available in 1.18.10-gke.600+](https://cloud.google.com/kubernetes-engine/docs/release-notes#november_13_2020)!  Thank you all for your patience.  We also have already planned support in 1.17 and are targeting end of this month.

[2020-11-16 22:53] mark-church commented on #1075
[This tutorial](https://github.com/GoogleCloudPlatform/gke-networking-recipes/tree/master/ingress/secure-ingress) has an example of managed certs, SSL Policy, and HTTPS redirects together in an Ingress which might be helpful as well!

[2020-11-17 12:14] pgp commented on #1075
Hi, any news about the possibility of completely disabling plain HTTP (a.k.a. not exposing port 80 at all) from ingress settings?
There had been some discussion in this other [issue](https://github.com/kubernetes/ingress-gce/issues/764) but I don't know if this has been taken into account as possible feature.

[2020-11-17 12:32] mehdicopter commented on #1075
Yes @pgp you can. Take a look here : https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-xlb#disabling_http

[2020-11-17 12:39] pgp commented on #1075
I am already using the annotation: `kubernetes.io/ingress.allow-http: "false"` in my configuration, however that doesn't translate in a low-level disable, but only application-level (i.e. gcp responds with a 404, instead of the browser showing a Connection reset message, which is what I would expect if port 80 on the ingress was totally blocked)

[2020-11-19 14:29] #1163 closed

[2020-11-19 23:55] tonglil commented on #1216
It would be great if we can know what version the cluster is using via the cloud console or `kubectl describe ingress` or somewhere directly since a lot of this information is a guessing game to match it up with the cluster version and release note combing.

[2020-11-21 08:14] spacejam101 commented on #109
Wow Spent 2 days for this issue and turns out its not currently supported :(  This is the only thing that is holding us from using Cloud iap, client ip preservation, cloud armor and many more :(

[2020-11-21 09:10] spacejam101 opened #1329 "Proxy_pass"
Hi!,

I have a domain **domain1.com/test** that I need to proxy the path to another domain which is **doman2.com/test**

How is this possible in the ingress spec or is this configurable in the ui?

[2020-11-22 13:40] hadim commented on #511
Bump here. Are you considering implementing such a feature?

[2020-11-24 16:53] boredabdel commented on #1075
@pgp How does your ingress spec looks like ?

[2020-11-24 17:03] pgp commented on #1075
here it is (clearly, I've removed runtime annotations added by GKE, and anonymized resource names):
[code]

[2020-11-24 17:52] jmound commented on #1214
@rramkumar1 As a data point, there are folks still seeing this message and justifiably misinterpreting it as something that needs to be addressed.

[2020-11-24 19:32] zioproto commented on #1214
It is now possible to create an Ingress with HTTP to HTTPS redirects enabled:
https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#https_redirect

This should be better than using the annotation `allow-http: false`

[2020-11-25 08:37] boredabdel commented on #1075
Yeah i have a similar ingress with allow-http set to false and my browser shows 404. That's the expected behavior for GCLB.

[2020-11-25 08:46] pgp commented on #1075
Indeed, also my ingress sends a 404 as response in that case. My question was about the possibility of totally disabling port 80, instead of sending the request in cleartext using the wrong protocol and then receiving a 404 as response.