[2017-10-11 17:32] bowei opened #16 "Add e2e testing"
_From @bprashanth on November 10, 2016 18:48_

https://github.com/kubernetes/contrib/issues/1441#issuecomment-256981778

@porridge fyi

_Copied from original issue: kubernetes/ingress-nginx#5_

[2017-10-11 17:32] bowei commented on #16
_From @aledbf on November 11, 2016 3:23_

https://github.com/kubernetes/ingress/pull/12 adds initial e2e structure in directories `hack` and `test`.

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 15, 2016 10:32_

FWIW, the `test-e2e` target is broken at the moment.
I don't really understand what is the `git root directory` that the message mentions.
[code]

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 15, 2016 12:58_

FTR, https://github.com/kubernetes/ingress/pull/62 fixes the breakage.

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 22, 2016 13:19_

The next problem is that the `test-e2e` target tries to push the image, tracked in https://github.com/kubernetes/ingress/issues/79

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 22, 2016 13:45_

After that, and deploying the nginx controller, the problem is that the controller cannot talk to the API server:

[code]

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 22, 2016 14:11_

That's apparently because `/var/run/secrets/kubernetes.io/serviceaccount/token` does not exist, so `restclient.InClusterConfig()` fails, and the config returned by `clientConfig.ClientConfig()` is wrong.

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 22, 2016 14:55_

I hacked `launch.go` to list the environment, and hardcoded `kubeconfig.Host = "10.0.0.1:443"`
[code]

Yet it still does not work:

[code]

@bprashanth can you point me to a working setup of this kind somewhere in the k8s ecosystem? https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md starts with a big bold "Sto

[2017-10-11 17:32] bowei commented on #16
_From @aledbf on December 22, 2016 15:0_

@porridge this should work if you set the master address like
`export KUBERNETES_MASTER=http://172.17.4.99:8080`
before launching the controller binary

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 22, 2016 16:12_

To summarize our chat, `hostNetwork: true` on the pod spec seems to solve it.

[2017-10-11 17:32] bowei commented on #16
_From @bprashanth on December 22, 2016 17:3_

It would be great to not have to run with host networking in the e2e since most people don't in reality, but I think it's fine for a first cut with a TODO.

so to confirm, hostNetwork is just a workaround for setting KUBERNETES_MASTER, which defaults to localhost instead?

[2017-10-11 17:32] bowei commented on #16
_From @bprashanth on December 22, 2016 18:6_

@porridge do these docs help https://github.com/kubernetes/ingress/blob/master/docs/dev/setup.md ? (try local-up-cluster, or minikube as described, if they've released a version with the nginx addon)

[2017-10-11 17:32] bowei commented on #16
_From @porridge on December 27, 2016 20:4_

@bprashanth I think it was a bit more complicated:
  1. First of all, the hypercube-based cluster brought up by `ingress/hack/e2e-internal/e2e-up.sh` was broken in the sense that `/var/run/secrets/kubernetes.io/serviceaccount` in every pod was an empty directory (no `token` file, not even the `..*` dir/symlink).
  2. this in turn confused the [config loa

[2017-10-11 17:32] bowei commented on #16
@porridge -- the security token issue seems to be related to setting rshared on the mount point for kubelet:

I was able to get the hyperkube containerize kubelet running after doing:

[code]

and passing `--volume=/var/lib/kubelet:/var/lib/kubelet:rshared` in the `docker run` command

[2017-10-11 17:32] bowei commented on #16
_From @porridge on February 3, 2017 17:55_

I made some baby steps towards using minikube.
I'm going to investigate that further, given the problems with hyperkube-based cluster (the fact that it seems soft-deprecated, incompatibility with ufw, and the rshared issue on kubelet).

One questions is what I should do with `hack/e2e*` - since it is currently not much apart from a skeleton around hyperk

[2017-10-11 17:32] bowei commented on #16
@porridge -- if you want an example using hyperkube, you can take a look at this:

https://github.com/kubernetes/dns/tree/master/pkg/e2e

It starts an API server + controller manager in a container. There are some things that need to be resolved with the containerized mounter, but it works...

The kickoff script is here: https://github.com/kubernetes/dns/build/e2e-test.sh

[2017-10-11 17:32] bowei commented on #16
_From @porridge on February 4, 2017 12:47_

@bowei ingress/hack already contains code to start a hyperkube-based cluster, so I'm not sure we need more examples. However I'm not sure we should be going that way given the problems I mentioned:
- [problems with ufw](https://github.com/kubernetes/ingress/issues/5#issuecomment-269375689)
- the fact that [minikube is now the recommended way](https://git

[2017-10-11 17:32] bowei commented on #16
`hyperkube` has only a dependency on docker, which means we were able to run the e2e tests as part of a travis ci test, which is helpful. The code above does take care of the mounting issue.

[2017-10-11 17:32] bowei commented on #16
_From @aledbf on February 4, 2017 19:20_

@porridge I think @bowei is right. We should use the code from the dns repo to bootstrap the e2e test suite from a repo that is already using it (so we don't waste time in the setup)

[2017-10-11 17:32] bowei commented on #16
@aledbf if there is common interest, this may be worth splitting off into a common framework. Then we can mutually benefit from the work. Let me know which direction you guys decide to go...

[2017-10-11 17:32] bowei commented on #16
_From @aledbf on February 4, 2017 19:43_

Yes please :)
I think this is one of the missing pieces, a common bootstrap for e2e test suites

[2017-10-11 17:32] bowei commented on #16
_From @aledbf on February 4, 2017 19:43_

@bprashanth please comment about this ^^

[2017-10-11 17:32] bowei commented on #16
_From @bprashanth on February 6, 2017 18:25_

Yeah of course, what are we thinking - a bootstrap hyperkube for travis incubator?

[2017-10-11 17:32] bowei commented on #16
I'm happy to propose the project and drive it

[2017-10-11 17:32] bowei commented on #16
_From @bprashanth on February 6, 2017 18:42_

Thanks! Suggest an email to kubernetes-dev per https://github.com/kubernetes/community/blob/master/incubator.md#existing-code-in-kubernetes, the test infra team might have some thoughts (or recommend putting it in https://github.com/kubernetes/test-infra or https://github.com/kubernetes/repo-infra)

[2017-10-11 17:32] bowei commented on #16
_From @porridge on February 6, 2017 19:39_

I'd appreciate it if you could keep me in the loop.

[2017-10-11 17:33] bowei commented on #16
_From @porridge on February 24, 2017 10:5_

@bowei was there any movement on this?

[2017-10-11 17:33] bowei commented on #16
Sorry about the delay -- will send something post-code freeze...

[2017-10-11 17:33] bowei commented on #16
_From @porridge on February 24, 2017 17:7_

@beeps sorry it took me this long to test this on the e2e cluster from the main kubernetes repo like you [suggested in December](https://github.com/kubernetes/ingress/issues/5#issuecomment-268856608), but it  does not work either - by the looks of it, for the same reason as with [ingress repo's own local cluster case](https://github.com/kubernetes/ingres

[2017-10-11 17:33] bowei commented on #16
_From @porridge on March 30, 2017 11:36_

Status update: I (temporarily) ditched the attempts to get this running on my laptop, and moved my dev environment onto a workstation, to rule out the interference from the local firewall.

There I was able to successfully play with the nginx controller on a local cluster brought up with `k8s.io/kubernetes/hack/local-up-cluster.sh`

Starting the same contr

[2017-10-11 17:33] bowei commented on #16
_From @porridge on March 31, 2017 11:6_

One interesting problem - worth thinking about when designing this common e2e test infrastructure:

I when trying to `import "k8s.io/kubernetes/test/e2e/framework"` and use ginkgo at the same time, I found the hard way that the ginkgo imported directly clashed with the vendored copy of ginkgo from the kubernetes repo:

[code]

Apparently, this is not becaus

[2017-10-11 17:33] bowei commented on #16
_From @onsi on April 1, 2017 22:17_

srsly the `flags` package being global is both incredibly convenient and also a painful source of these sorts of rough edges.  Not sure how to help @porridge :/  perhaps there's some way for Ginkgo to detect if Ginkgo has already parsed flags?  If you could try that out locally until you get it to work and submit a PR that would be great.

[2017-10-11 17:33] bowei commented on #16
_From @porridge on April 7, 2017 15:50_

@onsi I took a look and:
- the panic is at flag **declaration** time, not parsing time
- luckily it is possible to test whether a flag with a given name has been declared
- unfortunately the fact that ginkgo exposes flag value as fields of a public struct variable, makes it hard/impossible to fix this problem without changing the API.

Please take a look at

[2017-10-11 17:33] bowei commented on #16
_From @stibi on September 13, 2017 9:43_

Hi, is the "help wanted" label still valid here? If yes, I'd like to join the ride.

Is this work https://github.com/kubernetes/ingress/pull/1331 also related to this issue?

[2017-10-11 17:33] bowei commented on #16
_From @aledbf on September 13, 2017 12:56_

Yes

[2017-10-11 17:33] bowei opened #17 "Point gce ingress health checks at the node for onlylocal services"
_From @bprashanth on November 18, 2016 22:35_

We now have a new beta annotation on Services, `external-traffic` (http://kubernetes.io/docs/user-guide/load-balancer/#loss-of-client-source-ip-for-external-traffic). With this annotation set to `onlyLocal` `NodePort` Services only proxy to local endpoints. If there are no local endpoints, iptables is configured to drop packets. Currently sticking an

[2017-10-11 17:33] bowei commented on #17
_From @thockin on February 22, 2017 16:37_

@MrHohn Found it!

[2017-10-11 17:33] bowei commented on #17
_From @MrHohn on February 28, 2017 1:28_

Sorry, it's a bit late to ask but I'm lost at some arguments here:

Not sure what *'if all endpoints evacuate a node'* means. If it means this node is broken and all endpoints get rescheduled to other nodes. Why would it take 10\*10 seconds to mark this node unhealthy? Just checked the default setup for ingress healthcheck, the unhealthy threshold is set t

[2017-10-11 17:33] bowei commented on #17
_From @thockin on March 1, 2017 8:29_

If, for some reason, all the endpoints for a Service get moved to a
different node.

The way the healthchecks function today.  I think the point is that this is
bad.

The way I think it should work is:

If OnlyLocal {
  HC targets HC-NodePort
    HC gets 200 if there are local backends, else 404 or whatever
} else {
  HC targets kube-proxy healthz
    HC gets

[2017-10-11 17:33] bowei commented on #17
_From @MrHohn on March 1, 2017 18:27_

Thanks for clarifying. Yeah I think this is really the point. It seems like current ingress health check setup is totally broken --- don't think bad endpoints could be easily detected when good endpoints also exist.

    HC targets HC-NodePort
    HC gets 200 if there are local backends, else 404 or whatever
} else {
    HC targets kube-proxy healthz
    HC g

[2017-10-11 17:33] bowei commented on #17
_From @MrHohn on March 1, 2017 18:34_

Oh, made a mistake above. For OnlyLocal NodePort service the original health check already works, traffic sent to nodes that do not have endpoints on it will be dropped.

[2017-10-11 17:33] bowei commented on #17
_From @sanderploegsma on June 22, 2017 13:55_

This does not seem to be correct, the current source code explicitly mentions an interval of 60 seconds. Even better: creating an ingress connected to a service that has a readiness probe will _combine_ these intervals, so if the readiness probe is set up to check at an interval of 10 seconds the resulting health check will have an interval of 70 seco

[2017-10-11 17:33] bowei commented on #17
_From @nicksardo on June 22, 2017 17:14_

I wouldn't recommend lowering the interval, @sanderploegsma. Since health checks hit the service's nodeport, if you run a few pods on a large node cluster, the pods will receive a significant amount of traffic. As thockin said earlier,

Therefore, you shouldn't rely on LB health checks for monitoring pod or node health at this time.

[2017-10-11 17:33] bowei commented on #17
_From @sanderploegsma on June 22, 2017 18:15_

Right, that makes sense. So there currently is no way for us to combine the `external-traffic` annotation with an Ingress? There must be a way to correctly determine to which nodes traffic should be directed, right?

[2017-10-11 17:33] bowei commented on #17
_From @nicksardo on June 22, 2017 18:38_

I don't know of anyone else who has tried using that annotation with ingress. Be aware that it's not a documented/supported annotation of services used by GCE ingress. Also, I don't recommend manually modifying health checks. The GLBC 0.9.3 and 0.9.4 will drop these settings when migrating to a newer health check type. This was made seamless in 0.9.5.

Bet

[2017-10-11 17:34] bowei opened #18 "Add example using grpc and http2"
_From @aledbf on December 1, 2016 22:39_

_Copied from original issue: kubernetes/ingress-nginx#39_

[2017-10-11 17:34] bowei commented on #18
_From @aledbf on December 30, 2016 3:24_

Something like this should work:

https://github.com/caiofilipini/grpc-weather/

- create deployment
[code]

- expose service
[code]

- create ingress
[code]

- use docker image to run the client
[code]

- execute
[code]

[2017-10-11 17:34] bowei commented on #18
_From @krancour on April 3, 2017 16:21_

@aledbf I haven't tried, but does this work? I recently tried using a different upstream grpc service and requests kept failing because of connection reset by peer.

[2017-10-11 17:34] bowei commented on #18
_From @aledbf on April 3, 2017 16:25_

@krancour works if you use the `ssl-passthrough` annotation, i.e. just use nginx for the TLS hello and then terminate SSL in the pod (this is because nginx does not support http2 in the upstream)

[2017-10-11 17:34] bowei commented on #18
_From @krancour on April 3, 2017 16:27_

@aledbf ahhh... thanks! I will try that.

[2017-10-11 17:34] bowei commented on #18
_From @philipithomas on June 28, 2017 21:58_

can a grpc server listen on port 80? More specifically - how can ssl-passthrough be configured for port 80?

[2017-10-11 17:34] bowei commented on #18
_From @aledbf on June 28, 2017 21:59_

@philipithomas I just answered this in your issue :)

[2017-10-11 17:34] bowei commented on #18
_From @drigz on August 17, 2017 9:8_

For others following this trail, the other issue is #923.

[2017-10-11 17:34] bowei opened #19 "Ingress creates wrong firewall rule after `default-http-backend` service was clobbered."
_From @MrHohn on December 8, 2016 18:46_

From kubernetes/kubernetes#36546.

During development, found ingress firewall test failed instantly on my cluster. Turned out due to some reasons, the `default-http-backend` service was deleted and recreated, and it was then allocated a different nodePort. Because ingress controller records this nodePort at the beginning but never refresh([ref1](https://gi

[2017-10-11 17:34] bowei commented on #19
_From @bprashanth on December 9, 2016 0:23_

The assumption is it doesn't change, and it typically shouldn't because it exists in the kube-system namespace, do you remember why it was deleted ? Since it *can* totally get deleted by the user, we should periodically reconciling the default backend.

[2017-10-11 17:34] bowei commented on #19
_From @MrHohn on December 9, 2016 0:36_

I accidentally deleted all kube-system services while doing experiment on addon manager, not kubernetes's fault.

[2017-10-11 17:34] bowei opened #20 "GLBC ingress: only handle annotated ingress"
_From @tamalsaha on December 14, 2016 21:49_

Hi,
We are running a HAProxy based ingress in our clusters. But for a few service, we would like to run GLBC ingress. I did not see any way to tell ingress controllers, which Ingress resource they can handle. Can Ingress controllers can only handle ingress that has a specific annotation applied to it (similar to how schedulers do it):

`"ingress.alpha.

[2017-10-11 17:34] bowei commented on #20
_From @bprashanth on December 16, 2016 0:45_

such an annotation already exists ("kubernetes.io/ingress.class"), or maybe I'm confused?
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#running-on-cloudproviders

[2017-10-11 17:34] bowei commented on #20
_From @tamalsaha on December 16, 2016 8:7_

@bprashanth , thanks for the link. I somehow missed the documentation on `kubernetes.io/ingress.class`. But I would still like a flag for both ingress controllers to disable default on mode. If that flag is set, then ingress controller's will not manage Ingress with `kubernetes.io/ingress.class` set to empty string.

[2017-10-11 17:34] bowei commented on #20
_From @bprashanth on December 16, 2016 17:38_

Yeah that makes sense, I'm guessing you mean --ingress-class=gce only handles ingresses with `kubernetes.io/ingress.class=gce`. Please send a pr if you have time.

[2017-10-11 17:35] bowei opened #21 "e2e test leaves garbage around"
_From @porridge on December 22, 2016 9:54_

`e2e-down.sh` explicitly removes some containers, and at least one exits after some time, but there are plenty others which stay around apparently indefinitely.

I'm not sure whether this is a known deficiency of hypercube or we're just using it improperly.

[code]

_Copied from original issue: kubernetes/ingress-nginx#80_

[2017-10-11 17:35] bowei opened #22 "GCE cloud: add a kube-specific header to GCE API calls"
_From @thockin on January 3, 2017 22:16_

https://github.com/kubernetes/kubernetes/issues/39391

_Copied from original issue: kubernetes/ingress-nginx#104_

[2017-10-11 17:35] bowei opened #23 "GCE: improve default backend handling"
_From @bprashanth on January 10, 2017 10:43_

Today the lb pool manages the default backend. This makes for some confusing situations.
1. Don't get the default backend in main, instead pipe the --default-backend arg through the cluster-manager down into 3 pools: firewall, backend, lb
2. Create the default backend in Sync() of backend pool, when there are nodePorts, so users that don't care about i

[2017-10-11 17:35] bowei commented on #23
_From @bprashanth on January 10, 2017 10:44_

If we do this, we can create the IG and default backend when the first backend Service is required and delete the IG and default backend when the last backend Service has been deleted, all from the backend pool

[2017-10-11 17:35] bowei opened #24 "Specify IP addresses the Ingress controller is listening on"
_From @cluk33 on January 17, 2017 13:47_

We are running k8s on bare metal. It would be great to specify the IP addresses the nginx ingress controller is listening on.

This would enable us
1) to route traffic for specific IPV4 IPs to k8s
2) also route (http) traffic for IPV6 addresses to k8s.

AFAIK 1) can be achieved by using a service in front of the ingress ctrl with external (IPV4) addresses.

[2017-10-11 17:35] bowei commented on #24
_From @euank on January 18, 2017 18:14_

2 is related to #34; I use a daemonset with `net=host` to manage ipv6 ingress

[2017-10-11 17:35] bowei commented on #24
_From @bprashanth on January 25, 2017 21:8_

you probably want to specify the name of the interface instead of the actual ip? eg if you just want to listen on cbr0 or docker0 with net=host, so the system is free to manage ipam. The way the nodecontroller assigns cidrs to nodes today, you don't know the range a given node will get.

[2017-10-11 17:35] bowei commented on #24
_From @cluk33 on January 26, 2017 20:9_

@euank Thanks for the pointer. But isn't nginx listening on all IPV4 and IPV6 addresses which are available on the host in that setup? We are trying to migrate one IP at a time to k8s and keep the other IPs and services working outside of k8s.

[2017-10-11 17:35] bowei commented on #24
_From @cluk33 on January 26, 2017 20:13_

@bprashanth Thanks for the suggestion. We are using a fixed /28 subnet for our incoming traffic. Therefore it would be great to specify exact listen addresses for nginx. What would also work is using the hostnames from the ingress object for the nginx listen directives. Though my attempts using a custom nginx template doing that failed utterly. ;)

[2017-10-11 17:35] bowei commented on #24
_From @euank on January 26, 2017 23:31_

@cluk33 indeed, it is for me. It's not ideal, but it's worked for me so far. Specifying only one ipv6 address would be saner.

[2017-10-11 17:35] bowei commented on #24
_From @euank on January 26, 2017 23:32_

@bprashanth on the other hand, you don't necessarily want to listen on an interface for the case of `eth0` or whatever since you've potentially got multiple different ips on it.

[2017-10-11 17:35] bowei commented on #24
_From @TattiQ on October 11, 2017 15:45_

I also use bare metal and would be great to be able to assign an external IP for ingress
and thus use  the hostnames from the ingress resource  for the nginx listen directives.
Currently I am not sure how I can get this working -   private docker registry (2 rc replica's, talking to the same redis deployment + the same filesystem (nfs mount to all kube nod

[2017-10-11 17:35] bowei opened #25 "High glbc CPU usage"
_From @jmn on January 27, 2017 1:53_

I noticed in Stackdriver monitoring that glbc is using about 30% CPU constantly in my cluster. @thockin said on Slack that this might be related to misconfigured GCE ingress. However I looked through all my Ingresses and they are all class nginx.  Anyone got a clue or a suggestion as to troubleshoot further?

One thing which I noticed is in my Ingress "kube-le

[2017-10-11 17:35] bowei commented on #25
_From @thockin on January 27, 2017 1:57_

is that 130. IP a GCE load-balancer?

Are all the Services behind that Ingress NodePort or LoadBalancer type?

On Thu, Jan 26, 2017 at 5:53 PM, jmn <notifications@github.com> wrote:

[2017-10-11 17:35] bowei commented on #25
_From @jmn on January 27, 2017 2:0_

I only have services of type NodePort and ClusterIP

the 130. IP is unknown to me.

[2017-10-11 17:35] bowei commented on #25
_From @thockin on January 27, 2017 2:2_

Look for it in your cloud console - maybe it is a load-balancer or a VM IP.

If you put a ClutsterIP service behind an ingress you could trigger this.

On Thu, Jan 26, 2017 at 6:00 PM, jmn <notifications@github.com> wrote:

[2017-10-11 17:35] bowei commented on #25
_From @jmn on January 27, 2017 2:18_

I had two ClusterIPs behind Ingress, I changed those services to NodePort.
the IP is not one of my current Node IPs or external IPs - possibly a reference to an earlier used resource.
glbc CPU usage currently still high.

[2017-10-11 17:35] bowei commented on #25
_From @bprashanth on January 27, 2017 2:29_

i think your loadbalancer controllers are fighting. The fact that you have multiple ips in the status list indicates that you are using both the nginx and gce ingress controller, the 130 is a google ip.

You need to specify an ingress.class annotation to stop the fighting:
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LI

[2017-10-11 17:35] bowei commented on #25
_From @bprashanth on January 27, 2017 2:30_

oh sorry, you did mention that they're all class nginx, can you please post the ingress that has multiple ips?

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on January 27, 2017 2:32_

GLBC runs on the master, are you also running it on your nodes?

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 2:35_

My nodes are running the GCI I have not added GLBC

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 2:40_

Not sure that I want to post the entire Ingress here, it is being generated by [kube-lego](https://github.com/jetstack/kube-lego) can I share in private?

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 2:48_

[code]

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 2:50_

The annotation nginx is not quoted, don't know if it is significant.

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 3:1_

I basically run https://github.com/kubernetes/ingress/blob/master/examples/deployment/nginx/nginx-ingress-controller.yaml deployment. It doesn't come with a Service like in the kube-lego example. I have not spent a very long time configuring this and studying the kube-lego documentation so I might have missed something essential.

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on January 27, 2017 3:7_

So stack driver is showing CPU usage of what to be 30%? Glbc runnning on your gke master? Afaik it won't show master CPU usage, and the master is managed by Google anyway.

If you're running a GCE cluster can you please SSH into your master and post the out put of tail on /var/log/glbc?

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 3:13_

It's GKE I'm not sure I can SSH to master, can I?

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on January 27, 2017 18:12_

I can't seem to reproduce your chart, mine has more details in the annotations. Anyway, applying stackdriver to a GKE cluster I only see nodes, which means it's showing you something on the node.

My guess is that it's showing you the cpu usage of the default backend, which runs in the kube-system namespace (@piosz might be able to confirm -- Piotr, wh

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 20:22_

Is the l7-default-backend-v1.0 logging to somewhere? In logs in the kube-system namespace I find only some errors related to heapster-nanny.

[code]

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 20:24_

Also, is the l7-default-backend-v1.0 replicationcontroller required to run in GKE?

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on January 27, 2017 20:28_

A standard go server doesn't log each request. The default backend is used by the nginx controller, and by all gce cloud lbs, whenever they receive a url they don't understand, to return a http 404. It has both resource and limits set:
[code]

So if something else lands on the node and needs the resources, it'll be forced into the 10m/20mi it requested

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 20:40_

Not sure that I need the GLBC at the moment (?) so I did

[code]
Seems fine?

[2017-10-11 17:36] bowei commented on #25
_From @jmn on January 27, 2017 21:3_

Note I have another default-http-backend (in the default namespace) https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/default-backend.yaml

[2017-10-11 17:36] bowei commented on #25
_From @tonglil on January 30, 2017 16:21_

I can identify the same issue. Always just thought this was normal (maybe CPU on master, which I can't access so :man_shrugging:) until reading this.

Here is a screenshot of 3 different dev clusters, where glbc is the top CPU consumer.

1 hour:
<img width="968" alt="screen shot 2017-01-30 at 11 19 57 am" src="https://cloud.githubusercontent.com/assets/32

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on January 30, 2017 16:27_

@tonglil your screenshot confirms that it's the default-http-backend (as you can see in the tool tip at the bottom right).

First thing, I think we need to add some clarity around this.
Secondly, we need to figure out why a standard go http server is taking that much. Is it just a mis-representation, are you guys getting a lot of requests to unknown ur

[2017-10-11 17:36] bowei commented on #25
_From @tonglil on January 31, 2017 21:22_

Thanks, yes I realize it is the default HTTP backend now.

Regards to the second point, I don't believe there is a lot of requests to unknown URLs. For that endpoint where there is http + https set up, together there is about 50 requests per _day_ from IP hits + unknown sources. The rest is the standard `/healthz` endpoint from `"GoogleHC/1.0"`

It hasn't

[2017-10-11 17:36] bowei commented on #25
_From @mlazarov on February 16, 2017 21:48_

I'm having the same issue on GKE and the glbc is not default backend

<img width="594" alt="screen shot 2017-02-16 at 23 41 24" src="https://cloud.githubusercontent.com/assets/976139/23042662/1f4148a0-f4a2-11e6-968e-ff771a6c52fb.png">

So far what I'm observing that the cpu load on glbc is going higher and higher over time. The cluster is almost 5 month

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on February 16, 2017 22:2_

Yeah that is the default backend, it's just wrongly marked as glbc based on the label "name: glbc''. You simply won't get glbc stats on GKE, glbc is running on the master, which is not in your project.

The default backend is constrained to 10m https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-loadbalancing/glbc/default-svc-co

[2017-10-11 17:36] bowei commented on #25
_From @mlazarov on February 16, 2017 22:27_

The `glbc` is running on `gke-cluster-pool-static-2cc4ff80-4z4z` which is not the k8s master.

No one from the external world is hitting the `glbc` trough the load balancer as I have custom default backend service defined in the ingress.

[code]

There are no logs inside `/var/log/` directory
[code]

Any idea how to debug what is this `/server` process

[2017-10-11 17:36] bowei commented on #25
_From @tonglil on February 16, 2017 22:32_

What about `kubectl top --namespace=kube-system pod ...`? Does it show resource consumption?

[2017-10-11 17:36] bowei commented on #25
_From @mlazarov on February 16, 2017 22:45_

Here is the output of top:
[code]

If I'm correct 7m = 70% of 10m. And that is exactly the same information that I'm having for glbc at the stackdriver dashboard.

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on February 16, 2017 22:53_

Oh, that's even more confusing then as I'd expect that dashboard to show % of available cpu used per pod, not % of specified limits (or indicate that 100 is 10m somewhere). I'll follow up with a bug against stackdriver monitoring.

[2017-10-11 17:36] bowei commented on #25
_From @mlazarov on February 16, 2017 22:56_

If I'm correct this is not a bug.

7m (the real usage) of 10m (the real limit) is exactly 70% of the limit - and that stackdriver is displaying.  It looks right to me.

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on February 16, 2017 22:57_

It's a confusing feature of the UI, not a bug.

[2017-10-11 17:36] bowei commented on #25
_From @tonglil on February 16, 2017 23:1_

I agree, I would expect the UI to show percentages for resources used of the pod or node based on past graph experiences.

It should be more clear in SD docs somewhere that the percentages are usage/limit.

[2017-10-11 17:36] bowei commented on #25
_From @mlazarov on February 16, 2017 23:9_

Yes, when I saw it for the first time it was confusing but seems right way to display the information. Some more inline docs will be good too.

But what about the `glbc` using 70% of it's given CPU resource? How to debug this?

[2017-10-11 17:36] bowei commented on #25
_From @bprashanth on February 16, 2017 23:51_

I think that's alright, the limits are set to be a little higher than normal usage. Setting them much higher would be a waste, and setting them lower would result in throttling.

[2017-10-11 17:36] bowei opened #26 "GCE: respect static-ip assignment via update"
_From @bprashanth on January 31, 2017 23:4_

Currently if you create an ingress then take its static-ip and assign the annotation, the controller is not smart enough to *not* delete the IP. To make this work:
1. Gate Static IP cleanup on a call to `getEffectiveIP()`: https://github.com/kubernetes/ingress/blob/master/controllers/gce/loadbalancers/loadbalancers.go#L828 (just like we do here https://

[2017-10-11 17:36] bowei opened #27 "[GLBC] Expose GCE backend parameters in Ingress object API"
_From @itamaro on February 7, 2017 10:9_

When using GCE Ingress controller, the GCE Ingress controller (GLBC) provisions GCE backends with a bunch of default parameters.

It would be great if it was possible to tweak the parameters that are currently "untweakable" from the Ingress object API (AKA from my YAML's).

**Specific use case:** GCE backends are provisioned with a default timeout of 30 se

[2017-10-11 17:36] bowei commented on #27
_From @bprashanth on February 7, 2017 18:31_

This will need to be a per Service configuration since currently ingresses share the backend for a given nodeport, so it makes more sense to specify it as an annotation on the Service. Basically it would be nice if the Service author could publish some timeouts for their Service, and any/all loadbalancers fronting the Service will respect these setting

[2017-10-11 17:36] bowei commented on #27
_From @thockin on February 8, 2017 8:34_

The reason for it to be an annotation is that we're not ready to add it to every implementation of Services, yet.  Maybe never.  I would suggest something like `service.kubernetes.io/timeout` as the annotation key

[2017-10-11 17:36] bowei commented on #27
_From @itamaro on February 14, 2017 17:23_

I think I understand the reasoning for an annotation, thanks.

Attempting to tackle this, I got [this far](https://github.com/itamaro/ingress/commit/f9f58b7efd8f79a5100cf14a5e184bc309e8820b).

1. Is this the correct direction?
2. Will appreciate a pointer regarding the next step - how exactly to propagate the timeout value extracted from an annotation to

[2017-10-11 17:38] bowei opened #28 "[GLBC] Expose GCE backend parameters in Ingress object API"
_From @itamaro on February 7, 2017 10:9_

When using GCE Ingress controller, the GCE Ingress controller (GLBC) provisions GCE backends with a bunch of default parameters.

It would be great if it was possible to tweak the parameters that are currently "untweakable" from the Ingress object API (AKA from my YAML's).

**Specific use case:** GCE backends are provisioned with a default timeout of 30 se

[2017-10-11 17:38] bowei commented on #28
_From @bprashanth on February 7, 2017 18:31_

This will need to be a per Service configuration since currently ingresses share the backend for a given nodeport, so it makes more sense to specify it as an annotation on the Service. Basically it would be nice if the Service author could publish some timeouts for their Service, and any/all loadbalancers fronting the Service will respect these setting

[2017-10-11 17:38] bowei commented on #28
_From @thockin on February 8, 2017 8:34_

The reason for it to be an annotation is that we're not ready to add it to every implementation of Services, yet.  Maybe never.  I would suggest something like `service.kubernetes.io/timeout` as the annotation key

[2017-10-11 17:38] bowei commented on #28
_From @itamaro on February 14, 2017 17:23_

I think I understand the reasoning for an annotation, thanks.

Attempting to tackle this, I got [this far](https://github.com/itamaro/ingress/commit/f9f58b7efd8f79a5100cf14a5e184bc309e8820b).

1. Is this the correct direction?
2. Will appreciate a pointer regarding the next step - how exactly to propagate the timeout value extracted from an annotation to

[2017-10-11 17:38] bowei commented on #28
_From @itamaro on February 22, 2017 16:48_

Following up on [the discussion on the CL](https://github.com/itamaro/ingress/commit/f9f58b7efd8f79a5100cf14a5e184bc309e8820b), I'd appreciate more thoughts from more contributors on the subject of a generic timeout annotation vs. a GCLB-specific one.

The issue is whether to take the generic path, with something like `service.beta.kubernetes.io/timeout`

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on March 8, 2017 23:0_

What about using the `timeoutSeconds` field of the service's `livenessProbe`? Would you ever want that value and a loadbalancer's timeout to be different?

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on March 8, 2017 23:6_

Oops, forgot that liveness/readiness probes don't live in the service.  We would have to look up a pod under the service selector and check, similar to what we do for [getting the health check request path](https://github.com/kubernetes/ingress/blob/master/controllers/gce/controller/utils.go#L432).

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on April 5, 2017 21:19_

Many folks have expressed interest on this, so I'd like to keep the ball rolling.

After reading the discussion on the CL, I'm also inclined to go with a generic annotation on Service. As I mentioned above, an easy option would be to look at a probe's configuration.
Any more thoughts @itamaro and @thockin ?

[2017-10-11 17:38] bowei commented on #28
_From @thockin on April 5, 2017 21:40_

Ae we happy with a single timeout or do we need one per host/path (Service)
?

On Wed, Apr 5, 2017 at 2:19 PM, Nick Sardo <notifications@github.com> wrote:

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on April 5, 2017 21:46_

If we went with a single timeout, a user is bound to come along with a use case for multiple. Their argument will be that GCP supports different timeouts - the controller should support that feature too.

[2017-10-11 17:38] bowei commented on #28
_From @thockin on April 5, 2017 21:54_

Is it generic, then?  Or can things like nginx reasonably implement this
per host/path ?  I forget - did we consider a field?

On Wed, Apr 5, 2017 at 2:46 PM, Nick Sardo <notifications@github.com> wrote:

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on April 5, 2017 22:5_

Pinging @aledbf for thoughts on having this for `proxy_read_timeout`

Tim, you mentioned possibly going straight to field but the question of being generic had to be answered first.

[2017-10-11 17:38] bowei commented on #28
_From @thockin on April 5, 2017 22:15_

yeah - if it is generic, let's run with fields, if we can.

On Wed, Apr 5, 2017 at 3:05 PM, Nick Sardo <notifications@github.com> wrote:

[2017-10-11 17:38] bowei commented on #28
_From @aledbf on April 5, 2017 22:19_

in nginx we have [3 settings related to timeouts](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/annotations/proxy/main.go#L28-L30) with [predefined defaults](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/config/config.go#L299-L301) and annotations in the ingress that allow custom values

- ingress.kubernetes.io/p

[2017-10-11 17:38] bowei commented on #28
_From @porridge on April 6, 2017 7:49_

My use case is a phpmyadmin, for which the default 30s GCLB timeout is not enough, we'd like something on the order of 10 minutes.

Re: "which object should be annotated", I'm leaning towards "I don't really care as long as it works ASAP", since my current need is so unsophisticated :-)

With my sysadmin hat on, it feels like it should be on the ingress, sin

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on April 6, 2017 17:51_

For clarity there are two questions are being discussed before proceeding...
1. Should timeout(s) be ingress specific or service specific (regardless of being annotated/specified on ingress or service)
  **Arguments for Ingress specific** (one annotation sets timeout for all child services on ingress)
    - Currently how nginx is setup
    - "more natural

[2017-10-11 17:38] bowei commented on #28
_From @itamaro on April 20, 2017 10:40_

My answers to the 2 questions formulated by @nicksardo:

service-specific.

specified on the Service object.

also, in relation to:

it's another topic that got me confused - since a service selector can match multiple pods, not all having the same health check specification necessarily, the existing behavior looks odd. it would seem more reasonable to have

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on April 24, 2017 21:12_

@itamaro thanks for providing your feedback.

Regarding the first question, I agree that timeouts should be backend-service specific. We should put this question to rest.

For the second question, I like your response to the problem of having a service with varied expectations of timeouts. I agree that the owner of a service should be the most qualified t

[2017-10-11 17:38] bowei commented on #28
_From @thockin on April 25, 2017 6:30_

On Mon, Apr 24, 2017 at 2:12 PM, Nick Sardo <notifications@github.com> wrote:

I think I agree with Nick's assessment.

[2017-10-11 17:38] bowei commented on #28
_From @itamaro on April 26, 2017 14:5_

well, not sure I completely follow all the reasoning.
naturally, a service with multiple endpoints has variance in expected latency.
as a service owner myself, specifically of services that have sub-second endpoints alongside ~minute endpoints, I am familiar with the associated pains. I think that even if I had a way to express timeouts per path, I'd still r

[2017-10-11 17:38] bowei commented on #28
_From @thockin on April 28, 2017 15:23_

My feeling with timeouts is that they are part of the "how to use" rather
that "what it is".  Reasonable minds can disagree -j agree that a working
solution trumps all.

On Apr 26, 2017 7:05 AM, "Itamar Ostricher" <notifications@github.com>
wrote:

[2017-10-11 17:38] bowei commented on #28
_From @tsloughter on May 31, 2017 1:57_

For the time being is there any work around where I can manually change the timeout in the google console and not have the controller revert the change?

[2017-10-11 17:38] bowei commented on #28
_From @evanj on May 31, 2017 13:6_

This is exactly what I've done and it seems to work? I have a test where I check it periodically. It seems to have kept its settings for at least a month now. I am a bit scared about the next time I make any change to the ingress of course :)

[2017-10-11 17:38] bowei commented on #28
_From @tsloughter on May 31, 2017 15:48_

@evanj what is it you did?

[2017-10-11 17:38] bowei commented on #28
_From @evanj on June 1, 2017 2:4_

@tsloughter I edited the load balancer's backend timeout through the Google Cloud Console web UI. I changed the timeout from 30s to 10m and it is still working, about 1 month later.

[2017-10-11 17:38] bowei commented on #28
_From @tsloughter on June 1, 2017 18:18_

@evanj oh, hm, ok, I assumed you meant something else because I had tried that but the timeout seemed to revert to 30s after a short period of time. I'll try again, thanks!

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on June 1, 2017 18:42_

@tsloughter The ingress controller does not update the timeout value. However, if you change ports of your service and a new nodeport is generated, the backend service will be regenerated.

[2017-10-11 17:38] bowei commented on #28
_From @brugz on June 9, 2017 0:33_

Hi guys and gals -- what's the current status here? Do we expect this feature will make it into a future release? Any idea on time frame?

Cheers
Brugz

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on June 9, 2017 23:8_

This is probably what we're looking at:
 - Need to provide options per backend (combination of hostname & path with an extra predfined "default" for the default backend)
 - Options should pass through to the BackendService with a whitelist of passable fields. enableCDN, timeout, iam, cdnpolicy, etc....

Thoughts?

[code]

[2017-10-11 17:38] bowei commented on #28
_From @nicksardo on June 9, 2017 23:36_

Why can't the application be responsible for the fine grain timeout?

[2017-10-11 17:38] bowei commented on #28
_From @abstrctn on June 19, 2017 18:16_

That syntax looks great @nicksardo. I wonder if it would be possible to include default settings that would be applied to every service in the ingress? For example, the following could be really useful on an ingress that exposes only IAP-backed services as a way to ensure that services aren't accidentally exposed without IAP:

[code]

Our typical use case w

[2017-10-11 17:38] bowei commented on #28
_From @csbell on August 4, 2017 20:42_

@abstrctn: Would it be sufficient if we applied GCE backend settings per serviceName:servicePort rather than by path ("foo.bar.com/foo")?

[2017-10-11 17:38] bowei commented on #28
_From @MrHohn on August 4, 2017 22:13_

Comment https://github.com/kubernetes/ingress/issues/243#issuecomment-296823809 illustrated a "file-upload" use case that might be benefited by path level configuration.

+1 for [exposing config on the ingress object with path level configuration](https://github.com/kubernetes/ingress/issues/243#issuecomment-307519815), seems flexible enough in most use case

[2017-10-11 17:38] bowei commented on #28
_From @csbell on August 4, 2017 23:19_

@MrHohn: I ask from the perspective of making the annotations less brittle. It's unfortunate to have to duplicate host+path in an annotation when the setting really pertains to what's in the spec. The ingress resource really needs to be more composable.

[2017-10-11 17:38] bowei commented on #28
_From @ConradIrwin on August 9, 2017 5:26_

@nicksardo I love this idea.

The two things I'm most looking forward to are `iap` and the ability to proxy directly to google cloud storage.

[2017-10-11 17:38] bowei commented on #28
_From @abstrctn on August 25, 2017 15:50_

@csbell It seems important to keep the settings configurable by path, since they could point to entirely different services (e.g. `/assets` should be public, but `/admin` behind IAP)

However, if a goal is composability, would it make more sense to key settings off the serviceName? My understanding with GCP is that these settings correspond to the Backend

[2017-10-11 17:41] bowei commented on #28
Copied from original thread:

Trying to recap the current state of this issue since https://github.com/kubernetes/ingress/issues/243#issuecomment-292254750. It seems like there aren't any objections to the following (but please correct me if I'm mistaken):
* This configuration being stored
    * as a GCP-specific annotation, called `cloud.google.com/service-settings`
    * on the Ingress resource

[2017-10-11 17:41] #27 closed

[2017-10-11 17:41] bowei commented on #28
Copied from original thread:

I don't know if I'm exactly the most qualified person to answer any of these open questions. But I would like to see this move forward, so I will try and help any way I can.

My thoughts on:

1 & 2. I like the direction the new key style is headed. I think if we let people specify defaults, we should let them specify defaults at an ingress and service level:

[code]

[2017-10-11 17:42] bowei commented on #28
Copied from original thread:

Actually, the UID in the backend service name is used for the entire cluster - not per ingress. Therefore, having these settings on the service key is also "not possible" in the current implementation if multiple ingresses reference the same service(s).  For either direction, changes must be done to the naming scheme, which is why this hasn't been implemented.

 I'm w

[2017-10-11 17:42] bowei commented on #28
Copied from original thread:

Would it be possible to agree on a common denominator and then allow extension per implementation? This would also move us away from the annotations as well.

[code]

[2017-10-11 17:42] bowei commented on #28
Copied from original thread:

Exposing even just `timeout` as a cross-platform attribute is going to make an assumption about how ingresses define the relationship between a Kube Service and whatever "backend" is used in nginx/GCLB/etc. If they're defined:
* Within host/path rules, we're suggesting that ingress+host+path+service combine to represent a configurable "backend", conceptually distinct

[2017-10-11 17:43] bowei opened #29 "Disabled HttpLoadBalancing, unable to create Ingress with glbc:0.9.1"
_From @tonglil on February 14, 2017 1:42_

# Update

I was able to create the Ingress after this comment: https://github.com/kubernetes/ingress/issues/267#issuecomment-281452897

Does this mean in order to run your own GCE Ingress, you have to always set this file? No information is provided about this in the docs.

# Original Issue

1. I disabled the cluster's addon via:
[code]

2. Then `kubectl

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 1:43_

Most errors of `kubectl logs l7-lb-controller-b86hs l7-lb-controller` are:
[code]

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 1:43_

`kubectl version`:
[code]

Quotas:
[code]

[2017-10-11 17:43] bowei commented on #29
_From @bprashanth on February 14, 2017 1:45_

Is gke-tony-test-default-pool-42a243ce-kst4 a node in your current kubernetes cluster that shows up in kubectl get node? does it show up in the output of gcloud compute instances list? what zone is it in?

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 1:47_

`kubectl get node `:
[code]

`gcloud compute instances list`:
[code]

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 1:49_

I can post the full log from ingress controller start if that helps.

[2017-10-11 17:43] bowei commented on #29
_From @bprashanth on February 14, 2017 1:51_

Does the node in question (kst4) have the right failure-domain label? you should see something like `failure-domain.beta.kubernetes.io/zone=us-central1-b` in the output of kubectl get node --show-labels

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 2:25_

`kubectl get node --show-labels`:
[code]

[2017-10-11 17:43] bowei commented on #29
_From @bprashanth on February 14, 2017 18:44_

Ah, so it does appear to have the right label. Can you ssh into that node and try to retrieve the instance via gcloud? (i.e gcloud compute instances describe gke-tony-test-default-pool-42a243ce-kst4, and gcloud compute backend-services list. I'm trying to confirm that your nodes have the right oauth_scopes as shown here: https://github.com/kubernetes/

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 22:11_

Yep, I ssh-ed into the node:

[code]

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 22:12_

This is a node in a GKE cluster with the following scopes (1 pool only):
<img width="263" alt="image" src="https://cloud.githubusercontent.com/assets/3250776/22951836/831266aa-f2bf-11e6-877d-e81ccd733b5b.png">

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 14, 2017 22:24_

[code]

On `gke-tony-test-default-pool-995fe96e-slt7`, where the GLBC is, I can;
`gcloud compute instances describe gke-tony-test-default-pool-995fe96e-slt7 --zone us-central1-b`,
`gcloud compute instances describe gke-tony-test-default-pool-cfc042b6-6w44 --zone us-central1-f`, and
`gcloud compute instances describe gke-tony-test-default-pool-42a243ce-ks

[2017-10-11 17:43] bowei commented on #29
_From @bprashanth on February 16, 2017 18:42_

Ah, sorry for the delay, I suspect what's happening is the node that's running the controller is only able to view nodes in the same zone. We pipe a bunch of metadata into the controller via a volume mount on the master, when run on the node, this metadata doesn't exist, and so the lookup fails cross-region.

I believe the faulty lookup is embedded in

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 21, 2017 17:36_

Thanks for the guidance, I follow your logic. However after including this file into the 3 nodes of the cluster, it is still showing the same error.

This is the file I set (same for all three) as a result of the grep:

[code]

Confirmed that it exists with the right contents inside the `l7-lb-controller` container in the pod.

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 21, 2017 17:41_

This is the modified `rc.yaml` I used to mount the conf file:

[code]

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 21, 2017 19:27_

Got some progress when I added `multizone = true` (from [this SO answer](http://stackoverflow.com/questions/37931309/gce-instance-not-found)) to the `/etc/gce.conf` file and changed the `node-tags` field to be only 1 tag (instead of 2)~~, however it is unable to get an IP address~~.

[code]

This warning seems interesting though: `W0221 19:15:36.266932

[2017-10-11 17:43] bowei commented on #29
_From @tonglil on February 21, 2017 23:24_

That actually solves the `instance not found` error, thank you.

Is there a way to run my fork of the ingress controller without having to set this file on the instance manually (aka should this be a fix for kubernetes/GKE)?

[2017-10-11 17:44] bowei opened #30 "Some links in 'ingress' repo GCE release notes are 404"
_From @whereisaaron on February 20, 2017 21:59_

With each GCE release in this 'ingress' repo, including 'GCE: 0.9.1', the release notes have links to the old 'contrib' repo that are (now) 404:

https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/README.md#troubleshooting
https://git

[2017-10-11 17:44] bowei commented on #30
_From @zjj2wry on August 7, 2017 18:34_

/assign

[2017-10-11 17:44] bowei commented on #30
_From @k8s-ci-robot on August 7, 2017 18:34_

@zjj2wry: GitHub didn't allow me to assign the following users: zjj2wry.

Note that only [kubernetes members](https://github.com/orgs/kubernetes/people) can be assigned.

<details>

In response to [this](https://github.com/kubernetes/ingress/issues/310#issuecomment-320744507):

Instructions for interacting with me using PR comments are available [here]

[2017-10-11 17:44] bowei commented on #30
_From @zjj2wry on August 8, 2017 9:52_

these link in gce release-note. i don't have permission update it. but i find some other broken link by search ```https://github.com/kubernetes/contrib``` in the repository. so reference it to this issue.

[2017-10-11 17:44] bowei opened #31 "[GLBC] GCE resources of non-snapshotted ingresses are not deleted"
_From @nicksardo on March 13, 2017 20:34_

For the GLBC to know about load balancer GCE resources, it must first have snapshotted an ingress object that created those resources. This happens when an ingress object is deleted while the GLBC is offline or starting up.

The following are test logs from gce-gci-latest-upgrade-etcd:

Successful Test #334 : [glbc.log](https://storage.googleapis.com/kube

[2017-10-11 17:44] bowei opened #32 "[GLBC] Changing front-end configuration does not remove unnecessary target proxies/ssl-certs"
_From @tonglil on March 20, 2017 17:59_

Porting this issue from contrib over: https://github.com/kubernetes/contrib/issues/1517.

There is no enforcement of the annotation `kubernetes.io/ingress.allow-http: "false"` when it is set to false, after previously being set to true or unset.

See during the edge hop:
- Checks annotation: https://github.com/kubernetes/ingress/blob/37bdb3952e090e50f44207a

[2017-10-11 17:44] bowei commented on #32
_From @nicksardo on April 21, 2017 19:7_

No deletion/cleanup happens when removing the TLS section or pre-shared cert annotation.  Will rename this to be more general.

[2017-10-11 17:44] bowei commented on #32
_From @nicksardo on April 24, 2017 18:41_

Furthermore, if you disable TLS on an active ingress, then delete the ingress resource, the controller will fail to destroy resources. It doesn't try deleting the https forwarding rule or https target proxy, which means the URL map is still used.

[2017-10-11 17:44] bowei commented on #32
_From @montanaflynn on August 7, 2017 23:3_

Any updates on this? We have a production ingress and are looking for a workaround.

[2017-10-11 17:44] bowei commented on #32
_From @nicksardo on August 7, 2017 23:19_

@montanaflynn There's no fix yet.

You should be able to delete the HTTP forwarding rule and target proxy manually in the GCP Console.  Highly recommend duplicating the issue in a test cluster and trying it out first.

[2017-10-11 17:45] bowei opened #33 "Use GCE load balancer controller with backend buckets"
_From @omerzach on February 28, 2017 1:20_

We're happily using the GCE load balancer controller in production to route traffic to a few different services. We'd like to have some paths point at backend buckets in Google Cloud Storage instead of backend services running in Kubernetes.

Right now if we manually create this backend bucket and then configure the load balancer to point certain paths a

[2017-10-11 17:45] bowei commented on #33
_From @bprashanth on March 7, 2017 3:39_

I don't think there's an immediate work around, as the controller will construct a url map based on your ingress and sync it continuously.

Something that says: serve static content for these paths from a content cache backed by [S3, GCS, memory etc] sounds like a good idea. We should allow GCE L7 x in-memory cache, but for the first cut we might get away

[2017-10-11 17:45] bowei commented on #33
_From @ConradIrwin on March 29, 2017 22:16_

@nicksardo thanks for picking this up!

I'd also like to be able to proxy certain paths to CloudStorage — let me know if you want a sounding board for design decisions.

[2017-10-11 17:45] bowei commented on #33
_From @bbzg on April 30, 2017 8:14_

This would be _very_ useful for us. Has there been any progress since March?

[2017-10-11 17:45] bowei commented on #33
_From @thockin on May 1, 2017 4:16_

As far as I know, nobody is looking at this right now.  What I don't want
to do is make Ingress a proxy-API for all of GCLB..

On Sun, Apr 30, 2017 at 1:15 AM, bbzg <notifications@github.com> wrote:

[2017-10-11 17:45] bowei commented on #33
_From @ConradIrwin on May 1, 2017 4:50_

Tim. The ingress API is very convenient, but I see your argument. Would it make more sense to make it a GCLB "controller" instead?Sent via SuperhumanOn Sun, Apr 30, 2017 at 9:16 PM, Tim Hockin<notifications@github.com>wrote:As far as I know, nobody is looking at this right now.  What I don't want
to do is make Ingress a proxy-API for all of GCLB..

On Sun,

[2017-10-11 17:45] bowei commented on #33
_From @thockin on May 1, 2017 5:7_

I'm not sure.  It could go a couple ways.

We could clearly denote where our controller will revert manual changes and
where it won't, so you could make these changes manually (or by other
controller).  We could consider additional annotations for this, but it is
a slippery slope.  Other ideas?

On Sun, Apr 30, 2017 at 9:50 PM, Conrad Irwin <notifications@github

[2017-10-11 17:45] bowei commented on #33
_From @ConradIrwin on May 1, 2017 5:18_

I'd be happy with a less magic API between the two — i.e. I could manually configure a load balancer if kubernetes gave me a  backend I could point it to (or maybe just an instance-group + port?)Sent via SuperhumanOn Sun, Apr 30, 2017 at 10:07 PM, Tim Hockin<notifications@github.com>wrote:I'm not sure.  It could go a couple ways.

We could clearly denote wh

[2017-10-11 17:45] bowei commented on #33
_From @gcbirzan on July 20, 2017 13:58_

As a workaround for this issue, wouldn't not touching rules that kubernetes cannot create (i.e. those not pointing to a backend service, but to a bucket) be okay?

As a side note, we had this working on 1.6.x, but after upgrading it started removing the extra rules in the url map...

[2017-10-11 17:45] bowei commented on #33
_From @c3s4r on July 26, 2017 22:24_

Any updates on this? Is it scheduled? Is there a timeline? ... Since I want the content served using https, right now the only workaround I can think on is to manually create another load balancer (not using ingress) just for the static content, which I don't like because it adds the cost of an additional load balancer :(

[2017-10-11 17:45] bowei commented on #33
_From @lostpebble on July 29, 2017 10:16_

Just coming across this now after finishing setting up backend buckets for our system...

This is a major set back for us trying to set up static file routes alongside our server backends. I agree with @gcbirzan that perhaps the load balancer should be updated for the values that Kubernetes can control rather than replaced wholly (and in the process remov

[2017-10-11 17:45] bowei commented on #33
_From @jakobholmelund on September 27, 2017 13:35_

Any news on this ?

[2017-10-11 17:49] bowei opened #34 "[GCE] 502 page - how to avoid it and how to personalize it"
_From @esseti on September 20, 2017 9:22_

Hello,
i've a problem with the ingress and the fact that the 502 page pops up when there are "several" request. I've a JMeter spinning 10 threads for 20 times, and I get more than 50 times the 502 over 2000 calls in total (less than 0,5%).

reading the [readme](https://github.com/kubernetes/ingress/tree/master/controllers/gce#troubleshooting) it says
it s

[2017-10-11 17:49] bowei commented on #34
_From @nicksardo on September 26, 2017 16:12_

https://serverfault.com/questions/849230/is-there-a-way-to-use-customized-502-page-for-load-balancer
This is a question for GCP, not the ingress controller. Though, I suggest you investigate why you're getting 502s.

[2017-10-11 17:49] bowei commented on #34
_From @esseti on September 29, 2017 9:53_

Regarding the several 502, i found out that it's due to how long the LB keeps the connection alive vs what the container provides as keepalive timout. it's explained here (point 3) https://blog.percy.io/tuning-nginx-behind-google-cloud-platform-http-s-load-balancer-305982ddb340

In my case I also added a timout of 5s to the probe, not sure but that solved

[2017-10-11 17:49] bowei opened #35 "GCE: ingress only shows the first backend's healthiness in `backends` annotation"
_From @MrHohn on September 20, 2017 1:43_

From https://github.com/kubernetes/features/issues/27#issuecomment-330589051.

We attach `backends` annotation to ingress object after LB creation:
[code]

And from the implementation:
https://github.com/kubernetes/ingress/blob/937cde666e533e4f70087207910d6135c672340a/controllers/gce/backends/backends.go#L437-L452

Using only the first backend's healthine

[2017-10-11 17:49] bowei commented on #35
_From @yastij on September 20, 2017 14:50_

@MrHohn - anyone working on this one ? if not I can send a PR

[2017-10-11 17:49] bowei commented on #35
_From @MrHohn on September 20, 2017 20:57_

@yastij  Nope, though I'm not quite sure how should we present the backends healthiness in annotation --- for huge cluster, we might have too many backends (nodes). It also seems unwise to append all of them via annotation...

cc @nicksardo

[2017-10-11 17:49] bowei commented on #35
_From @yastij on September 20, 2017 21:13_

Maybe state healthy when all the backends are (checking all backends) , and unhealthy when some are (specifying which ones aren't healthy)

[2017-10-11 17:49] bowei commented on #35
_From @MrHohn on September 20, 2017 21:18_

Yeah that sort of makes sense, though for the `externlTrafficPolicy=Local` case, some of the backends (nodes) may intentionally fail LB healthcheck so that traffic will only go to nodes that contains backend pods. Showing this as unhealthy may scare users, and it isn't actually unhealthy :(

[2017-10-11 17:49] bowei commented on #35
_From @yastij on September 20, 2017 21:59_

@MrHohn - we can detect this case nope ? if it is set to `Local` we can ignore the unhealthy status ?

[2017-10-11 17:49] bowei commented on #35
_From @nicksardo on September 25, 2017 23:29_

I do not know if people use externalTrafficPolicy=Local with ingress (I've never tried it) and it's not something we document with ingress. It may technically work, but I don't know how well it works in production with rolling updates and other edge cases. Although if we wanted to support that case, another option is to correlate the instance status w

[2017-10-11 17:49] bowei opened #36 "GCE: WebSocket: connection is broken CloseEvent {isTrusted: true, wasClean: false, code: 1006, reason: "", type: "close", …}"
_From @unfii on August 29, 2017 13:28_

Last ingress GCE.

in ingress logs.

[code]

[code]

And also default deployment from
https://github.com/kubernetes/ingress/tree/master/examples/deployment/gce

In console we see.

`WebSocket: connection is broken CloseEvent {isTrusted: true, wasClean: false, code: 1006, reason: "", type: "close", …}`

How to fix it?

_Copied from original issue: kubernetes/

[2017-10-11 17:50] bowei opened #37 "Why does GCE ingress defer promoting static IP"
_From @tonglil on March 8, 2017 17:40_

Something I have thought about for a while but haven't been able to reason about: https://github.com/kubernetes/ingress/blob/master/controllers/gce/loadbalancers/loadbalancers.go#L603-L608.

This seems like both :80 and :443 needs to be set before an IP can be promoted to static. Is there a reason why? I've git blamed and the past doesn't show a good reason

[2017-10-11 17:50] bowei commented on #37
_From @tonglil on May 8, 2017 23:4_

I would like to propose a change (and I can implement it) to fix what seems to be like undesired/confusing static IP behavior:

allowHTTP | TLS enabled (via secret or pre-shared cert) | result | ports
--- | --- | --- | ---
default/true | none | ephemeral | port 80
false | none | ephemeral | no ports
default/true | yes | static | port 80, 443
false | yes | ephem

[2017-10-11 17:50] bowei commented on #37
_From @nicksardo on May 8, 2017 23:28_

Hey @tonglil, thanks for following up on this. With all the ingress bugs, this has been low priority.

I'm sure you know that it's necessary to have a static ip for the third case to work at all. But the fourth case doesn't mandate a static ip, right? Why does HTTPS mandate a static ip? I believe the original ingress author chose this logic because static IP

[2017-10-11 17:50] bowei opened #38 "Does/will the GCE ingress controller support whitelist-source-range?"
_From @nickform on April 6, 2017 12:11_

Can anyone comment on when we will be able to use the 'whitelist-source-range' annotation with the GCE Ingress Controller? From Googling plus experimentation the answer is not "it works right now" but perhaps we've made a mistake? If not, is this something which might happen in future? Thanks!

_Copied from original issue: kubernetes/ingress-nginx#566_

[2017-10-11 17:50] bowei commented on #38
_From @nicksardo on April 6, 2017 17:59_

The L7 Google Cloud Load Balancer does not currently have firewall rules for source IPs. I'll keep this open in case the load balancer supports it in the future.

[2017-10-11 17:50] bowei commented on #38
_From @albertsun on April 28, 2017 17:6_

This would be extremely useful to have. @nicksardo is there an open issue somewhere for the L7 LB to support source IP firewall rules where we can track the status of it?

[2017-10-11 17:50] bowei commented on #38
_From @nicksardo on April 28, 2017 17:30_

https://issuetracker.google.com/issues/35904903

[2017-10-11 17:50] bowei opened #39 "GCE health check does not pick up changes to pod readinessProbe"
_From @ConradIrwin on April 11, 2017 4:22_

Importing this issue from https://github.com/kubernetes/kubernetes/issues/43773 as requested.

**Kubernetes version** (use `kubectl version`): 1.4.9

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I created a

[2017-10-11 17:50] bowei commented on #39
_From @ConradIrwin on April 11, 2017 4:22_

Comment by @nicksardo:

There's actually a TODO for deciding what to do in this case https://github.com/kubernetes/ingress/blob/6ed6475e87588494dd29ba5d33bac167ae8acfdd/controllers/gce/healthchecks/healthchecks.go#L71 The controller doesn't want to overwrite handmade changes. We could probably update the settings if they have the default value.

[2017-10-11 17:50] bowei commented on #39
_From @porridge on April 11, 2017 7:45_

But updating from default value would lead to confusing behavior where only
the first change is propagated, and it's not even possible to go back to
default, by changing the ingress, right?

I think it's reasonable to assume that if the ingress controller knows how
to manage a setting, it will overwrite manual changes.

[2017-10-11 17:50] bowei commented on #39
_From @nicksardo on April 11, 2017 16:23_

I agree that it's reasonable and would be an easy solution. However, I worry about unsuspecting users who upgrade their master and find their load balancer throwing 502s. Would creating an event on health check update be sufficient? Thoughts from other users?

[2017-10-11 17:50] bowei commented on #39
_From @ConradIrwin on April 11, 2017 16:31_

Is there any way that the "ingress controller"? can track whether the value was set automatically?

[2017-10-11 17:50] bowei commented on #39
_From @nicksardo on April 11, 2017 16:56_

The controller does not have persistent storage. One option would be to convert the health check settings to JSON and store the state in the HealthCheck's optional description field for tracking diffs, but this seems very ugly.

[2017-10-11 17:50] bowei commented on #39
_From @nicksardo on April 11, 2017 16:56_

cc @ibawt

[2017-10-11 17:50] bowei commented on #39
_From @porridge on April 11, 2017 16:57_

What do you mean by "creating an event on health check update"?

[2017-10-11 17:50] bowei commented on #39
_From @nicksardo on April 11, 2017 17:10_

If the controller sees a health check with settings different from default/readinessProbe, it updates the check then could create a K8s event for each parent ingress. If readiness probe exists, event could say, "Health Check for port 3XXXX updated to readinessProbe settings". If probe doesn't exist, "Health check for port 3XXXX updated to default settings

[2017-10-11 17:50] bowei commented on #39
_From @ConradIrwin on April 11, 2017 17:21_

Just my 2c: As a kubernetes user, I have no idea how to use events — they
seem too transient to be useful (i.e. it's impossible to see when they
actually happened, and I've never seen an event that's helped me to run my
cluster better).

It might just be a UI problem — if there was a way of just tailing the
event logs, then I might comprehend them bette

[2017-10-11 17:50] bowei commented on #39
_From @kilianc on May 14, 2017 21:36_

Is there any workaround to make it pick up the changes, even manually?

[2017-10-11 17:50] bowei commented on #39
_From @kilianc on May 14, 2017 21:50_

To answer my own question and for everybody landing here with the same problem, rotate the name of the service in your rule or backend and the controller will pick up the path correctly. I assume this could be done with 0 downtime creating a new rule and deleting the old one.

[2017-10-11 17:50] bowei commented on #39
_From @bviolier on June 8, 2017 7:26_

We actually encountered an issue yesterday in regards to readinessProbes and health checks on GCE. A while ago we had some difficulties with setting up the health-check correctly through Kubernetes, adding that it doesn't pick up changes, we decided to manually update the health-check on the GCE side, everything worked.
Yesterday we updated our master to 1.6.

[2017-10-11 17:50] bowei commented on #39
_From @bviolier on June 8, 2017 7:34_

Another gotcha, when using the example provided, https://github.com/kubernetes/ingress/blob/6ed6475e87588494dd29ba5d33bac167ae8acfdd/controllers/gce/examples/health_checks/health_check_app.yaml, if you remove the `ports.containerPort`, the GCE ingress health check sets defaults, and can't process the readinessProbe. This might be expected behavior, but at lea

[2017-10-11 17:50] bowei commented on #39
_From @nicksardo on June 8, 2017 15:34_

@bviolier

Regarding your last comment, `containerPort` is a [required attribute](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L1265-L1266) for defining a port of a container. How would you expect to serve network traffic without defining it?

Regarding your loss of manual health check settings, the latest version of the controller

[2017-10-11 17:50] bowei commented on #39
_From @bviolier on June 8, 2017 15:52_

@nicksardo Thanks for the information!

I was not aware that the `containerPort` was a required attribute. But, the pod/services also worked fine without it. The health-check was also working (although after manual editing the path), so traffic could get into the pods through the port specified in the `readinessProbe`, and without the `containerPort`.

Makes

[2017-10-11 17:50] bowei commented on #39
_From @nicksardo on June 9, 2017 20:56_

@bviolier
In case you aren't aware, if your service is using externalTraffic=Global (default), then the other settings aren't very useful.  Traffic from the load balancer hits any of the nodes and kube-proxy will route the traffic to a random node. This makes health checking close to useless as you won't have consistent data for a node. readinessProbes/live

[2017-10-11 17:50] bowei opened #40 "[GLBC] Garbage collection runs too frequently - after every sync"
_From @nicksardo on April 28, 2017 22:5_

GC runs at the end of every sync for ever ingress. If there are many ingress objects, this results in many GCP calls. It's even more troublesome in the case of federated clusters.

We should perform a loadbalancer-specific GC on delete notification, but only run cluster-wide GC on a less frequent basis, such as resyncPeriod (set to 10min).
cc @madhusudancs

[2017-10-11 17:51] bowei opened #41 "[GLBC] Surface event when front-end not created"
_From @pijusn on May 4, 2017 11:2_

I recently ran following Shell script with given Kubernetes definitions and after some time, GLBC was created but it did not get any front-end created.

[code]

Here are all YAML files merged into one:
[code]

I expected HTTPS front-end to be created. It was a fresh project, fresh cluster so no quotes were kicking in.

After I removed `kubernetes.io/ingress.allo

[2017-10-11 17:51] bowei commented on #41
_From @tonglil on May 8, 2017 21:50_

Ok, so there are a few things here that result in you seeing what you see.

Firstly, [kube-lego](https://github.com/jetstack/kube-lego) needs to be install in your cluster for the `tls-acme` annotation to work (for getting a cert from letsencrypt).

Secondly, because there is no cert in the cluster (from kube-lego) AND http is disabled, then no front-end will

[2017-10-11 17:51] bowei commented on #41
_From @nicksardo on May 8, 2017 22:6_

@tonglil Correct me if I'm wrong, but I believe for labeling power you must be an org member and get write permission for the repo. With the start of the governance, I think all org changes are frozen for the time being.

[2017-10-11 17:51] bowei commented on #41
_From @tonglil on May 8, 2017 22:14_

Gotcha, no worries. Happy to apply again another time.

[2017-10-11 17:51] bowei commented on #41
_From @pijusn on May 9, 2017 4:33_

@tonglil I actually used a self-signed certificate. See (you can also find it in the Shell script I pasted earlier):

[code]

I would expect Kubernetes not to depend on kube-lego. To be specific, I would expect it to create an HTTPS frontend with the provided certificate even if it's not trusted, is issued for a different domain or whatever.

I now know that kub

[2017-10-11 17:51] bowei commented on #41
_From @tonglil on May 9, 2017 5:12_

@pijusn oops, sorry I missed that part.

What happens if you do this:

[code]

You can also see if there are any events emitted by the Ingress with `kubectl describe ingress echoserver`.

[2017-10-11 17:51] bowei commented on #41
_From @nicksardo on May 9, 2017 5:37_

I'm betting you're creating the secret in the `default` namespace but the ingress exists in `echoserver`.  It really should be surfaced as an event when the tls cert cannot be fetched.

[2017-10-11 17:51] bowei commented on #41
_From @pijusn on May 9, 2017 6:10_

@nicksardo I think you are right. That would certainly make sense. I will verify it some time this week. Thank you for pointing it out.

[2017-10-11 17:51] bowei commented on #41
_From @sebbov on September 15, 2017 16:54_

+1 I also hit this issue and was at a loss to find out what the issue was.  The target proxy and global forwarding rule would just not be created.  Users should have visibility into any errors in ingress => GCP object creation pipeline.

FWIW, in my case, the TLS secret did exist in the correct namespace, but because of the way I had created it, a botche

[2017-10-11 17:52] bowei opened #42 "Ingress Healthcheck Configuration"
_From @freehan on May 15, 2017 21:25_

On GCE, ingress controller sets up default healthcheck for backends. The healthcheck will point to the nodeport of backend services on every node. Currently, there is no way to describe detail configuration of healthcheck in ingress. On the other side, each application may want to handle healthcheck differently. To bypass this limitation, on Ingress creation,

[2017-10-11 17:52] bowei commented on #42
_From @k8s-ci-robot on May 15, 2017 21:25_

@freehan: These labels do not exist in this repository: `sig/network`.

<details>

In response to [this](https://github.com/kubernetes/ingress/issues/720):

Instructions for interacting with me using PR comments are available [here](https://github.com/kubernetes/community/blob/master/contributors/devel/pull-request-commands.md).  If you have questions or

[2017-10-11 17:52] bowei commented on #42
_From @tonglil on August 14, 2017 20:8_

For option 3, is the "default healthcheck" hitting the "default-backend"?

[2017-10-11 17:52] bowei opened #43 "[GLBC] LB garbage collection orphans named ports in instance groups"
_From @nicksardo on May 8, 2017 18:54_

The GLBC does not remove the named port from an instance group when a backend is being deleted.

If users are frequently created/deleting services and ingresses, instance groups will become polluted with old node ports. Eventually, users will hit a max limit.
[code]

Temporary workaround
[code]
Modify the region and list of zone suffix in the script.

_Copie

[2017-10-11 17:52] bowei commented on #43
_From @nicksardo on May 26, 2017 22:20_

Requires https://github.com/kubernetes/kubernetes/pull/46457

[2017-10-11 17:52] bowei commented on #43
_From @porridge on June 5, 2017 12:44_

I see that the dependency was merged a week ago. Is there a plan/ETA for this one?

[2017-10-11 17:52] bowei commented on #43
_From @nicksardo on June 5, 2017 17:33_

@porridge I'm waiting on one more PR to merge before we can update this repo's vendored dependencies.

I expect to have a fix in for the next release of GLBC, but there's no ETA for that just yet.

[2017-10-11 17:52] bowei commented on #43
_From @pawloKoder on July 4, 2017 15:54_

Any update on this issue?

[2017-10-11 17:52] bowei commented on #43
_From @G-Harmon on September 27, 2017 23:53_

Hi, I'm starting to work on this now, as my first Kubernetes fix.

[2017-10-11 17:53] bowei opened #44 "GLBC: Each ingress sync updates resources for all ingresses"
_From @nicksardo on July 11, 2017 23:58_

For every ingress, the controller runs resource synchronization for all ingresses, thus resulting in unnecessary work.

Furthermore, if a GCP error occurs when handling one of the ingress resources, an event will be raised for every ingress resource.

_Copied from original issue: kubernetes/ingress-nginx#950_

[2017-10-11 17:53] bowei commented on #44
_From @thockin on August 3, 2017 16:46_

What event?

[2017-10-11 17:53] bowei commented on #44
_From @nicksardo on August 3, 2017 17:10_

A K8s Event record noting an error/warning message.

Take a look at this code: https://github.com/kubernetes/ingress/blob/7b38e5a36ed7e097e1cd98aca0f37c504059ab4c/controllers/gce/controller/controller.go#L311-L320
Checkpoint (https://github.com/kubernetes/ingress/blob/7b38e5a36ed7e097e1cd98aca0f37c504059ab4c/controllers/gce/controller/cluster_manager.go#L

[2017-10-11 17:53] bowei commented on #44
_From @thockin on August 3, 2017 17:12_

blech!

On Thu, Aug 3, 2017 at 10:10 AM, Nick Sardo <notifications@github.com>
wrote:

[2017-10-11 17:53] bowei opened #45 "controllers/gce/README.md doc review"
_From @ensonic on July 12, 2017 9:54_

https://github.com/kubernetes/ingress/blob/master/controllers/gce/README.md#the-ingress

[code]
You probably want to say that it does not support https when communicating with the backends. There is a chapter on TLS termination below.

---
https://github.com/kubernetes/ingress/blob/master/controllers/gce/README.md#creation
[code]
This seems to be outdated:
[c

[2017-10-11 17:53] bowei commented on #45
_From @ensonic on July 12, 2017 12:23_

Please double check that one needs to actually deploy the
kubectl create -f https://raw.githubusercontent.com/kubernetes/ingress/master/controllers/gce/rc.yaml

In my gce installation I do have deployment in kube-system ns called 'l7-default-backend', but there is no glbc deployment. Still if I don't deploy the rc.yaml everything works (that is the ingress g

[2017-10-11 17:53] bowei commented on #45
_From @nicksardo on July 12, 2017 17:11_

Agreed that the GCE readme is a mess. It's quite verbose yet unhelpful at the same time. You're welcome to help clean it up.

Actually, front and backend HTTPS is supported. This sentence needs to be removed.

Regarding the outdated replicationcontroller and commands, would you like to tackle this in a PR?

The default backend does not have a `readinessPro

[2017-10-11 17:53] bowei commented on #45
_From @ensonic on July 13, 2017 7:38_

I've started a PR here: https://github.com/kubernetes/ingress/pull/962

For the "replication-controller and commands" - I am running on GKE and hence I don't think there are equivalents for these commands - or is tehre are way to lok at the logs of the ingress controller? I think the logs are quite useful (e.g. to discover the SNI issue). Once we confirmed th

[2017-10-11 17:53] bowei commented on #45
_From @ensonic on July 19, 2017 17:24_

I am happy to send more PRs if you could please reply.

[2017-10-11 17:53] bowei opened #46 "multiple TLS certs are not correctly handled by GCE (no SNI support)"
_From @ensonic on July 12, 2017 10:9_

I have setup and ingress for 3 microservices under 3 subdomains, each having their own cert.
When I startup the ingree I see this in the l7-lb-controller log:
W0712 10:01:30.733403       1 tls.go:58] Ignoring 2 certs and taking the first for ingress default/tls-termination

IMHO that cannot work and indeed I get a single cert applied to all 3 subdomains and a

[2017-10-11 17:53] bowei commented on #46
_From @ensonic on July 12, 2017 12:44_

Erm, the docs (https://github.com/kubernetes/ingress/blob/master/controllers/gce/README.md#frontend-https) say "This controller does not support SNI, so it will ignore all but the first cert in the TLS configuration section." - are you planning to fix this?

[2017-10-11 17:53] bowei commented on #46
_From @nicksardo on July 12, 2017 15:43_

GCP's HTTP(S) LB does not support SNI.
https://issuetracker.google.com/issues/35904767

[2017-10-11 17:53] bowei commented on #46
_From @ensonic on July 13, 2017 7:21_

Would it make sense to mention this here: https://github.com/kubernetes/ingress/blob/master/controllers/gce/BETA_LIMITATIONS.md ?

[2017-10-11 17:53] bowei commented on #46
_From @munnerz on September 11, 2017 10:36_

It looks like GCE now does in fact support SNI https://issuetracker.google.com/issues/35904767#comment47
:tada:

[2017-10-11 17:53] bowei commented on #46
_From @munnerz on September 11, 2017 10:40_

It looks like the code in question that'll need changing mostly resides here: https://github.com/kubernetes/ingress/blob/master/controllers/gce/loadbalancers/loadbalancers.go (search for `TLS`)

[2017-10-11 17:53] bowei commented on #46
_From @mhr3 on September 14, 2017 11:58_

Looks like adding the extra certificate to the load balancer on GCE works fine, but k8s can't set it up properly atm.

[2017-10-11 17:54] bowei opened #47 "GLBC: Ingress can't be properly created: Insufficient Permission"
_From @bbzg on July 16, 2017 11:36_

I recently upgraded to kubernetes 1.7 with RBAC on GKE, and I am seeing this problem:

[code]

I have double-checked my quotas, and they are all green.

I have also tried granting the Node service account `Project > Editor` permissions, and I have added the Node service account to the `cluster-admin` ClusterRole, just in case it had anything to do with that (wh

[2017-10-11 17:54] bowei commented on #47
_From @nicksardo on July 16, 2017 17:35_

@bbzg There's a bug with 1.7 that causes this problem for the ingress controller on manual GCP networks. If you contact GKE support, they can mitigate it for you.

[2017-10-11 17:54] bowei commented on #47
_From @bbzg on July 16, 2017 18:20_

Great, I will contact support!

Is there anything I can do to avoid this on the production cluster, when I upgrade it to 1.7?

@nicksardo

[2017-10-11 17:54] bowei commented on #47
_From @icereval on July 17, 2017 1:32_

Will this issue be expected to go away if I wait for say 1.7.1+ or do we need to contact support in either case?

[2017-10-11 21:52] bowei opened #49 "GLBC: Ingress can't be properly created: Insufficient Permission"
_From @bbzg on July 16, 2017 11:36_

I recently upgraded to kubernetes 1.7 with RBAC on GKE, and I am seeing this problem:

[code]

I have double-checked my quotas, and they are all green.

I have also tried granting the Node service account `Project > Editor` permissions, and I have added the Node service account to the `cluster-admin` ClusterRole, just in case it had anything to do with that (wh

[2017-10-11 21:52] bowei commented on #49
_From @nicksardo on July 16, 2017 17:35_

@bbzg There's a bug with 1.7 that causes this problem for the ingress controller on manual GCP networks. If you contact GKE support, they can mitigate it for you.

[2017-10-11 21:52] bowei commented on #49
_From @bbzg on July 16, 2017 18:20_

Great, I will contact support!

Is there anything I can do to avoid this on the production cluster, when I upgrade it to 1.7?

@nicksardo

[2017-10-11 21:52] bowei commented on #49
_From @icereval on July 17, 2017 1:32_

Will this issue be expected to go away if I wait for say 1.7.1+ or do we need to contact support in either case?

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 1:40_

How exactly does one contact GKE support? I am also experiencing this issue, all quotas look fine, but all my ingress broke. Took every site in my cluster offline. =(

[2017-10-11 21:52] bowei commented on #49
_From @nicksardo on July 17, 2017 1:42_

@bbzg @icereval This and another issue regarding the service controller (https://github.com/kubernetes/kubernetes/issues/48848) will be fixed in a forked, patched version of 1.7.1 on GKE.  For anyone running their own K8s clusters on GCE, you'll have to wait for the 1.7.2 cut.

In general, major releases have a higher likelihood of bugs. Would recommend avo

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 1:44_

@nicksardo any suggestions on best immediate steps. Right now I have 5 sites offline and no idea how to get them back up. Is there an ETA for 1.7.1 on GKE?

[2017-10-11 21:52] bowei commented on #49
_From @nicksardo on July 17, 2017 1:57_

@zquestz It shouldn't take your sites offline. It should stop the controller from updating if you make changes to the ingress resource.

See https://cloud.google.com/support/#comparison for details on support levels. Don't quote me on this, but I believe 1.7.1 might be available sometime tomorrow.

For manual mitigation, I think your best bet is to manage t

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 2:9_

Yeah I can't even open a ticket without paying $150/mo... to fix something I didn't break. Anyhow, will look forward to the update soon. =\

Do you know if disabling RBAC fixes the issue?

[2017-10-11 21:52] bowei commented on #49
_From @icereval on July 17, 2017 2:40_

@zquestz, I'll give this a go in my test cluster.

I too have experienced my entire cluster w/o ingress after simply upgrading to 1.7.0 w/o even doing a single operation.

Google Support might want to consider pulling 1.7.0 ASAP

[2017-10-11 21:52] bowei commented on #49
_From @bbzg on July 17, 2017 6:56_

I contacted support, and they replied:

@nicksardo

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 7:27_

@bbzg thanks for the update! Seems they are only reporting one of the issues on the Google Cloud status page. https://status.cloud.google.com/

Seems they really should be listing this issue as well.

[2017-10-11 21:52] bowei commented on #49
_From @icereval on July 17, 2017 9:13_

This might just be the result of a failed upgrade from the issue @nicksardo  referenced, but here is where my cluster was breaking down.

Apparently something went awry w/ the cluster upgrade and it removed my GKE Instances from the `k8s-ig-<guid>` Instance Group thus disallowing any traffic including health checks to the cluster's `NodePorts` and bringing e

[2017-10-11 21:52] bowei commented on #49
_From @numbsafari on July 17, 2017 12:45_

In my case, I am not using LoadBalancer services directly, but rather trying to take advantage of the new support for the `kubernetes.io/ingress.global-static-ip-name` annotation on my Ingress resources. I was attempting to test this out on a newly created 1.7 test cluster (trying to test some other new-in-1.7 features as well). Still working through the

[2017-10-11 21:52] bowei commented on #49
_From @bbzg on July 17, 2017 13:16_

After a lot of back-and-forth with google support, the issue is still unresolved and will not be resolved until tomorrow, when the support person comes back to work... Not very satisfied with my "gold level support" at this point to be quite honest.

[2017-10-11 21:52] bowei commented on #49
_From @thkoch2001 on July 17, 2017 13:50_

Hello bbzg@. I'm from support. Can you please send me your support ticket number to thk at google dot com? Or tell the support agent to have a look at my comment here and to consult the case to me.
Thank you.

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 17:2_

@icereval This also helped me get 4/5 sites back online. For some reason this wasn't enough for one of my sites. Still investigating. Thanks a bunch, you were more help than Google Support. =)

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 17:27_

@icereval also, even with that changed I see the error still happening, even though some sites went back online.

[code]

[2017-10-11 21:52] bowei commented on #49
_From @icereval on July 17, 2017 18:9_

@zquestz, the change will only get your existing Ingress back online, any new ingress cannot be deployed until there is a software release to fix this issue.

Google control's the glbc l7 controller via the master now so it is not easy to just roll back a version either.

In theory it should be possible to manually setup or even fix the existing ingress for

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 18:12_

@icereval yep that is exactly what I am seeing. It was the one ingress I tried recreating that didn't come back online. All the others that required a mere update to an existing rule came back up as expected.

Really appreciate your help on this. Really surprised this issue wasn't caught in testing... you would think ingress setup is used extensively enough

[2017-10-11 21:52] bowei commented on #49
_From @bbzg on July 17, 2017 18:14_

After contacting Google Support, and getting help from @thkoch2001 to get the correct assignment on my ticket, my Ingress is now working.

Good luck to all the rest of you, not everyone has Gold support like us 😞

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 17, 2017 18:30_

@bbzg can you create new ingress objects or just fixed your existing ones? I would be very curious what they did for you so I can get my last site back online. =\

[2017-10-11 21:52] bowei commented on #49
_From @bbzg on July 17, 2017 18:57_

@zquestz I'm not in a position to test that right now, unfortunately :(

[2017-10-11 21:52] bowei commented on #49
_From @mironov on July 17, 2017 22:33_

I've faced that problem too. The only option I found is to recreate the cluster on 1.6.7.
Took time but you know, it's better than just "wait for a fix"... Awful experience.

Google should have mentioned the problem with ingresses on https://status.cloud.google.com/ or even pull off the 1.7 from the upgrade choices.

[2017-10-11 21:52] bowei commented on #49
_From @QSonx on July 17, 2017 23:16_

yea I wasted most of my day trying to figure out why my Load Balancers weren't being created. We just started moving over to GKE today.

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 18, 2017 0:40_

@nicksardo We still going to see 1.7.1 today?

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 18, 2017 16:7_

Anyone have an ETA when a fix will be rolled out? I might have to migrate my sites off GCE if this continues...

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 19, 2017 3:53_

@thkoch2001 @nicksardo is there any way someone can fix my kubernetes ingress? The account is minimal@gmail.com. I have been waiting 3 days now and really need to get this resolved.

[2017-10-11 21:52] bowei commented on #49
_From @mlazarov on July 19, 2017 7:51_

@zquestz the fix from @icereval works  https://github.com/kubernetes/ingress/issues/975#issuecomment-315703512

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 19, 2017 8:14_

@mlazarov - When I first experienced the issue I tried to recreate one of my ingress endpoints. Unfortunately @icereval's fix only restored my existing unmodified ingress'. The one I tried to recreate is completely broken and I have no path forward. =\

Not to mention that even with his fix, I am still seeing a consistent stream of errors from the loadbalance

[2017-10-11 21:52] bowei commented on #49
_From @icereval on July 19, 2017 13:0_

@zquestz, fyi looks like google upgraded the master overnight w/ a custom build. Creating a new ingress appears to work as expected now.

![image](https://user-images.githubusercontent.com/3111541/28367902-8ad2ea16-6c60-11e7-83f3-eda825059752.png)

[2017-10-11 21:52] bowei commented on #49
_From @iMelnik on July 19, 2017 13:3_

@icereval  Did you do anything special to reach this version? I am stuck on 1.7.0

[2017-10-11 21:52] bowei commented on #49
_From @icereval on July 19, 2017 13:9_

@iMelnik, nothing other than posting in this issue.

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 19, 2017 16:16_

@iMelnik I also am still on 1.7.0... @icereval you didn't do anything special for them to upgrade your node? The waiting game continues.

[2017-10-11 21:52] bowei commented on #49
_From @Markbnj on July 19, 2017 17:48_

@zquestz We have a support ticket in for the same issue, and our representative indicated that the GKE team was able to mitigate the problem for clusters at 1.7.0. They still haven't actually performed the mitigation (might be getting a lot of tickets on this?), but perhaps what @icereval reported is the result of it.

[2017-10-11 21:52] bowei commented on #49
_From @zquestz on July 19, 2017 17:59_

@Markbnj problem is I don't pay for support right now... and I can't even open a ticket without paying $150 for a problem I didn't cause. Seems for downtime events that are out of my control they should at least allow me to submit an issue. =\

[2017-10-11 21:53] #49 closed

[2017-10-11 21:53] #47 closed

[2017-10-11 21:55] bowei opened #50 "Zonelister logic prevents instance removal from instance group & instance group GC"
_From @nikhiljindal on July 25, 2017 1:38_

Looking at the code (https://github.com/kubernetes/ingress/blob/a58b80017170eecbe8b2d6573b66192cafe0d32a/controllers/gce/controller/controller.go#L177), it looks like we are not doing anything when nodes are added and deleted. We should be updating the instance group when that happens.

Am I missing something?

_Copied from original issue: kubernetes/ing

[2017-10-11 21:55] bowei commented on #50
_From @nikhiljindal on July 25, 2017 1:39_

@nicksardo pointed out that the logic was removed in https://github.com/kubernetes/ingress/commit/c7c2a564a994ec28de9fe5fb0b4a1847be94e0ad#diff-9141c651905f3492033cf255f8e12fd7L176.

@aledbf Was that intentional?

[2017-10-11 21:55] bowei commented on #50
_From @nicksardo on July 25, 2017 18:18_

Quick FYI: the instance groups are eventually synced when the resync period occurs for any ingress. This may explain why nobody has noticed this in practice.

[2017-10-11 21:55] bowei commented on #50
_From @nicksardo on July 31, 2017 23:47_

This still occurs despite having the fix.  I'm guessing that the handler is called when the node is added; however, it's NotReady state prevents the instance group from being updated. I don't know why the handler isn't called again when the node becomes Ready.

[2017-10-11 21:55] bowei commented on #50
_From @aledbf on August 1, 2017 0:0_

@nicksardo maybe because the handler does not have an `UpdateFunc`?

[2017-10-11 21:55] bowei commented on #50
_From @nicksardo on August 1, 2017 0:32_

Ah, that would certainly do it. According to the comment, we don't want to have an `UpdateFunc` due to the frequency.  @nikhiljindal and I need to look more closely at the instance sync logic.

[2017-10-11 21:55] bowei commented on #50
_From @nikhiljindal on August 1, 2017 17:8_

If there was a way to find out the update, we could add an UpdateFunc that adds the node to queue only if there has been a "relevant change" in node. Node's heartbeat being updated, for example, is not a "relevant change".

[2017-10-11 21:55] bowei commented on #50
_From @nicksardo on August 1, 2017 17:14_

Right, not a quick change though.

[2017-10-11 21:55] bowei commented on #50
_From @nicksardo on August 3, 2017 0:54_

Looks like removing nodes from instances groups has never worked.
[code]

[2017-10-11 21:55] bowei commented on #50
_From @nicksardo on September 14, 2017 20:42_

Note: We also need to address node syncing with regards to large clusters. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/12/artifacts/gce-scale-cluster-master/glbc.log

[2017-10-11 21:56] bowei opened #51 "Feature request: ssl-redirect on gce controller"
_From @smeruelo on August 18, 2017 15:1_

Is there any plan to support `ingress.kubernetes.io/ssl-redirect` annotation on gce controller?

If not, what's the recommended workaround for this? Examining headers is not always possible, since backend application is often out of our control.

_Copied from original issue: kubernetes/ingress-nginx#1180_

[2017-10-11 21:56] bowei commented on #51
_From @hatemosphere on August 24, 2017 15:17_

i would not expect it to work it any time soon. here is feature request for https redirection and it's almost 2 years old https://issuetracker.google.com/issues/35904733
and i don't think it's possible without examining the headers. you can always switch to alternative ingress controller though.

[2017-10-11 21:56] bowei commented on #51
_From @tonglil on September 14, 2017 1:55_

Another workaround is to run a proxy between GCLB and your app that checks the `x-forwarded-proto` header for `https` and redirects if it is `http`.

Or you can implement this in your app.

This is a [pretty commonly implemented header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto) by most load balancers/cdns to identify cl

[2017-10-11 21:57] bowei opened #52 "Document ingress.gcp.kubernetes.io/pre-shared-cert annotation"
Update GLBC documentation with this annotation + usage

[2017-10-11 21:57] bowei commented on #52
https://github.com/kubernetes/ingress-nginx/issues/396

[2017-10-12 21:13] cwenzelg commented on #33
Would be also really interested in this feature! we could really need that.

[2017-10-13 06:45] cwenzelg commented on #33
Would there be maybe a possibility to use maye a ignore pattern and the possibility to use a existing load balancer? Then there could be existing url_maps maps ignored (if told in the ingress) same as other existing backends for example. This could also solve the CDN Problem. Then you configure Google Cloud Stuff individually without adding everything in kubernetes.

[2017-10-17 09:04] tonglil commented on #29
This can be closed. Thanks.

[2017-10-17 13:27] bartoszhernas commented on #33
+1

[2017-10-17 16:39] dhagge commented on #33
+1 this would be very useful. Current workaround is to use a regular old loadbalancer.

[2017-10-17 21:19] #29 closed

[2017-10-18 14:29] edevil commented on #42
I'm in favor of option 1.

I'm sure there is a minimum subset of features common to all cloud providers that make sense to be included in the ingress spec, and it would improve the current situation a lot.

[2017-10-18 17:40] freehan opened #55 "Measure and Adjust Resource Request Limit"
Many changes such as https://github.com/kubernetes/ingress-gce/pull/48 are going into ingress-gce controller. Need to measure and adjust resource request.

[2017-10-23 19:31] sebbov commented on #27
It isn't clear for the state of this issue to me:
  - Whether this is done (is this or not yet propagated to the GCE backend?)
  - What backend parameters are now configurable (and how, see next).  Is this just for the `gcloud compute backend-services update <backend>`'s `--timeout` parameter?  What about the `--connection-draining-timeout` one?  Are there others this addresses or should address?

[2017-10-23 19:34] nicksardo commented on #27
See issue #28

[2017-10-24 23:28] magnushiie commented on #39
I've been bitten by this issue more than any other issue regarding k8s and GKE. I think it happens due to incorrect abstraction level. Looking at this from 30000 ft, it seems wrong that the ingress controllers looks through services into pods to see their probe configuration. What if there are different pods with different probe configurations, or even non-pod backends? Service-level health check

[2017-10-24 23:44] magnushiie commented on #39
Relevant issue: https://github.com/kubernetes/kubernetes/issues/28924

[2017-10-25 14:17] itamaro commented on #28
I got lost in the details of this discussion...

I'd like to implement a patch for this (as I did in the beginning, based on my assumptions on how it should work), but now I don't know how it should work.

@nicksardo is there an agreed-upon spec for how to tackle this? maybe you can summarize the approach to a solution, and provide a little guidance on implementation to get me started?

[2017-10-26 16:08] fkorotkov commented on #28
Just to note: another use case for longer timeouts is a [websocket proxy support](https://cloud.google.com/compute/docs/load-balancing/http/#websocket_proxy_support).

[2017-10-27 00:23] montanaflynn commented on #34
I also get google's 502 html error page and would like to understand why and how to avoid it or customize the response. The backend pods have been running without restarting but still maybe 1/1000 requests return a 502. Using GKE with ingress that sends to API pod running nginx.

[2017-10-27 12:51] esseti commented on #34
@montanaflynn  have you tried this (point 3) https://blog.percy.io/tuning-nginx-behind-google-cloud-platform-http-s-load-balancer-305982ddb340 ? (i also had to  increase the time of probeness, there are my comments on that page).
I've solved the problem with the 502 page, still not able to modified it but that it's not part of kubernetes.

[2017-10-27 21:12] tsloughter opened #60 "Is there nginx-controller like session affinity support"
I've been trying to find a solid answer on how to use (if it is even possible) session affinity with a GCE ingress resource.

My understanding is that nginx supports this by going around the service's vip and directly to the pods, updating the nginx configuration as it needs to when the pods change -- since while service's support clientip affinity this would be based on the nginx ip and not the c

[2017-10-28 03:05] mikesparr commented on #34
I'm getting these too, and backend services have 2/2 for cluster health and green. Using Ingress with `kube-lego` and `gce` for TLS provisioning. One app served by ingress (name-based virtual hosts from single ingress) works fine but other app every other request returning 502 and preventing QA. There were zero issues with either app during initial QA when behind `LoadBalancer` service. I changed

[2017-10-28 03:39] montanaflynn commented on #34
@esseti I tried increasing the timeout as suggested but still get 502s

Also like @mike-saparov we're using TLS with the ingress (not acme) and `NodePort` services.

[2017-10-28 06:22] mikesparr commented on #34
I increased keepalive too per recommendation and didn't fix.

[2017-10-30 15:20] Obdolbacca opened #61 "TLS certificate validations causes tls creation to fail"
Due to lack output couldn't track what's going wrong.
The chain like provided in attachment causes tls backend creation to be silently skipped
[example.pem.gz](https://github.com/kubernetes/ingress-gce/files/1427715/example.pem.gz)
It's ok with self-signed certificate, but constantly fails with this chain, or any chain issued by our PKI.
If we try to manually add forwarding rules and https-proxy,

[2017-10-31 13:43] leo-baltus opened #64 "support for session affinity"
The GCE loadbalancer has support for session affinity, either by client-ip or a generated cookie. As far as i know there is no way to specify this in an ingress manifest.

It would be very useful to have this functionality.

[2017-10-31 13:55] leo-baltus opened #65 "support for proper health checks"
The GCE loadbalancer perfoms health checks to see if backend are fit to take traffic. These health checks seem to be derived from the readinessProbe defined in the pod the service is pointing to where the service is taken from the ingress.

However, a pod can expose multiple ports where each port can be exposed by a service, but there can be only one readinessProbe on a pod. Also the semantics of

[2017-11-06 20:37] nikhiljindal opened #71 "Add tests for multi cluster ingresses"
Tasks:
- [x] Add an e2e test to ensure that instance groups annotation is added to an ingress with the multicluster ingress class annotation.
- [ ] Ensure that the instance groups annotation is added for each zone in a multi zonal cluster.

cc @nicksardo @G-Harmon

[2017-11-06 20:40] nikhiljindal commented on #71
I have https://github.com/kubernetes/kubernetes/pull/55047 for the first with a TODO for the second :)

@nicksardo Do you know if we have any ingress tests for multi-zone clusters?
I am not sure how much extra work it is to set up infra for multi zone clusters.
@bowei Is this something you are looking at as part of improving test coverage for ingress?

[2017-11-07 05:28] dehypnosis commented on #33
+1 waiting this feature

[2017-11-07 17:26] Obdolbacca commented on #61
Seems like it has been fixed at 1.8.1-gke.1. Now it creates properly.

[2017-11-09 23:49] stevenbarragan opened #75 "Invalid value for field 'namedPorts[*].port': '0'"
[code]

All ingress already created still work, besides the error, but when I create a new one, I get the same error and the new one doesn't work.

I'm not exactly sure what triggered it, but I updated to 1.8.2 recently.

This is my ingress
[code]

Any ideas?

[2017-11-12 20:26] mikepc opened #76 "ingress path confusing"
paths:
      - path: /posts/*
        backend:
          serviceName: post-service
          servicePort: 8585

Requests to /posts are sent to the default backend (404!), while sub-path requests are forwarded accordingly.

There needs to be sufficient documentation around this so that we know how to configure the ingress forwarding. I've tried adding 2 separate paths one for /posts, and /posts/* a

[2017-11-14 02:56] thunderball1 commented on #33
+1

[2017-11-15 19:17] nicksardo commented on #75
You probably have an ingress referencing a service that's not type NodePort. It may not be the newly added ingress, it could be any GCE ingress.

[2017-11-15 19:21] nicksardo commented on #65
Dupe of #42
/close

[2017-11-15 19:21] #65 closed

[2017-11-15 19:23] nicksardo commented on #64
Dupe of #28

[2017-11-15 19:23] #64 closed

[2017-11-15 19:35] nicksardo commented on #76
[code]

yielded this in GCP Console which is consistent with their documentation: https://cloud.google.com/compute/docs/load-balancing/http/url-map
![GCP Console](https://i.imgur.com/jboiZQg.png)

[2017-11-17 22:25] tgjonestx commented on #33
+1

[2017-11-19 20:17] tsloughter commented on #28
@itamaro I think the annotations looked like the most agreed on.

It would be really great to finally get this exposed.

[2017-11-19 20:21] tsloughter commented on #28
But I'm also confused about why there seems to be debate about something that the nginx controller already supports: https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md

Why can the same annotations not be used for features that glbc supports?

[2017-11-20 15:00] #61 closed

[2017-11-20 19:30] tsloughter commented on #28
Ok, understandable.

[2017-11-20 19:47] ConradIrwin commented on #28
Thanks @itamar :D

Sent via Superhuman ( https://sprh.mn/?vip=conrad.irwin@gmail.com )

On Mon, Nov 20, 2017 at 11:30 AM, Tristan Sloughter < notifications@github.com > wrote:

[2017-11-20 21:27] tgjonestx commented on #33
+1

[2017-11-20 23:40] nicksardo commented on #28
@itamaro Our first priority is controller stability and laying the foundation for allowing significant changes. We're about to perform some major refactoring to the controller, so it's highly improbable that we'll review or take any significant changes before the refactoring is complete. For all of you watching this thread, supporting the specification of backend service parameters through K8s is

[2017-11-21 08:23] itamaro commented on #28
thanks for the update @nicksardo . where is this refactoring being tracked? are there bitesized pieces in it that can be tackled by "opportunistic contributors"?

of course, but I'd be less inclined to pursue a fork that I will have to maintain long-term :-)

[2017-11-22 06:39] vansters-dev commented on #33
+1

[2017-11-29 02:41] gkop commented on #50
What are the workarounds for this in practice? Does everybody follow up the k8s delete node API call with a second call to the GCP API? (that's what I do - it's annoying...)

[2017-11-29 18:23] scottefein commented on #33
+1

[2017-11-30 14:54] JordanP opened #77 "examples/websocket/server.go: concurrent write to socket"
In the `handleWSConn` function, the goroutine calls `c.WriteMessage` and the other for loop also calls `c.WriteMessage`. But according to Gorilla WS doc, `WriteMessage` is not goroutine safe. We need to use a mutex to protect concurrent writes.

I saw a couple of goroutine panics because of this while doing some light stress tests.

[2017-12-04 04:59] jaysonjc commented on #60
It appears that currently the only solution is to install an nginx controller in GKE.

[2017-12-05 07:04] mikepulaski commented on #46
@bowei Do the changes persist when you add the extra certificate in GCE? Having official support for this would be great. I have multiple certificates I'd like to use as well.

[2017-12-07 15:14] nicksardo commented on #77
Could you send a PR?

[2017-12-07 15:49] nicksardo commented on #77
Correction, I'll do it. Need to add a license to it.

[2017-12-11 18:36] #77 closed

[2017-12-14 10:44] drgomesp commented on #51
Any updates on this?

[2017-12-14 17:24] nicksardo commented on #51
Best to track the the issue linked by hatemosphere: https://issuetracker.google.com/issues/35904733. Nothing can be done in this controller until it's supported upstream.
/unassign

[2017-12-14 17:43] bbzg commented on #39
Today when updating an ingress with a new host/service/deployment a GCP health check was created for `/` even though the deployment only has one pod and the pod has `/healthz` as its http readinessProbe.

It took a LONG while to figure out why...

Bug or feature? =)

[2017-12-19 17:24] nandosangenetto commented on #60
@jaysonjc how can I do that?

[2017-12-20 09:16] tobsch commented on #42
+1

[2017-12-21 19:41] nikhiljindal opened #87 "Support multiple addresses (including IPv6)"
The ingress spec supports specifying an ip address with the `kubernetes.io/ingress.global-static-ip-name` annotation, but the ingress-gce controller assumes that it is an ipv4 IP address.

GCLB supports specifying both an ipv4 and ipv6 IPs as per: https://cloud.google.com/compute/docs/load-balancing/http/cross-region-example.

Are there plans to support ipv6?
I tried to find an existing issue, but

[2017-12-21 19:42] nikhiljindal commented on #87
One potential way to support it could be to add another annotation `kubernetes.io/ingress.global-static-ipv6-name` and the controller will then handle it appropriately?

Anything else I am missing?

[2017-12-21 19:58] nicksardo commented on #87
I've looked at the code and don't see any assumptions on IPv4, but I agree it would be nice to support both simultanously. Instead of making it a separate annotation, what if we make that annotation CSV capable? Any reason why we shouldn't support N addresses per ingress? Only allowing 1 ipv4 and 1 ipv6 seems unnecessarily restrictive if the GCLB can handle it...

[2017-12-21 20:02] nikhiljindal commented on #87
Yes good point. Will try to play with multiple IP addresses with GCLB and see how it goes.

FWIW, this was in response to user feedback on kubemci where users want to specify both an ipv4 and an ipv6 address.

[2017-12-27 08:52] aaron-trout commented on #87
Are there any issues preventing this field being migrated from an annotation to a proper item in the `IngressSpec` somewhere? Attaching one or more static IP addresses to the load balancer seems like it would be useful across providers / not google cloud specific.

One that springs to mind now that I am writing this is non-provider ingress controllers like nginx or traefik...

[2017-12-27 15:22] rramkumar1 opened #93 "Ingress E2E setup is breaking"
The PR at https://github.com/kubernetes/test-infra/pull/6072 setup e2e testing for this repo.

However the e2e tests now break with the same error (ex. #90, #91, #92). This is most likely due to an error in the setup.

Any PR's affected should not be blocked by this and should be okay for submission.

[2017-12-27 15:22] rramkumar1 commented on #93
/assign @rramkumar1

[2017-12-27 16:22] fstn commented on #33
+1

[2017-12-27 17:26] nicksardo opened #94 "Test ingress creation after hitting error creating GCP resource due to quota"
https://github.com/kubernetes/kubernetes/issues/28784

[2017-12-27 18:40] rramkumar1 commented on #93
https://github.com/kubernetes/test-infra/pull/6093 Should fix it.

Will let that change soak before closing.

[2017-12-28 18:54] rramkumar1 commented on #93
Turns out there is more special setup that needs to be done. Specifically our setup also needs Docker-in-Docker support. Test-infra team is looking into this for us.

[2018-01-03 01:01] #93 closed

[2018-01-06 18:26] Jokero commented on #28
Any updates? How can I use websockets now?

[2018-01-06 20:46] Stono commented on #28
I'd also love to tie into Identity Aware Proxy...

[2018-01-09 19:23] yastij commented on #35
@bowei @MrHohn @nicksardo - is this still open ?

[2018-01-10 05:20] tonglil commented on #25
/close.

[2018-01-10 05:21] tonglil commented on #42
For those in favor of option 1, please read this conversation: https://github.com/kubernetes/ingress-gce/issues/28.

[2018-01-10 11:35] mooperd commented on #44
+1 Anyone looking at this. Its quite annoying.

[2018-01-10 13:27] dbeaulieu commented on #18
/remove-lifecycle stale

[2018-01-10 18:53] bowei commented on #44
We are actively working this issue. Expect an update in a few weeks.

[2018-01-10 18:58] bowei commented on #44
/lifecycle frozen

[2018-01-10 21:58] hdave commented on #24
How can one use the gce ingress controller on an "on-premises" kubernetes installation?  I think this issue is in the wrong project....yes?

[2018-01-10 22:05] hdave opened #102 "Large file upload fails after 30 seconds"
I am using GLBC on a Google Cloud cluster - Kubernetes v1.8.  In this instance, the ingress is for the Nexus repository manager and is defined as follows:

[code]

If I then attempt to upload a file to Nexus via curl, it runs for about 30 seconds then fails as follows:

[code]

Logs in Nexus indicate client just dropped:

[code]

I did not expect this behavior.  This does not happen if I use the `

[2018-01-10 22:14] hdave commented on #42
Reading that conversation -- I think configuring healthcheck via annotations would be great.

[2018-01-11 17:58] hdave commented on #102
Turns out, further investigation revealed this is a problem with L7 load balancing in general.  Root cause and workaround is here:  https://stackoverflow.com/questions/40208419/gcp-http-load-balancer-returns-502-error-if-post-data-is-large

[2018-01-11 17:58] #102 closed

[2018-01-11 22:41] G-Harmon commented on #102
I'm glad you figured it out!

[2018-01-12 21:38] abourget commented on #39
Adding to the docs that we need to deploy the PODS and *then* rollout an ingress would help.. with a warning.  Waste quite a bit of time on this one.

[2018-01-16 09:35] sdouche opened #105 "Wrong health check with end-to-end https scheme"
Hi,
I'm trying to set https end-to-end (GCP LB to K8S Pod). On the Pod I have gunicorn that doesn't support HTTP and HTTPS in the same time, but only one. So I must use HTTPS everywhere.

 I set this in the deployment object:
[code]

I add this to the service object:
[code]

Unfortunately, the health check is set to check `/` on HTTP, and the backend service is on HTTP.

Note: The same configurati

[2018-01-16 20:41] bluecmd commented on #32
It is still relevant, I just hit this today. /remove-lifecycle stale

[2018-01-17 07:54] pwistrand commented on #105
I've been having a similar issue over the last couple of days. Have you tried removing the readinessProbe from the deployment? I've witnessing that the GCE ingress doesn't pay any attention to it despite what the [documentation](https://github.com/kubernetes/ingress-gce#health-checks) says (especially as its still being discussed as a feature #42)

[2018-01-18 07:08] AdrienLemaire opened #109 "rewrite"
Hi, I've been struggling to set a rewrite rule for my ingress (GCP Kubernetes with a Deployment, Service NodePort and Ingress). What I'm trying to get is:
* api.example.com/  →  backend/api/
* www.example.com/ → backend/www/

So that my server can server requests whether they start with /api/ or /www/, without a care about the subdomains.

I'm creating this issue because I have a question regardin

[2018-01-18 18:00] ahmetb opened #110 "Ingress without default backend explicitly configured doesn't work at all"
I'm trying to create a fanout ingress on GKE (v1.7):

- `/*` &rarr; `cats` Service
- `/dogs/*` &rarr; `dogs` Service

When I deploy these resources, after LB is configured fine (I can hit the gke `default backend: 404`), I can neither get `http://IP/` or `http://IP/dogs/` to work. I always get either `default backend: 404` or HTTP 502 from Google’s LB.

Is it because I don't have a `spec.backend`

[2018-01-18 18:41] nicksardo commented on #110
Your selectors are `run: [cats|dogs]` but the deployments have `app: [cats|dogs]`. I spun up your example with the changed selectors, and it works as expected.

[2018-01-18 19:22] nicksardo commented on #105
I can't reproduce. Post a simple reproducible manifest of the ingress/service/deployment. Make sure you're actually naming the port "my-https-port".

[2018-01-18 19:26] ahmetb commented on #110
AHHHHH

[2018-01-18 19:26] #110 closed

[2018-01-21 22:08] jeremywadsack commented on #42
@bowei I think that kubernetes/contrib#325 is related to this?

[2018-01-23 02:20] zvozin commented on #33
You can achieve this by configuring the K8 load-balancing manually as opposed to using an NGINX ingress. Assuming your services are deployed `NodePort`, you will need to:

- create a load balancer instance
- create a firewall rule that allows traffic from `130.211.0.0/22` and  `35.191.0.0/16` to the K8 instance group
- create a backend service against the K8 instance group, pointing to whatever no

[2018-01-23 13:20] scottefein commented on #33
You could also manage your own ports with the NodePort service to get
around the ephemeral port allocation.

On Mon, Jan 22, 2018, 9:20 PM Alex Zuzin <notifications@github.com> wrote:

[2018-01-23 13:23] lostpebble commented on #33
@zvozin I think you can set the `NodePort` to something static in the service descriptor - which should make this setup a little more solid.

I'm pretty much doing the same on my side, seems to be working quite well. And even though I'm not setting the `NodePort` statically as I should yet, it seems to be remembering them on full cluster resets.

[2018-01-23 15:37] zvozin commented on #33
Thank you @scottefein and @lostpebble - good point!
Relevant docs: https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport

[2018-01-23 17:39] explicitcall commented on #33
Thanks @lostpebble, although setting up HTTPs on top of this would be too cumbersome if possible at all. I'm currently looking at https://github.com/PalmStoneGames/kube-cert-manager and https://github.com/jetstack/cert-manager/ looks like they rely on Ingress created with k8s. I hope this is fixed at GKE level soon.

[2018-01-23 17:44] scottefein commented on #33
HTTPS is really easy to add via the GCLB, you just upload the certificate and apply it. https://cloud.google.com/compute/docs/load-balancing/http/#creating_a_cross-region_load_balancer

[2018-01-23 17:50] explicitcall commented on #33
@scottefein not very practical with Let's Encrypt certs that expire every 3 months, especially for multiple domains. Tools that automate certificate renewals based on existing Ingress resources are very useful, but this workflow breaks because of this Ingress/GCS bucket incompatibility issue.

[2018-01-24 03:20] zvozin commented on #33
@explicitcall: `certbot-auto renew`, `more ____ | base64 > secret.yaml`, `kubectl replace -f secret.yaml`.

[2018-01-26 22:32] znorris opened #116 "Experiencing downtime when updating hosts backend in ingress controller"
## Issue
Why would I experience downtime when I update more than one backend service at a time, but not when I updated a single backend? (This may not be the correct question or issue summary but at the moment I'm not clear on why this is happening. It could have to do with the old backend being completely dereferenced from my ingress config.)

## Reproduce
I've created a repo that includes pretty

[2018-01-29 23:31] nicksardo commented on #116
Let me get this straight, you're editing an ingress spec to point to multiple services which weren't previously used for ingress? I wouldn't be surprised about receiving 502s. It could be that the GCE health checks haven't passed yet and it's failing closed. It could be that the firewall rule change hasn't propagated yet (most likely the case here).

I would be irritated if an existing host/backen

[2018-01-30 17:54] znorris commented on #116
@nicksardo No, I don't believe your summary of the issue is correct. When I update the backend of a single existing host rule, `a.host` in the example above, to a new backend I do not get any downtime. If it were about the creation of a new service which wasn't previously used, as you suggest, I would receive downtime for that update.

I don’t know the inner workings of the ingress controller so I

[2018-01-30 23:40] nicksardo commented on #116
On the contrary, I do get 502s when updating a single backend to a new service, even when the previous backend still exists for another ingress. I can observe them with a simple curl loop: `while true; do echo $(curl -I http://xxx.xxx.xxx.xxx/ 2> /dev/null | head -n 1 | cut -d ' ' -f 2); done`.  When updating an ingress causing the old backend to be discarded entirely, I also received quite a few

[2018-01-31 21:05] znorris commented on #116
@nicksardo You're correct. I wasn't testing at a high enough rate. Updating any existing rule to utilize a new backend will result in downtime.

[2018-02-04 08:24] AndyBarron commented on #109
https://github.com/kubernetes/ingress-gce/blob/master/docs/annotations.md#url-related

Unfortunately, it seems that `rewrite-target` is not supported by the GCE ingress. This has been a pain point for me, too :/

[2018-02-04 08:28] AndyBarron opened #124 "Support for rewrite-target annotation"
https://github.com/kubernetes/ingress-gce/blob/master/docs/annotations.md#url-related

This has been a pain point for us deploying microservices on GKE. We need `static-ip-name`, so we can't switch to the Nginx ingress.

[2018-02-04 13:51] MichielDeMey commented on #32
Same issue here, changed to HTTPS only and the HTTP frontend was not deleted.
I deleted the HTTP frontend manually from the LB and that did not seem to have any side-effects on the traffic.

[2018-02-05 17:00] sdouche commented on #105
Hi @nicksardo,
Apologize for the late reply. I use the same named port in service:
[code]
And ingress:
[code]

But I have this strange behavior:

![screenshot-20180205173347-413x68](https://user-images.githubusercontent.com/170176/35816660-93557c60-0a9b-11e8-849e-189dbbf0b022.png)
![screenshot-20180205173327-1048x496](https://user-images.githubusercontent.com/170176/35816661-9372fc2c-0a9b-11e8-9e0

[2018-02-05 18:03] nicksardo commented on #105
The console shows that the LB is correctly using backend HTTPS.

I suggest you disregard that `ingress.kubernetes.io/backends` annotation. It's faulty in a few ways and most certainly outdated when compared to the Google Cloud Console.  Also, setting `service.alpha.kubernetes.io/app-protocols` on the ingress object is ignored - it's only relevant on the service.

[2018-02-05 18:43] bowei commented on #32
/remove-lifecycle stale

[2018-02-05 19:49] sdouche commented on #105
Understood.

You're right, wrong copy / paste.

Thanks.

[2018-02-05 19:49] #105 closed

[2018-02-06 01:11] nicksardo opened #127 "Default backend service is created when no ingress needs it"
Current logic creates a backend-service when ingresses exist. However, this is not needed if every ingress provides its own default service.

[2018-02-07 17:32] nicksardo commented on #124
Dupe of #109

[2018-02-07 17:32] #124 closed

[2018-02-07 17:36] #44 closed

[2018-02-07 17:46] nicksardo commented on #19
/remove-lifecycle stale

[2018-02-07 17:46] nicksardo commented on #19
/lifecycle frozen

[2018-02-07 17:47] #16 closed

[2018-02-07 17:48] nicksardo commented on #23
/lifecycle frozen

[2018-02-07 17:48] nicksardo commented on #24
Yes, this isn't relevant for GCE.

[2018-02-07 17:48] #24 closed

[2018-02-07 17:53] nicksardo commented on #25
Thanks @tonglil

[2018-02-07 17:53] #25 closed

[2018-02-07 17:56] nicksardo commented on #55
Any update on how neg increased CPU/mem usage?
/lifecycle frozen

[2018-02-07 18:05] nikhiljindal commented on #71
/remove-lifecycle stale

cc @MrHohn do we have ingress tests for multi-zone clusters?

[2018-02-07 19:10] MrHohn commented on #71
Not that I know of, I was also thinking of a test case that requires adding a new zone to the cluster. But not works have been done at this point.

[2018-02-07 20:01] nikhiljindal commented on #71
ok. Do you plan to add another job that brings up a multizone cluster and then run (all or some selected) existing tests?
Or add a zone to a cluster as part of the existing e2e test job?

[2018-02-07 20:32] MrHohn commented on #71
Or add a zone to a cluster as part of the existing e2e test job?

I was thinking about the second case --- adding a zone to a cluster, but it seems like the fist case is something we should add first. I maybe able to take a look later if no ones plan to work on that.

[2018-02-07 20:39] nikhiljindal commented on #71
Sounds great!
Yes doing first will enable us to run existing tests in multicluster setup which will be a huge benefit.

[2018-02-08 09:36] mooperd commented on #44
@nicksardo Hey, is this issue fixed? When is it being rolled out?

[2018-02-08 10:21] olala7846 commented on #33
Hi @zvozin, I'm confused. Do you mind telling me that what does the NodePort has to do with GCS static file serving?

[2018-02-09 03:04] MrHohn opened #130 "Ingress name has random trailing hash in events"
Created one ingress named `pre-shared-cert` under namespace `default`, got below events:
[code]

[2018-02-09 03:10] MrHohn commented on #130
Sorry, confirmed this is not ingress specific. Need an issue on k/k I think.

[2018-02-09 03:10] #130 closed

[2018-02-09 10:01] anuraaga opened #131 "SSL certificate name non-unique when namespace + ingress name too long"
I recently ran into an issue where due to a combination of somewhat long namespace + ingress name, a GCE load balancer was created for each of two ingresses with very similar name

[code]

and the SSL certificate configured for both had the same name

`k8s-ssl-abcdefghijklmn-abcde-prod-abcdefghijklmn-admin-server-0`

While it seems GCP allows this, other ingress-aware components, in my case cert-m

[2018-02-09 18:40] MrHohn opened #132 "Fix the coverage badge"
Coverage badge currently shows up as `unknown` in README as it isn't setup yet.

/assign

[2018-02-09 21:42] G-Harmon commented on #131
A colleague and I were just discussing this yesterday, as a hypothetical issue. I see it's no longer hypothetical.

[2018-02-10 01:06] G-Harmon commented on #28
cc me.

[2018-02-11 11:58] yastij commented on #35
/remove-lifecycle rotten

[2018-02-12 05:37] bowei commented on #35
thanks -- let's keep this one open

[2018-02-12 11:47] mooperd opened #134 "Issue closed without comment"
Hi, What happens with this issue? Did it get fixed? What can we expect with the fix?

https://github.com/kubernetes/ingress-gce/issues/44#issuecomment-356700216

[2018-02-12 14:17] mooperd commented on #38
Hi, what is the status of this issue? We'd like to be able to control access to specific k8s services. This seems like the most likely way of handling it.

[2018-02-12 14:20] bowei commented on #38
/remove-lifecycle rotten

[2018-02-12 16:42] tonglil commented on #37
I agree with this.

I still think regardless of if `allowHTTP` is true or false, if TLS is enabled, the IP should be promoted to "static" so that no controller can delete the IP.

However, the IP is not promoted if `allowHTTP` is false, yet promoted if it is true.

[2018-02-12 16:44] tonglil commented on #41
/close

[2018-02-12 16:44] #41 closed

[2018-02-12 16:48] tonglil commented on #37
/remove-lifecycle rotten

[2018-02-12 16:49] tonglil commented on #45
/remove-lifecycle rotten

The docs can still use work, will try to tackle sometime.

[2018-02-12 16:57] nicksardo commented on #43
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-12 17:00] nicksardo commented on #31
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-12 17:01] nicksardo commented on #40
/remove-lifecycle rotten
/lifecycle frozen

[2018-02-12 22:08] nicksardo commented on #44
The logic was changed to single the relevant resources. Assuming testing goes well, it'll make K8s 1.10. Currently unknown which 1.9 or 1.8 patch releases will get this new version.

[2018-02-12 22:08] nicksardo commented on #134
Answered

[2018-02-12 22:08] #134 closed

[2018-02-12 22:10] nicksardo commented on #131
Yes, this has come up several times in discussions. Unfortunately, there's currently no plan to migrate to a better naming scheme.

[2018-02-13 02:25] anuraaga commented on #131
Migrating sounds pretty tough but how about handling the error better?

1) Throw an error when creating an ingress where a backing resource would cause a duplicate. Though not sure if ingress controllers are able to intercept the ingress API request itself.

2) Don't remove the SSL certificate when the same name resource exists on a load balancer already. I have a feeling this may just be tweaking

[2018-02-14 18:34] nikhiljindal commented on #131
Do we have an agreed upon new naming scheme that fixes the problem, so that we can use it for new resources?

[2018-02-15 18:37] danehans opened #136 "Orphaned Resources After Cluster Delete"
After running the following commands, I see orphaned resources that were created by the gce ingress controller:

[code]
List of orphaned resources:
[code]

I would expect the gce ingress controller to remove these resources when the ingress or cluster is deleted.

[2018-02-17 16:48] mattdodge opened #137 "Multiple Healthcheck Requests from GCP L7"
TL;DR: For the healthchecks created by the L7 load balancer I am seeing 6 requests, all at once, from each node in my cluster. Would expect to see 1 request per node.

I have an ingress set up to use the GCE ingress controller. It targets multiple services but each behaves the same so I will just use one example. The service's pod is configured with an http readiness probe configured to do a healt

[2018-02-19 15:35] rayfoss commented on #75
I was able to solve it by adding an annotation to disable the Google LB for my ingress.
[code]

http://blog.chronos-technology.nl/post/disabling-gke-load-balancer-in-kubernetes/

[2018-02-19 20:07] tobsch commented on #46
+1

[2018-02-20 17:49] nicksardo commented on #137
https://cloud.google.com/compute/docs/load-balancing/health-checks

[2018-02-20 17:51] nicksardo commented on #136
This is a known issue and being worked on.

[2018-02-20 18:38] mattdodge commented on #137
Geez, I pored over docs for so long looking for this. I think I was focusing too much on ingress health check docs. Thanks for sharing, I'll close this since it doesn't really seem to be an issue, just a *very* redundant feature.

[2018-02-20 18:38] #137 closed

[2018-02-21 22:02] danehans commented on #136
@nicksardo Can you share a link to the known issue? I searched through the repo issue list before opening this issue and could not find a match.

[2018-02-22 21:47] tonglil commented on #38
It is still relevant. The bug tracker also receives +1s on a regular basis.

[2018-02-23 09:57] lunemec commented on #34
We're also having these issues. Using NodePort on our services, TLS ingress with kube-lego.

We noticed 502 right after this message showed up in `kubectl get events`:
[code]

Any ideas how to figure out what is causing these 502's?

[2018-02-23 09:58] lunemec commented on #34
/remove-lifecycle stale

[2018-02-23 19:46] caarlos0 opened #138 ""internal" ingresses"
Hey!

Sorry if this is not the right place to ask or if I'm missing something, but, I wonder how can I create ingress with "internal" IPs (visible only inside the VPC)?

As far as I looked into, it only creates ingress with addresses like 35.x.x.x. I tried internal load balancers as well, which work, but there is 5 LB limit and I need **a lot** more than that.

Thanks!

[2018-02-27 17:52] nicksardo commented on #138
GCP does not have an internal HTTP(S) LB.

The HTTP(S) LB also utilizes backend services (I'm assuming you're seeing the quota of 5), so switching to L7 wouldn't help you. I recommend you go back to using the ILB and request more quota.

[2018-02-27 17:52] #138 closed

[2018-02-28 09:03] irvifa commented on #39
Is this will be solved in kubernetes 1.9? Especially for GLBC 7

[2018-03-03 07:43] axot commented on #39
[code]
It seems when I use `tcpSocket` in `readinessProbe`, GCP will create a `HTTP` health check for `/`.
If I change `tcpSocket` to `httpGet` it works fine, is it a bug?
I'm using `1.9.2-gke.1`.

[2018-03-03 18:20] muzuro opened #141 "REST request fails with "The server encountered a temporary error and could not complete your request. Please try again in 30 seconds""
I am deploying application at google kubernetes engine. Applicaion has 2 services. There is also `Ingress` wich i am trying to use to expose one service and `ingress` also used for https support. I have 1 `NodePort` service "gateway" and `ClusterIp` service "internal". "Internal" should be accessed from gateway. Here is services config:

[code]

Gateway serve static content and REST resources. Sta

[2018-03-07 00:21] freehan opened #143 "Consider Emitting Events for GC errors"
GC should record event when error occurs. Some GC problem needs user attention to fix. For instance, if user reference resources created by ingress controller from other manual configured resources. These resources could not be GCed. ingress controller will end up GC it forever and logging on the master while user gets zero signal to about the problem.

[2018-03-07 18:12] nicksardo commented on #136
@danehans The issue is internal to Google. When you delete the cluster, GKE does not wait for the ingress controller to clean up resources. If you want to avoid orphaning resources, delete all the ingress objects and then wait for all the related GCP resources to be deleted prior to calling `gcloud container clusters delete...`

You can delete the orphan resources through the UI or via `gcloud`.
W

[2018-03-07 19:25] danehans commented on #136
I have been manually deleting the resources using `gcloud`. For others that may come across this issue:
[code]

[2018-03-08 06:04] paOol opened #145 "sitemap endpoint?"
when i `docker-compose up` and run my app locally, I am able to go to
`/sitemap.xml`.
However, when I push the changes to GCE and visit the same endpoint, I try to go to

`/sitemap.xml` and instead get sent to  `api/somethingelse/sitemap.xml`.

how do I get the correct endpoint to load?

This is my ingress file.

[code]

[2018-03-08 07:44] thockin commented on #87
@aaron-trout The issue is that there's no universal way to describe that (is it an IP value or a named IP in some control plane) nor is it implementable on all  (or even most) ingresses.

[2018-03-08 17:57] shankj3 commented on #18
Any luck getting this to work, @bowei ? I am having the same issue.

[2018-03-09 08:03] chihaiaalex commented on #33
Any news on this one?

[2018-03-09 20:38] zvozin commented on #33
@olala7846 - Google Load Balancer knows how to serve static files out of a bucket.

[2018-03-09 22:13] nikhiljindal commented on #52
Not sure whats the scope of this issue. Is it for documentation on k8s.io/docs or documentation within this repo?
I updated docs in this repo to point out usage of that annotation: https://github.com/kubernetes/ingress-gce/pull/144.
@bowei @nicksardo What else is required?

[2018-03-09 22:32] nicksardo commented on #52
The planned scope was just within this repo. I think your PR is sufficient. Thanks!
/close

[2018-03-09 22:32] #52 closed

[2018-03-12 21:32] #20 closed

[2018-03-12 21:32] #21 closed

[2018-03-12 21:32] #22 closed

[2018-03-12 22:33] #26 closed

[2018-03-13 05:40] #36 closed

[2018-03-13 05:40] #17 closed

[2018-03-14 01:32] munjalpatel commented on #18
I am also interested in exposing internal `gRPC` based services to external clients through GKE ingress controller.

[2018-03-14 08:16] rangapv opened #149 "ingress-gce does not work...very little documentation ..instructions lead to 404 pages"
Hi,
I am trying to get external load balancer on GCE.
My cluster is kubernetes 1.9.3 (kubeadm)...

I am trying to install the ingress-gce from github...the documentation is very confusing and also there is no right pointers...

I started from here...

https://github.com/kubernetes/ingress-gce

Then I just downloaded the rc.yaml and the app.yaml did a kubectl then it would not start the loadbalance

[2018-03-14 16:37] rangapv commented on #149
/labels
backend/gce

[2018-03-14 16:40] rangapv commented on #149
/Labels
backend/gce

[2018-03-14 16:45] rangapv commented on #149
/remove-lifecycle stale
/lifecycle frozen
/labels backend/gce

[2018-03-14 19:27] tonglil commented on #51
For interested parties, please also look at https://googlecloudplatform.uservoice.com/forums/302616-load-balancing/suggestions/31951531-allow-http-to-redirect-to-https-automatically.

[2018-03-15 19:38] paOol commented on #145
issue was app related.

[2018-03-15 19:38] #145 closed

[2018-03-15 22:12] ops-ninja commented on #33
It sounds like a few people are suggesting working around this by moving load balancing outside of k8s control and fixing services to static node ports. I'm reminded of the joke where a guy goes to the doctor and says "Doc my hand hurts when I make a fist" and doc says "Well then stop doing that!" I'm not sure what it is we should stop doing though.
I'd prefer a temporary solution where k8s simply

[2018-03-16 20:55] ReidE96 commented on #39
2 cents as a user - I can appreciate the desire to not break things on upgrade, but the ingress not updating the health check is a real nuisance.

Would annotations be a solution to this? We use them already for specifying a static IP for the load balancer (for example), so could extend that to other resources. For upgrade compatibility we could assign whatever backend/loadbalancer/healthcheck/etc

[2018-03-16 22:55] rramkumar1 opened #152 "ingress-gce major refactor and performance fixes"
Using this issue to track launch of ingress-gce 1.0.0

The following fixes are planned for the 1.0.0 release:

1. Large refactor to fix scalability of controller.
2. Implementation of rate limiting for GCE calls.

[2018-03-16 23:09] rramkumar1 commented on #152
/close

[2018-03-16 23:09] #152 closed

[2018-03-16 23:17] nicksardo commented on #152
Moved to https://github.com/kubernetes/kubernetes/issues/61305

[2018-03-19 17:49] rramkumar1 opened #154 "Duplicate patch from PR #148 into main repo."
PR #148 made a raw patch in vendor/k8s.io/kubernetes/pkg/cloudprovider/. Using this issue to track that a corresponding patch is made in the main kubernetes repo.

/assign

[2018-03-19 18:22] MrHohn opened #155 "`dep ensure` is broken"
In the middle of updating vendor, found `dep ensure` is already broken without any modification to codes:
[code]

/assign

[2018-03-19 18:24] MrHohn commented on #155
I was suspecting https://github.com/kubernetes/ingress-gce/pull/148, which made a raw patch in vendor. But turned out even after reverted that `dep ensure` doesn't work. It might be something else.

[2018-03-19 18:39] freehan opened #156 "Ingress Controller Clobbers Backend Service"
Symptom:
- Only 1 ingress is present. But a total of 3 LBs in project. (2 Manual, 1 managed by ingress )
- Ingress controller constantly deleted and recreated a BackendService. Wiping out the existing configs
- The backend service is referenced by the existing ingress.
- Ingress controller tried to delete a TLS cert, but it was referenced by another LB set up manually.

The setup was lost. The sym

[2018-03-19 22:20] maxiplay opened #157 "Seems ingress don't transfer the "Transfer-encoding" Header from backend"
I tried to use Google cloud cdn with my container engine configuration. When backend respond with GZIP and Transfer-encoding : chunked it  ingress don't transfer the "Transfer-encoding" Header from backend so I can't have a cache hit.

When the content is not Gzipped i have the "Content-Length" header and a cache hit success.

I linked the issue to stackoverflo question, https://stackoverflow.com/

[2018-03-21 17:14] MrHohn commented on #155
Sorry, turned out to be some permission issues in my dep cache (`$GOPATH/pkg/dep/sources/`) caused by couple improper operations.

[2018-03-21 17:14] #155 closed

[2018-03-21 21:32] nikhiljindal opened #162 "Missing ListUrlMaps from LoadBalancers interface"
I see that ListUrlMaps is missing from LoadBalancers interface at: https://github.com/kubernetes/ingress-gce/blob/master/pkg/loadbalancers/interfaces.go#L37.

I need it for kubemci as part of work for https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress/issues/145.

Any objections to me sending a PR to add it?

cc @nicksardo @bowei

[2018-03-21 22:16] nicksardo commented on #162
Sure.

[2018-03-22 04:30] gmflau opened #164 "502 Server Error"
I managed to use External Load Balancer to allow traffic to go from public Internet to my application over HTTP (port 8888) [http://\<External-IP-from-LB\>:8888].  However, I failed to access the same application through NodePort and Ingress Controller [http://\<External-IP-from-Ingress\>/opsc].  It returned a page saying:

Error: Server Error
The server encountered a temporary error and could not

[2018-03-22 16:29] G-Harmon commented on #162
cc me

[2018-03-22 18:39] hdave commented on #42
I would be in favor of option #1 if the ingress controller could configure an HTTPS health check to a back end services that uses a cert.  If not, I would go with option #3 and just let our devops team manually tweak the health check without the ingress controller caring and resetting it back.

[2018-03-22 23:39] nikhiljindal commented on #162
Thanks for the quick reply @nicksardo
Sent https://github.com/kubernetes/ingress-gce/pull/165

[2018-03-22 23:41] #162 closed

[2018-03-26 23:02] rramkumar1 commented on #154
Fixed by https://github.com/kubernetes/kubernetes/pull/61743

[2018-03-26 23:02] #154 closed

[2018-03-27 01:18] ahmetb commented on #136
@danehans there are a few more to delete:

    gcloud compute health-checks delete -q [NAME]
    gcloud compute firewall-rules delete -q [NAME]

Also the static IPs that are not used are actually billed, so if you want to release that:

    gcloud compute addresses delete --global -q [NAME]

[2018-03-28 11:00] slabber commented on #38
Now that we have Cloud Armor and can restrict ingress based on IP, it would be interesting to incorporate Cloud Armor rules in ingress annotations.

Is there a plan for that?

[2018-03-29 06:46] sht5 opened #179 "original http request origin and host headers are overriden"
when my client makes an http request to the Ingress domain  i see that the request origin and host headers are sent correctly but on my backend i can see they are changed by Ingress to some internal ip. This is crucial for setting up CORS for my app ( checks domain and alters response headers accordingly).

[2018-03-29 10:43] tvainika opened #181 "Unclear documentation of spec.rules.http.paths"
Documentation of `spec.rules.http.paths` is unclear regarding, regexp versus wildcard, and multiple matches priority.

According [Kubernetes documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#httpingresspath-v1beta1-extensions), `http.paths` should be regular expression. However when testing it on my GCE, it clearly seems to be wildcard match like all examples when

[2018-03-29 19:19] nikhiljindal opened #182 "ingress controller should only manage instance groups for multicluster ingress"
Forked from https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress/issues/131

ingress-gce controller is configuring the whole load balancer including creating url map, target proxy, etc for multicluster ingresses.
This is a regression. It should only manage instance groups.

Thanks to @MrHohn for finding the problem.
@nicksardo is working on a fix and I am going to send a PR to update th

[2018-03-29 21:57] G-Harmon commented on #182
nikhil was telling me about this bug today.

[2018-03-30 00:00] tejohnso commented on #28
Is this still an issue for websockets? The [example](https://github.com/kubernetes/ingress-gce/tree/master/examples/websocket#change-backend-timeout) indicates the backend timeout has to be updated, and I did see that was necessary at one point. However, I just tried setting the timeout back to 30s and the connection isn't being closed.

[2018-03-30 19:47] nicksardo opened #184 "Condense backend pool with default backend pool"
Maintain one backend pool instead of having two.

[2018-03-30 23:47] gylu commented on #34
I'm seeing these too. Using 1.8.6 with Kubefed trying to set up a federated Ingress (which I think I got set up), but I now keep getting 502s, and there's nothing to log/debug except stackdriver, which shows 502s

My backends occasionally say "unhealthy" though for some reason...

Even though I've fulfilled this comment:
_Services exposed through an Ingress must serve a response with HTTP 200 stat

[2018-03-31 00:36] #182 closed

[2018-03-31 05:02] mikesparr commented on #34
I increased the VM size and errors subsided. It appears the containers would crash due to memory limits, then as new ones spun up the health check failed and Ingress served up 502.

No smoking gun but that solved for me. You may be underutilized.

Sent from my iPhone

[2018-03-31 22:45] nikhiljindal commented on #182
https://github.com/kubernetes/ingress-gce/pull/183 fixed the code and https://github.com/kubernetes/kubernetes/pull/61909 updated the test to ensure that we do not regress.

The test is still failing tough.
Sent https://github.com/kubernetes/kubernetes/pull/61987 to fix that

[2018-04-02 19:58] freehan opened #185 "Test Failing: [sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] multicluster ingress should get instance group annotation"
https://k8s-testgrid.appspot.com/sig-network-gce#ingress-gce-e2e&width=5

probably due to this: https://github.com/kubernetes/ingress-gce/pull/183

[2018-04-02 20:03] nikhiljindal commented on #185
Its due to https://github.com/kubernetes/kubernetes/pull/61909.
Being fixed by https://github.com/kubernetes/kubernetes/pull/61987

[2018-04-03 04:38] nikhiljindal commented on #185
The test is now green: https://k8s-testgrid.appspot.com/sig-network-gce#ingress-gce-e2e

/close

[2018-04-03 04:38] #185 closed

[2018-04-03 04:47] nikhiljindal opened #186 "Controller doesnt reenque on instance group GC failure"
Found while debugging kubemci failures.

Steps to repro:
* Create an MCI ingress using kubemci
* Delete the MCI using kubemci CLI

Expected: All GCP resources are deleted

Actual: Instance group is not deleted

Cause:
In kubemci we first delete the ingress and then delete the GCP resources (including backend service).
When ingress is deleted from cluster, ingress-gce controller tries to delete the

[2018-04-03 04:49] nikhiljindal commented on #186
Steps to repo without using kubemci:
* Create an ingress.
* Optional: Add annotation `kubernetes.io/ingress.class: gce-multi-cluster` so that it only creates instance group and not the full stack.
* Create a backend service pointing to the instance group for that ingress.
* Delete the ingress.

Note that the instance group will not be deleted even after you delete the backend service

[2018-04-03 05:08] nikhiljindal commented on #186
Sent https://github.com/GoogleCloudPlatform/k8s-multicluster-ingress/pull/169 to update kubemci

[2018-04-03 05:46] nicksardo commented on #186
ILBs use instance groups... Until we have a single controller responsible for managing the instance groups or we have a different set of instance groups for ILBs, I don't see this logic changing.

[2018-04-03 21:05] tsloughter commented on #28
I see there was a v1.0.0 release 18 days ago. Was this the completion of the major refactoring you talked about @nicksardo ?

Is it possible yet to configure how long a connection can be idle before the LB closes it?

[2018-04-06 12:15] tetianakravchenko commented on #60
I am also interested in affinity for GCE ingress, any updates for this ticket?

[2018-04-08 19:06] #30 closed

[2018-04-09 16:53] jody-frankowski opened #197 "Failing to create an Ingress shouldn't stop the controller from creating the others"
(Not sure if that is the right place to fill this issue :smiley:)
It looks like the controller doesn't try to create other Ingress object when it fails for one.

See [this issue](https://github.com/jenkins-x/jx/issues/599) for the reproduction steps.
In a nutshell: Ingresses with non-NodePort services break proper Ingresses with NodePort services.

Also (not specified in the other issue) here are

[2018-04-10 20:53] nicksardo opened #201 "Fail earlier instead of using defaults"
- Ingresses targeting services that are not typed NodePort or LoadBalancer should fail and not create any additional resources.
 - translator.ToURLMap should not need to fetch backend services. They were asserted earlier.

[2018-04-11 13:00] thecodejunkie commented on #109
No updates on this?

[2018-04-11 17:34] freehan opened #204 "Support Leader Election for GLBC for HA masters"
GLBC should be leader-elected, (the same way we are doing for scheduler, controller-manager, cluster-autoscaler, etc.)
As an example, this is what scheduler is doing:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/app/server.go#L414

[2018-04-13 02:30] rramkumar1 commented on #201
1. Will be fixed by #214, which is a WIP
2. Fixed by #207

[2018-04-13 02:39] gkop commented on #33
Those of you all using Google's L7 load balancer in front of GKE, how do you do your maintenance mode? We had been pointing our ingress-provisioned load balancer default backend at a GCS bucket and it worked great during same maintenance windows in December and January. But tried to do a maintenance mode tonight and it did not go well :( At first I thought it was when we updated our deployments th

[2018-04-13 09:16] nicksardo opened #215 "Replace link parsing and generation with cloud library"
Todo: Replace code which generates or parses full/partial URLs with gce-cloud functions: https://github.com/kubernetes/kubernetes/pull/62516

[2018-04-13 17:27] jody-frankowski commented on #197
The k8s version of the cluster is `1.9.6-gke.0`.
I'll try to reproduce the issue with 1.10 when it's GA.

[2018-04-14 09:14] matohl commented on #51
Amazing this is not implemented yet, it is a basic required functionality in a load balancer 2018. Even more amazing since Google is trying to push the wen in the secure direction : https://www.theverge.com/2018/2/8/16991254/chrome-not-secure-marked-http-encryption-ssl

[2018-04-16 20:28] nicksardo opened #219 "Scale test failed because ingress wasn't deleted"
Test run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/258
GLBC log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/258/artifacts/e2e-258-68260c-master/glbc.log
Build log: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/258/build-log.txt
Test code: https://github.com/kubernetes/kubernetes/

[2018-04-16 22:59] nicksardo commented on #219
Looks like a race condition in the test code...

[2018-04-17 21:14] nicksardo commented on #201
Need to decide what's desirable behavior when the sync fails but the URL map references a backend service that should be GC'd. Maybe we continue to update the URL map on error? Maybe GC is smarter and updates the URL map to stop referencing the backend service? Maybe the backend service is stuck around until the ingress is fixed?

[2018-04-18 17:08] jdyer09 opened #229 "Documentation: Would like to see example yaml snippet for GCP certificate resource for SSL/TLS"
I'm assuming it would look like such, but it is somewhat unclear:
[code]

[2018-04-18 17:29] jdyer09 commented on #229
Also, noting that crt and key input cannot have newlines in the encoding would be useful.
Suggestion:

`apiVersion: v1
kind: Secret
metadata:
  name: testsecret
  namespace: default
type: Opaque
data:
  tls.crt: base64 encoded cert # note that newlines are not allowed in the encoding.  Try $ cat example.com.crt | tr -d "\n" | base64
  tls.key: base64 encoded key # The same is true as the cert abou

[2018-04-19 16:45] manjotpahwa1 commented on #149
Thanks for reporting! I'll get the documentation with no working links in place.

[2018-04-20 18:44] nicksardo commented on #143
Question is where to emit events for GC since GC is not tied to a specific ingress.

[2018-04-22 20:11] floyd-may commented on #37
This is very insightful commentary from @bowei, IMHO:

For my part, some clear messaging in the events to that end would be helpful. I think I've found a corner case where *no* IP is getting created and the Ingress resource is stuck forever in limbo. However, the above quote makes sense, and I'm going to change my strategy to provision the IP before creating a new Ingress resource.

[2018-04-23 16:11] nicksardo commented on #37
A static IP isn't always allocated because of quota concerns. I don't think this should change regardless of whether the ingress is HTTPS or not.
/close

@floyd-may these comments were copied by that account to this repo. Note that he isn't the original author of most of these comments.

[2018-04-23 16:11] #37 closed

[2018-04-23 21:17] nicksardo commented on #219
Fixed by the awesome @MrHohn
/close

[2018-04-23 21:17] #219 closed

[2018-04-26 15:15] sonu27 opened #241 "Failing to pick up health check from readiness probe"
When I create a GCE ingress, Google Load Balancer does not set the health check from the readiness probe. According to the docs ([Ingress GCE health checks][1]) it should pick it up.

Any ideas why?

Deployment:

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: frontend-prod
      labels:
        app: frontend-prod
    spec:
      selector:
        matchLabels:

[2018-04-26 18:42] nicksardo commented on #94
/remove-lifecycle rotten

[2018-04-26 18:43] nicksardo commented on #241
There are several caveats. The health check should not already exist as it won't overwrite settings. Furthermore, the pods need to exist at the time of ingress creation.

[2018-04-27 15:04] sonu27 commented on #241
@nicksardo Yes I know that it will not overwrite settings of the ingress.

I created a deployment and service, and waiting for the Pods to go green in GKE (when the readiness probes are passing) and then I created the ingress, and it just uses the default `/ (200)` rather than from the readiness probe.

Anything else I can provide to prove this is a bug?

[2018-04-27 21:29] rramkumar1 commented on #204
/assign @nicksardo

[2018-04-27 21:30] rramkumar1 commented on #186
/close

[2018-04-27 21:30] #186 closed

[2018-04-27 21:31] rramkumar1 commented on #215
Cloud Provider change: https://github.com/kubernetes/kubernetes/pull/62516

[2018-04-27 21:31] rramkumar1 commented on #215
/assign @nicksardo

[2018-04-27 21:32] rramkumar1 commented on #184
/assign

[2018-04-27 21:37] rramkumar1 commented on #157
@maxiplay The GCE Ingress controller does not do any modification of response headers. This sounds like an issue with Google Cloud Load Balancer rather than Ingress. Closing this issue for now.

[2018-04-27 21:37] rramkumar1 commented on #157
/close

[2018-04-27 21:37] #157 closed

[2018-04-27 21:37] rramkumar1 commented on #143
/assign

[2018-04-27 21:39] rramkumar1 commented on #127
/assign

[2018-04-27 21:44] rramkumar1 commented on #116
Closing this for now. @znorris reopen if you are still having issues.
/close

[2018-04-27 21:44] #116 closed

[2018-04-27 21:46] rramkumar1 commented on #131
This issue should be fixed in v1.1.1. We migrated to a new naming scheme for certs which eliminates the issue of truncation when the name is too long (see #200). Closing for now, but please reopen if you still have issues.
/close

[2018-04-27 21:46] #131 closed

[2018-04-27 22:36] rramkumar1 commented on #201
/assign

[2018-04-27 22:41] rramkumar1 commented on #38
@slabber Cloud Armor integration with ingress-gce will be coming very soon :)

[2018-04-30 12:08] sonu27 commented on #241
@briansneddon dude! Thanks so much. That did the trick.

Unless I'm mistaken, it doesn't say this anywhere, so I think the docs should really be updated.

[2018-05-01 23:00] djensen47 opened #245 "Long time-to-first-byte problem"
I've been experiencing long wait times for time-to-first-byte (TTFB) using the ingress-gce on GKE.

I compared going through the ingress-gce versus connecting directly to a pod. Going directly to the pod via a portforward, TTFB times are in the 300ms range.

Via the ingress I have noticed:
- TTFB times between 1 - 5s
- Happens a lot on GET OPTION calls but not always
- Randomly occurs on other cal

[2018-05-01 23:02] djensen47 commented on #245
Here is out ingress config:

[code]

And the gateway service config (the web service is similar):

[code]

[2018-05-02 09:18] ppawiggers opened #246 "Support SSL policies"
GCLB [provides 3 SSL policies](https://cloud.google.com/compute/docs/load-balancing/ssl-policies?hl=en_US): COMPATIBLE, MODERN and RESTRICTED, which disable specific ciphers. By default, an ingress resource on GCLB selects the COMPATIBLE SSL policy, but I'd like that to be configurable (so TLS v1.0 can be disabled for my resource).

[2018-05-04 01:12] nicksardo commented on #245
As Ahmet mentioned in https://groups.google.com/forum/#!topic/kubernetes-users/omg-b8_FcBM, this is better answered by GCP support.

Could you try simplifying the repro by testing outside the context of GKE/kubernetes.  Spin up an instance running echoserver and create an L7 LB through the GCP .Console.

[2018-05-04 21:50] #23 closed

[2018-05-04 21:52] nicksardo commented on #19
Dupe #184
/close

[2018-05-04 21:52] #19 closed

[2018-05-04 21:55] nicksardo commented on #109
This is an upstream request to GCP load balancing: https://cloud.google.com/support/docs/issue-trackers
/close

[2018-05-04 21:59] nicksardo commented on #164
Look at GCP Console to see logs, healthcheck status, and the healthcheck settings used.
Dupe to https://github.com/kubernetes/ingress-gce/issues/34
/close

[2018-05-04 21:59] #164 closed

[2018-05-04 22:01] nicksardo commented on #241
Feel free to send a quick PR.

[2018-05-04 22:03] nicksardo commented on #197
Fixed in later versions of ingress
/close

[2018-05-04 22:03] #197 closed

[2018-05-04 22:51] nicksardo commented on #46
This is supported in the controller version 1.1+
/close

[2018-05-04 22:51] #46 closed

[2018-05-04 22:55] nicksardo opened #249 "Rewrite ingress-gce general documentation"
TODO: Rewrite README.md emphasizing on the features this controller does support and provide links to the appropriate example directories.

[2018-05-04 22:56] nicksardo commented on #149
Duping to #249
/close

[2018-05-04 22:56] #149 closed

[2018-05-04 22:56] nicksardo commented on #45
Duping to #249
/close

[2018-05-04 22:56] #45 closed

[2018-05-04 23:04] MrHohn opened #250 "Need e2e test to ensure an ingress with non-nodeport services won't break the others"
Ref https://github.com/kubernetes/ingress-gce/issues/197.

We can simply iterate on the existing testcase:
`should update ingress while sync failures occur on other ingresses` (https://github.com/kubernetes/kubernetes/blob/fc60d36a8e74bad7d8bce550489dcf25e113c5d2/test/e2e/network/ingress.go#L149).

[2018-05-08 11:50] hnykda commented on #51
Totally agree. It is ridiculous. Is there anything one could do to make this happen? Any open source project which could unblock this? It's the most wanted feature by an order of [magnitude](https://googlecloudplatform.uservoice.com/forums/302616-load-balancing) and nothing.

[2018-05-08 20:28] rramkumar1 commented on #181
/assign

[2018-05-08 21:45] G-Harmon commented on #71
/remove-lifecycle stale

[2018-05-10 07:54] bartimar commented on #33
why is this still not implemented? :(

[2018-05-10 10:55] kimroen opened #259 "GCE: Converting ephemeral IP to static doesn't update related TargetHTTPSProxy"
This could be user error or issues with documentation, but I was encouraged to make an issue after first commenting on the help document I was following, so here goes:

I was going through [this tutorial on getting an Ingress set up](https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer), and then later ran into some issues getting TSL-termination working. When visiting the domai

[2018-05-10 19:01] rramkumar1 commented on #127
Should be fixed by #242

[2018-05-10 19:03] rramkumar1 opened #261 "Clean up unit tests for load balancer pool, backend pool and controller"
The unit tests for these three components are quite messy and should get a thorough clean up.

/assign

[2018-05-10 20:39] nicksardo commented on #259
Which version of Kubernetes were you using?

[2018-05-10 22:35] rramkumar1 commented on #127
/close
Fixed by #242

[2018-05-10 22:35] #127 closed

[2018-05-10 22:36] rramkumar1 opened #263 "Ingress e2e tests should ensure that default backend passes health checks."
/assign

[2018-05-11 06:30] leedsjb commented on #249
Please note the file ingress-app.yaml referenced in README.md does not exist in the repo. Please see: https://github.com/kubernetes/ingress-gce/pull/150 where this file was removed.

[2018-05-11 09:08] kimroen commented on #259
This is a newly created cluster, so it's running the default (`1.8.8-gke.0`).

[2018-05-11 15:44] briansneddon commented on #246
This may be already implied, but for the sake of clarity the three policies above are the pre-defined policies and if support for switching the policies is to be added then it should also include support for custom policies (also explained in the link above).

[2018-05-12 01:32] MrHohn commented on #132
/remove-lifecycle stale

[2018-05-14 19:13] rramkumar1 opened #269 "Explore options for removing code which adds legacy GCE health check settings"
/assign

[2018-05-15 01:33] djensen47 commented on #245
I now have a GCP support ticket open.

However, at least 2 others have now chimed in that they are experiencing the same problem with a similar setup.

[2018-05-17 19:03] freehan opened #274 "Remove NEG FeatureGate"
Make NEG controller run by default.

[2018-05-18 15:43] nicksardo commented on #245
Copying my response to kubernetes-users which djensen47 indicates worked for him.

I created an HTTP LB setup on GCP using a golang HTTP server without kubernetes and was able to see rare long-tail latencies in >1 second. After I set `IdleTimeout` to larger than ten minutes, I stopped seeing those slow responses.  The echoheaders image uses nginx and doesn't set `keepalive_timeout`  (sent PR to up

[2018-05-18 18:44] nicksardo commented on #249
Be sure to mention how users should configure their timeouts in their applications: https://github.com/kubernetes/ingress-gce/issues/245

[2018-05-20 19:31] emasyakin-softheme commented on #51
Guess it's less important than automatic AI-driven calls on android :)
But it should be brain-dead easy to do on the loadbalancer side.

[2018-05-23 04:51] metral commented on #32
Hitting this on v1.1.1

/remove-lifecycle stale

[2018-05-23 13:30] manishrajkarnikar opened #282 "Does not work if workers are in different subnet."
I have workers spanning different subnet for security reasons.  I see following error during the creation of unmanaged instance group. As a result, it cannot add any instance in the group

[code]

[2018-05-24 14:43] jessfraz opened #286 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 20:57] rramkumar1 commented on #76
/close

[2018-05-25 20:57] #76 closed

[2018-05-29 22:29] nicksardo commented on #282
Can you describe your setup? Are you using multi-cluster or single cluster ingress?

[2018-05-30 04:37] WhileLoop commented on #51
Using nginx ingress controller seems to be the best work around at the moment.

[2018-05-31 00:11] djensen47 commented on #245
Hi, this problem has returned. I'm not sure why I didn't experience the issue immediately after setting the IdleTimeout but a few days after, this problem has returned. Not only that, a [few others are experiencing this same problem](https://groups.google.com/forum/#!topic/kubernetes-users/omg-b8_FcBM).

I've tried to bring this up with _paid_ support but all they're doing is deflecting the ticket

[2018-05-31 16:42] #286 closed

[2018-05-31 18:16] ahmetb opened #290 "https-only GKE ingress is still showing port 80"
I have a HTTPS only ingress that shows port 80 in kubectl get (kubectl v1.10.2):

[code]

I think port 80 actually isn't open:

![image](https://user-images.githubusercontent.com/159209/40799994-f488d8f6-64c3-11e8-9da5-8ff2ee86b31c.png)

describe output:

[code]

My YAML:

[code]

any ideas if this is a kubectl bug?

[2018-05-31 22:34] rramkumar1 commented on #290
@ahmetb Does your service "helloweb-backend" have port 80 as one of the service port's? I'm thinking maybe that kubectl looks at the services your Ingress references and blindly lists all service ports.

[2018-05-31 22:47] ahmetb commented on #290
It does not mention `80` anywhere. You can view the manifests at https://github.com/GoogleCloudPlatform/kubernetes-engine-samples/tree/master/hello-app-tls/manifests.

I suspect this is some hardcoding in kubectl.

[2018-06-01 12:49] octplane opened #292 "Align node filtering with service controller"
Hello,

Would there be any interest in aligning the current node selection currently done when building the Instances Group:

https://github.com/kubernetes/ingress-gce/blob/master/pkg/controller/utils.go#L202-L215

- code ignores `Unschedulable` nodes,

to the one in k8s:

https://github.com/kubernetes/kubernetes/blob/97fdf8ac70dfdaf07074dee6b6cb345be71e96ec/pkg/controller/service/service_controll

[2018-06-01 19:16] Stephen2 commented on #246
This would be great

[2018-06-01 20:06] svenbovens opened #294 "Error 400: The SSL certificate could not be parsed."
On all our ingresses on GKE we see the following error:
[code]
It is not clear from the error what certificate is being talked about. (it's also shown on ingresses without tls termination).

Next to that, creating an ingress no longer seems to automatically open up the firewall anymore for the related node ports, so I can imagine this is related to the above error.

Since we have no access on the

[2018-06-01 20:33] lbernail opened #295 "Exclude Master and ExcludeBalancer nodes from Instance Groups"
The list of nodes added to instance groups is not consistent with the service controller.

In the service controller, when calling `ensureLoadBalancer` the node list provided to the cloud controller is built without Master and ExcludeBalancer nodes (with the feature gate ServiceNodeExclusion). Labels filtered out are `node-role.kubernetes.io/master` and `alpha.service-controller.kubernetes.io/excl

[2018-06-01 22:07] lbernail commented on #295
I've just realized that this is a duplicate of #292
(I discovered the issue with @octplane earlier and did not recheck the issues before submitting)

I'm keeping it opened if you want some context on why this is an issue for us but feel free to close it

[2018-06-02 02:19] nicksardo commented on #294
One of your secrets referenced by an ingress must be malformed - check each one. You might be able to look at the activity log in GCP Console to see the name of the certificate which failed to be created. Might point you to the ingress referencing it.

Which k8s master version are you running?

[2018-06-02 09:48] svenbovens commented on #294
Thanks for the tip about the activity log Nick! There was a sequence of the following events about every minute:

- Failed:Delete SSL certificate (error message = Not found (HTTP 404): The resource '...' was not found)
- Create SSL certificate
- Completed:Create SSL certificate

A bit strange but the certificate pointed to in the details was indeed invalid. After fixing it, the event is gone on th

[2018-06-02 09:48] #294 closed

[2018-06-02 10:51] svenbovens opened #298 "Invalid certificate leads to firewall rule no longer being updated on GKE"
Related to #294. We had an invalid certificate pointed to by an ingress leading to an event "Error 400: The SSL certificate could not be parsed." shown on all ingresses.

When creating a new ingress in this state everything would be done properly except adapting the firewall rule to add the new port. This lead to failing health checks for the backend and the ingress not being usable.

In the logs

[2018-06-04 16:50] rramkumar1 commented on #269
Looks like we can't get off legacy health checks, so we will revisit this later. For now, the above PR should make sure that we only get the legacy health check once, rather than all the time.

[2018-06-05 14:09] anderspetersson commented on #33
I'm also waiting on Cloud Storage Bucket support in Ingress-GCE

[2018-06-05 18:18] #295 closed

[2018-06-06 00:34] jmhodges opened #311 "tls secrets not updating due to invalid resource.name"
This is with v1.10.2-gke.3 (the GKE default now, I believe)

Updating a tls Secret used in a GCLB Ingress is failing because the `resource.name` field generated by the Ingress (or something) is invalid. Error from a `kubectl describe ingress apps`:

[code]

(The important bit is `Invalid value for field 'resource.name': 'k8s-ssl-69d4fb7e3d37d4e1-3275ae2d33a9a727--'. Must be a match of regex '(?:a-

[2018-06-06 00:36] jmhodges commented on #311
(I also made a ticket at https://issuetracker.google.com/issues/109759258 but the last time I found a bug around cert updates happened, I had to make 3 tickets before it was found so I figured I ought to bring it here.)

[2018-06-06 09:56] matti commented on #42
"on Ingress creation, ingress controller will scan all backend pods and pick the first ReadinessProbe it encounters and configure healthcheck accordingly"

I'm not seeing this, the health check will always point to default path "/" with:

[code]

[2018-06-06 15:54] nicksardo commented on #311
That's weird - the cluster UID is missing. What do you get when you run
[code]

[2018-06-06 16:32] rramkumar1 commented on #290
@ahmetb Yea mostly likely not an ingress-gce issue. Can we close this?

[2018-06-06 17:17] #290 closed

[2018-06-06 18:52] jmhodges commented on #311
[code]

That seems.. bad.

[2018-06-06 19:04] nicksardo commented on #311
Indeed. I don't believe there's a code path in the controllers to wipeout those controllers, so I'd check to see if any of your commands could have done that.

If you know what the `uid` used to be (can look at existing GCP resources), you can update the configmap. If the controllers are still in a bad state after an hour, you might need to reboot the controllers. Since you're on GKE, that's not i

[2018-06-06 20:42] jmhodges commented on #311
Hm, I poked at `cloud compute instances describe` and a couple others, but couldn't find that setting. Do you know one that would have it?

[2018-06-06 20:59] nicksardo commented on #311
Instance groups are guaranteed to not have truncated values. It has the naming pattern `k8s-ig--[UID]`. If you have multiple clusters, you'll see multiple sets of groups. You'll have to look at the instance groups targeted by existing loadbalancers which you know belong to the broken cluster.

[2018-06-06 21:04] jmhodges commented on #311
Hrm, in my instance groups (`gcloud compute instance-groups list` and in the GCP web UI), I have `gke-${MYCLUSTERNAME}-${MYPOOLNAME}-5ccb819a-grp` and `k8s-ig`.

Neither of those look right? Are they and I didn't understand what to look at?

[2018-06-06 21:09] nicksardo commented on #311
Then the configmap was wiped out before you created your first ingress.

You'll have to delete your ingress, set a UID value, then re-create the ingress.

[2018-06-06 21:11] jmhodges commented on #311
Yeah, but ... how do I get the UID? You said to get the UID from the ingress names, but I don't have them (maybe because they had to be recreated when I swapped nodepools?). :(

[2018-06-06 21:17] nicksardo commented on #311
Nodepools are entirely orthogonal to L7 instance groups. If all your L7 resources are missing a `--{UID}` suffix, then the configmap was cleared before doing anything.

In this case, you can set the UID to anything... take `6c439cffb1e86ccc` from my example above.

Another option is to just migrate to a new cluster and use DNS to transition between LB VIPs.

[2018-06-07 10:35] Gogoro commented on #42
I got the same issue as @matti. When I create an `ingress` pointing to a `service`, which again points to a `pod` it just keeps hitting `/` instead of the path I defined in `readinessProbe` and  `livenessProbe`. I can see in the logs that the `pod` itself checks itself easily, but the healthcheck goes ham on `/`. :(

I've been trying for a while to find information on this topic, but I feel like i

[2018-06-07 11:03] matti opened #317 "Ingress health check not following ReadinessProbe"
with:

[code]

the google health check is still `/`

Also confirmed by @Gogoro:

" When I create an ingress pointing to a service, which again points to a pod it just keeps hitting / instead of the path I defined in readinessProbe and livenessProbe. I can see in the logs that the pod itself checks itself easily, but the healthcheck goes ham on /."

In this discussion issue: https://github.com/kube

[2018-06-07 11:04] matti commented on #42
@Gogoro thanks, opened a new issue because this issue is for semantic discussion

[2018-06-07 16:18] nicksardo commented on #317
PTAL at this comment: https://github.com/kubernetes/ingress-gce/issues/241#issuecomment-385038196

Also, this is only retrieved on new GCP healthcheck objects. If you're adding the readiness probe post ingress setup, nothing will change.

[2018-06-07 16:18] #311 closed

[2018-06-07 16:20] nicksardo commented on #298
Root cause is https://github.com/kubernetes/ingress-gce/issues/44

[2018-06-07 16:20] #298 closed

[2018-06-07 20:59] sabinthomas commented on #179
Any update on this? I've looked at all the request headers on the request forwarded from the GCE Ingress, and I can't find anything that exposes the origin IP?

[code]

In the absence of this ability, I may have to move to using the nginx ingress.

[2018-06-08 04:28] ashleyschuett commented on #28
If anyone here is looking for a quick fix this is a controller I wrote that implements updating the backend service. It is using an annotations, and implements what was discussed in this issues. https://github.com/ashleyschuett/gce-ingress-backend-services/tree/master

[2018-06-08 10:17] gce-2017 opened #320 "Option to launch GCP TCP Proxy LB from Kubernetes"
It would be very useful to have a way to launch also GCP TCP Proxy LB directly Kubernetes. Currently there are only options to launch GCP Network LBs (Load Balancer and GCP HTTP(S) LBs (ingress).

There is currently way is to do it manually configuring Nginx ingress controller, but it will be a more user friendly option to be able to create it directly from k8s.

[2018-06-08 14:19] rgfunk opened #321 "Ingress tries to create SSL certificate from secret with illegal name"
With revision acbecb5671a06fe5582e3d5b80d1aa6d48347be8 the naming for SSL certificates created from secrets was changed to include the ingress-uid as a suffix (in namer.go). However, clusters with ingress resources created before kubernetes version 1.3 have an empty ingress-uid, as described here:

https://github.com/kubernetes/ingress-gce/blob/master/BETA_LIMITATIONS.md#changing-the-cluster-uid

[2018-06-10 23:07] icco commented on #43
I'm seeing this still, as the suggested fix doesn't work. Any other thoughts?

[2018-06-11 15:56] rramkumar1 commented on #204
Fixed by #258
/close

[2018-06-11 15:56] #204 closed

[2018-06-11 16:04] rramkumar1 commented on #263
Our new ingress validating framework will handle this.
/close

[2018-06-11 16:04] #263 closed

[2018-06-11 18:43] bowei commented on #321
/assign @prameshj

[2018-06-11 19:04] prameshj commented on #321
The naming convention was k8s-ssl-{nameHash}--{clusterId}-{secretHash} which got changed to k8s-ssl-{nameHash}-{secretHash}--{clusterId} here https://github.com/kubernetes/ingress-gce/pull/200 to be consistent with naming of other resources. However other resources use the load balancer name as the suffix which is guaranteed to be non-empty. The other resource names can get truncated if they excee

[2018-06-11 19:13] prameshj commented on #321
I'll work on a fix for this.

[2018-06-11 19:25] bem7 commented on #33
+1, is there an officially recommended approach until this issue is addressed?

[2018-06-12 00:21] #321 closed

[2018-06-12 06:55] yastij commented on #35
/remove-lifecycle

[2018-06-12 11:10] bfarayev commented on #33
After spending a lot of time on this, I found a way to use GCS backends and fix is not to use Ingress.

Kubernetes `NodePort` services allows us to use any port in 30000-32767 range. Instead of using GCE or nginx Ingress, you can provision the LB using Terraform and set your backends as either GCS based Backend Buckets or GKE based Backend Services.

You'll also need to use "Port name mapping" in

[2018-06-12 13:03] bartimar commented on #33
@bfarayev I use the same in production (actually provisioning w/ Google Deployment manager with jinja, not terraform)
this is so wrong. Somebody fix the ingress-gce please :(

[2018-06-12 13:19] cyberaleks commented on #33
My experience was that Google Cloud CDN + Storage + Kubernates is currently impossible.  For this purpose (for static resources) I'm using another CDN and not the Google Cloud crap (totally inflexible and expensive). So i configured my DNS to route cdn.<mydomain> to CDN Provider and CDN Provider maps it to storage.googleapis.com/<my-static>. But it's still impossible using Buckets without CDN or a

[2018-06-12 19:39] rcrogers commented on #28
I see the original report was over 16 months ago -- any developments?  This and #51 are very fundamental shortcomings.

[2018-06-12 19:52] mofirouz commented on #28
Cannot +1 this enough. This has caught us out so many times when we re/deploy applications/services. This is pretty much the only "manual" step that we have to do in our deployment procedure.

I'd love to use what @ashleyschuett has created/suggested, but we simply don't have the capacity to keep up to date with plethora of undocumented changes the GCP team makes to either GKE or some other part o

[2018-06-13 10:33] aaron-trout commented on #246
+1

Also network security policies :D

[2018-06-14 21:18] MrHohn commented on #132
FWIW coverage link: https://coveralls.io/github/kubernetes/ingress-gce?branch=master

[2018-06-16 01:18] bmhatfield commented on #33
Hey there - thanks for maintaining ingress-gce :-)

I just wanted to chime in and say that I've also just hit this and used the NodePort workaround. I think it's fine for a one-off but it's fairly burdensome as a general approach. So +1 to integrating this into the ingress GCE controller!

[2018-06-16 21:43] cceckman commented on #249
And note that the file `rc.yaml` listed in README.md does not exist in the repo.

[2018-06-18 15:04] aaron-trout commented on #246
Looks like security policy work is happening here: https://github.com/kubernetes/ingress-gce/pull/291

[2018-06-18 22:07] bmhatfield commented on #87
Hey there - thanks for maintaining ingress-gce :-)

I just wanted to chime in and say that I've also hit this issue but have been unable to determine a workaround. Perhaps the second ingress using an IPv6 is appropriate?

[2018-06-19 06:04] miverson commented on #311
I'm facing this identical issue.
Cluster is throwing certificate errors after an upgrade to v1.10.3-gke.3, and the uid is missing.

@jmhodges, Were you able to resolve your issue?

[2018-06-20 08:39] jmhodges commented on #311
I created a new cluster at my own expense because I didn’t trust that there wouldn’t be more bugs caused by updating the config.

(I’m a lil salty about it)

[2018-06-20 14:40] manishrajkarnikar commented on #282
@nicksardo I am using single cluster. But my masters are in different subnet than the workers.

[2018-06-24 18:32] RobMaskell commented on #246
This would be really handy

[2018-06-25 18:48] tianyicaii opened #363 ""./deploy/glbc/script.sh --clean" does not reset the file "./deploy/glbc/yaml/default-http-backend.yaml""
The second time to run the script (after --clean) would cause the file "./deploy/glbc/yaml/default-http-backend.yaml" in invalid syntax with extra empty "nodePort" field.

[code]

[2018-06-26 19:11] rramkumar1 commented on #215
Fixed by #308
/close

[2018-06-26 19:11] #215 closed

[2018-06-26 20:25] GGotardo opened #369 "Option to share LB between Ingresses"
I want to organize my cluster into multiples namespaces (**app1**, **app2**) and work with Ingress to access each of them. Something like:

[code]

[code]

But when I try to do so, the following error is showed while creating the second Ingress:
[code]

It tries to create another LB, but it should share the same one, just creating new backends/frontends.

[2018-06-26 20:29] #363 closed

[2018-06-26 21:16] rramkumar1 commented on #369
@GGotardo What's preventing you from just giving the ingress in "app-2" namespace a different static-ip?

The ingress-gce controller has no easy way of knowing that you wan't both those ingresses to have the same static-ip. Even if it did, the fact that Ingresses are namespaced means that the controller must respect this separation.

[2018-06-26 22:28] GGotardo commented on #369
Actually that's not a problem for me, and this is the way I'm doing on GCP, because I have a small development cluster, but I could have a big cluster with many namespaces. So I need 1 LB and 1 static IP for each one of them.

Thinking on GCP Load Balancer, it could be resolved with a single one and multiples backs/fronts.

Is **ingress-gce** responsible for creating Load Balancers once I create a

[2018-06-27 04:39] rramkumar1 commented on #369
Yes, ingress-gce is responsible for creating the LB resources given an Ingress specification.

I'm still confused on your use case. You say you need 1 LB and 1 static IP per namespace and you say you don't have a problem giving out IP addresses so why do you need everything to resolve to one IP? Like I said before, this is a very ugly problem to solve in the ingress-gce controller and the use case

[2018-06-27 04:44] rramkumar1 commented on #369
/kind feature

[2018-06-29 16:12] Dargmuesli commented on #51
/reopen
/remove-lifecycle rotten

haven't heard that this is fixed...

[2018-06-29 16:13] emasyakin-softheme commented on #51
it`s not rotten, it`s still important to do

[2018-06-29 16:14] Dargmuesli commented on #51
@bowei seems like you need to take action here

[2018-07-03 08:17] tomoe opened #385 "Unneeded health check created for kube-system:default-http-backend service"
When I create an Ingress that has default backends, the controller still creates a GCE healthcheck pointing to kube-system:default-http-backend service (default 404 server) even thought there's no chance of hitting the pod.

Usually, that doesn't do any harm, but possibly duplicated healthcheck probes may overload the l7-default-backend pod and causes the pod to restart with error messages because

[2018-07-03 13:46] muzuro commented on #141
/close

[2018-07-03 13:46] #141 closed

[2018-07-03 15:19] muzuro commented on #141
/close

[2018-07-05 02:50] #60 closed

[2018-07-06 18:34] rramkumar1 commented on #385
@tomoe This issue should be fixed in GLBC v1.2.0. We will only create a backends service for the system default backend if the user does not specify a default backend in their Ingress.

[2018-07-09 17:55] #241 closed

[2018-07-09 21:44] rramkumar1 commented on #249
@leedsjb @cceckman Working on a fix for that. Thanks for pointing it out.

[2018-07-09 22:52] rramkumar1 commented on #385
/close

[2018-07-09 22:52] #385 closed

[2018-07-11 12:39] JorritSalverda commented on #317
I have the same issue when changing the `readinessProbe` on existing applications I'm switching to GCE ingress. If the rolling update is slow an old `readinessProbe` is sometimes used. Would be nice to follow changes in the probe in order to update the health check. However since a service can resolve to pods with different readiness probes it might be useful to override the health check path in t

[2018-07-11 15:25] nicksardo commented on #317
@JorritSalverda , Unfortunately, due to legacy behavior, that cannot be done. See https://github.com/kubernetes/ingress-gce/issues/39

[2018-07-12 09:06] ashi009 commented on #369
It's not a rare use case in a large shared k8s cluster (L1/L2 GFE are doing the same).

For our case, different teams may use their own namespaces to manage their deployments and services. It shouldn't be their problem to manage things like public DNS setup, TLS termination, cert renewal, etc.

It's also worth mentioning that this is already supported by many other ingress controllers, eg. traefik

[2018-07-12 11:07] toredash commented on #369
This is a feature we also want. Currently we use a mix of nginx controller and gce controller. High volume service gets their own GCE LB, while normal services uses a shared nginx LB.

[2018-07-12 16:32] #317 closed

[2018-07-13 02:59] tomoe opened #395 "Way to check what version of GLBC is running on a GKE cluster"
I cannot seem to find a way to check what version of GLBC is running on a GKE cluster.
There should be a document and/or an API that enables users to find out that version information.

[2018-07-13 03:30] rramkumar1 commented on #395
/documentation

[2018-07-13 03:31] rramkumar1 commented on #395
/kind documentation

[2018-07-13 09:35] chaima-ennar opened #396 "unhealthy backend services, with 400, 412, 409 errors"
I am trying to deploy an application composed of two services front and back, I am using ingress and "gce" as a controller, Every time I modify the docker image of the service ( I add modifications in the code and nothing beoyond that), the service turns to be unhealthy. and I got these errors ,

here is my ingress ressource

[code]

[code]
And I the result is ?
ingress.kubernetes.io/backends:

[2018-07-13 10:29] ashi009 opened #397 "Feature Request: Name GCP resources better"
It's annoying to see a backend being referred as `k8s-be-31073--d4ff5a71b6e25bd6`, or an instance group being named as `k8s-ig--d4ff5a71b6e25bd6`.  All these names are totally meaningless on the GKE console.

Is it possible to give them some more meaningful names?

[2018-07-13 15:50] rramkumar1 commented on #396
@chaima-ennar Do you know what version of ingress-gce you are running?

[2018-07-13 16:51] priscila225 commented on #28
+1 on this one!

[2018-07-13 20:31] rramkumar1 commented on #274
@freehan Seems like all the work for this is done? Can we close?

[2018-07-14 00:20] tricky42 commented on #28
+1

[2018-07-14 17:48] evanlucas opened #399 "Add annotation for specifying backend-service timeout"
The backend-services created in gke when using this seem to reset the timeout back to 30 under certain circumstances (which I haven't yet figured out). Any chance an annotation could be provided that would allow this to be set? For context, we are using these for websockets, so the default of 30 seconds is not really desirable. I'd be happy to make the changes if this is something yall would be in

[2018-07-14 22:56] evanlucas commented on #399
I could have sworn I searched previous issues before posting, but I guess not. Appears to be a duplicate of https://github.com/kubernetes/ingress-gce/issues/28.

[2018-07-14 22:56] #399 closed

[2018-07-14 23:28] rramkumar1 commented on #396
@chaima-ennar Why are your instances not operational? I suspect that fixing your vm instances will fix this issue.

[2018-07-15 00:06] chaima-ennar commented on #396
@rramkumar1  I don't know they are the same instances used by both services front and back, they are working fine when it comes to the front service, ( I am pretty sure that the back service works fine)

[2018-07-15 22:35] freehan opened #400 "BackendService Sync bug in 1.2"
Somehow, the backend pool is not getting the correct service ports to sync.

The logs in question is below. See the highlighted log lines.

I0715 22:08:29.085212       1 controller.go:122] Ingress default/weather-frontend added, enqueuing
I0715 22:08:29.087433       1 controller.go:268] Syncing default/weather-frontend
I0715 22:08:29.088726       1 event.go:218] Event(v1.ObjectReference{Kind:"Ingr

[2018-07-16 20:07] nicksardo commented on #269
Nevermind. We can get rid of this given the Kubernetes backwards-compatibility standard.

[2018-07-16 20:15] nicksardo commented on #136
/remove-lifecycle stale

[2018-07-16 20:15] #132 closed

[2018-07-16 20:20] nicksardo commented on #38
/close
Now available in latest version of ingress-gce.

[2018-07-16 20:20] #38 closed

[2018-07-16 21:24] nicksardo commented on #42
Healthcheck configuration should be provided via BackendConfig CRD and the readiness probe approach should be deprecated and eventually removed.

[2018-07-17 02:21] rramkumar1 commented on #395
/assign

[2018-07-17 15:50] cfebs commented on #38
@nicksardo - is a specific k8s version required to use the whitelist annotation? Or will it just start working for gce ingress?

[2018-07-17 19:56] jpalomaki commented on #28
FWIW, also the new [edge firewalling feature](https://cloud.google.com/armor/docs/security-policy-concepts#ip_blacklistswhitelists_for_https_load_balancing_and_gcp_firewall_rules) could probably make use of this support

[2018-07-18 14:51] buckhx opened #404 "External CNAME records do not route properly via hostnames"
Using CNAME records to route to services via hostnames does not work. With the following setup, dev.test.io will 404. Changing the records to both be A records in the external DNS pointing to the same static IP routes properly with the same Ingress definition.

Example Zones:
[code]

Example Ingress:
[code]

[2018-07-18 15:35] buckhx commented on #404
Looks like it was a separate issue, pls ignore.

[2018-07-18 15:35] #404 closed

[2018-07-19 06:51] ddehghan commented on #75
Yes.     kubernetes.io/ingress.class: nginx can handle services that are exposed by ClusterIp.  We have it working in production

[2018-07-19 07:32] astleychen commented on #33
+1, would be helpful to me as well to serve static content directly.

[2018-07-19 13:46] rayfoss commented on #75
@ddehghan I definitely tried that in GKE with no luck, I'm having to use a dynamic IP on a node, which changes every k8s update. Are you sure you're using cluster ip and not node ip?

[2018-07-19 21:06] nickform commented on #38
This is great news - thanks to everyone who has tracked and worked on this.

[2018-07-20 07:17] chrishiestand opened #410 "ingress controller gave me 2 IP addresses instead of 1 when I added TLS"
I was simply running the ingress on WAN port 80 and everything was working fine. Then at the same time I added a tls cert and this annotation to an ingress manifest:

[code]
[code]

And now the kubernetes ingress object reports that it is listening on both ports, but in fact the original IP address only listens to port 80. When I log into the GCP console, I can see that my port 443 frontend has a

[2018-07-20 07:40] chrishiestand commented on #410
Of course, it could have been an error on the Google API side, not the controller.

[2018-07-20 18:50] ddehghan commented on #75
Here is my settings. nginx-ingress-controller is deployed in the cluster and gets the traffic from the External Load balancer on GKE.  We dont expose our pods to the GCE ingress. We just use it to bring the traffic to our own nginx-ingress. With the settings below the traffic gets routed correctly. But we still see this error

I am pretty sure this is just a bug. I deleted the ingress and recreate

[2018-07-24 11:02] randymay commented on #28
+1

[2018-07-24 13:01] artemyarulin commented on #28
Would be really great to be able to specify the timeout in ingress. For now, we are using a workaround:
[code]
We run this bash script after each successful deployment from CI - new services may be created after the deployment, so we ensure that all services has timeouts disabled (we handle it on our end).

[2018-07-24 18:11] rramkumar1 commented on #410
/kind bug

[2018-07-24 18:11] rramkumar1 commented on #410
/assign

[2018-07-24 19:33] guishimamoto commented on #38
Anyone was able to use the whitelist annotation in GCE ?

[2018-07-24 19:38] rramkumar1 commented on #38
Documentation for all our new feature support (IAP, CDN, CloudArmor) will be coming very soon.

[2018-07-24 23:42] wminshew commented on #28
+1

[2018-07-25 06:33] Despawned commented on #28
This definitely needs to be implemented ASAP. Running into the same issue myself.

[2018-07-25 06:48] Stono commented on #28
Have you all seen
https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig ?

On Wed, 25 Jul 2018, 7:33 am Zach Schrier, <notifications@github.com> wrote:

[2018-07-25 16:16] ClaudeQA commented on #28
+1

[2018-07-25 16:34] jdgriffith commented on #28
+1

[2018-07-25 16:41] esatterwhite commented on #28
+1

[2018-07-27 14:24] kraklin commented on #43
Any new information about this issue. We had to create new cluster and migrate all things to it because of this bug :/

[2018-07-27 18:02] freehan commented on #400
fixed by https://github.com/kubernetes/ingress-gce/pull/402

[2018-07-27 18:02] #400 closed

[2018-07-27 19:14] G-Harmon commented on #43
Why didn't the suggested workaround work, @icco?

[2018-07-28 19:12] adam0292 commented on #28
+1

[2018-07-30 17:19] bowei commented on #28
We are looking into exposing the timeout and healthcheck settings into BackendConfig, it seems like a natural place for the settings to live.

[2018-08-01 23:16] #274 closed

[2018-08-02 17:58] arthurlm44 commented on #246
supporting `ssl_policy` in an annotation would be a great feature

[2018-08-02 19:29] Kronuz opened #419 "Multiple pre-shared certificates not working"
In the documentation (https://github.com/kubernetes/ingress-gce/blob/fea549960931d72f6bd9505796d75ea8a085f92b/README.md#gcp-ssl-cert) it says multiple pre-shared certs can be specified as follows:

[code]

However, when I try that, I get the following error and certificates are not loaded:
[code]

Version is:
[code]

[2018-08-03 18:52] rramkumar1 commented on #419
What version of the ingress controller are you running? Based on your k8s version, I would think it is a version that does not support multiple TLS. Note that multiple TLS is supported in ingress-gce version 1.1 and higher

[2018-08-06 21:12] RobMaskell commented on #51
@bowei please can you reopen this ticket, it seems no one else can and it's important to some of us

[2018-08-07 00:36] nikhiljindal commented on #71
@MrHohn Any update on multi-zonal cluster support for testing ingresses?

[2018-08-07 13:07] tvainika commented on #181
/remove-lifecycle stale

[2018-08-07 15:22] rramkumar1 commented on #43
/assign

[2018-08-07 16:04] G-Harmon commented on #71
/remove-lifecycle stale

[2018-08-07 17:07] MrHohn commented on #71
@nikhiljindal Sorry this fell off the radar. I will see if I can do something this week.

[2018-08-07 17:53] bowei commented on #71
zihong is filing a separate issue for tracking adding multi-zonal tests

[2018-08-07 23:33] MrHohn opened #426 "ingress-gce-image-push job is failing"
From https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-image-push, job is constantly failing since today. Probably caused by a recent test infra change (https://github.com/kubernetes/test-infra/pull/8945). Will take another look.

/assign

[2018-08-07 23:54] #426 closed

[2018-08-08 12:53] dims opened #427 "Deprecate echoserver and add new container image based on cmd/echo"
please see discussion in https://github.com/kubernetes/kubernetes/pull/67035