[2018-08-08 12:53] dims commented on #427
cc @aledbf

[2018-08-08 16:18] icco commented on #43
@G-Harmon not sure, but it comes back like once a week.

[2018-08-09 11:24] jkosek commented on #28
+1

[2018-08-10 15:44] rramkumar1 commented on #292
Fixed by #370
/close

[2018-08-10 15:44] #292 closed

[2018-08-10 15:45] rramkumar1 commented on #261
/close

[2018-08-10 15:45] #261 closed

[2018-08-13 02:55] mattouille commented on #51
Since the Google Issue Tracker issue is now dead I think it's a good time remind everyone that Chrome has now declared all HTTP websites as "not secure".

https://www.eff.org/deeplinks/2018/07/google-chrome-now-marks-http-sites-not-secure

I propose that the prioritization of this issue be bumped accordingly to avoid causing pain and confusion to end users who don't understand what "not secure" ac

[2018-08-13 06:40] bowei commented on #51
Hi sorry, this issue should be frozen

[2018-08-13 23:25] rramkumar1 commented on #419
ping @Kronuz

[2018-08-13 23:51] AndyBarron commented on #109
Are there any updates on this? I cannot find anything related to it in the issue tracker.

[2018-08-14 00:27] Kronuz commented on #419
Yes, I was using v1.9.7-gke.3, and neither annotations nor multiple tls.secretName worked. With v1.10 at least the later works; but to be honest, I didn’t try comma separated certificate names in annotations with it, only secretName.

[2018-08-14 00:33] bowei commented on #419
Can this be closed?

[2018-08-14 03:06] bowei commented on #109
We most likely can't support this until the GCLB supports this. I would recommend looking at the open public issues and voting for rewriting for L7 load balancing:

https://issuetracker.google.com/savedsearches/559790

[2018-08-14 03:37] AndyBarron commented on #109
Thank you for the quick response! Shame it's blocked though. Maybe time to wrestle with the Nginx ingress then.

[2018-08-14 05:28] rramkumar1 commented on #419
@Kronuz going to close the issue out for now since it looks to be resolved.

Please reopen if you have further concerns.

[2018-08-14 05:28] rramkumar1 commented on #419
/close

[2018-08-14 05:28] #419 closed

[2018-08-14 15:40] lbernail opened #433 "When using NEG services only, the controller still creates instance groups"
Hello

We have been testing the NEG feature for a little while and I noticed that even when we only have services using NEGs, the controller still creates the instance groups (they are not attached to the backend-services which only point to NEGs)

Is this expected?

Laurent

[2018-08-14 18:44] rramkumar1 commented on #433
/assign @freehan

[2018-08-14 21:39] #395 closed

[2018-08-15 12:41] mayansalama commented on #397
Piggybacking onto this, it would be useful if there were a way to configure the name of the backend-service created by the Ingress.

I've been looking into using IAP for authentication, however getting user ID in GKE requires the backend service ID, which is a bit of a chicken and egg problem. Right now getting it working properly requires either redeploying, dynamic config, or looking up the serv

[2018-08-15 21:11] freehan commented on #433
Based on the current implementation (https://github.com/kubernetes/ingress-gce/blob/master/pkg/instances/instances.go#L86), even if the name ports are empty. Instance groups are still created.

The `default-http-backend` service under kube-system namespace is still not default to use NEG. Ingress controller will attach this backend (Instance Group) to the LB if the ingress does not include default

[2018-08-16 08:27] lbernail commented on #433
What about not calling `ensureInstanceGroupsAndPorts` in `ensureIngress` if the service has the NEG annotation?
We'd still need to handle the default-http-backend case. I'm not very familiar with the code yet but I'm happy to work on a PR if you have ideas on how to handle this

[2018-08-16 11:37] mofirouz commented on #87
I'd really like to have this feature where an Ingress/LB setup via Kube will have both an IPv4 and IPv6 address. Most apps/games that are developed for iOS require IPv6 for App Store submission. This is a hard requirement from Apple.

Can we use this as a valid request to push for supporting IPv6 LB frontend support via Kube?

[2018-08-16 16:38] freehan commented on #433
Yeah. That is what I plan to do. But need to watch out GC logic for this though.

[2018-08-16 17:26] MrHohn opened #438 "ci-ingress-gce-e2e-scale is failing"
Ingress scale job (https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale) has been failing since 08-13. Most likely due to resource leakage. Sample failure:
[code]

/assign

[2018-08-16 17:46] rramkumar1 commented on #438
Most likely same issue as https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e

I suspect there is some GC issue that was introduced.

[2018-08-16 22:11] MrHohn commented on #438
I said that too quick, in the latest run test hit quota issue, but from some previous runs (e.g. https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/742/artifacts/e2e-742-886f8-master/glbc.log) I saw some nil pointer exceptions:
[code]

[2018-08-16 22:25] MrHohn commented on #438
That nil pointer issue seems to be fixed by https://github.com/kubernetes/ingress-gce/pull/434 already.

[2018-08-16 23:03] MrHohn commented on #438
From https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e/2694/artifacts/e2e-2694-58614-master/glbc.log it seems like GLBC kept failing liveness probe, hence kubelet was constantly killing it:
[code]

Probably related to neg controller? @freehan

[2018-08-17 00:56] MrHohn commented on #438
https://github.com/kubernetes/ingress-gce/pull/441 should fix the liveness probe issue.

[2018-08-17 15:11] rramkumar1 commented on #438
@MrHohn Looks like latest scale test failures are being caused by quota issues.

[2018-08-17 22:30] MrHohn commented on #438
Manually cleaned up resource. Let's see if the next run goes green.

[2018-08-21 23:59] lbernail commented on #433
I just built a controller from master and tested it
It worked great. Thanks!

[2018-08-22 00:00] rramkumar1 commented on #433
/close

[2018-08-22 00:00] #433 closed

[2018-08-22 00:13] jainishshah17 opened #445 "Allow configuration-snippet Annotation."
I have need to do URL rewrite to use my application. I want to do following:

[code]

It will be great to have support for `configuration-snippet`.

[2018-08-23 10:50] haydave commented on #28
+1

[2018-08-23 16:49] rramkumar1 commented on #179
/kind feature

[2018-08-23 17:00] bowei commented on #179
Hi, can you post your headers that you are seeing on your application side?
According to this page: https://cloud.google.com/load-balancing/docs/https/, you should be seeing `x-forwarded-for`

[2018-08-27 18:15] sijnc commented on #87
We use loadBalancerSourceRanges to restrict access to staging environments. We're starting to see residential ISPs issuing IPv6 addresses and we are unable to provide stage access to these clients because of this issue. I suspect we'll start seeing even more IPv6 in the future making the problem even worse. We really need this ASAP so another +1 for getting this working in GKE. I'm ok with using a

[2018-08-30 21:05] TxsAdamWest commented on #136
Any update on this?

[2018-08-30 21:57] bowei commented on #136
GKE currently gives a grace period to allow the controller to delete the resources, so the resources should get a chance to be deleted. It may be that the controller is taking longer than the grace period to do the GC, which we are working on.

[2018-08-31 03:44] gukjoon commented on #33
+1 to this. My frontend load balancer is the only piece of my stack not fully automated. Would love to see this feature!

[2018-09-02 00:55] bgetsug commented on #18
Is there anyone who can speak to the priority of completing this or anyone who can currently provide a working example since #146 has been merged?

I am struggling to configure HTTPS (HTTP/2) ingress on GKE in front of the Cloud Endpoints ESP for a gRPC service. To clarify I'm trying to achieve the following architecture:

[code]

Anything seem wrong or unreasonable with that?

I have referred to

[2018-09-03 04:50] bgetsug commented on #39
/remove-lifecycle stale

[2018-09-03 23:02] bowei commented on #32
/lifecycle frozen

[2018-09-04 07:04] bgetsug commented on #18
Well after much knob twiddling I was able to access a gRPC+Cloud Endpoints (ESP) service through an HTTPS LB. I ended up configuring everything manually via the web console, but will probably write a script so I can at least replicate the process with `gcloud`.

A few notes that may help others:
- https://cloud.google.com/load-balancing/docs/https/#components

- https://cloud.google.com/load-balan

[2018-09-04 12:52] irvifa commented on #317
Have the same problem here, actually, I need to create my own health check path in the GCP UI after updating my ingress. I already used k8s version 10.2.

So what can we do @nicksardo ?

[2018-09-04 20:50] prameshj opened #465 "Disabling TLS on an active ingress needs to delete resources(target proxy, certs)"
Currently these will not be garbage collected. Unused certs will be deleted only when there is a tls config update.

[2018-09-05 22:46] rweindl opened #466 "Issue with multiple domains and SSL certificates when using ingress-gce"
I am exposing a micro service running on GCP's kubernetes engine via Google's Ingress load balancer. According to [[Here]](https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-multi-ssl) the load balancer supports multiple SSL certificates for different domain names via SNI lookup.

However, only the first specified SSL certificate is returned and therefore I receive a `Your connection i

[2018-09-06 20:40] MrHohn commented on #438
Scale test started failing again since 08/30 (https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e&width=20).

GLBC kept panicing during test (https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/811/artifacts/e2e-811-886f8-master/glbc.log):
[code]

[2018-09-09 09:35] anderspetersson commented on #466
Are you running Ingress GCE at-least version 1.1.0? https://github.com/kubernetes/ingress-gce/blob/master/CHANGELOG.md#110

[2018-09-09 22:48] manjotpahwa1 commented on #18
Not yet, in progress.

[2018-09-10 20:22] rllin-fathom opened #469 "GKE ingress with https load balancer and IAP/security policy enabled"
I have an application that uses GKE Ingress for a load balancer.  Recently GKE started supporting declaring IAP support via `BackendConfig`.  I followed the documentation at [1] and [2].  However, now, GKE seems to hang while creating my Ingress.

Below is the yaml for my service, ingress and backendconfig.

`kubectl -n randall-test-1 get svc,ing,backendconfig -o yaml`

[code]

The hang gives me n

[2018-09-10 20:27] MrHohn commented on #469
@rllin-fathom What is your GKE master version? Does creating ingress with the same setup but without BackendConfig work?

[2018-09-10 20:28] rayfoss commented on #75
@Freyert are you on GKE? I suspect their firewalls make this impossible

[2018-09-10 20:39] rllin-fathom commented on #469
@MrHohn
my gke master version is `1.10.6-gke.2`.  And yes creating the same set up without the `BackendConfig` works

[2018-09-10 20:50] MrHohn commented on #469
@rllin-fathom Given the situation, I think the best move would be looking at ingress controller's logs at the moment. Would you mind emailing me your cluster information {cluster_location, project_name, cluster_name} and I can take a look?

[2018-09-10 21:06] rllin-fathom commented on #469
@MrHohn done, thanks!

[2018-09-11 08:15] pbzdyl commented on #28
Is there any timeline when timeout configuration will be available in `BackendConfig`?

[2018-09-11 13:02] taras-stotsky opened #470 "GCE ingress stucks on "Creating ingress" status, existing ingresses don't update"
GCE Ingress stucks on "Creating ingress" status.
Also changes on existing ingresses don't appear on load balancer.

Cluster version: `1.10.7-gke.1`

Ingress is creating without any custom properties:

[code]

[code]

I don't see any error/warn messages on cluster/balancer logs.
How can I find problem cause and fix it?

[2018-09-11 15:45] rramkumar1 commented on #470
@taras-stotsky Given that you are on GCE, can you go on your master node and fetch the ingress-gce logs?

The logs are located at /var/log/glbc.log

[2018-09-11 15:51] rramkumar1 commented on #466
@rweindl As previously stated, you need to be running version 1.1 to get this feature.

[2018-09-11 16:54] rramkumar1 opened #471 "Ingress-GCE has a nil pointer exception"
We are aware of a nil pointer issue in v1.3.2. This bug was actually fixed in #434 but did not make it into the 1.3 release branch. Since this nil pointer crashes the controller, the issue is not surfaced to users other than Ingresses not being synced.

The current workaround is to delete the Ingress which is not being synced and recreate it. A fix will be coming in the next 1.3 patch release (v1.

[2018-09-11 16:54] rramkumar1 commented on #470
@taras-stotsky See #471

[2018-09-11 17:05] bowei commented on #28
We hear you :-)

[2018-09-11 17:07] rramkumar1 commented on #470
@taras-stotsky Please post here if the workaround detailed in the linked issue above works for you.

[2018-09-11 17:09] rweindl commented on #466
Thanks @anderspetersson and @rramkumar1 for pointing that out! Since I first recently created my cluster I thought I am using already the newest version of Ingress GCE. Can you please quickly point out how I can inspect/print my running version of Ingress GCE.

[2018-09-11 17:12] rramkumar1 commented on #466
@rweindl We don't surface this at the moment. For now, you can take a look at:

https://github.com/kubernetes/ingress-gce#gce--gke-version-mapping

We try to keep this version mapping as up-to-date as possible

[2018-09-11 17:15] taras-stotsky commented on #470
Yes, _now_ workaround works, ingress creates without stuck after recreating.
But before @rramkumar1 took a look on our cluster recreating didn't help.

[2018-09-11 17:17] rramkumar1 commented on #471
/kind bug

[2018-09-11 17:41] taras-stotsky commented on #470
@rramkumar1 sorry, workaround worked for me only with 1 single ingress. When I tried recreate another ingress in same cluster - now stuck with "Creating ingress". How can I use workaround without worrying you?

[2018-09-11 17:44] rramkumar1 commented on #470
@taras-stotsky The bulletproof approach would be to just recreate all your ingresses. What's happening is that one or more of your ingresses is running into the issue described in the above issue and that's blocking the sync of other ingresses.

[2018-09-11 17:48] taras-stotsky commented on #470
Ok, now I realize. Thank you again!

[2018-09-11 17:48] #470 closed

[2018-09-11 18:43] MrHohn commented on #469
Posting an update here, after inspecting the logs, it turned out ingress controller is getting permission denied (due to an internal bug on GCP) while updating IAP configuration on backend service, which leads to the hang of ingress creation.

For those who hit this same issue, a temporary workaround is to set [1] the default GKE service account (Kubernetes Engine Service Agent) as an Owner. This

[2018-09-11 22:18] rweindl commented on #466
@rramkumar1 Thanks for providing me this mapping! Upgrading my GCE and GKE helped and then redeploying my ingress load balancer helped!

[code]

[2018-09-12 18:04] abstrctn commented on #471
Is there a way to verify whether this is occurring in a GKE cluster? Since I don't think we have access to the logs, we can't check for the exception listed in #434, but we'd like to make sure this is the issue before recreating Ingresses.

[2018-09-12 18:11] rramkumar1 commented on #471
Unfortunately, no. If you are able to update your Ingress and see the changes reflected in GCP, then you should be fine. Otherwise, you are most likely hitting this issue. Also note that this is only happening is GKE clusters above version 1.10.6

[2018-09-12 21:50] freehan commented on #471
/lgtm

[2018-09-13 11:28] aviresonai commented on #469
We are seeing the same behavior (status remain "Creating ingress" in gke version 1.10.6-gke.2), yet we tried the suggested workaround and it did not work for us.

Our Ingress object contain a list of rules (with a backend for each  ) - something like
spec:
  rules:
 - host: <my domain name>
    http:
      paths:
      - backend:
          serviceName: <my service name>
          servicePort: www

[2018-09-13 17:08] MrHohn commented on #469
@aviresonai Did you enable IAP on Ingress via BackendConfig as well? Did creating ingress without IAP work?

[2018-09-13 19:01] poor-bob commented on #471
I'm pulling my hair out trying to figure out why our ingresses suddenly stopped being fulfilled by the ingress controllers. Normally I've found a very reasonable explanation (Quotas, etc.), but this time I'm relatively sure we're running into this bug.

kubernetes master version: 1.10.6-gke.2

We've tried deleting every ingress and recreating them, to no avail. Is there a time period I should wait

[2018-09-13 19:51] addisonbair commented on #471
@rramkumar1
I'm experiencing the same issue with 1.10.6-gke.2

I have disabled the default GKE loadbalancer-controller and installed this version JUST to see logs. Indeed I am experiencing this issue:

[code]

If I delete and recreate each and every ingress from my project, can I expect to get past this nil pointer dereference issue?

[2018-09-13 19:56] rramkumar1 commented on #471
@addisonbair Theoretically yes. Since you installed another instance to get logs, you should be able to find out if that indeed works for you.

[2018-09-13 20:17] addisonbair commented on #471
Not related to the nil pointer issue, but my default backend disappears (both the service and deployment) without a trace:

[code]

Is there any way I can debug this?

[2018-09-13 20:35] addisonbair commented on #471
Will do. 👍

I believe I have a fix and in the process uncovered a possible bug with the yaml manifests.

Since I don't have access to the masters (GKE) I can't be completely sure, but it appears there is a conflict between the Addon-manager running on the master and the annotations on the objects within `deploy/glbc/yaml/default-http-backend.yaml`. By changing the annotations to `addonmanager.kube

[2018-09-13 21:02] addisonbair commented on #471
@rramkumar1

After deleting all my Ingresses, I am unfortunately still seeing the NPE.

Is there a known working pre-release image that I can use?

Thank you!!

[2018-09-13 21:09] rramkumar1 commented on #471
@addisonbair We are in the process of building a patch with the fix and pushing it out. This will enable you to start testing the fix. Keep in mind that this does not mean it is released in GKE. You will still have to wait for an official GKE rollout and upgrade your cluster to get the fix.

[2018-09-13 21:11] addisonbair commented on #471
Awesome. Thank you!

[2018-09-13 21:42] addisonbair commented on #471
Just a quick update:

I managed to build an image from `master` and have successfully deployed to GKE (`1.10.6-gke.2`) without seeing the dreaded NPE. All ingresses are back up and operational.

I'm happy to test a more formal image when it is ready. Thanks so much for the help!

[2018-09-13 21:48] rramkumar1 commented on #471
@addisonbair Thanks, that's great to hear! We just pushed v1.3.3 so please let us know if that works as well.

[2018-09-13 22:03] addisonbair commented on #471
@rramkumar1

Built, pushed and deployed v1.3.3 on my `1.10.6-gke.2` cluster and it works perfectly! No more NPE.

Thanks so much!

[2018-09-13 22:13] addisonbair opened #474 "Addon-manager "Reconcile" annotation deletes default-http-backend service and deployment"
After deploying GLBC via `deploy/glbc/script.sh`, I noticed the service and deployment for the default-http-backend was getting deleted after approximately 15 seconds.

Since I don't have access to the masters (GKE) I can't be completely sure, but it appears there is a conflict between the Addon-manager running on the master and the annotations on the objects within deploy/glbc/yaml/default-http-b

[2018-09-13 23:04] MrHohn commented on #474
Ref https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md.

Object with `addonmanager.kubernetes.io/mode=Reconcile` being deleted by addon-manager is as expected. We should just remove `addonmanager.kubernetes.io/mode` label completely from https://github.com/kubernetes/ingress-gce/blob/master/deploy/glbc/yaml/default-http-backend.yaml given using that yaml ba

[2018-09-16 07:42] aviresonai commented on #469
I think the issue we are having is discussed at https://github.com/kubernetes/ingress-gce/issues/471

[2018-09-17 14:45] sfriedel opened #476 "GKE Ingress controller ignoring ingress.class annotation"
I'm running multiple ingress controllers on GKE, ingress-gce via the "HTTP load balancing" addon and ingress-nginx installed via the helm chart.

This setup was working nicely for roughly half a year but since the latest upgrade to 1.10.7-gke.1 the gce ingress controller is creating cloud load balancers for Ingress resources that it should not act on because they have an `kubernetes.io/ingress.cla

[2018-09-17 15:43] harishanchu opened #477 "Changes to ingress resource doesn't update forwarding rules most of the time in 1.10.6-gke.2"
I have upgraded my gke cluster from 1.10.5-gke.4 to 1.10.6-gke.2.

Now GLBC is not making appropriate changes to the load balancer configuration in google cloud whenever I add or make changes to ingress resources.

After ingress resource modification I see events like below.
[code]
But loadbalancer didn't add any new forwarding rules to it.
Some times it works when I delete and recreate the ingres

[2018-09-17 18:18] rramkumar1 commented on #477
See #471

[2018-09-17 18:45] rramkumar1 commented on #471
Quick update for all tracking this issue. Hopefully the GKE rollout for the fix ends this week. I will ping this thread with the GKE version everyone should upgrade to once rollout is complete.

[2018-09-17 18:53] harishanchu commented on #477
Yeah, that must be it. Thank you

[2018-09-17 18:53] #477 closed

[2018-09-17 21:48] freehan commented on #476
@sfriedel
Can you confirm the GCE LB resources still exists? You can go to the load balancer UI and check if relevant LB exists.

The annotations (e.g. `ingress.kubernetes.io/backends`) for the GCE resources may be misleading. The ingress-gce controller does not remove those annotations when ingress class changed. If the ingress once was processed by ingress-gce, then annotations will exist.

[2018-09-18 00:48] nimeshksingh opened #480 "ingress-gce fails to create backend services when across zones with different balancing modes"
We have a gke cluster with two zones, one of which was added significantly later than the other.  The ingress controller added backend services with a balancing mode of UTILIZATION for the first zone, and when we added the second zone it set the balancing mode in the new zone to RATE.  Now when we try to add new backend services, it goes into a failure loop where it tries the RATE balancing mode,

[2018-09-18 03:49] thockin commented on #87
Note that Load-balancer source ranges is a totally different feature than
Ingress.  I have no problem adding support for V6 IPs to ingress-gce.  Need
to see a specialist for how they get defined and stored in status, but
otherwise fine with me.

Volunteers?

On Mon, Aug 27, 2018, 11:15 AM sijnc <notifications@github.com> wrote:

[2018-09-18 07:26] sfriedel commented on #476
@freehan I just checked and all the GCE LB resources still exist.

![load-balancer](https://user-images.githubusercontent.com/520864/45670716-cbaa8680-bb23-11e8-850f-455b527a9a43.png)

Interestingly the UI shows all backends as healthy while in the `ingress.kubernetes.io/backends` annotation they are still labeled "Unknown".

I never changed the ingress class annotation for the affected Ingress re

[2018-09-18 17:34] metral commented on #34
/remove-lifecycle stale

[2018-09-18 19:12] freehan opened #481 "Ingress-GCE does not GC LB resources when ingress class changed and no other ingress on GCE exists"
Repro steps:
1. Make sure there is no ingress exists in the cluster.
2. Create a test ingress with no ingress class annotation
3. Wait for ingress-gce controller to provision LB
4. Add a non-GCE ingress class on the test ingress
5. The LB resources will be leaked.

Root cause:
- Ingress-gce controller does not act on non-relevant ingresses.  https://github.com/kubernetes/ingress-gce/blob/release-1

[2018-09-19 05:06] cerealcable commented on #471
Figure I would comment to clarify if anyone else is new to k8s since I was and it wasn't clear, you need to delete the LB as well as the associated services along with it. Once I did that and recreated the services & ingress I was able to work around this bug. Definitely not a great long-term solution but it worked until the patch is ready.

Thanks @rramkumar1 for your assistance and confirmation

[2018-09-19 07:36] sfriedel commented on #476
@freehan Thank you for taking the time to look into this

Can you confirm if you have any other GCE ingress?

I do have other GCE ingresses running in the same GKE cluster. They are living in a separate kubernetes namespace though if that makes a difference.

[code]

The ingresses were created via helm, but as far as I'm aware helm only patches resources when it upgrades an existing release. For t

[2018-09-19 18:03] freehan commented on #476
@sfriedel
Could you send me your project name, cluster name and cluster location (zonal or regional) to my email?
I can take a closer look.

[2018-09-19 18:20] sfriedel commented on #476
@freehan done, thank you!

[2018-09-19 20:33] MrHohn commented on #438
Manually deleted leftover resource again. Let's see if the next run turns green.

[2018-09-19 20:44] MrHohn opened #483 "Tool or job to cleanup ingress related GCP resource after test failure"
Ref https://github.com/kubernetes/ingress-gce/issues/438#issuecomment-422948508. Ingress scale test occasionally will hit quota issue due to resource leaked by previous runs / test failures. Test failures can be caused by various reasons --- new change breaks controller (e.g. nil pointer), test timeout, test infrastructure problem (e.g. [run#858](https://k8s-gubernator.appspot.com/build/kubernetes

[2018-09-19 20:46] krzyzacy commented on #483
if you can fit into the current janitor script, sure :-)

[2018-09-19 21:03] MrHohn commented on #483
Humm, https://github.com/kubernetes/test-infra/blob/master/boskos/janitor/janitor.py does include most of the ingress related resource, except SSL cert.

Though I'm not seeing it runs against ingress test projects; https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/maintenance-ci-janitor/584

We should probably enable it?

[2018-09-19 21:11] MrHohn commented on #483
In fact, seems like ingress-project is included:
https://github.com/kubernetes/test-infra/blob/795cceb4ce411fa43933fb6534c208a6d470e1ab/boskos/janitor/deployment.yaml#L52

Though we don't put the ingress scale project under that category. I can create a new category "ingress-scale-project" and add it to the same place.

[2018-09-19 21:19] krzyzacy commented on #483
oh, that's handled by boskos, not ci-janitor

[2018-09-19 23:09] MrHohn commented on #483
@krzyzacy Thanks for the quick response, I were looking for `k8s-ingress-e2e-scale-backup`, which is not defined in any bosko resource yet.

BTW did you mean https://prow.k8s.io? Not actually sure which job to look at :)

[2018-09-19 23:49] MrHohn commented on #438
Test turns green :)

[2018-09-19 23:49] #438 closed

[2018-09-20 00:53] krzyzacy commented on #483
I mean https://pantheon.corp.google.com/home/dashboard?project=k8s-prow

if it's not in the pool then it will be handled by ci-janitor - let's wait for next run.

[2018-09-20 01:39] bluemalkin opened #485 "Firewall rule required message ignores existing rules (shared VPC)"
I've created my own firewall rule with custom tags on the GKE node pools to allow the Google health checks.

Despite creating the rule and that everything works, I still get the event message:
`gcloud compute firewall-rules create k8s-fw-l7--b1a36f0a2cbc5f47 --network xxx --description "GCE L7 firewall rule" --allow tcp:30000-32767 --source-ranges 130.211.0.0/22,209.85.152.0/22,209.85.204.0/22,35.

[2018-09-20 02:46] MrHohn commented on #483
Thanks! Will check on the next run. And unfortunately I don't have access to k8s-prow :/

[2018-09-20 05:17] krzyzacy commented on #483
[code]

it should be cleaned up, double check the project? if something is still lingering then we should add them to the janitor script.

[2018-09-20 06:02] MrHohn commented on #483
@krzyzacy Awesome, yeah seems like it should work. Good to know this is already covered :)

Closing this issue. I will send follow up to cleanup SSL cert as well.

[2018-09-20 06:02] #483 closed

[2018-09-20 18:10] ssboisen commented on #369
Another vote for this feature. Another use case is highly dynamic test environments where a new deployment (with ingress) on a per pull request basis is created. It would be very nice if the kubernetes ingress controller for gke would work with multiple ingress resources on the same IP. This way we can define a wild card dns entry that points to this loadbalancer and it would then have paths/hostn

[2018-09-21 05:08] anuraaga opened #487 "HTTP2 health check does not use readiness probe path"
I recently switched some services from protocol HTTPS to HTTP2 and noticed that health checks stopped being sent to the path defined in the deployment config, but are just sent to the root path.

The deployment config is identical for

[code]

If svc is HTTPS, the health check uses the path
[code]

If svc is HTTP2, the health check does not
[code]

The issue seems to be because of comparing the st

[2018-09-21 18:37] rramkumar1 commented on #487
/assign @agau4779

[2018-09-21 18:38] rramkumar1 commented on #487
/cc @agau4779

[2018-09-21 21:38] AhmedMItman opened #490 "can not access nginx through ingress and problem in curl"
i have kubernetes-cluster v1.10 over centos 7
i am trying to deploy ingress , i followed video

and finally i found
-> kubectl get ing
NAME      HOSTS              ADDRESS   PORTS     AGE
nginx     kub-master                               80, 443     9h
there is now address for nginx

-> and when i execute "  curl --ipv4 -v http://kub-master "
* About to connect() to kub-master port 80 (#0)
*   Tr

[2018-09-23 20:37] #94 closed

[2018-09-24 06:32] bowei commented on #490
Are you running on GKE on Google Cloud?

[2018-09-24 06:38] AhmedMItman commented on #490
@bowei No, Over physical server for master OS centos 7 and VM for slave OS centos 7

[2018-09-24 07:12] bowei commented on #490
You should file the bug against the appropriate repository. This repo is only for Ingress resources running on GCP.

[2018-09-24 07:12] #490 closed

[2018-09-24 17:19] sfriedel commented on #476
@freehan I did not see this behavior again and also since the update to `v1.10.7-gke.2` the Ingress sync seems to behave as expected.

/close

[2018-09-24 19:33] ericuldall commented on #471
@rramkumar1 Are you sure this fix is live with 1.10.7-gke.2... I got this response from GCP Support last week:

[2018-09-24 19:45] rramkumar1 commented on #471
@ericuldall I'm not sure why GCP support told you that. They may have gotten confused about something else. Do you not see 1.10.7-gke.2 as a viable version?

[2018-09-24 20:01] ericuldall commented on #471
I see it available, just unclear if the fix is actually deployed to that version or not.

[2018-09-24 20:02] rramkumar1 commented on #471
Yes, the fix is available in that version.

[2018-09-24 20:02] ericuldall commented on #471
Yes, I deployed it and my ingress was updated :D thanks for confirming!

[2018-09-25 01:04] #201 closed

[2018-09-25 09:33] scaccogatto opened #493 "unable to activate gzip"
With my system:

[code]
Ingress config: https://gist.github.com/scaccogatto/8796908c22cc6437fc645f3fba587edd
Backend nginx config: https://github.com/scaccogatto/vue-nginx/blob/master/docker/nginx.conf

Following:
https://cloud.google.com/load-balancing/docs/https/setting-up-https#compression-not-working

As you can see from my configs gzip directives are here, also **I found that my Request Heade

[2018-09-25 15:51] rramkumar1 commented on #469
@rllin-fathom Closing this bug since the original issue looks to be resolved.

/close

[2018-09-25 15:51] #469 closed

[2018-09-25 15:52] rramkumar1 commented on #485
@bluemalkin Why are you creating your own firewall rule? The purpose of ingress-gce is that it manages that rule for you.

[2018-09-25 22:01] bluemalkin commented on #485
@rramkumar1 it doesn't manage firewall rules for you. It simply outputs the gcloud command for you.
The tags it wants to apply it's not satisfactory to cover all my cluster nodes hence I have my own generic one.

[2018-09-25 22:03] rramkumar1 commented on #485
@bluemalkin I'm not following... who is outputting the gcloud command? Can you paste the event you are seeing?

[2018-09-25 22:14] bowei commented on #485
Are you using ingress-gce in a Shared VPC environment?

@grayluck

[2018-09-25 22:20] grayluck commented on #485
When checking firewall rules, we'll match not only the rule itself, but also the description. In other word, if the description doesn't match (something like Description=`{"kubernetes.io/cluster-id":"ec67481ae1e5176b"}`), we think that's not created/managed by GKE thus ask you to create another one just for the cluster.

[2018-09-25 22:40] grayluck commented on #485
External load balancer:
https://github.com/kubernetes/kubernetes/blob/54dd6e4f147f05c19de9aef4933031f0348165f7/pkg/cloudprovider/providers/gce/gce_loadbalancer_external.go#L818-L854

Internal load balancer:
https://github.com/kubernetes/kubernetes/blob/54dd6e4f147f05c19de9aef4933031f0348165f7/pkg/cloudprovider/providers/gce/gce_loadbalancer_internal.go#L352

They both require the firewall rules to

[2018-09-25 22:45] grayluck commented on #485
See here:
https://github.com/kubernetes/ingress-gce/blob/b04a367b59cabfb92e613694ad5eb38c7a17fe92/pkg/firewalls/firewalls.go#L102

There might be difference between the existing and expected firewall rules.

Could you also paste the command that we want you to run, please?

[2018-09-26 08:38] bluemalkin commented on #485
Here's what `kubectl get events` is telling me
[code]

[2018-09-26 08:38] bluemalkin commented on #485
@bowei yes shared VPC

[2018-09-26 16:56] bschwartz757 commented on #471
@rramkumar1 I have a cluster running on 1.10.6-gke.2 and I replaced one of the ingresses, then it got stuck in 'creating ingress'. I just found this thread this morning, and accordingly, deleted and then re-created the ingress but it's still showing up as 'creating ingress' in the GCP dashboard. Any ideas?

[2018-09-26 16:58] rramkumar1 commented on #471
@bschwartz757 You can upgrade to 1.10.7-gke.2. See above discussion

[2018-09-26 17:15] bschwartz757 commented on #471
@rramkumar1  ok..... anything that doesn't involve upgrading?

[2018-09-26 18:50] grayluck commented on #485
Thanks for the event messages.
Tom did you create your own firewall rule using the command that we give?
Do you still have the command that you run to create your firewall rule? If not, could you show me the "Equivalent REST" of the firewall rule from gcloud console?
You said you have "custom tags" in your firewall rule. I suppose the firewall rules need to be exactly the same as suggested to conv

[2018-09-26 23:28] bluemalkin commented on #485
The reason why I do not run the commands provided is because I automate my whole infrastructure with Terraform.
I have a global firewall rule which custom tags I've set for my GKE clusters. This is created well before the GKE clusters are created. It does not make any sense to wait for the clusters to be created, get the random node IDs then add the rule.

[code]

[2018-09-27 18:05] jonpulsifer opened #498 "A new home for 404-server (defaultbackend)"
:wave: we recently bumped the defaultbackend to version 1.5 in https://github.com/kubernetes/ingress-nginx/pull/3125 to conceal `/metrics/` behind port 10254

During that discussion a [PR was merged](https://github.com/kubernetes/ingress-nginx/pull/3126) to not require the defaultbackend service for ingress-nginx.

I originally moved the 404-server into the old `kubernetes/ingress` repo from contr

[2018-09-27 19:59] grayluck commented on #485
If this really bothers you, you can simply grant compute.networkAdmin and compute.securityAdmin to your GKE service account of the service project.
https://cloud.google.com/vpc/docs/shared-vpc#net_and_security_admins

If you're not okay with this, there's no quick fix for this issue.

--------------------------

There might be a way to manually set the node-tags even before they are created. I'll

[2018-09-27 23:46] bluemalkin commented on #485
Thanks, giving Admin permissions to the cluster is not going to go down well.

Looking forward on how to silent those messages, perhaps a global flag in Ingress annotations to completely ignore firewall management ?

[2018-09-30 10:39] martin-dmtrv commented on #28
+1
Looking forward to this. We have been struggling to find workarounds for this feature and they all lead to moving away from GCP controller to a custom controller.

[2018-10-02 00:19] #250 closed

[2018-10-08 15:44] walterdolce commented on #246
Custom policies should also be supported.

[2018-10-08 20:49] #487 closed

[2018-10-09 17:30] rramkumar1 commented on #493
@scaccogatto This looks like an Nginx specific issue. Going to close this.

Feel free to re-open if you think this is an Ingress-GCE issue.

/close

[2018-10-09 17:30] rramkumar1 commented on #445
/kind feature

[2018-10-09 17:31] rramkumar1 commented on #396
@chaima-ennar Are you still encountering this?

[2018-10-09 19:36] scaccogatto commented on #493
Sorry but this is not a Nginx issue. The fact that you cannot enable gzip with Ingress-GCE is a Ingress-GCE issue not an nginx one.
I just switched to Ingress-Nginx for my production env and it was super easy to enable gzip but the problem remains, gzip is a widely used feature and I feel like not implementing it into Ingress-GCE makes it unusable for web oriented projects.

So this confirm this i

[2018-10-09 19:40] rramkumar1 commented on #493
@scaccogatto

You said: "Response Headers does not contain: content-encoding: gzip"

Unless I am misunderstanding your setup, doesn't this mean your application needs to return the proper headers?

[2018-10-09 19:44] bowei commented on #493
Can you post your HTTP request and response headers?

[2018-10-10 07:36] vrobert78 opened #510 "Any plan to support QUIC in Google LB ?"
Do you have an ETA to add the support of QUIC in the definition of an ingress ?

Currently, we have to enable it manually.

https://cloudplatform.googleblog.com/2018/06/Introducing-QUIC-support-for-HTTPS-load-balancing.html

[2018-10-10 07:37] bowei commented on #510
Yes -- the question would be when.

[2018-10-10 11:56] scaccogatto commented on #493
@rramkumar1 My application does return the proper headers, in fact, if I run the same application under a Ingress-Nginx (setting the right annotations), gzip works as expected with no configuration edit.

@bowei I can't. I am working on a company cloud and I am not planning to enable another load balancer very soon but you can refer to:

and

I hope this is enough

[2018-10-10 17:06] bowei commented on #493
@scaccogatto can you post an anonymized subset of headers? This setup should be easy to repro if we have that information.

[2018-10-11 03:43] wminshew commented on #34
This thread was helpful for [crossing my fingers for now] eliminating my 502s. Just in case they come back though, is it possible to customize the response body? Have tried digging quite a bit without luck so guessing no, but asking here to be extra sure [noticed the title of this issue originally reference personalizing 502s as well]

[2018-10-15 19:42] abstrctn opened #511 "Control backend service IAM policy from BackendConfig"
[We can now grant](https://cloud.google.com/iap/docs/managing-access) the IAP-Secured Web App User role to individual users on a single backend service.

Currently this needs to be configured manually after the GLBC creates a new backend service; and because they're attached to the with the backend service, anything that causes it to be recreated would cause the permissions to be lost. This is som

[2018-10-15 20:00] rramkumar1 commented on #511
@abstrctn I'm curious as to why creating a new backend service would wipe away the IAM role (IAP-Secured Web App User) you are giving to your users?

BackendService has no notion of IAM.

[2018-10-16 18:52] adimania commented on #33
+1 on this feature. We need Google Backend bucket support for serving some static pages. Is this feature on road map at all?

[2018-10-16 21:39] rramkumar1 commented on #31
/remove-lifecycle stale

[2018-10-18 00:29] aviv-ebates commented on #246
Looks like the terminology changed - `COMPATIBLE`, `MODERN` and `RESTRICTED` are now called "Profiles", and "Policy" includes these plus a minimum TLS version.

[2018-10-18 20:46] rramkumar1 opened #515 "Tracking issue for FrontendConfig work"
For Ingress-GCE, we have the BackendConfig CRD which encapsulates features on the GCE Backend Service

Similarly, for frontend components of the load balancer (target proxy, url map, etc) we need a way to encapsulate features (i.e SSL Policy). The current method of using annotations will not scale.

Using this issue to track implementation of a "FrontendConfig" CRD. Ideally, we can provide the sca

[2018-10-18 20:48] rramkumar1 commented on #515
/kind feature

[2018-10-18 20:49] rramkumar1 commented on #246
Please see #515. I'll go ahead and leave this issue open though.

[2018-10-19 00:38] ctbucha commented on #33
+1. I'm getting the TLS cert for the static website onto the ingress load balancer through cert-manager (https://github.com/jetstack/cert-manager) so I'd like to reach the bucket directly from there.

[2018-10-19 13:28] lornemet-eno opened #516 "Support session affinity via Ingress annotation"
ingress.kubernetes.io/affinity annotation is currently discarded.
The expected behavior would be to disable/enable session affinity based on the annotations value:
none (default) -> NONE
cookie -> GENERATED_COOKIE
??? -> CLIENT_IP

While simply turning on session affinity in the GCE ingress itself would not enable session affinity down to the POD (GCE would still send traffic to the NodePort of co

[2018-10-19 16:14] rramkumar1 commented on #516
@lornemet-eno We will happily accept an implementation for this :)

See #513 for an example.

[2018-10-19 17:18] rramkumar1 commented on #510
See #515

[2018-10-20 01:20] ilkerc opened #518 "ERR_SPDY_PROTOCOL_ERROR when streaming text/event-stream"
Seeing error 'net::ERR_SPDY_PROTOCOL_ERROR 200' on console and connection gets dropped.
Not sure if it's because of the content type but happens only on text/eventstream s while sending the request over the ingress. Connection closes almost exactly 30 seconds.

Curl with -v
[code]

Anyone having insights about the issue?

[2018-10-23 22:09] justinsb commented on #39
I believe the path forwards here is to declare the health-check explicitly on the BackendConfig CRD: https://github.com/kubernetes/ingress-gce/issues/42#issuecomment-405386857

[2018-10-24 07:45] abdelsource commented on #485
Hi,

I come across this while digging the same issue and have a comment, i don't think "granting compute.networkAdmin and compute.securityAdmin to your GKE service account of the service project." is the solution for this as it defeats the whole purpose of SharedVPC (separating network admin and security privileges from user privileges). IMO this creates a security loop whole, So proving a way to

[2018-10-24 13:38] so-jelly commented on #317
I'm having the same issues.   I tore down my deployment / services / ingress and rebuilt.   Still not applying.

[2018-10-24 20:52] grayluck commented on #485
@abdelsource Yes I couldn't agree more.
I personally don't recommend granting security permissions. This is just a workaround for test projects, not for productions.
https://github.com/kubernetes/ingress-gce/pull/506 is the solution.

[2018-10-24 22:40] nyurik opened #525 "Certificate update path is not clear"
Could someone clarify what happens during the certificate update:
* When using k8s secret, will Ingress automatically pick up the new certificate when it gets updated in-place?
* For GCP certificates, it is not possible to update a cert in-place - a new certificate must first be created under a new name, then the https proxy is updated to use it, and then the old cert can be deleted.  This means t

[2018-10-25 09:43] irvifa commented on #317
Seems like it's related to https://github.com/kubernetes/ingress-gce/issues/42

[2018-10-25 16:46] rramkumar1 commented on #525
No, we currently do not watch secrets but it's something we can think about doing.

I'm not familiar w/ how Terraform manages certs. Does it take care of updating the Ingress spec for you?

[2018-10-25 16:48] rramkumar1 commented on #511
@abstrctn ping

[2018-10-25 17:56] rramkumar1 commented on #427
@dims Can you clarify the action items here? Is this still relevant?

[2018-10-25 20:33] dims commented on #427
@rramkumar1 it was prompted by @aledbf 's comment here - https://github.com/kubernetes/kubernetes/pull/67035#issuecomment-411252732 - i don't know much beyond that. I think the idea was to drop nginx and write a pure go server that did the exact same thing

[2018-10-25 20:36] aledbf commented on #427
Exactly that :+1:

[2018-10-25 20:44] rramkumar1 commented on #427
@aledbf Does it make sense though to manage an echoserver binary for all of k8s in this repo?

I don't mind moving the binary in cmd/echo to a more centralized location (perhaps k/k?)

[2018-10-26 01:30] nyurik commented on #525
That's strange - today I tested it by changing the tls secret on an existing ingress, and after a few minutes the TLS has changed automatically. I used this command to compare the old and the new:
[code]
Could it be that Google's load balancer monitors it?

[code]

Sorry for not making it clear. Terraform does not know anything about k8s/Ingress. I used Terraform to initialize the k8s cluster and

[2018-10-26 16:44] eversC commented on #511
I believe what @abstrctn is saying (correct me if I'm wrong), is that they're not using IAM to control IAP access, they're manually adding users to each backend registered on the IAP separately ("ACL"?)

I think I'm in the same boat: I have multiple backends registered on a single IAP, with a different set of people I want to give access to for each one. I can't use IAM for that, as it'd mean givi

[2018-10-26 17:21] rramkumar1 commented on #525
We periodically requeue every Ingress for processing (every 10 minutes I think). So its possible you updated the secret and then a couple minutes later the Ingress using it got requeued as expected, but not as a direct reaction to the secret update.

[2018-10-26 23:06] eversC commented on #511
I'm unsure of the exact term for the control list on backend services... Sorry....

I'll update the above to be more clear.

We digress..are you clear on what @abstrctn means now?

[2018-10-28 22:51] rramkumar1 commented on #511
How are you doing this?

[2018-10-28 22:51] rramkumar1 commented on #525
/kinds docs

[2018-10-28 22:51] rramkumar1 commented on #525
/kind docs

[2018-10-28 22:51] rramkumar1 commented on #525
/kind documentation

[2018-10-29 17:46] rramkumar1 commented on #516
@bpineau thanks for your work!

For everyone else, session affinity was implemented in https://github.com/kubernetes/ingress-gce/pull/526

That code will be shipping in approximately 2 weeks or so.

[2018-10-29 18:54] bbzg commented on #33
Now that there is a BackendConfig CRD, and i see issues for FrontendConfig CRD as well, configuring a bucket served through a load balancer might fit into one of those? Really rooting for this feature 🥇

[2018-10-30 10:47] eversC commented on #511
Hi @rramkumar1, at the moment we're just adding users via the "info panel" on the right hand side of the console/IAP page.

Role: Cloud IAP > IAP-Secured Web App User

Rest API reference: https://cloud.google.com/iap/docs/reference/rest/

could [this](https://cloud.google.com/iap/docs/reference/rest/v1beta1/projects.iap_web.types.services) be used to apply a policy to a specific backend?

[2018-10-30 15:51] rramkumar1 commented on #511
Right, but that gives each user permission to all backends

Hmm, the documentation for that looks really ambiguous. I'm not sure that would even work but I could be proven wrong.

@abstrctn Can you please clarify your setup and how you are able to specify policy on specific backends, rather than all of them at once?

[2018-10-30 15:52] rramkumar1 commented on #481
/help-wanted
/good-first-issue

[2018-10-30 15:54] rramkumar1 commented on #396
@chaima-ennar Going to close this for now given the inactivity. Please re-open if you feel the issue still occurring.

/close

[2018-10-30 15:54] #396 closed

[2018-10-30 15:58] rramkumar1 commented on #445
Just found a duplicate issue #109. Going to close this out in favor of that one

/close

[2018-10-30 15:58] #445 closed

[2018-10-30 17:55] eversC commented on #511
From what I'm experiencing, it only gives each user access to the specific backend, and not to any others.

Is there any other information I can give you that might help?

[2018-10-30 18:31] rramkumar1 commented on #427
ping @aledbf

[2018-10-31 18:47] rramkumar1 commented on #28
@jpalomaki No, BackendConfig will not cover NEG's. The documentation you linked is how its done.

[2018-10-31 18:50] rramkumar1 commented on #28
All,

Thanks to @bpineau, we will soon be launching support for timeout, session affinity and connection draining parameters on the BackendService.

As of now, all GA features on the BackendService have been implemented in BackendConfig. Once this integration is officially launched, I will close this bug out.

Please look out for some documentation in the near future on how you (the community) can

[2018-10-31 18:52] rramkumar1 commented on #28
/close

[2018-10-31 18:52] #28 closed

[2018-10-31 18:59] rramkumar1 commented on #516
/kind feature

[2018-10-31 19:01] rramkumar1 commented on #229
/close

[2018-10-31 19:01] #229 closed

[2018-10-31 19:04] rramkumar1 commented on #143
/remove-lifecycle stale
/lifecyle frozen

[2018-10-31 19:05] rramkumar1 commented on #143
/lifecycle frozen

[2018-10-31 19:07] rramkumar1 commented on #498
/kind cleanup

[2018-10-31 19:09] rramkumar1 commented on #511
@eversC Unless I'm completely missing something, I'm not sure that is true.

See https://cloud.google.com/iap/docs/managing-access

Specifically look for the line "All backend services will be secured."

[2018-10-31 19:10] rramkumar1 commented on #485
/kind bug

[2018-10-31 19:10] rramkumar1 commented on #465
/kind bug

[2018-10-31 19:11] rramkumar1 commented on #50
/help-wanted
/good-first-issue
/remove-lifecycle stale

[2018-10-31 19:12] rramkumar1 commented on #50
/kind bug

[2018-10-31 19:18] rramkumar1 commented on #320
/remove-lifecyle state
/lifecycle frozen

[2018-10-31 20:08] rramkumar1 commented on #259
/remove-lifecycle stale
/lifecycle frozen

[2018-10-31 21:48] rramkumar1 commented on #249
Closing this bug since the scope is quite broad. We will file individual issues for each docs fix.

/close

[2018-10-31 21:48] #249 closed

[2018-10-31 21:51] rramkumar1 commented on #42
/help-wanted
/good-first-issue
/kind feature

[2018-10-31 22:00] rramkumar1 commented on #39
Agreed that BackendConfig is the way to go here.

I am going to close this bug given that we are most likely not going to support updates to readiness probes. We will happily accept community contributions for #42  :)

/close

[2018-10-31 22:00] #39 closed

[2018-10-31 22:04] rramkumar1 commented on #87
/good-first-issue
/help-wanted

[2018-11-01 10:36] eversC commented on #511
Dare I say it but I think that documentation is incomplete.

The hierarchy of resources I have is:

[code]

the 2 bulleted 'tiers' of resources in the section of documentation you referenced is only "All Web Services" and "Backend Services", i.e., only the top 2 tiers.

The documentation also states:

^^ this is exactly what I'm seeing. I can set access permission at any of the 3 tiers, and whenev

[2018-11-01 10:47] JorritSalverda commented on #369
Recombining multiple ingresses into one load balancer is something nginx ingress already does and would be extremely useful to have for GCE ingress as well since it allows applications to set themselves up as backend for a particular route, while keeping their manifests otherwise independent from the other application. This would look like

[code]

I assume this would run into many edge cases, but

[2018-11-01 16:07] rramkumar1 commented on #369
If someone wants to tackle this, we will happily accept an implementation. Keep in mind though that this is a messy problem to solve in the code.

/good-first-issue
/help-wanted

[2018-11-01 16:16] rramkumar1 commented on #511
@eversC I stand corrected. I just took a look at the UI and it looks like it has changed quite substantially. Now as you say, you can apply the policy on individual backends (for some reason I was not seeing this before).

The fact that you can now apply this policy on individual resources was something that was not true when we first implemented the IAP support.

Give me a couple days so I can as

[2018-11-01 19:35] bowei commented on #31
/lifecycle frozen

[2018-11-02 16:40] bowei commented on #42
/lifecycle frozen

[2018-11-04 20:24] bpineau opened #534 "Is github release tab forgotten or abandoned?"
[raising the matter in case that's an oversight - otherwise please ignore and close]

The [Github "release" tab](https://github.com/kubernetes/ingress-gce/releases) was used to publish releases, up to v1.2.3.
That may drive people to think v1.2.3 is actually the last release? (at least it got me confused)

[2018-11-05 07:08] arthurk opened #535 "Update version mapping for GKE 1.11.2"
Which version of ingress-gce is running on GKE 1.11.2-gke.9?

[2018-11-05 08:36] mofirouz commented on #28
@rramkumar1, can you point us to the documentation on how to configure:

in Kubernetes / GKE?

[2018-11-05 16:05] Dean-Christian-Armada commented on #466
Version 1.9.7 GKE is confusing, I thought I was using an updated enough version as I just started as well

[2018-11-05 16:39] rramkumar1 commented on #535
/kind documentation
/assign

[2018-11-05 16:41] rramkumar1 commented on #534
/kind documentation

[2018-11-05 19:42] rramkumar1 commented on #28
@mofirouz Documentation will be posted at the start of next week.

[2018-11-05 19:50] tvainika commented on #181
/remove-lifecycle stale

Still in Kubernetes v1.12 this is documented as POSIX regex, but GCE matcher is not regex. See here https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#httpingresspath-v1beta1-extensions

[2018-11-05 20:35] rramkumar1 commented on #534
Thanks to @MrHohn for fixing it!

/close

[2018-11-05 20:35] #534 closed

[2018-11-05 20:35] rramkumar1 commented on #535
@arthurk Version map should be updated. Let me know if you still have questions.

[2018-11-05 23:56] NickLavrov opened #537 "Long namespace/ingress names cause collisions with auto-created resources on GKE"
I noticed this after creating one ingress that worked fine, then creating another ingress which caused the first ingress to behave incorrectly (default backend 404, etc).

As far as I can tell, at least these resources and annotations are added to the ingress by GKE:
- ingress.kubernetes.io/forwarding-rule
- ingress.kubernetes.io/target-proxy
- ingress.kubernetes.io/url-map

If my namespace was ca

[2018-11-06 00:17] rllin-fathom opened #538 "GKE BackendConfig permissions change `container.backendConfigs.get` does not exist"
I am getting the following error when trying to apply a yaml declaring a `BackendConfig`.  This was working as of yesterday for several months.

```backendconfigs.cloud.google.com "XXXXXXXX" is forbidden: User "USER@DOMAIN.COM" cannot get backendconfigs.cloud.google.com in the namespace "NAMESPACE": Required "container.backendConfigs.get" permission.```

It seems like GKE changed permissions requi

[2018-11-06 04:32] rramkumar1 commented on #538
@rllin-fathom Looks like someone introduced a permission for this in GKE recently without letting us know :(

I looked in the UI and also could not find this permission. I will follow up on this and get back to you with the workaround. Sorry for the inconvenience

[2018-11-06 19:21] bowei commented on #35
/lifecycle frozen

[2018-11-06 19:21] bowei commented on #510
/lifecycle frozen

[2018-11-06 19:21] bowei commented on #50
/lifecycle frozen

[2018-11-06 19:21] bowei commented on #34
/lifecycle frozen

[2018-11-06 21:20] rllin-fathom commented on #538
@rramkumar1 thanks, please keep us updated :)

[2018-11-06 21:42] rramkumar1 commented on #538
@rllin-fathom I synced up with our internal teams and looks like this permission has not propagated to UI yet. However you should be able to still give yourself or a different user that role via gcloud.

Can you try this?

[2018-11-06 22:02] rllin-fathom commented on #538
@rramkumar1 to be clear `container.backendConfigs.get` is not a role, it is a permission.  is it associated with a role in the backend?

From my understanding, it should be a permission for the role `roles/container.admin`, but as far as I can tell when I run `gcloud iam roles describe roles/container.admin`, `container.backendConfigs.get` doesn't show up.

maybe an example gcloud command from you

[2018-11-06 23:42] freehan commented on #537
Thanks for the bug report. We will try to fix this problem. The key is to maintain backward compatibility.

[2018-11-08 21:19] freehan opened #541 "Readiness Probe does not get reflected for NEG enabled ingress"
When the following conditions apply:
- NEG is enabled on the ingress referenced service
- Service is ClusterIP type

Then LB health check is created with default setting.

[2018-11-12 08:15] ukai opened #545 "configure maxRatePerInstance in backend"
ingress configures backend with maxRatePerInstance=1 like

backends:
- balancingMode: RATE
  capacityScaler: 1.0
  group: https://www.googleapis.com/compute/v1/projects/$project/zones/$zone/instanceGroups/$ig
  maxRatePerInstance: 1.0

This comment says maxRatePerInstance value doesn't matter
https://github.com/kubernetes/ingress-gce/blob/658331802409cf9469f49d9fb70ad27cc85a1a31/pkg/backends/ig_li

[2018-11-12 16:44] rramkumar1 commented on #545
@ukai Another option to alleviate this which would allow us not to expose it.

We could just increase the default maxRatePerInstance we set from 1 to N (possibly even the max int as shown in the comment).

/kind cleanup

[2018-11-12 17:30] rramkumar1 commented on #538
@rllin-fathom I've been told the UI for this has rolled out. Have you resolved this on your end? Can we close this issue?

[2018-11-12 17:56] rllin-fathom commented on #538
yes if i have roles/container.admin then i can do things.  but we want to make permissions are granular as possible

![image](https://user-images.githubusercontent.com/25942131/48365892-0da60380-e661-11e8-96d0-417f23a07858.png)
I still do not see it in the UI, nor do I see it in `gcloud iam roles describe roles/container.admin`

[2018-11-12 18:57] rramkumar1 commented on #545
We need to consider though how changing that value might effect existing users.

I'll give it some thought before creating a PR.

/assign

[2018-11-13 18:09] rramkumar1 commented on #538
@rllin-fathom Sorry I was wrong, turns out the UI fix was submitted but that will take some time to rollout.

Does this workaround work for you:

gcloud iam roles update [ROLE-ID] —project ...

[2018-11-13 21:41] manigandham commented on #541
We see this happen to on the latest version `1.11.2-gke.18` GKE clusters. NEG health checks are not reflecting any of the settings in the deployment YAML.

[2018-11-13 23:39] rllin-fathom commented on #538
@rramkumar1 great looks like the permission does just exist in the backend and I can just blindly attach it to a role.

thanks!

[2018-11-14 00:03] rramkumar1 commented on #538
@rllin-fathom Great! Sorry for the inconvenience.

/close

[2018-11-14 00:03] #538 closed

[2018-11-14 06:57] ukai commented on #545
by making backend server robust (less eviction, OOM killed), we could reduce 502 errors, so might not need to set maxRatePerInstance.

[2018-11-14 15:56] rramkumar1 commented on #545
@ukai Can we close this?

[2018-11-14 17:33] #498 closed

[2018-11-15 02:10] ukai commented on #545
yeah

[2018-11-15 02:10] #545 closed

[2018-11-17 16:39] #282 closed

[2018-11-18 17:50] rramkumar1 commented on #481
@pondohva Thanks, send us a PR whenever you are ready!

/assign @pondohva

[2018-11-20 15:05] pondohva commented on #369
I'd like to dive into this issue.

[2018-11-21 00:49] rramkumar1 commented on #369
@pondohva Great! Looking forward to the PR.

[2018-11-21 11:07] matti commented on #28
@rramkumar1 "start of next week" is due now?

[2018-11-21 11:15] matti commented on #28
Honestly I don't understand why issues are closed without proper documentation - I have no idea how to use BackendServices to do this. I do understand that from Google's point of view this is closed, but not users.

[2018-11-21 14:18] mkozjak opened #549 "ErrImagePull: k8s.gcr.io/defaultbackend:1.5 not found"
Works with gcr.io/google-containers/defaultbackend:1.4.

[2018-11-21 16:44] rramkumar1 commented on #28
@matti Rollout of the actual feature has been delayed to issues out of our control and thus the documentation is also delayed. Apologies for not providing an update here sooner.

Regarding closing of this issue, the implementation to support GCE BackendService features is already out (BackendConfig). Any additional feature support on top of this existing CRD is outside the scope of this issue.

[2018-11-21 16:49] adrianlop commented on #87
no news here guys? we need simultaneous IPv4 and IPv6 in the same Ingress/GCP LB too
will try creating a second Ingress for now.

[2018-11-21 17:38] cerealcable commented on #28
@rramkumar1 I'd argue that the issue still exists at this point for consumers of the GCE Ingress. None of us have control over this the deployment. Given that, from my view point the issue still exists. At this point in time no value has been delivered since it can't be used.

[2018-11-21 17:44] rramkumar1 commented on #28
@cerealcable The crux of this issue was to come up with a way to expose BackendService parameters. We delivered that with BackendConfig and several features like IAP, CDN and CloudArmor already are being used today (e.g https://cloud.google.com/iap/docs/enabling-kubernetes-howto)

Any requests we get to support more features in BackendConfig should be filed as separate issues rather than conflatin

[2018-11-21 18:55] PassKit opened #553 "Ingress controller does not support HTTP2 with mutual TLS"
When creating an Ingress controller for a service using the `service.alpha.kubernetes.io/app-protocols: '{"grpc":"HTTP2"}'` annotation, Ingress-GCE will automatically create a HTTP2 health check to `/`.

When mutual TLS is deployed on the containers, this check will never pass, since the health check does not have access to certificates.

The following readiness probes that use [gRPC Health Probe]

[2018-11-21 19:11] ahmetb commented on #553
Right now the Google Cloud HTTP(S) Load Balancer does not provide a way to configure mTLS cert/key pair (or even a CA cert) to make TLS requests to a specific health check path.

I suspect there's not much GKE can do here (other than maybe allowing customization of the health check path == '/') today. It's recommended that your service has a URL that responds with HTTP 200 without any authenticati

[2018-11-22 00:01] PassKit commented on #553
Unfortunately, this isn’t practical.  Unless you can point me to a resource that shows how Incan run a server serving both with and without TLS in Golang?  You can’t have 2 listeners on the same port and the official Go gRPC implementation doesn’t allow toggling of TLS per route.

[2018-11-22 12:53] pondohva commented on #549
it was updated here https://github.com/kubernetes/ingress-gce/pull/496/files

but I can't download defaultbackend:1.5 too, 1.4 works fine

[code]

I guess it has to be built using ingress-gce CI processes, because [it was adopted from ingress-nginx](https://github.com/kubernetes/ingress-gce/pull/503)

[2018-11-22 12:55] pondohva commented on #549
@rramkumar1 should we just rollback to previous version right now? Could you please explain how this process work (from repo to docker image)

[2018-11-22 15:20] jeromefroe opened #554 "Backend health is reported as "Unknown" if there are no pods in the first zone of a regional cluster"
Currently, the health of a backend is determined by looking at the first `HealthStatus` of the service group:

[code]

For regional clusters, the call to `GetGlobalBackendServiceHealth` will return a backend, and therefore a `HealthStatus`, for each zone. Consequently, if the serving pods of a service are running in a subset of the zones in a cluster, then the health of the service will be marked

[2018-11-22 16:41] cdaguerre opened #555 "URL map / backend service mapping is totally shuffled"
Hi, I have a single ingress pointing to multiple backend services with the following configuration:
[code]
These are all nodePort services with:
prometheus: 32500
alertmanager: 32501
grafana: 32502
mailcatcher: 32600
rabbitmq: 30385

The (automatically created) GCLB mixes up the url map, see below:
<img width="645" alt="capture d ecran 2018-11-22 a 17 35 28" src="https://user-images.githubusercont

[2018-11-22 17:40] m1kola commented on #485
Hi @grayluck. Thanks for working on this.

Is it available on `1.11.2-gke.18`? I see your PR merged and I see it in docs [here](https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc), but it doesn't seem to suppress these events for me.

Has the google cloud documentation been updated too early or am I doing something wrong? Here is an example of the `Ingress` resource:

[code]

[2018-11-22 21:37] pondohva commented on #555
it's not mixed up. Default backend is grafana, so all unmatched requests go to grafana Backend. It acts like backend for 404 code handling.

you have to specify /* path for all host rules.

[2018-11-22 21:41] pondohva commented on #555
Can't find where this magic happens in source code. If someone can point me to function where defaut backend is assigned to unmatched paths I'll be very happy.

[2018-11-24 22:49] sandcastle commented on #51
What is the latest here? Will this ever be implemented or should we give on on GCE and an ingress option?

[2018-11-25 01:42] hrdymchl commented on #541
+1

Posted about my issue on SO [here](https://stackoverflow.com/questions/53462978/unhealthy-backends-using-gcp-network-endpoint-groups-for-container-native-load-b)but sounds like the same problem. Am also on version `1.11.2-gke.18`.

[2018-11-25 09:37] hnykda commented on #51
I chose the latter...

[2018-11-25 17:36] mike-marcacci commented on #51
This would certainly be a nice feature, given how common a pattern it is... but I must say it's not exactly difficult to accomplish other ways.

If you have few backends, you can simply read the `X-Forwarded-Proto` header and reply with a 301 on "http".

If your backends are unable to do this (or you'd rather have a cleaner separation of responsibilities), you can create one ingress that terminate

[2018-11-25 18:45] RobMaskell commented on #51
I wonder if it was booked by this https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing and now maybe, finally it will be addressed

[2018-11-26 16:21] rramkumar1 commented on #549
@pondohva I will ask around and see why the image was bumped without it actually existing.

In the meantime, can you modify your default backend by hand and point it at 1.4?

[2018-11-26 16:23] rramkumar1 commented on #553
@PassKit ahmetb is correct, from ingress-gce point of view we can't really do much until Google Cloud Load Balancer supports mTLS.

In the meantime however, we are working on supporting customization of health check via BackendConfig so please look out for that very soon.

Can we close this issue?

[2018-11-26 16:31] rramkumar1 commented on #493
ping @scaccogatto

[2018-11-26 16:34] mkozjak commented on #549
@rramkumar1 bear in mind that `google_containers` in url is also `google-containers` if you want to get it working.
Change `gcr.io/google_containers/defaultbackend:1.5` to `gcr.io/google-containers/defaultbackend:1.4`.

[2018-11-26 19:07] #549 closed

[2018-11-26 21:34] rramkumar1 opened #557 "Ingress-GCE docs overhaul"
Using this issue to track the work being done to revamp the documentation in this repository.

/assign

[2018-11-26 21:34] rramkumar1 commented on #557
/kind documentation

[2018-11-27 03:00] PassKit commented on #553
The issue still remains, GKE mandates a health check that is impossible to pass for a gRPC (HTTP2) service with mTLS.  The workarounds of launching a separate server without mTLS to serve a health check path, or to relax mTLS service-wide are not acceptable.  Adding custom paths to the health check will also not resolve this issue.

Since it seems unlikely that mTLS will be available on the Load B

[2018-11-27 15:31] Starefossen opened #560 "Example service and ingress gives Unknown Host error"
I am following the instructions in the README.md.

Kubernetes/GKE version:

[code]

Creating the GCE ingress controller:

[code]

I am verifying that the controller is in fact running:

[code]

Next I am crating the example service and ingress:

[code]

And verifying that they are in fact created:

[code]

So far so good. Now accessing the Ingress Address directly `http://35.241.43.197` gives the

[2018-11-27 16:37] rramkumar1 commented on #553
@PassKit I am in full agreement that the baseline issue here is that we do not support health check customization yet. However, we already have an open issue for that (#42) and I would like to avoid having duplicates.

[2018-11-27 16:44] PassKit commented on #553
Ok - looks like #42 covers it, therefore this can be closed

[2018-11-27 16:44] #553 closed

[2018-11-27 16:50] rramkumar1 commented on #554
@jeromefroe FYI this is a duplicate of #35

If you take a look at the discussion in that issue, we posed the question of what people are using this backend status annotation for? Do you have a use case for it?

We are considering getting rid of it and having users simply look in the GCP console for this information.

[2018-11-27 17:39] scaccogatto commented on #493
You can repro it with this kind of configuration:
Pod with nginx serving files -> Ingress (GCE) with all standard things -> content is not gzipped.
The same configuration using Ingress-Nginx instead of GCE works perfectly.

I am sorry I am not starting another GCE Ingress very soon.

[2018-11-27 17:52] jeromefroe commented on #554
Ahh, I'll close this out in favor of that issue then.

I don't have any use for the annotation myself. I just found it confusing that the console was displaying the status of one of the backends as "Unknown" when other similar backends were marked as healthy and it seemed that the status in the console was being derived from the annotation.

[2018-11-27 17:52] #554 closed

[2018-11-28 01:00] one000mph opened #562 "load balancer controller out of sync with gcp and ingress annotations"
I have a use case where we need to reassign a reserved external IP from one Ingress to another. In the GCP console and CLI I am seeing that all forwarding rules, url maps, etc. are configured correctly but in `kubectl describe ing/<ingress-name>` I am getting the following error
[code]
The IP `XX.XXX.XXX.XXX` is the old IP that was assigned to the Ingress prior to reconfiguring the frontend (forwa

[2018-11-28 01:20] one000mph commented on #562
In addition I can verify that traffic is being routed correctly from `YY.YYY.YYY.YYY` to my services. The only thing "broken" here is the k8s view of the Ingress and the load balancer controller which still thinks it is assigned `XX.XXX.XXX.XXX`

[2018-11-28 01:21] bowei commented on #562
Can you describe the steps you took on the Ingress resource? (e.g. post the original YAML and the diffs)

[2018-11-28 01:34] one000mph commented on #562
I did most of the editing with GCP itself. I created a global forwarding rule for `YY.YYY.YYY.YYY` to the appropriate target proxy. I then edited the annotations listed here to the correct names as reflected in the GCP console and with the `gcloud` cli.
[code]

Those updates correctly directed the network traffic to a new set of backends served via the endpoint set by the http & https forwarding r

[2018-11-29 10:34] DennisVis opened #563 "BackendConfig OpenAPI spec"
I'm using Deployment Manager to deploy all k8s resources by leveraging custom types. To create these types Deployment Manager needs access to an OpenAPI spec. For the Ingress this works fine, but I can't find the one for the BackendConfig type.

I see one is created in `pkg/apis/backendconfig/v1beta1/zz_generated.openapi.go`, is this exposed anywhere on the gke cluster?

[2018-11-29 21:19] DennisVis commented on #563
The first place I looked was in the cluster swagger specification which can be found at `https://{cluster-ip}/swaggerapi`. But none of the endpoints seem to hold a reference to the namespace being used by the BackendConfig `cloud.google.com`.

I tried finding the API itself which can be found at `https://{cluster-ip}/apis/cloud.google.com/v1beta1`. A GET request results in a descriptive document,

[2018-11-29 22:35] rramkumar1 commented on #563
@DennisVis thanks for the info. I'll ask around to see how this can be resolved as I'm not immediately sure what the next step is.

[2018-11-29 22:39] hlee-va opened #564 "Possible to enable OCSP stapling?"
We have a gce ingress configured as the front-end to serve CDN contents in our system. Everything works fine except when using firefox to visit a CDN content via HTTPS, it will complain that `MOZILLA_PKIX_ERROR_REQUIRED_TLS_FEATURE_MISSING` because GCE ingress doesn't have OCSP stapling enabled.

Been googling a lots but didn't find any useful answer. Is there any known workaround?
I found this co

[2018-11-29 22:57] rramkumar1 commented on #516
FYI: This is now launched on GKE for cluster versions at or above 1.11.3-gke.18!

Docs: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-backend-service

/close

[2018-11-29 22:57] #516 closed

[2018-11-29 22:59] rramkumar1 commented on #28
@mofirouz and FYI for all:

Support for session affinity, timeout and connection draining are now supported via BackendConfig. This is now launched on GKE for cluster versions at or above 1.11.3-gke.18!

Docs: https://cloud.google.com/kubernetes-engine/docs/how-to/configure-backend-service

[2018-11-29 23:46] mofirouz commented on #28
yay, awesome @rramkumar1 thank you. One question in regards to existing services/ingresses:

I've noticed that if I update some of the ingress configs (like paths) in the GCP Console, they get reset to what they are in the Kube ingress definition. Do timeouts and other backend configs have a similar behaviour? Do I need to apply backend config retrospectively to those environments?

[2018-11-30 04:37] rramkumar1 commented on #28
@mofirouz BackendConfig is a first class citizen. Any settings specified in BackendConfig will be asserted in GCP and any updates to BackendConfig will be reflected in GCP.

If you previously manually modified settings such as timeout, I would highly recommend migrating to using BackendConfig.

[2018-11-30 17:22] rramkumar1 commented on #397
/remove-lifecycle stale
/lifecycle frozen

[2018-11-30 18:04] rramkumar1 commented on #71
/remove-lifecycle stale
/lifecycle frozen

[2018-12-03 18:13] acasademont commented on #493
GCLB will NOT compress backend responses, It's a known "feature", while Nginx is capable of doing so. I believe this is what @scaccogatto would want, that GCLB were able to compress non-compressed backend responses. There's a petition for GCLB to implement that.

https://googlecloudplatform.uservoice.com/forums/302616-load-balancing/suggestions/34129591-enable-gclb-gzip-compression

[2018-12-03 20:20] acasademont commented on #34
I believe some of this issues will be solved by the new Network Endpoints Group load balancing (https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing) due to the removed network hop in the kube-proxy

[2018-12-03 20:26] acasademont opened #566 "BackendConfig support for user-defined request headers"
Would be great if BackendConfig had support for user-defined request headers as per https://cloud.google.com/load-balancing/docs/backend-service#user-defined-request-headers

[2018-12-03 21:41] rramkumar1 commented on #566
/kind feature

[2018-12-05 03:58] kakarot1994 opened #568 "Not exposed in ingress"
I have noticed the feature is not exposed in Ingress.Please help out.

Thanks and Regards

[2018-12-05 16:39] rramkumar1 commented on #568
@kakarot1994 What feature?

[2018-12-05 16:40] rramkumar1 commented on #566
/good-first-issue
/help-wanted

[2018-12-05 16:46] rramkumar1 commented on #564
@hlee-va Looks like OSCP stapling is not supporting on the Google Cloud LB today.

As a result, we can't really do much here at the moment. The commit you linked is from when this repo was very old and included the nginx ingress controller.

I'll leave this open just in case support is added in the near future.

/kind feature
/lifecycle frozen

[2018-12-06 04:44] rramkumar1 commented on #485
This is now available in version at or above 1.11.3-gke.18.

/close

[2018-12-06 04:44] #485 closed

[2018-12-06 11:05] m1kola opened #569 "The networking.gke.io/suppress-firewall-xpn-error: true annotation doesn't in combination with kubernetes.io/ingress.global-static-ip-name"
I tested on `1.11.3-gke.18` and it seems like there is an issue with `networking.gke.io/suppress-firewall-xpn-error` annotation: it doesn't seem to work in combination with `kubernetes.io/ingress.global-static-ip-name`.

If you create a static IP address using `gcloud` and then create a new `Ingress` resource using a yaml similar to the one below the `Ingress` resource will be created without both

[2018-12-07 09:42] abayta commented on #33
+1. I just realized that this can not be done!!

[2018-12-07 13:42] infernix commented on #116
I'd like to reopen this. What I'm seeing is similar. We're basically updating a Deployment with a newer version. We've already set things like minReadySeconds 60, maxSurge 6, maxUnavailable 0, and adjusted the healthchecks to period=5 timeout=4 success=1 failure=2 initialdelay=60.

So when we push the exact same Deployment with a newer container image version, I get no 502s during the startup of t

[2018-12-07 22:06] grayluck commented on #569
Hmmm I can't reproduce this issue.

[code]

And the yaml file that I used (.txt added since github doesn't support uploading yaml files):
[ing-web.yaml.txt](https://github.com/kubernetes/ingress-gce/files/2658910/ing-web.yaml.txt)

[2018-12-09 05:37] bgetsug commented on #18
/remove-lifecycle stale

[2018-12-09 10:04] pondohva commented on #566
I'll be happy to implement this feature. I'd appreciate if you give me some references to similar feature.

[2018-12-09 18:15] pondohva commented on #566
Never mind, I think I got the point.

[2018-12-09 18:43] #481 closed

[2018-12-11 10:37] pondohva commented on #87
I'd like to take this issue.

[2018-12-11 15:19] eversC commented on #511
hi @rramkumar1, have you decided how to address this?

[2018-12-11 16:15] pondohva commented on #50
node can't be found because GetZoneFromNode filters nodes with not ready statuses. I opened PR to fix this particular issue. I'm working on Add/Update/Delete functions but it might take a lot of time.

I've found the way how I can connect node object from nodeInformer with ingresses:
1. find instance group for this node
2. iterate through backendPool.List() (BackendService) to find Backend with th

[2018-12-11 23:16] uschen commented on #541
same issue here 1.11.3 and 1.11.4

[2018-12-12 21:06] rramkumar1 commented on #71
@nikhiljindal We just added a new test job which runs against a multi-zonal cluster.

See https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-multi-zone

So you should be able to now modify the existing e2e test to check that the annotation has been added for each zone. The code to get the cluster zones can be found at https://github.com/kubernetes/kubernetes/blob/master/t

[2018-12-12 22:43] Arconapalus commented on #34
would you be able to deploy container-native-load-balancing alongside nginx-ingress-controller?

[2018-12-14 19:16] freehan opened #583 "Container Native Load Balancing Umbrella Issue"
This is the umbrella issue for container native load balancing, aka network endpoint group (NEG).

Current Known Issues:

- [X] [readiness probe not reflected on health check when NEG is enabled](https://github.com/kubernetes/ingress-gce/issues/541)

- [x] [NEG Programming Latency](https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#align_rollouts)

- [x] [Disrup

[2018-12-14 19:19] freehan commented on #541
@uschen I do not think this is the same issue. I created an umbrella issue for container native load balancing https://github.com/kubernetes/ingress-gce/issues/583. Can you take a look and see if it matches any known issues?

If not, would you mind creating an issue with more detail? It would be great if it could include repro steps.

[2018-12-14 19:20] freehan commented on #541
PR to fix the health check bug is in flight: #582

[2018-12-15 09:12] goenning commented on #320
is there a way to do this without nginx ingress controller?

[2018-12-17 13:58] JBodkin-LH opened #584 "Firewall change required by network admin"
When adding either an internal load balancer (service) or external load balancer (ingress), the events mention that a firewall change needs to be made manually when using a shared vpc. Would it be possible to add the ability to configure the firewall rules in a shared vpc?

[code]

I gave the service account permissions in the parent project to give network and compute admin. I'm successfully able

[2018-12-17 19:45] clehene commented on #18
@bgetsug I was able to override the LB health check to point to the ESP http_port and the probe will see it healthy. However it gets overridden (I guess by LGBC) after a while back to the main service port (HTTP/2).

I assume GLBC sets the probe to Ingress/spec/backend/servicePort and, hence, any other probe will not really work.

I was not able to figure out how the health probe is set by GLBC. A

[2018-12-18 10:30] sammy commented on #87
+1 this would be very helpful.

For the time being we manually assign a second ip to the loadbalancer created via the GCP console

[2018-12-18 22:17] abevoelker commented on #87
This would be very nice to have. As it stands, [cert-manager](https://github.com/jetstack/cert-manager), a popular TLS certificate solution on GKE due to lack of managed certs, [runs into difficulties](https://github.com/jetstack/cert-manager/issues/1157) when trying to do IPv4 + IPv6 for the same host on two separate Ingresses.

༼ つ ◕_◕ ༽つ @pondohva take my energy ༼ つ ◕_◕ ༽つ

[2018-12-19 13:45] nieldw commented on #42
A motivation for why option 1 (via BackendConfig CRD as @nicksardo said) is desirable is that sometimes the rules for readiness are different for serving public traffic (via an ingress) and internal traffic from other microservices. As an example, I have a service that needs to accept incoming UDP traffic before it is ready to serve public traffic. This means the `readinessProbe` on the pod must b

[2018-12-20 01:44] #541 closed

[2018-12-20 19:42] m1kola commented on #569
@grayluck hm... Can it be because in my `yaml` I have `networking.gke.io/suppress-firewall-xpn-error: true`, but you use `networking.gke.io/suppress-firewall-xpn-error: "true"`? Note quotes in `"true"` (bool vs string).

Originally [documentation had](https://web.archive.org/web/20181126131351/https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-shared-vpc) `networking.gke.io/suppress-fi

[2018-12-20 22:52] freehan opened #591 "Instance is Not Removed from IG when node is marked as unschedulable"
**How to reproduce it (as minimally and precisely as possible)**:
[code]

**What happened**:

Ingress controller did not remove the corresponding instance from IG and emit error messages like this:
[code]

**What you expected to happen**:
Unschedulable node got removed from instance group.

**Root Cause**:
Ingress controller failed to look up the corresponding zone of the instance when the node is

[2018-12-20 22:59] MrHohn commented on #591
https://github.com/kubernetes/ingress-gce/pull/576 is attempting to remove the predicate filter.

[2018-12-21 01:07] grayluck commented on #569
@m1kola I don't think this is the case since it only takes string as input. I tried boolean and it gave me a ruthless invalid request.
If you see [here](https://github.com/kubernetes/ingress-gce/blob/master/pkg/annotations/ingress.go#L143), we parse the annotation from string to boolean.
Could you follow the operations that I did and show me what you get in the output? Thanks.

[2018-12-21 20:59] #410 closed

[2018-12-28 09:36] olib963 opened #593 "Feature Request - Configuration via ConfigMap"
I would like to be able to inject the ingress configuration that is usually gathered from static annotations instead through a configmap. I am happy to look into implementing this myself if this would be an acceptable addition. I was hoping in the ingress I could write:

[code]

where the configmap is

[code]

This would allow me to reuse the same declarative Gitops repo and simply terraform a new

[2019-01-02 18:07] bowei commented on #480
/remove-lifecycle stale

[2019-01-02 22:14] freehan commented on #591
closing this as #576 is merged

[2019-01-02 22:14] #591 closed

[2019-01-04 14:36] mkozjak commented on #109
Are there any updates for this feature? It's a basic ingress' feature and we'd like to have one.

[2019-01-04 22:21] freehan opened #595 "Ingress controller should react to node scale down event from autoscaler"
Cluster autoscaler adds the [ToBeDeletedByClusterAutoscaler](
https://github.com/kubernetes/autoscaler/blob/e7dd38375165997b057967259b0d577ca253eebb/cluster-autoscaler/utils/deletetaint/delete.go#L34) taint on the candidate node. Then it goes on to evict pods from the nodes. After everything settles, it will delete the node.

Ingress controller should observe the taint and react by removing instan

[2019-01-07 20:17] arianitu opened #596 "Ingress controller does not work with TCP readiness probe, defaults back to HTTP"
I want to use a TCP readiness probe, but it keeps creating a HTTP health check **instead of a TCP health check.** In my deployment of my service, I have this:

[code]

When I go to the GCE health check tab, it still uses HTTP.  Is it because I am using port 80 here?

[2019-01-08 01:32] ConradIrwin opened #598 "BackendConfig timeoutSec doesn't seem to work with GCE Ingress"
I created a backendconfig object like this:

[code]

and attached it to the service like this:

[code]

and created an ingress like this:

[code]

The load balancer created in my google cloud project correctly had the CDN enabled, but the timeout was still displayed as 30 seconds in the Google Cloud Console. I have since edited the timeout using the Google Cloud Console and it seems to stick with

[2019-01-08 01:45] MrHohn commented on #598
@ConradIrwin Are you running a GKE cluster with version at or above 1.11.3-gke.18?

cc @rramkumar1

[2019-01-08 01:46] ConradIrwin commented on #598
I'm running the default for Google Cloud, which seems to currently be `v1.10.9-gke.5`

[2019-01-08 01:49] MrHohn commented on #598
As per https://cloud.google.com/kubernetes-engine/docs/how-to/configure-backend-service, you will need to upgrade GKE master version to >= 1.11.3-gke.18 to be able to configure timeoutSec via BackendConfig.

[2019-01-08 01:50] ConradIrwin opened #599 "BackendConfig `cdn: enable: true` uses scary defaults"
I created a backend config like this:

[code]

Expecting it to be equivalent to the default CDN policy, which is more explicitly written like this:

[code]

Unfortunately the default if `cachePolicy` is omitted is actually equivalent to:

[code]

This is a very unsafe default, in our case query parameters are essential to prevent data leakage between users, and I would like to ask that the default

[2019-01-08 01:51] ConradIrwin commented on #598
Ah, thank you, and sorry for the confusion.

[2019-01-08 01:51] #598 closed

[2019-01-08 17:52] rramkumar1 commented on #584
@JBodkin-LH I'm not sure what the ask is here? The Ingress-GCE controller does not have permissions to configure a firewall rule in the project containing the shared VPC. This is why it needs to be done manually.

[2019-01-08 17:53] rramkumar1 commented on #568
ping @kakarot1994

[2019-01-08 17:58] rramkumar1 commented on #599
@ConradIrwin Thanks for pointing this out, this appears to be a bug.

/kind bug

[2019-01-08 18:00] rramkumar1 commented on #593
@olib963 I'm not sure your proposal makes sense. IIUC, this would require a change to the Ingress API to support the "configMapName" field? This is definitely a non-starter.

[2019-01-08 18:04] rramkumar1 commented on #596
@arianitu An L7 Google Cloud LB only supports HTTP, HTTPS or HTTP2 health checks.

Is there a specific reason why you need to use a TCP readiness/liveness probe vs a probe that makes a HTTP call?

[2019-01-08 18:07] arianitu commented on #596
@rramkumar1 Is that true? Under the LB on Google Cloud, I can pick TCP as an option for a health check.

There isn't a specific reason, I was just using TCP health checks and it was failing even though under LB I can edit the generated LB and switch it to TCP and it works.

[2019-01-08 18:17] rramkumar1 commented on #596
@arianitu Yeah, you are right. I was reading the documentation at https://cloud.google.com/load-balancing/docs/https/ and didn't see TCP so I assumed it was not supported but it looks like it is an option.

Looking at our code, when we look at the liveness/readiness probe from the Pod spec, we only look at HTTP settings (see https://github.com/kubernetes/ingress-gce/blob/master/pkg/controller/tran

[2019-01-08 18:19] arianitu commented on #596
What do you mean you're going to deprecate health checks via probe? Will you have to manually setup health checks on LB going forward, or you are designing a new system?

[2019-01-08 18:21] rramkumar1 commented on #596
@arianitu We will be surfacing a new API in the existing BackendConfig CRD for users to configure health checks. The liveness probe API is not expressive enough and requires us to watch all Pods. It is also very error prone.

Once this new API lands, we will ensure that existing users of the liveness probe health checks have a clear migration story.

[2019-01-08 18:22] arianitu commented on #596
Sweet, looking forward to it!

@rramkumar1

[2019-01-08 18:22] #596 closed

[2019-01-08 18:23] rramkumar1 commented on #599
/assign @rramkumar1

[2019-01-09 09:02] JBodkin-LH commented on #584
I've found out the cause fo the issue here. I was adding the service account that was tied to the node pool (by default, the compute service account). I didn't notice there was a separate service account for the Kubernetes Engine Service Agent. After changing the permissions on the Shared VPC Project to the Kubernetes Engine Service Agent, the ingress was able to create the firewall rules automati

[2019-01-09 09:02] #584 closed

[2019-01-09 15:01] DennisVis commented on #563
@rramkumar1 Did you manage to make any progress on this?

[2019-01-09 15:31] rramkumar1 opened #602 "Release Summary: v1.4.1"
Release Notes:

- Fix InstanceGroup named port deletion bug - #587
- [Alpha Feature] Bug fix for GCP Managed Certs integration - #552

**Available in GKE versions 1.11.6-gke.2 and above**

[2019-01-09 18:09] MrHohn commented on #563
It seems like folks are working on publishing openapi for CRD: https://github.com/kubernetes/kubernetes/pull/71192

[2019-01-09 21:17] #602 closed

[2019-01-09 23:07] mbohlool commented on #563
Also `https://{cluster-ip}/swaggerapi` is deprecated and old swagger 1.2. It is not up to date. The correct path is `https://{cluster-ip}/openapi/v2`. But CRDs is not included in OpenAPI spec yet and kubernetes/kubernetes#71192 is trying to handle that. Note that it will only appear if the CRD has a validation schema which is in OpenAPI v3 model format.

[2019-01-10 20:33] rramkumar1 commented on #38
@mnemitz  See https://cloud.google.com/kubernetes-engine/docs/concepts/backendconfig

[2019-01-10 22:48] rramkumar1 commented on #71
/assign @nikhiljindal

[2019-01-10 23:00] rramkumar1 commented on #525
@nyurik How does this sound?

"Changes to secrets are picked up periodically so if you modify the
data inside of the secret, it will take a max of 10 minutes for those changes
to be applied to the load balancer."

[2019-01-11 09:01] ByteFlinger commented on #18
I have been spending the good part of 2 days trying to get this to work with Google Endpoints

I was able to setup Google Endpoints -> Ingress -> NodePort service -> Deployment (Using gRPC)

I followed the document at https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-http2 and it does give me an http/2 GLB from the Ingress. I was also able to get certmanager to provision a Let's Encry

[2019-01-11 09:46] olib963 commented on #593
@rramkumar1 That's ok, we could have added this functionality in an annotation instead of in the `spec` field e.g. `gce.ingress/configmap: ingress`. I have decided to go with the NGINX ingress instead, it seems a little more mature and configurable and isn't leaking resources as we rebuild. Thank you for the reply :D

[2019-01-11 09:46] #593 closed

[2019-01-11 23:32] Arconapalus commented on #471
running into the same issue with ingress stuck in creating ingress for 1.11.5-gke.5.
@rramkumar1  I've also tried all options, delete and redeploy ingress but should I delete cluster and then rebuild at 1.10.7-gke.2?

[2019-01-11 23:34] rramkumar1 commented on #471
@Arconapalus This issue is already fixed for that version so you might be running into a separate issue.

Can you please file a separate issue for this?

[2019-01-11 23:35] Arconapalus commented on #471
@rramkumar1 Yes I can.

[2019-01-11 23:39] Arconapalus opened #605 "GKE ingress stuck in creating after deploying ingress 1.11.5.gke.5"
I also am running into this issue on 1.11.5-gke.5. The creating ingress is stuck and I have deleted and recreated the ingress. Should I delete node and cluster and recreate at 1.10.7.gke.2?
https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer
I followed this guide up to the point of apply -f basic-ingress.yml and ingress is stuck creating,
I waiting for an hour then deleted and

[2019-01-11 23:40] rramkumar1 commented on #605
Are there any events on your Ingress?

You can check by doing:

`kubectl describe ing [NAME] -n [NAMESPACE]`

[2019-01-11 23:46] Arconapalus commented on #605
events are blank

[2019-01-11 23:49] rramkumar1 commented on #605
Can you email me your project name, cluster name, and location so I can take a look?

[2019-01-11 23:54] Arconapalus commented on #605
sent

[2019-01-12 04:51] clehene commented on #18
@ByteFlinger I was able to make it work. I've updated a bunch of issues with info but missed this one.

The last thing in my case was the http2 annotation. Have you seen? https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-http2

[2019-01-14 14:03] rramkumar1 commented on #605
@Arconapalus Discussed offline but it appears that the L7 Load Balancing Add-On was not turned on for your cluster.

Please close this bug once you have turned on the add-on and verified everything works on your end.

[2019-01-14 15:34] ByteFlinger commented on #18
@clehene I was not able to get it working sadly.

Here's what I did.

On a `1.11.2-gke.25` GKE cluster

I started by deploying the grpc sample found here https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/endpoints/bookstore-grpc

The deployment looks like this

[code]
Then I deploy the service

[code]

and then Ingress

[code]

I can confirm that I do get a Google LoadBalancer

[2019-01-14 17:03] Arconapalus commented on #605
fixed #605

[2019-01-14 17:04] Arconapalus commented on #605
close

[2019-01-14 17:05] #605 closed

[2019-01-14 17:15] rramkumar1 commented on #568
I'm going to go ahead and close this since it's not clear what the issue is.

@kakarot1994 Please re-open once you can provide more details.

[2019-01-14 17:15] #568 closed

[2019-01-14 18:04] agau4779 commented on #18
What happens when you `curl` to port 443 with your original image @ByteFlinger ?

GCP HTTP/2 requires HTTPS as a prerequisite - see https://cloud.google.com/load-balancing/docs/https/#backend_services and https://cloud.google.com/load-balancing/docs/backend-service#troubleshoot-HTTP2

[2019-01-14 18:09] ByteFlinger commented on #18
@agau4779 Same problem on HTTPS

The service is not listening on https itself. I expect that to be handled by the load balancer

[2019-01-14 18:59] ByteFlinger commented on #18
@agau4779 I have now enabled TLS in my grpc endpoint and it still does not give me a healthy check :/

Do I have to configure a separate http listener from the grpc endpoint? This is the one I tried and it seemed to work but I am confused on what is and isn't needed on the

[2019-01-14 19:06] MrHohn opened #606 "Multiple e2e jobs are failing"
Ref https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#Summary. Below test jobs are failing since 1/10/2018:
- https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e
- https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-multi-zone
- https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale
- https://k8s-testgrid.apps

[2019-01-14 19:18] agau4779 commented on #18
Hmm - can you ssh into into your machine and ping the port the healthcheck would be pinging (`8000`) and see what the output is? `curl --http2 https://localhost:8000`

[2019-01-14 19:47] ByteFlinger commented on #18
Sadly after running curl from inside the container it just gives me unsupported protocol

If I port-forward to it I get `curl: (35) error:1408F10B:SSL routines:ssl3_get_record:wrong version number`

Something tells me the issue at hand here is the esp proxy which I am trying to get it to work

https://cloud.google.com/endpoints/docs/grpc/specify-proxy-startup-options

[2019-01-14 20:05] bgetsug commented on #18
@ByteFlinger what endpoint/path do you have the ESP health check set to? By default it uses `/healthz`. There's still no way to configure the backend health check endpoint through `Ingress` until #42 is resolved. The health check created by `Ingress` has an endpoint of `/`. Can you try setting your ESP health check endpoint to `/`? (I feel like I tried this before, but it broke ESP's proxy to the

[2019-01-14 20:16] bgetsug commented on #18
Also, @agau4779, I believe there are a couple distinct architectures / use cases that should be addressed in Google's documentation:

1. `Ingress-managed GCLB --> gRPC service`
2. `Ingress-managed GCLB --> ESP (Cloud Endpoints proxy) --> gRPC service`

Perhaps the title of this issue should be changed to "Add examples using gRPC (HTTP2) with and without ESP"

Once #42 is resolved, I would expect h

[2019-01-14 20:42] ByteFlinger commented on #18
@bgetsug I am uncertain on who should be answering the health check and with what protocol. The whole thing is very confusing.

It is my understanding that, as per Google's documentation, health check on the part of the esp proxy is disabled by default so I expect any request for health checking to be sent straight to the backend. Enabling health check on esp seems to make the esp answer requests

[2019-01-14 21:06] bgetsug commented on #18
@ByteFlinger, if I understand correctly, gRPC has an RPC-based health checking protocol: https://github.com/grpc/grpc/blob/master/doc/health-checking.md, which you may be able to manually configure in your service...whether this will work with a GCLB, 🤷‍♂️.

In my deployment I am using ESP configured with its default `/healthz` endpoint, which definitely works via plain old HTTP. Unfortunately I g

[2019-01-14 21:21] ByteFlinger commented on #18
It looks like there isn't a single working example of esp + grpc + ingress out there, assuming it works at all.

I did configure gRPC health check as you pointed out on my backend application but so far it has not worked and besides my only reason for doing so right now is to get the GCLB to proxy my requests to the underlying backend and I don't think GCLB does grpc health checking.

I may just g

[2019-01-14 22:36] bgetsug commented on #18
I can certainly echo @ByteFlinger's frustrations. One would hope that all these Google-made technologies would play nice together in a more cohesive and automated fashion. If I understand correctly, a K8S `Ingress` is supposed to automate the configuration of load balancers/proxies...whatever you want to call them. When used with GCE/GKE, I would expect an `Ingress` to be able to configure a GCLB

[2019-01-14 22:45] ByteFlinger commented on #18
Well put.

Honestly right now I would be happy with a simple answer in the form of "Unfortunately it is not possible to setup Google endpoints + Ingress + Grpc right now"

[2019-01-15 16:07] hrdymchl commented on #33
+1 we want to migrate some memory intensive resources, like our sitemap, to cloud storage but currently have no easy way to serve it from the same domain. This would be really helpful.

[2019-01-15 17:43] MrHohn commented on #606
All tests are green now, thanks!

[2019-01-15 17:43] #606 closed

[2019-01-15 20:05] msinton commented on #511
+1 I would also really appreciate this feature.

[2019-01-16 18:14] #599 closed

[2019-01-16 19:48] ConradIrwin commented on #599
Thanks!

Sent via Superhuman ( https://sprh.mn/?vip=conrad.irwin@gmail.com )

On Wed, Jan 16, 2019 at 10:15 AM, Rohit Ramkumar < notifications@github.com > wrote:

[2019-01-17 20:52] mcfedr opened #614 "Sync error when ingress name has dots"
Its valid for kubernetes resources to have dots in the names, so an ingress with a name like `some.host.com-ingress` is valid, but the gce ingress fails when you create such an ingress, with an error like

[code]

This mismatch of valid values could be handled by the controller

[2019-01-17 23:36] bowei commented on #246
/lifecycle frozen

[2019-01-17 23:44] bowei commented on #614
We may not elect to fix this as the munging the dots into underscores in the name can result aliasing issues for the GCP objects, unless there are a lot of users in this situation...

[2019-01-20 18:42] #179 closed

[2019-01-21 12:46] surykatka commented on #471
@rramkumar1 I'm having a similar issue to the one you have described in #605. I have sent you an e-mail with my set-up but I'm also happy to continue the conversation online.

[2019-01-22 07:16] rramkumar1 commented on #614
For tracking purposes, marking this as a bug but as bowei said, we may not fix this.

/kind bug

[2019-01-22 07:54] mcfedr commented on #614
Fair enough, i thought that might be the case, but still useful to know about it and for others to be able to find it.

[2019-01-23 04:24] jpigree opened #616 "BackendConfig security policy not enforced"
Hi. I created a GKE cluster in version "1.11.5-gke.5" (with autoscaling activated) and I use the pre-installed gce ingress controller to expose my applications on the WAN. However, I need to **firewall** them (filtering on source IP) so I use the "security policy" field in the BackendConfig object to enforce my cloud armor policy on the load balancer. However I have a hard time making it work cons

[2019-01-23 07:34] bowei commented on #616
There has been discussion on making load balancer status more extensible via CRDs. The easiest thing to do is to expose via an annotation.

[2019-01-23 07:34] bowei commented on #616
/lifecycle frozen

[2019-01-23 19:16] jpigree commented on #616
Hi. Thank you @bowei for your quick answer but I don't think I understand it. The BackendConfig object is already a CRD right?

Actually, to better explain my problem, I followed this document:
=> https://cloud.google.com/kubernetes-engine/docs/how-to/cloud-armor-backendconfig

My main issues are:
- I have a nasty edge case when I set the BackendConfig securityPolicy up without errors but my servi

[2019-01-23 19:54] jpigree commented on #616
What I did most of the times is:
- empty the "securityPolicy.name" field in the BackendConfig object
- set the "securityPolicy.name" field in the BackendConfig with the cloudarmor policy name I want to be enforced again

So yeah, I trigger an update in the BackendConfig.

I do not touch the ingress myself. However, my Helloworld app Continuous Deployment pipeline recreate the ingress on every depl

[2019-01-24 02:45] jpigree commented on #616
@MrHohn I don't have access to the ingress controller logs and "kubectl describe backendconfig" does not print any information about the policy enforcement status.
This complicates troubleshooting.

I have a question though. I look at the loadbalancer created by the gce-ingress on the GCP console and I wonder why do I have two backend services for the same instance group. One with the security pol

[2019-01-24 05:52] jpigree commented on #616
Hi again. I have a few results. I couldn't reproduce the bug consistently but I can show logs proving that the BackendConfig does not work very well.

@MrHohn Can I send them to you by email? I will have to anonymise everything otherwise.

[2019-01-24 06:37] MrHohn commented on #616
@jpigree Sure thing, please send them to zihongz@google.com, thanks!

[2019-01-24 09:30] Joseph-Irving commented on #42
Has there been any movement on this issue? The backend config approach seems like a reasonable solution to me.

We're currently trying to use the readiness probe approach, however I noticed it sets the health check path for all backend services to be the readiness path including the default-http-backend, this results in the default-http-backend being marked as unhealthy as it responds with a 404 o

[2019-01-24 21:23] MrHohn commented on #616
This is expected. Ingress controller creates 1 backendService (google cloud resource) for each linked nodePort service (k8s resource). And they all share the same unmanaged instance group. In your case, one of the backendServices maybe created for the default backend service, which is deployed upon cluster creation.

Will post more updates after reading through the logs.

[2019-01-25 02:45] jpigree commented on #616
@MrHohn. Thanks for the review. Yes. I couldn't reproduce with my scripts because I kept hitting timeouts. I did kinda reproduce one time: i had "HTTP 200" during 10 minutes or so before the security policy kicks in. I don't know if this considered acceptable. I didn't sent you those logs because my scripts weren't finished yet (the code won't match with the logs). But after that, I mostly kept hi

[2019-01-28 23:37] jpigree commented on #616
@MrHohn. So I did other tests and I still couldn't reproduce. Actually, I think it works either way better than before (perhaps due to gcloud upgrades/fixes) or I just know better what to expect. Indeed, the inertia (sometimes more than 15 minutes long) between the k8s object creation and the policy enforcement could have misslead me.

Moreover, I also added the policy attachement status to the lo

[2019-01-28 23:37] #616 closed

[2019-01-29 22:22] thomasjungblut commented on #476
I have a cluster with 1.11.6-gke.3 and I see this behaviour again, I've set the annotation `kubernetes.io/ingress.class: "nginx-ingress-internal"` on the ingress object but it still creates a loadbalancer for me.

[2019-01-29 22:53] thomasjungblut commented on #476
I'm using helm and I purged and installed it from scratch, so no- this should've been one transaction ideally.

It's some really weird interaction and I'm also not entirely sure if Helm isn't to blame (v2.12.3). I'm co-deploying `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.22.0` as listening on the `nginx-ingress-internal` class. Turned out that I created an issue with its lea

[2019-01-29 23:31] MrHohn commented on #616
@jpigree Thanks for the updates. Indeed from your logs I can now see the 200 happens without security policy enforced. As you mentioned, this likely happened during the initialization of the load balancing resource, and we got users reported before that random codes may be returned before load balancing is ready.

IMHO the fact that google cloud LB resource doesn't report status also make adding s

[2019-01-30 22:41] DanielJoyce commented on #42
Bitten by this as well. The readiness probe scanning seems to have too many caveats to even be useful. We just manually patch the healthcheck with the CLI. :P

[2019-01-31 13:08] AdrianNeatu commented on #493
I think I'm facing the same issue here. And no, @acasademont I don't think that's the problem - I want to use the gzip from nginx not GCLB.
I have an nginx server in a pod with "gzip on" (and the rest of the needed settings).
If I do something like "curl -H "Accept-Encoding: gzip" -I http://localhost:8080" from the pod itself or even from a different pod, I receive the "Content-Encoding: gzip" hea

[2019-01-31 21:04] necevil commented on #51
The one thing I would love to see here (given that we are currently using kube mci — for multi-region load balacing on GKE which in turn relies on GCE-Ingress) is better documentation on how to run nGinx Ingress internally behind a GCE-Ingress.  I haven't found anything on this other than people say it's possible.

That said obviously (in my case) having 301s in GCE-Ingress would solve the entire

[2019-02-01 08:40] srikanth19 opened #621 "GCP - Kubernetes Ingress Backend service unhealthy"
Hi,

I have deployed a SAS Viya programming on a pod using the below deployment file. This has SASStudio running on port 80. I am trying to expose the SAS Studio using the nodeport and Ingress through below yaml files. But in the GCP console, the backend service is displayed has unhealthy and if I try to access the Ip either it is hitting default backend or page not found. I am able to access the

[2019-02-04 07:15] bowei commented on #181
/lifecycle frozen

[2019-02-04 07:16] bowei commented on #181
This is an item on the GA list: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md

[2019-02-05 17:00] DavidKuennen commented on #33
Any news on this? Wanted to add a backend bucket and noticed that didn't work.

[2019-02-07 23:36] bowei commented on #537
/lifecycle frozen

[2019-02-08 00:04] eversC commented on #511
@rramkumar1 ping

[2019-02-08 01:39] bowei commented on #511
We have this on our backlog and will try to figure out when this can be done.

/lifecycle frozen

[2019-02-08 08:30] FearlessHyena commented on #51
Any news on this from Google? At least a roadmap or some indication this is being worked on would be nice :)

[2019-02-09 12:00] rodlogic opened #632 "Defaults per cluster or project?"
Is there a way to provide a default TLS certificate or set of certificates when creating a LB that is not at the Ingress or Service level as an annotation?

I would like to provision one TLS certificate and one DNS name for the cluster, but I don't want to have to specify the TLS cert annotation on every ingress/service. If the ingress specifies a host that is not part of the cert they app owner i

[2019-02-09 18:29] iftachsc commented on #241
hitting the same.
i have a readiness probe on different port that the application. a container port is set for the readiness port as well. i even addead a nodeport for this readiness port. doesnt help. HTTP loadbalancer has healthcheck of HTTP on root path / in the nodeport that match the internal port of the service set in the ingress.  the port im talking about is 15020. see below. all work well

[2019-02-09 19:55] gun1x commented on #290
I have the same issue. I added `kubernetes.io/ingress.allow-http: "false"` but the load balancers still deliver HTTP.

[2019-02-11 17:20] rramkumar1 commented on #632
@rodlogic Is there some Kubernetes tooling that can help you with this? I'm not too familiar helm and terraform but would it be worth taking a look at those?

I'm not sure there is much we can do here to solve this problem. Unless you have any other questions, I'll let you close this issue.

[2019-02-11 17:27] bowei commented on #632
This kind of thing sounds like something best left to an external tool.

[2019-02-11 17:45] rodlogic commented on #632
I guess I am trying to avoid the overhead of each group/team knowing what the underlying Managed TLS certificate id is when deploying their own workloads. It is just unnecessary overhead.

I would like to have a cluster be serving a workloads for a single DNS name and single TLS certificate that could be provisioned along side with the cluster and be picked up automatically by the ingress controll

[2019-02-12 13:36] domcar opened #634 "How to expose ports"
Hi,

I wonder how I can open tcp ports with ingress-gce.
To be clear, I used until now nginx-controller and I used to  create a configmap, for example:
[code]
With this configmap I can use port 22 on my gitlab deployment.

How can I achieve the same with gce-ingress?
If the same question was already answered or if there is a tutorial I can follow, could you please point me to it?

Thanks for the h

[2019-02-12 19:15] stefanotto commented on #34
Hi, where exactly can I set the two NGINX settings described?
[code]
I have an Ingress based on `nginx-ingress-controller`. How exactly can I pass these to the NGINX used in the image?

[2019-02-12 20:04] mikesparr commented on #34
I believe you must create a ConfigMap and that is what overrides Nginx. I'm
currently using GCE ingress but if memory serves, that is what you need to
add.

On Tue, Feb 12, 2019 at 12:15 PM Stefan <notifications@github.com> wrote:

[2019-02-12 20:06] mikesparr commented on #34
Here's an example that might get you started, Stefan:
https://github.com/nginxinc/kubernetes-ingress/blob/master/docs/configmap-and-annotations.md

On Tue, Feb 12, 2019 at 1:04 PM Mike Sparr <msparr@gmail.com> wrote:

[2019-02-12 20:55] rodlogic commented on #632
FYI: A similar issue was created on the AWS ALB Ingress Controller: https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/746

[2019-02-12 21:05] stefanotto commented on #34
Perfect. Thank you so much @mikesparr

[2019-02-12 22:42] cemo commented on #42
Another victim is here :( How this supposed to be configured correctly? I tried `readinessProbe` but still not working. Any workaround?

[2019-02-13 14:27] inversion opened #638 "Switching service selector causes small amount of downtime with NEGs"
I have implemented a blue/green update strategy for my deployment by updating a version label in the deployment template. I then update the service selector to use the new version label when enough pods of the new version are ready.

I have found that strategy this causes about 5-10 seconds of downtime (HTTP 502s) when using NEGs. The service events show:

[code]

I'm wondering if there is a way t

[2019-02-13 16:56] rramkumar1 commented on #632
@rodlogic This might be a terrible idea so bear with me...

What if you stores the cluster-wide TLS cert name or secret in a config map and when a group/team creates an Ingress, you have a mutating admission webhook that then edits the Ingress object with that cert name / secret. In theory, this should free your teams from having to know about the TLS information and you can easily switch out the

[2019-02-13 16:58] rramkumar1 commented on #638
@freehan Any thoughts here?

[2019-02-13 17:19] bowei commented on #632
You can use a webhook for sync modifications or just have a controller watch and modify YAMLs asynchronously.

[2019-02-14 00:48] rmtmckenzie commented on #42
@cemo Just to confirm, you've put something like this in your deployment spec:

[code]

I've done that and my health checks seem to be set up for /healthz. It might be worth recreating the ingress if you're able to do that.

[2019-02-14 22:56] julianvmodesto commented on #42
It seems that configuring the health check configuration in the Backend Config CRD is the path forward.

Is there a way to watch progress for that change to Backend Config?

Does that mean that making the 3rd option below is the compatible way forward and is a change that would be acceptable today?

[2019-02-15 14:52] rodlogic commented on #632
Hi @rramkumar1, thanks for the alternative!

However, I am not sure I follow why this might be a terrible idea? I come with the assumption that this use case is more common than just an outlier (at least it has been also a request to the alb ingress controller and well accepted there), and considering the cost of a custom created, deployed and maintained mutating admission webhook multiplied by th

[2019-02-15 17:41] bowei commented on #632
This sounds like something that would go into an IngressClass resource? We should try to sketch out a generic design, this will not be the only common infra feature. Can you link the ALB feature request.

[2019-02-15 17:58] rramkumar1 commented on #42
@julianvmodesto Will ping here once work for this starts on our end.

[2019-02-15 20:06] onixmatt commented on #51
This would be a very nice feature to have built in. Another option is to also use Istio, but again it feels like a workaround for something that shouldn't even be a problem.

[2019-02-16 08:38] cemo commented on #42
@rmtmckenzie thanks. I have tried with simple example it worked. However I have used something more complicated and hit one of the limitations at here:

[code]

[2019-02-17 22:10] gun1x commented on #241
Give @ldelossa e medal, please. You waste hours reading gitlab bugs because the documentation doesn't say that one field is required.

[2019-02-18 17:09] rodlogic commented on #632
[This](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/800) is discussion is also interesting.

More specifically, [this](https://github.com/kubernetes-sigs/aws-alb-ingress-controller/issues/800#issuecomment-454104073) proposal and what it enables:

[2019-02-18 17:11] rodlogic commented on #632
Hi @bowei, [this](kubernetes-sigs/aws-alb-ingress-controller#746) is the similar ALB feature request aside from the additional one I posted just now.

[2019-02-19 18:20] epiphone commented on #33
One way I worked around this is by grabbing the backend service created by ingress-gce and attaching it to another load balancer (which, being out of reach for ingress-gce, we can safely add any backend buckets to). See an example [here](https://github.com/epiphone/gke-terraform-example). The method of course leaves us with an extra unused load balancer, but I guess that could be cleaned up manual

[2019-02-19 19:12] bowei commented on #632
@rodlogic -- your link doesn't seem to work?

[2019-02-20 10:34] linydquantil commented on #42
+1

[2019-02-20 15:52] zvictor commented on #605
I was running into the same problem. I am part of the closed preview of knative in gcloud and the instructions provided in https://cloud.google.com/run/docs/gke/setup made me accidentally disable the load balancer.

I won't quote the precise command here because that page is tagged as *Confidential Material* 🙄, but just running the instructions provided there **will replace the list of add-ons bei

[2019-02-20 16:21] rramkumar1 commented on #605
@zvictor Thanks for the investigation! I was wondering why we had so many issues related to the add-on not being on...

This is tricky because without the add-on being enabled, the controller cannot even be deployed and thus cannot emit events. However, I 100% agree that this is a bad UX. I'm going to file a separate issue in this repository for better tracking and update there once we have a solu

[2019-02-20 16:33] rramkumar1 opened #645 "Better UX for user who have HttpLoadBalancing add-on disabled"
As per comment by @zvictor in #605, for users who have accidently disabled the HttpLoadBalancing add-on, there needs to be a better way to notify them that creating an Ingress will not result in any action (since the controller is not deployed).

Using this issue to track discussion, design, etc.

[2019-02-20 16:36] rramkumar1 commented on #427
ping @dims and @aledbf

[2019-02-20 19:14] rodlogic commented on #632
@bowei I just fixed it, sorry.

[2019-02-20 22:52] freehan commented on #638
Can you allow some period of overlap during transition?

For instance, you have blue pods and green pods. Suppose the service points to blue pods initially.
Change the service selector to include both blue and green pods.
Wait for some time and make sure both are taking traffic.
Then change the service selector again to only target green pods.

This should help. Please let us know if this still ca

[2019-02-21 06:45] vTNT commented on #38
It's not a very good plan. It's too complicated

[2019-02-21 11:28] Akuka commented on #51
We are in 2019, will we see this feature soon or should I come back in 2020?

[2019-02-21 17:58] seletskiy commented on #18
@bgetsug Hey! Can you share script that you use to configure it?

[2019-02-21 18:50] bowei commented on #51
As ingress-gce exposes the underlying GCLB functionality, as commented before, please vote for the feature in GCLB: https://googlecloudplatform.uservoice.com/forums/302616-load-balancing/suggestions/31951531-allow-http-to-redirect-to-https-automatically

[2019-02-21 19:30] ByteFlinger commented on #18
If anybody lands here and is still looking for a way to configure GKE Ingress to create a GLB + Google endpoints (using esp) see here

https://github.com/GoogleCloudPlatform/endpoints-samples/issues/52#issuecomment-454387373

I got it to work without having to manually configure things and documented it on the link above

[2019-02-22 19:25] rramkumar1 commented on #605
@zvictor Docs are fixed now.

[2019-02-26 08:09] ashi009 opened #646 "Controller fail on syncing config when a service is not found"
Ingress controller fails to sync the entire config in case a backend service is missing.

We ran into last week. We deployed the ingress config for a new service along with other changes to the cluster before actually deploying the new service. None of the change was made until the new service is deployed. At the meantime ingress controller only reported a warning mentioned nothing on the gravity

[2019-02-26 12:40] iftachsc opened #647 "If readiness probe is on port different than the service (app) port - ingress failes to sync the correct healthcheck"
I have a deployment that its healthcheck is running on different port than the app port (80).
our Ingress resource creates a HTTP loadbalancer with HTTP healthcheck on the root path (/)-  on the NodePort exposing the service port 80.

the service has definition of the healtcheck port (in addition to the app port) and also the deployment has it, including containerPort field. the pod is healthy and

[2019-02-26 23:11] dacox opened #649 "Removing Node Pool from Cluster Breaks Ingress Conroller"
Hi everyone,

we're currently on `1.11.6-gke.11`. We've had some issues with `gce-ingress` in the past, and after a recent outage are trying to dig into the root cause.

We currently have a handful of Node Pools and use an Ingress to map traffic to two services in our cluster. This has created the Cloud Load Balancer with two Backend Services with one health check each. Each Backend Service points

[2019-02-27 00:51] rramkumar1 commented on #647
@iftachsc Just for clarify, could post full YAML's of your Ingress, Service and Deployment?

[2019-02-27 05:56] rramkumar1 commented on #646
@ashi009 What are you hoping to gain by the load balancer being partially created with dummy backends? Even if we were to do this, you can't send traffic to the LB.

Is the error message in the GKE console not clear enough?

[2019-02-27 07:41] ashi009 commented on #646
Sorry that I didn't make the request clear.

With dummy backends, the config push will success and only the service that has error will not work.  For our case, we use ingress config sharding to allow different teams to manage their own ingress in their own namespaces without having to manage SSL cert and DNS setups (due to #369). Hence, letting a single shard to fail the entire batch is particula

[2019-02-27 09:08] bowei commented on #646
Can you describe what "ingress config sharding" means? Is this an automated system or a way you have setup your config?

[2019-02-27 18:42] freehan commented on #537
Add toleration of long name to certain degree: ##537

[2019-02-28 22:54] MrHohn commented on #649
Humm, I thought cordoning a node should be enough for GCE Ingress controller to remove it from the target instance group, such that it shouldn't be receiving request/healthcheck. @freehan Is it not the case?

While I understand instances that being terminated may fail health check, I'm also not understanding why the new nodes (assuming there are multiple node pools?) would become unhealthy as well

[2019-03-01 01:43] linydquantil opened #657 "Does it support a second jump?"
Our back-end service is consul-cluster, I deployed nginx services in front of consul cluster;
But when I'm visiting, it can jump to /ui normally. But what's displayed on the page is default server - 404
And then I use loadbalancer to open web services； It will have normal access to the back-end consul ui；
This is how I deploy consul：https://github.com/kelseyhightower/consul-on-kubernetes
and my ng

[2019-03-02 15:12] ashi009 commented on #646
It's an automated pipeline we have.  Each team puts custom ingress resources in their namespaces, and a server will monitor those custom resources, and produce combined ingress resources.

[2019-03-03 01:04] dacox commented on #649
@MrHohn Yes, we thought so too. I have since created one or two test clusters to try and reproduce the issue, but so far haven't been able to. However, this is not the first time we've been struck by this issue - it also occurred once during a rolling GKE node upgrade.

The part that is confusing is that all of the remaining nodes seemed fine, but the load balancer seemed to think differently. For

[2019-03-03 03:11] freehan commented on #649
There was a recent bug https://github.com/kubernetes/ingress-gce/issues/591
I will confirm and check if the fix is contained in the GKE version.

[2019-03-03 17:53] dacox commented on #649
@freehan From my poking around the branches it doesn't seem like that fix has landed in a release yet, and I assume `1.11.6.gke-11` is also using `v1.4.3`

[2019-03-04 16:37] thockin opened #661 "GCP Description field is blank"
Service LBs populate the description field with helpful information.   I see GCE ingress does not do that for things like forwarding rules.  Would be helpful in UIs.

[2019-03-04 18:53] freehan commented on #649
Just created a cherry pick PR.

[2019-03-04 20:49] rramkumar1 commented on #657
@linydquantil I think I know what you are trying to say, but can you be a little more clear on what the ask is?

[2019-03-04 22:48] rramkumar1 commented on #634
@domcar Ingress-gce cannot support this since it only configures HTTP(S) load balancers.

You should be able to achieve this by creating a k8s Service of type "LoadBalancer" though [1]

[1] https://cloud.google.com/kubernetes-engine/docs/how-to/exposing-apps

[2019-03-05 01:28] linydquantil commented on #657
@rramkumar1  My problem is that when I use loadbalancer, I can access the site normally. But when I use ingress, I can't access the site properly.
My understanding is that when the request passes through ingress, it goes through a jump, And then the request goes through the reverse proxy on nginx. so it returns default server 404.
Well, in this scenario, this is a normal phenomenon, or is it a bug

[2019-03-05 01:41] bowei commented on #657
Are you using ingress on GKE or nginx ingress?
Can you see requests coming to your nginx server?
If you are using GKE, what are you seeing in the stackdriver logging for the LB?

[2019-03-05 02:26] linydquantil commented on #657
i use ingress on GKE @bowei ,

[2019-03-06 04:59] linydquantil commented on #657
https://github.com/pantsel/konga/issues/348  Has anyone ever had a problem with that?

[2019-03-06 11:58] raelga commented on #32
Still happening, added `kubernetes.io/ingress.allow-http: "false"` and the HTTP Frontend was not deleted.

_Cleaned_ manually after adding the annotation by updating the Ingress Load Balancer removing the HTTP Frontend. Eventually, the HTTP Target Proxy was deleted by GCP.

[2019-03-06 14:55] boxrick commented on #33
This is a complete showstopper for me, thanks for the workarounds people. Will make use of some of these.

[2019-03-06 19:14] rramkumar1 opened #667 "Move e2e tests from k/k into this repository"
Many of the Ingress-GCE e2e tests defined in k/k [1] can also be defined in this repo and will be much easier to maintain in this repo. At then end of this migration, the only tests in k/k that should remain are the conformance tests.

Using this issue to track the required changes.

[1] https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/ingress.go

[2019-03-07 14:44] jawlitkp opened #670 "How do I set up RPS limit"

[2019-03-07 18:13] rramkumar1 commented on #667
- Upgrade tests
 [x] Removal of scaffolding - https://github.com/kubernetes/kubernetes/pull/75002
 [x]  Removal of prow jobs - https://github.com/kubernetes/test-infra/pull/11638

[2019-03-08 22:50] benfdking opened #674 "Confusion about the root health check"
Please forgive me if I have put this in the wrong place.

As has been often stated in the issues, there is some confusion about the ingress health check requiring a 200 at the root. After some investigation, we noticed that the request contained a distinctive `User-Agent` header `GoogleHC/1.0`. With that in mind, we built some Go middleware based on that finding:

https://github.com/tumelohq/gke-i

[2019-03-09 00:29] rramkumar1 commented on #674
@benfdking

Assumptions 1 and 3 look fine to me.

Regarding the user agent, we don't really have a way to prevent the Google Health Checker from modifying it's signature to say, "GoogleHC/1.1". My feeling is that you should not depend on the user agent being exactly as specified. A safer (but still risky) bet would be to check if the user agent starts with the prefix "Google".

If your setup allow

[2019-03-09 00:29] rramkumar1 commented on #670
@jawlitkp FWIW, we currently, we set the RPS per backend to be 1 for both the InstanceGroup and NEG cases [1].

We can definitely surface this setting to users via the BackendConfig CRD [2] but note that the setting only makes sense when using Ingress w/ NEG's [3]. If you are using InstanceGroup's the setting does not behave how you would expect.

[1] https://github.com/kubernetes/ingress-gce/blob

[2019-03-11 22:13] freehan opened #675 "Changing app-protocol from HTTP2 to other protocols will cause glbc to hit nil pointer"
**Symptom:** Create an ingress with HTTP2 app protocol. For instance: https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/ingress/http2
Manually change the app protocol on the spec of service from HTTP2 to something like HTTPS,HTTP. This will cause glbc to hit nil pointer and crash with following stacktrace in ingress-gce 1.2:

[code]

**Root Cause:**

1.  GCE GetHealth

[2019-03-11 22:17] freehan opened #676 "Make HealthCheck syncer to follow Composite type pattern"
Long term fix: https://github.com/kubernetes/ingress-gce/issues/675

[2019-03-11 23:40] rramkumar1 commented on #634
I'm going to go ahead and close this. Please reopen if the answer was not sufficient.

[2019-03-11 23:40] #634 closed

[2019-03-11 23:41] rramkumar1 commented on #31
This was fixed by #590 and is shipped in v1.5.0.

[2019-03-11 23:41] #31 closed

[2019-03-12 05:15] rramkumar1 commented on #476
@thomasjungblut Sorry for the delay in response.

If there is no ingress.class annotation present, ingress-gce will go ahead and create the LB. If the annotation is present but not set to "gce", it will **not** create the LB. Hope that clarifies.

Is there anything else I can do to help on this issue or should it be closed?

[2019-03-12 05:22] rramkumar1 commented on #562
@one000mph Sorry for the really late reply.

What was the motivation behind editing the annotations? Modifying them does not do anything to the LB, they are only there as a "status".

Do you see any events when executing `kubectl get events` in the same namespace as your Ingress?

[2019-03-12 05:24] rramkumar1 commented on #560
@Starefossen Is this still an issue? I suspect that there is something going on w/ your DNS.

Given that, I'm going to go ahead and close this out. Please reopen if necessary.

[2019-03-12 05:24] #560 closed

[2019-03-12 05:38] rramkumar1 commented on #646
@ashi009 Why not simply wait for the services to be deployed before creating the Ingress? Then, if your concern is knowing when to deploy the Ingress, I suppose you could periodically check if all of the Services referenced in the Ingress specification exist. Forgive me if what I said doesn't make sense, just trying to understand your use case better :)

[2019-03-12 08:59] thomasjungblut commented on #476
Makes sense, let's close. Thanks for the clarification.

[2019-03-12 09:48] ashi009 commented on #646
@rramkumar1 You are right, technically. Ideally, no bad config will ever be pushed to production, but...

I might have oversimplified the issue and made it a very specific issue. A broader problem here is that the control panel for configuring ingress controller is through ingress resources, and a user may not know the implementation details of the controller under the hood. Which means a user may

[2019-03-12 16:43] #476 closed

[2019-03-12 20:11] rramkumar1 commented on #647
Looks like there are some gaps in our documentation [1] for this that don't make it clear what port your health checks should be on. I will take an AI to update the docs.

[1] https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#health_checks

[2019-03-13 02:09] nicktrav commented on #647
Just dropping in to say that we hit this today too and consider it more of a limitation of the controller rather than a gap of documentation.

For completeness, we also have a healthcheck running on a separate port to the container port that serves up the main traffic for the pod. Right now it seems like the controller doesn't distinguish between healthcheck and non-healthcheck traffic.

If the No

[2019-03-13 03:00] rramkumar1 commented on #647
@nicktrav I agree that ideally, we should be able to create a health check that points to the healthcheck port for an application. However, there is no robust way for the controller to know which port is the healthcheck port for an application.

Do you mind posting your YAML's? Might be easier to explain with a concret example.

[2019-03-13 04:52] rramkumar1 commented on #646
@ashi009 If the services referenced by an Ingress do not exist, it really is an **invalid** config.

Can you elaborate more? We have a couple open issues related to naming and its high on our list to fix.

[2019-03-13 06:55] one000mph commented on #562
I don't think this is true in my experience. Setting that annotation does modify the ingress controller behavior. There is [documentation](https://cloud.google.com/kubernetes-engine/docs/tutorials/http-balancer#step_5_optional_configuring_a_static_ip_address) on how to modify annotations to configure the ingress controller.

This is quite an old issue and I think what I was trying to do was probab

[2019-03-13 06:55] #562 closed

[2019-03-13 16:32] toyota790 opened #685 "Why GCP deploy an ingress controller on the master node rather than worker node?"
I found this GitHub [page](https://github.com/kubernetes/ingress-gce/blob/master/docs/faq/gce.md#how-do-i-deploy-an-ingress-controller) stated that

I am just curious that why GCP would deploy an ingress controller on the master node rather than worker node? I think it may impact the performance of scheduling or other things if it deploy on the master. For general cases, we would probably deploy i

[2019-03-13 16:50] pcnfernando opened #686 "Link for the example on deploying ingress controller is not valid"
Under the heading;  [how-do-i-deploy-an-ingress-controller](https://github.com/kubernetes/ingress-gce/blob/master/docs/faq/README.md#how-do-i-deploy-an-ingress-controller), the example pointed is an invalid link.

[2019-03-13 17:03] rramkumar1 commented on #562
@one000mph The annotation you are referring to is "kubernetes.io/ingress.global-static-ip-name". This **is** an API surface for the user so you can edit it. The others like "ingress.kubernetes.io/forwarding-rule" or "ingress.kubernetes.io/target-proxy" are simply there for your consumption. Editing them does nothing.

[2019-03-13 17:06] rramkumar1 commented on #686
Sorry about that. The documentation in this repo is in a slight state of flux but I am working on getting everything back in a good state.

[2019-03-13 17:28] rramkumar1 commented on #685
@toyota790 I'm sure there are many reasons but my guess is that its easier from an authentication / authorization standpoint.

Ingress-GCE needs permissions to edit networking resources in the project and for that certain credentials need to be plumbed in via a config file. On GCE & GKE, this config file lives on the master. Alternatively, if we deployed on one of the worker nodes, this config fil

[2019-03-13 17:48] toyota790 commented on #685
@rramkumar1 Thank you for the quick reply. But for that case, we can utilize the ConfigMap to store the config setting. So we don't need to spread the config file across to the each node.

Do you have any other idea on this? Thank you! :)

[2019-03-13 18:48] nicktrav commented on #647
Here's a minimal example:

`config-map.yaml`:
[code]

`deployment.yaml`:
[code]

`service.yaml`:
[code]

`ingress.yaml`:
[code]

With this setup, the `Ingress` is created with a healthcheck pointed at `/healthz` on the healthcheck port on the container (which only responds to that route, no others). Changing the `servicePort` to `8080` results in the healthcheck pointed at `/` on the non-healthche

[2019-03-13 20:31] rramkumar1 commented on #647
@nicktrav

That is precisely what #42 is trying to address. Stay tuned :)

[2019-03-13 21:19] keperry commented on #34
Is the solution here to move to nginx ingress controller?  This seems like a good workaround.  Is there any downsides to doing this?  Will it still work with a nodeport service?
Seems a little crazy to me that this isn't fixed in the gce controller.

[2019-03-13 22:07] mikesparr commented on #34
Normally the 502s are from a failed health check and I've found playing
around with the initialDelaySeconds on readiness probe, etc. to provide
ample time for Docker build / deploy reduced a lot. Furthermore, I
Dockerized some legacy stuff from merger in PHP using sessions so the
health check in correlation to out of memory in pod forcing destroy /
rebuild are main causes.

The health check interv

[2019-03-14 06:32] autrilla commented on #583
For the [NEG Programming Latency](https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#align_rollouts) issue, even with `minReadySeconds` and `terminationGracePeriodSeconds` set to 180, I'm still seeing a small amount of 502s during rollouts. Is this expected? My test was during a rollout of 11 pods, sending 100 requests per second to them overall. I saw 96 502s o

[2019-03-14 12:26] mariantalla commented on #675
/milestone v1.14

[2019-03-14 17:04] rramkumar1 commented on #685
@toyota790 I'm not sure what to say then. That's just the way it was done.

Why do you say so? Pods running on the master should not affect the scheduling of pods on worker nodes.

If you are on GCE, you can always run the controller off-master by deleting the existing pod and running your own. You will have to handle authz/authn on your own though. On GKE, you can follow the instructions in https

[2019-03-14 18:18] toyota790 commented on #685
@rramkumar1 Thank you for the information.

Because I saw most of the use cases, whenever the blog or the discussion on the Kubernetes Slack channel, don't tend to deploy an ingress controller on the worker node. However, GCP did it, and this arouses my curiosity about the design principle or motivation on this design.

Since the pods running on the master node would share the resource (CPU or mem

[2019-03-14 18:28] rramkumar1 commented on #685
@toyota790

On GCE and GKE we ensure that each component has sufficient resources so that is not a problem

I'm going to go ahead and close this but feel free to respond if you have more questions.

[2019-03-14 18:28] #685 closed

[2019-03-14 21:18] rramkumar1 commented on #674
@benfdking Is there any other information I can provide here? I'm going to close this for now but please reopen if you need something else.

[2019-03-14 21:20] benfdking commented on #674
Sorry I have not responded. Is this the pointing with the GKE possible? From everything I have read it doesn't work or is unreliable, i.e. the ingress can only be created after the services have been created?

[2019-03-14 21:22] rramkumar1 commented on #674
Yes that's true, but I'm not sure how that's related here.

[2019-03-14 21:41] benfdking commented on #674
Unfortunately, this is the only reliable way I have seemed to found to handle the GCE-ingress. Given my current understanding of the issue, the fact that it is not self-corrective with regards to changes to the backend it points towards is not compatible with the way we currently develop.

Given

- every time the fanning out endpoints of the ingress change, the ingress needs to be deleted and recr

[2019-03-15 20:11] rramkumar1 commented on #674
Do you mean K8s endpoints? Even if your K8s endpoints change, you should not have to delete and recreate the Ingress.

This is correct. See #647 which is related.

[2019-03-16 20:46] jskeet commented on #670
I've manually updated the RPS in my GCE Load Balancer to 100 for each service. (Currently NEG is out of scope as my cluster doesn't have VPC enabled, and I'd rather not go down that path *right now* if I don't need to.)

Will that RPS configuration be "sticky", or will it be lost next time I update the ingress, e.g. to add another domain?

[2019-03-17 06:28] bowei commented on #670
What is your use case is for setting an RPS limit? Traffic is double balanced coming into node then pod. Traffic will be balanced across nodes first. You will probably have worse balancing behavior with the limit than setting it to 1 (i.e. completely uniform spread across all nodes).

[2019-03-17 06:34] jskeet commented on #670
Ah, I see. It was mostly just to remove the warning when looking at monitoring, to be honest.

[2019-03-18 16:24] pedropregueiro opened #693 "Disabling/Configuring HSTS"
Is it possible to configure the HSTS options on the GCE ingress the same way it's possible to do it with the ingress-nginx:

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#hsts

[2019-03-18 16:52] rramkumar1 commented on #693
@pedropregueiro We don't support HSTS but we do support something similar via the annotation kubernetes.io/ingress.allow-http: "false"

This will ensure clients can only talk HTTPS to the Google LB frontend.

[2019-03-18 21:27] spiffxp commented on #667
/sig network
/priority important-soon

[2019-03-18 22:38] bowei commented on #87
/lifecycle frozen

[2019-03-19 02:40] #518 closed

[2019-03-19 12:20] pedropregueiro commented on #693
In that case, I can't control the HSTS header `Strict-Transport-Policy` options (max-age, preload, sub-domains), so I'll just move to ingress-nginx instead.

thanks for the answer though @rramkumar1, closing this one now.

[2019-03-19 12:20] #693 closed

[2019-03-20 16:47] rramkumar1 commented on #647
Closing this issue since documentation [1] has now been added on the GCP side to state this caveat.

[1] https://cloud.google.com/kubernetes-engine/docs/concepts/ingress

[2019-03-20 16:47] #647 closed

[2019-03-20 20:16] mcfedr opened #699 "Add option to enable proxy protocol"
The google cloud load balancer can do it, so seems it would just need an annotation to enable.

https://cloud.google.com/load-balancing/docs/tcp/setting-up-tcp#proxy-protocol

[2019-03-20 21:25] rramkumar1 commented on #699
@mcfedr TCP Proxy LB is not really meant for HTTP traffic. As a result, it does not make sense for us to support it here.

[2019-03-20 21:25] #699 closed

[2019-03-21 16:59] MrHohn opened #700 "jobs failing with "unknown flag: --verbose""
Ref https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale, GLBC is crashlooping with ([this error](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e-scale/1579/artifacts/e2e-1579-886f8-master/glbc.log)):
[code]

Should probably cleanup manifest somewhere to stop using the recently deleted flags.

cc @rramkumar1

[2019-03-25 15:37] rramkumar1 commented on #515
FYI @spencerhance

[2019-03-25 22:37] thecodejunkie commented on #569
@grayluck I'm experience the same problem on GKE 1.11.7-gke.4. I'm applying the following annotations (in the exact order as presented) to my ingress

[code]

And when I do a `kubectl describe ingress` I still see this error

[code]

[2019-03-25 23:15] grayluck commented on #569
@thecodejunkie I don't have a 1.11.7-gke.4 cluster at hand right now. Could you upgrade your cluster to 1.11.7-gke.12 first? I'll try to reproduce this issue in my 1.11.7-gke.12 cluster.
/remove-lifecycle stale

[2019-03-25 23:53] rramkumar1 commented on #700
@MrHohn Flag issue is fixed but now tests are still failing. I'm looking into why...

[2019-03-26 01:03] grayluck commented on #569
@thecodejunkie I can't reproduce your issue from within my cluster. Could you tell me which the zone and the name of the cluster to facilitate troubleshooting? Thanks.

[2019-03-26 04:32] bukzor commented on #109
The alpha API shows an alternative to "service" in "routeAction" which has a "urlRewrite" attribute.

https://developers.google.com/resources/api-libraries/documentation/compute/alpha/python/latest/compute_alpha.urlMaps.html#insert

[code]

So I guess it's coming? Someday?

[2019-03-26 09:56] dirkjonker commented on #33
I wouldn't say it's a complete showstopper, but it's an inconvenience.

As an alternative for the NodePort service you could look at Network Endpoint Groups, which also give you the benefit of container native network. Beware though that this feature is currently in **beta**: https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg

[2019-03-26 15:39] thecodejunkie commented on #569
@grayluck the weirdies thing happened. I left it running over night and the warning vanished. I will report back if I observe it again

[2019-03-26 18:30] grayluck commented on #569
My suspicion is that your master is auto upgraded last night and includes the implementation of the annotation.
Please reopen if issue recur. Thanks!
/close

[2019-03-26 20:46] thecodejunkie commented on #569
@grayluck I think you might be right. My master node is now on `1.11.7-gke.12`

[2019-03-26 21:08] grayluck commented on #569
Thanks for the info! I'll go check if the GKE document is accurate about the versions mesh.

[2019-03-26 21:17] jgirdner commented on #596
Following the instructions on Google to create a node port service and then ingress. Ingress creates a health check that is checking the node port which is set to TCP but the health check that's created is checking over HTTP. When I change that auto created health check to TCP it passes and the site comes up but it sets itself back to HTTP and I can't seem to figure out why.

[2019-03-26 21:19] rramkumar1 commented on #596
@jgirdner It is expected behavior that the ingress-gce controller will overwrite your changes.

Please see #42 for discussion on how to surface an API that allows for custom health checks.

[2019-03-26 23:11] jgirdner commented on #42
Does anyone have a solution here? My health check is checking over HTTP and my NodePort is TCP. The health check keeps failing.

[2019-03-26 23:59] pdecat opened #703 "Firewall rule not updated properly with NEG if service uses name in targetPort or does not name its port"
Under some conditions, the `k8s-fw-l7--<uid>` firewall rule managed by the `ingress-gce` controller does not include the target pod's port to the list of allowed ports.
When this happens, health checks do not reach the pods and all requests end up in HTTP 502 errors.

For example, with the following service configuration:

[code]

The pods selected by this service have one container with a corresp

[2019-03-27 02:57] jgirdner commented on #42
Ok found my work around. We use Django for our API and the ALLOWED_HOSTS setting was causing the API to throw an error causing the API to fail the health check. We built a custom middleware to allow the CDIR IP range of our cluster.

[2019-03-27 15:00] rramkumar1 commented on #703
/assign @freehan

[2019-03-27 19:46] jgirdner commented on #109
Talk about limitations........

[2019-03-28 17:11] rramkumar1 commented on #700
The above PR fixed everything but the release-1.[3,4,5] jobs. Still need to figure out what is going on with those.

[2019-03-31 01:16] plainlystated commented on #290
same

[2019-04-01 00:53] boxrick commented on #33
Can you explain how this is an alternative to buckets? I am already making use of NEG and container native networking.

I am using Terraform for much of my additional GCP resource control, which also doesn't support NEG properly. I have to provision an additional backend, assign buckets and then drop out to BASH to find the correct backends which ingress-gce has created and attach them to my new L

[2019-04-01 07:56] dirkjonker commented on #33
I did not say it was an alternative to buckets, I said it was an alternative for the NodePort service that was mentioned earlier.
You still need to setup the load balancer yourself, without Ingress, but you can point it to a Network Endpoint Group instead of your cluster with a specific port.

[2019-04-01 13:27] ajainvivek commented on #51
This is an essential feature. I don't understand, why this isn't prioritised for so long.

[2019-04-03 19:56] benfdking commented on #674
Trying to address this issue here as well https://github.com/pusher/oauth2_proxy/issues/86

[2019-04-04 17:13] purificant commented on #87
+1 this would be very helpful

[2019-04-04 18:39] pdeva opened #713 "sync error regression in 1.5.1"
We recently upgraded our GKE cluster 1.12.6-gke.7 (and subsequently to 1.12.6-gke.10) and started noticing this error in the ingress:

[code]

While the ingress is still functioning, this messages keep appearing.
it seems be some regression in 1.5.1 which was introduced in 1.12.6-gke.7

[2019-04-04 19:22] rramkumar1 commented on #713
@pdeva Can you please send me an email with your project name, cluster name and cluster location?

[2019-04-04 19:26] pdeva commented on #713
@rramkumar1 done.

[2019-04-05 13:55] rramkumar1 commented on #713
Had an offline discussion with @pdeva. Here is what we found:

1. In 1.12.6-gke.7 (Ingress-GCE v1.5.1), we introduced logic to accept both preshared certs and secrets specified in the "tls" field. We previously did not process secrets if you had the preshared cert annotation, but upon upgrade to this version, we now did.

2. The Ingress being used specified both pre-shared certs and hosts in the "

[2019-04-07 14:57] artefactop opened #716 "Configuring SSL Policies"
I want to configure a different SLL Policy than the default one in my GKE ingresses. In theory, `ingress-gce` has support for it, see https://github.com/kubernetes/ingress-gce/pull/291/files, but I have no idea how to do it.

Could I get some example?

[2019-04-08 13:12] Matthis2909 opened #717 "HealthCheck cannot get ReadinessProbe"
Hi ! When I create my ingress, the health check path is `/` while in my deployment I had configure a `readinessProbe` on custom path. Is it a bug or miss configuration ?

My readinessProbe

          readinessProbe:
          httpGet:
            path: /health
            port: 8080

[2019-04-08 14:55] rramkumar1 commented on #716
Closing since this is a duplicate of #246

[2019-04-08 14:55] #716 closed

[2019-04-08 20:06] dreh23 commented on #369
We are creating a namespace per dev branch and exposing this to the net. We would like to keep the simplicity of a gce ingress. We will run in a quota (money) issue on gcp. A shared ingress would prevent us from using another ingress controller.

[2019-04-08 23:51] freehan opened #718 "NEG Controller should skip and record event for endpoint without zone information"
NEG controller use the translator to retrieve zone information associated with each endpoint thru the corresponding node. https://github.com/kubernetes/ingress-gce/blob/v1.5.1/pkg/controller/translator/translator.go#L188 It looks for annotation `failure-domain.beta.kubernetes.io/zone` on the node to determine the zone.
However, for some setup (manual), this information is not added to the node obj

[2019-04-09 04:55] ashi009 commented on #369
/remove-lifecycle stale

[2019-04-09 14:13] rramkumar1 commented on #717
@Matthis2909 Can you please provide your full Ingress, Service and Pod/Deployment specifications?

[2019-04-11 18:17] stefanotto commented on #34
Hi, I'm still experiencing this issue, although I added the `upstream-keepalive-requests` and   `upstream-keepalive-timeout` settings in the config map. I actually did not setup the k8s cluster myself. A config map by the name `nginx-ingress-controller` was already present so I just assumed it was used by the `nginx-ingress`. But now I'm not so sure it is. How can make sure the map is in use and t

[2019-04-12 01:42] axot commented on #34
There are something you could try.

1. use NEG, Network Endpoint Groups
2. graceful shutdown use preStop
3. turn http keep-alive off

[2019-04-12 15:05] lucasfais commented on #116
@infernix Are you using nginx within each pod? If so, this might help: https://blog.gruntwork.io/delaying-shutdown-to-wait-for-pod-deletion-propagation-445f779a8304

[2019-04-14 04:33] jmhodges opened #724 "not picking up TLS secret updates"
I'm on GKE k8s 1.11.7-gke.12

My secret with my tls certificate in it was updated by my automated systems on 2019-04-13 00:58:40 but my GLB ingress has still not picked it up.

There is one entry in my `gcloud compute ssl-certificates list`:

NAME                                                         CREATION_TIMESTAMP
k8s-ssl-0861999af802e3cc-8526cda76e62be92--bb860f3113bd5eae  2019-02-16T18:39

[2019-04-15 09:48] rdkr commented on #716
@artefactop the PR files you linked look like they set Cloud Armor Security Policies not Load Balancing SSL Policies, unfortunately.

[2019-04-15 22:31] diversario commented on #109
Wow, spent 4 hours banging my head on the desk and this is why 🤣

[2019-04-15 22:44] unibit-chenfeng commented on #290
same

[2019-04-16 02:40] rramkumar1 commented on #717
ping @Matthis2909

[2019-04-16 02:42] rramkumar1 commented on #724
@jmhodges Can you provide me with your project name, cluster name and cluster location?

I can take a closer look.

[2019-04-16 14:33] rramkumar1 commented on #686
@pcnfernando This is now fixed. See docs/deploy.

[2019-04-16 14:33] #686 closed

[2019-04-16 14:35] rramkumar1 commented on #674
@benfdking Can this be closed? I think the original question was answered.

[2019-04-16 20:34] rramkumar1 commented on #569
@grayluck I'm closing this based on your comment above.

[2019-04-16 20:34] #569 closed

[2019-04-16 22:43] jmhodges commented on #724
personal-sites-1295, dg, and us-east1-c

Thanks!

[2019-04-17 13:52] rramkumar1 commented on #493
I'm looking into this deeper. I'm going to see if I can reproduce the issue with a simpler setup.

[2019-04-17 16:17] rramkumar1 commented on #493
@AdrianNeatu I was unable to reproduce this, albeit with a much simpler setup. I used an echoserver that gzip's the response body and returns the "Content-Encoding: gzip" header when the request header "Accept-Encoding: gzip" is present.

[2019-04-17 16:24] rramkumar1 commented on #493
Ah I think I found the issue :) @scaccogatto @AdrianNeatu does the following documentation help (see #1)?

https://blog.percy.io/tuning-nginx-behind-google-cloud-platform-http-s-load-balancer-305982ddb340

[2019-04-17 16:25] #493 closed

[2019-04-17 16:29] rramkumar1 commented on #480
@nimeshksingh Is this still occurring? My understanding is that this should already be handled semi-gracefully but maybe you have hit an edge case.

[2019-04-17 16:30] rramkumar1 commented on #427
Closing due to inactivity. Please reopen if needed.

[2019-04-17 16:30] #427 closed

[2019-04-17 16:56] rramkumar1 commented on #259
@kimroen Is this still an issue?

I'm curious how this happened because if you create an HTTP(S) Ingress from scratch, we automatically allocate a reserved IP for you.

[2019-04-17 19:18] rramkumar1 commented on #717
@Matthis2909 I am closing this due to inactivity. Please reopen if necessary.

[2019-04-17 19:18] #717 closed

[2019-04-17 20:39] spencerhance opened #731 "L7-ILB Support Tracking"
Issue for tracking progress of adding support for the L7-ILB to ingress.

Current planned updates (will be updated as scope/requirements change):
- [x] Generate composite types for relevant services
  - [x] Update k8s-cloud-provider to have all regional types - https://github.com/GoogleCloudPlatform/k8s-cloud-provider/pull/9
  - [x] Generator for composite types  - https://github.com/kubernetes/in

[2019-04-18 10:47] ypal opened #733 "Controller not syncing LoadBalancer IP when certificate is invalid"
Running on GKE `1.12.6-gke.10`

When creating an Ingress with the following manifest:
[code]

When I run `kubectl describe ingress qwerty-com` I get the following warning:

[code]

The Ingress Resource never get's the IP in it's status even though the LoadBalancer was successfully created, the controller updates the host/path rules when you update the ingress manifest.

[code]

![2019-04-18-114202

[2019-04-18 17:53] rramkumar1 commented on #733
@ypal Why are you creating an Ingress spec with the "tls" field specified if you are using cert manager? Isn't cert manager supposed to populate that field for you?

[2019-04-18 17:57] rramkumar1 commented on #733
@ypal Nevermind, I just remembered that cert manager only populates the secret for you but you still have to create it beforehand and add it to the Ingress spec.

Is it possible that when you created the secret that the tls.cert key was populated with an empty string. Would it be possible to post here the contents of that secret?

[2019-04-21 22:14] jakebolam opened #738 "Cannot Disable HTTP when using managed-certificates. Results in infinite Creating ingress and 'no frontend configuration'"
Cannot Disable HTTP when using managed-certificates

When specifying the flag `kubernetes.io/ingress.allow-http: "false"` the ingress is never created, remains stuck in _Creating ingress_. Removing this annotation successfully completes the creation.

### Versions
Kubernetes master/node-kube version: `1.12.6-gke.10`

### Additional Details:
The load balancer has the error `This load balancer has n

[2019-04-22 15:18] rramkumar1 commented on #738
@jakebolam Thanks for filing the issue, this looks like a bug. The code [1] which decides whether to setup the HTTPS resources given the value of "allow-http" does not seem to take into account whether the user has configured SSL via Managed Certificates.

The fix should be straightforward and will be available in our next patch release.

[1] https://github.com/kubernetes/ingress-gce/blob/master/p

[2019-04-22 15:39] rramkumar1 commented on #724
@jmhodges I'm not seeing anything in your logs that indicates an error. Granted, I only just got to looking at this so the logs from the day this occurred for you have been rotated out.

Is it possible for you to reproduce the issue?

[2019-04-22 18:43] jmhodges commented on #724
I'll give it a shot! This seems like [prior tickets](https://issuetracker.google.com/issues?q=reporter:jeff@somethingsimilar.com) which were stochastic in their failure, so I don't have high hopes.

[2019-04-22 18:58] jmhodges commented on #724
Ah, good! I just refreshed it, it's been 10 minutes, and it's still not updated.

[2019-04-23 06:50] wminshew opened #740 "BackendConfig support for balancingMode"
Would be great if BackendConfig had support for balancing mode per https://cloud.google.com/load-balancing/docs/backend-service#traffic_distribution

issue I'm running into now is all the created backend-services automatically balance by rate and are added to the same instance group. If I try to update-backend to change balancingMode UTILIZATION, gcloud throws a validation error (all backends in t

[2019-04-24 13:06] jakebolam commented on #738
@rramkumar1 no worries thanks for the fast response, the ingress has been performant and great for us, keep it up

[2019-04-25 02:13] jmhodges commented on #724
Gentle ping!

[2019-04-25 14:19] rramkumar1 commented on #724
@jmhodges Sorry for some reason did not get notified on your previous message. Taking a look now.

[2019-04-25 16:12] rramkumar1 commented on #738
@jakebolam Actually now that the more I ponder this, the more I think this is WAI. Here the is reasoning:

Adding the "networking.gke.io/managed-certificates" annotation to your Ingress does **not** attach a cert to your Ingress. All its doing is displaying intent for a cert to be added. It's possible that the controller which reconciles ManagedCertificate resources fails to create the actual GCP

[2019-04-25 16:12] #738 closed

[2019-04-25 16:12] rramkumar1 commented on #733
ping @ypal

[2019-04-25 16:24] rramkumar1 commented on #724
@jmhodges Are you sure the cert has not been updated? In your logs I see that your Target HTTPS proxy was updated with a brand new cert (this is what happens when the contents of your secret change since GCP does not allow cert objects to be updated)

I0422 18:54:42.342515       1 certificates.go:98] Creating new sslCertificate "k8s-ssl-0861999af802e3cc-d2d772c3c9170584--bb860f3113bd5eae" for LB "

[2019-04-25 20:24] jmhodges commented on #724
Hunh, what was the date for that? It seems like it took 4 or 5 hours to happen if that was the same date (if that's in UTC) and had previously not updated. That seems outside of an expected SLA?

[2019-04-25 20:24] jmhodges commented on #724
(And yes it has updated now. But that time difference seems very large and had not updated previously! This seems to be stochastic like my previous bugs)

[2019-04-25 20:29] jmhodges commented on #724
You know, what distinguishes this last working but very slow update is that I added a domain to the SAN in the cert.

[2019-04-25 21:30] rramkumar1 commented on #724
Do you know when exactly you updated the secret? Not sure if that's easy for you to find out but that would help.

[2019-04-25 21:55] rramkumar1 commented on #674
@benfdking Closing this. Please reopen if you have anymore questions.

[2019-04-25 21:55] #674 closed

[2019-04-25 22:56] jmhodges commented on #724
Ah, looks like I got the time wrong. It was 18:45 UTC on the 22nd.

I did toss it through OpenSSL s_client after 10 or 15 minutes, though. Is
it possible it didn’t get distributed for a while after that log line?

Is it also possible that this update only worked eventually because I
updated the domain list?

On Thu, Apr 25, 2019 at 2:30 PM Rohit Ramkumar <notifications@github.com>
wrote:

[2019-04-26 00:30] rramkumar1 commented on #724
Ok, 18:45 UTC makes perfect sense then. Since we do not watch secrets, your Ingress would only be requeued periodically (which is every 10 mins)

[2019-04-26 00:50] rramkumar1 commented on #724
@jmhodges I'm going to go ahead and close this because its WAI.

[2019-04-26 00:50] #724 closed

[2019-04-28 17:23] jakebolam commented on #738
Thanks for looking into this @rramkumar1. We've moved back to using pre-shared-certs for now.

Hopefully in the future Managed Certificates and the Ingress will be able to play nicer together.

[2019-04-30 14:19] thesayyn commented on #109
I can't believe that this is not supported.

[2019-05-01 00:21] dekkagaijin opened #743 "Ensure that the canonical RBAC ClusterRole is pruned, tested"
https://github.com/kubernetes/ingress-gce/blob/master/docs/deploy/resources/rbac.yaml

The canonical RBAC permissions should be kept minimal, up-to-date, and tested. For example, [`ingresses` resources are moving under the `networking.k8s.io` group](https://github.com/kubernetes/kubernetes/pull/77140#discussion_r279891447).

[2019-05-01 00:22] dekkagaijin commented on #743
/assign rramkumar1

[2019-05-01 00:48] dekkagaijin opened #744 "Split CRD creation out of GLBC"
Creation of CRDs should be split from the implementation of the controller itself:
https://github.com/kubernetes/ingress-gce/blob/4918eb2f0f484f09ac9e5a975907a9b16ed2b344/cmd/glbc/main.go#L93

/assign rramkumar1

[2019-05-01 09:07] ypal commented on #733
`cert-manager` changed it behaviour recently, now creates a secret without a `tls.crt`  and it updates it later with the cerrtificate once it's issued.

I found weird that `ingress-gce` updates the GCLB if you add new paths, but won't update the k8s service with the IP

Example secret:
[code]

[2019-05-01 14:28] rramkumar1 commented on #733
@ypal Okay, then what you are seeing makes perfect sense given the behavior change in cert manager.

I think it would be good if you file an issue with them and explain the issue. I imagine its going to be very difficult for us to make a change here to alleviate this but I could be wrong.

[2019-05-02 11:13] ypal commented on #733
One of the last versions of `cert-manager` started issuing temporary self-signed certificates while it issues the right one. Updating `cert-manager` made this works as a certificate is there.

I find it weird that the syncing derps with a missing certificate, I was expecting it to just warn about it and continue with the rest of the sync.

I'll close this issue, thanks @rramkumar1 :smile:

[2019-05-02 11:13] #733 closed

[2019-05-03 21:31] AntonyCook commented on #246
Is the only work around in the short term to apply the SSL policy separately with a post deploy gcloud command ?

[2019-05-04 16:00] oprudkyi opened #749 "problems with spdy/http2 for some urls - net::ERR_SPDY_PROTOCOL_ERROR net::ERR_INCOMPLETE_CHUNKED_ENCODING"
Hello,

I'm receiving net::ERR_SPDY_PROTOCOL_ERROR via https and net::ERR_INCOMPLETE_CHUNKED_ENCODING via http
on few urls (sometimes it works but once from 10/20 reloads) , the urls access simple php script which reads local file and send it back (~40kb)

there are just two urls from hundreds which consistently return error

curl also see the same errors

[code]
but when I'm accessing backend pod

[2019-05-05 21:50] oprudkyi commented on #749
UPDATE:
I have installed  ingress-nginx , reconfigured for it and got the same errors, but was able to fix them by

[code]

so problem now is different - how to enable such settings in ingress-gce ?

[2019-05-06 12:38] kimroen commented on #259
@rramkumar1 Hi! I fixed it manually when it happened so I'm not sure if it's still an issue with new Ingress setups.

Like I say in the original issue, this happened as I was following a tutorial (linked above), so it's very possible that I messed something up or that the tutorial was unclear. In either case, I ended up with two proxies using different IP-addresses, one ephemeral and one static.

[2019-05-06 17:52] IvanAlegre commented on #518
Same happens to me. Content-type is application/json. Exactly closing connections on in second 30. Is there any way to tune this timeout?

@ilkerc did you fix it?

Thanks

[2019-05-06 18:00] ilkerc commented on #518
@IvanAlegre

I think it’s related with the default proxy read, connect timeouts on our loadbalancer. Try increasing them

‘’’
proxy_connect_timeout       300;
proxy_send_timeout          300;
proxy_read_timeout          300;
send_timeout                300;
‘’’

[2019-05-06 18:16] IvanAlegre commented on #518
Increased but with no luck. Still closing in 30 seconds. Anyway, in theory the default value for those values in our loadbalancer (nginx) are 60secs

[2019-05-06 18:32] ilkerc commented on #518
@IvanAlegre

The following exact annotations solved my problem (server-snippets related with large js bundle downloads). You may give it a shot, good luck.

[code]

[2019-05-07 16:24] IvanAlegre commented on #518
Thanks again @ilkerc but this config wasn't the right one for us as we use GCE loadbalancers, not nginx class.

We finally made it work by creating a new service with a GCE BackendService https://cloud.google.com/load-balancing/docs/backend-service and change the destination service to the new one (without downtime).

It would be also possible to change manually the timeout in the backend service

[2019-05-07 16:50] ilkerc commented on #518
Glad that worked out for you @IvanAlegre. Remembered that my whole point to switching nginx controller was using these costume snippets.

[2019-05-08 07:58] ThanhTuNguyen commented on #290
I'm struggling with this, can someone explain this. How can be kubectl or GCE could make an essential issue for security like this

[2019-05-08 08:27] gun1x commented on #290
if you think this is bad, also consider there is no way to redirect HTTP to HTTPS.

[2019-05-08 10:22] ThanhTuNguyen commented on #290
yes it bad, if someone deliberately tries to sneak out your data with a nonsecure protocol.As this post [https://github.com/kubernetes-retired/contrib/issues/1517](kubernetes/ingress-nginx#1517). @ahmetb points out that we must first set up: kubernetes.io/ingress.allow-http: "false" from the first time. That means you are must prepare all ssl-cert and key before we apply yaml file. As I research

[2019-05-09 17:37] oprudkyi commented on #749
UPDATE 2.
fix above fixed only part of issue, it ends that at backend (nginx too) there was needed
[code]

[2019-05-09 19:26] rramkumar1 commented on #749
@oprudkyi We do not support those settings in ingress-gce.

[2019-05-10 02:03] #749 closed

[2019-05-10 10:30] rln-storytel commented on #740
We're being bitten by a similar bug. Our BackendConfigs are Utilization in zone c & d and have been for a long time. We recently added nodes in zone b, and the BackendConfigs there used Rate.

Now that we try to add an ingress, it tries to use the Rate balancer_mode in all zones, leading to this behaviour:

[code]

[2019-05-14 14:33] strideynet commented on #703
It appears this also effects creation of Endpoints in Endpoint Groups. I found that it only created them if the targetPort was a number rather than a name.

[2019-05-17 07:12] savicprvoslav commented on #51
This is a bit of a problem and support ( or solution ) for this must be added.

tx

[2019-05-21 07:03] lentzi90 commented on #670
The documentation for the RPS limit is quite confusing when combined with how GKE is using it. If I understood the comments above correctly, it is not really a **capacity**, but rather a **weight** to make sure the load is spread evenly over all instances. This makes sense, but I think the documentation should also mention this. Maybe it should even be renamed and the warning removed from the clou

[2019-05-21 09:32] mercuriete commented on #51
Need that feature too

It would be nice to have it.

Thanks

[2019-05-21 17:51] PassKit commented on #42
Giving this issue a nudge with regard to https://github.com/kubernetes/ingress-gce/issues/553 and the lack of support for mTLS on the load balancer.  The lack of being able to override or remove the default load balancer health check makes it impossible to run a gRPC service with mTLS on GKE.

[2019-05-21 22:16] KatrinaHoffert commented on #661
I assume this is referring to the descriptions on the load balancer forwarding rules like shown below?

![Image of GCP console](https://i.imgur.com/f7TDIzl.png)

This seems to only be visible in the advanced menu, when viewing the forwarding rule directly, or with the likes of `gcloud compute forwarding-rules describe` (noting this since it took me some testing to find what was likely referred her

[2019-05-22 13:19] fazpu commented on #51
I poured hours into learning gke controller and then stumbled upon this issue - the technology is unusable without the feature.

[2019-05-22 19:15] mofirouz commented on #42
Yes please - this is a real pain for gRPC users. Pretty much the last remaining item to enable us to use L7 LB with gRPC backend.

[2019-05-23 14:46] zvictor commented on #557
I am confused by the way it has been done.
Why deleting all the old docs before having new ones? What is the point of keeping users in the limbo with no place to check?

[2019-05-23 22:17] KatrinaHoffert opened #755 "Deploying to GKE self managed has invalid YAML"
I discovered this while working on another ticket. It's just a silly missing line. Surprised it wasn't caught earlier since it should always prevent the `docs/deploy/gke/gke-self-managed.sh` script from working. I'll fix this and submit a PR.

[2019-05-23 22:29] wyaeld commented on #181
@bowei why is updating the documentation just be clear on the available behaviour such a long process?  This issue is over a year old.  The differences with `ingress-gce` vs `ingress-nginx` are a huge pain point for new uses.

[2019-05-24 00:48] KatrinaHoffert opened #758 "Update GKE self managed script"
Kinda a follow up to #755, I noted a few other issues I had with the flow described in `docs/deploy/gke/README.md`. Firstly, the readme doesn't mention the need to update `glbc.yaml` for your custom image location. Secondly, the command flags are outdated and prevent the controller from running.

I want to also look into automating more of this or at least improving the documentation.

* We alread

[2019-05-24 00:53] #755 closed

[2019-05-24 01:10] jim5359 commented on #51
Why is this so hard for a web company to prioritize and implement?

[2019-05-24 19:50] KatrinaHoffert opened #760 "GKE self managed setup script should have an e2e test"
Note: should be viewed as dependent #759.

The script was broken already, so there's certainly merit in a test to avoid that. However, it's difficult because the test will be slow and require many things:

1. Script requires cluster ownership
2. Ideally should have push access to some container registry
3. Requires an existing cluster (so likely have to set one up or at least be dependent on anoth

[2019-05-24 19:54] KatrinaHoffert commented on #760
/good-first-issue
/kind feature
/cc KatrinaHoffert

[2019-05-25 16:10] fazpu commented on #51
For anyone, who is looking for working solution to the redirect problem, this is a simplified conf file imported to the `/etc/nginx/conf.d` in the nginx docker to which the ingress is pointing:

[code]

[2019-05-27 00:04] mercuriete commented on #51
In my company we use this
https://github.com/RealKinetic/http-to-https

But the question is not how to workaround the problem.
The question is a feature request to support a kubernetes annotation that should be implemented in the first place.

[2019-05-27 09:58] rramkumar1 commented on #181
@wyaeld This was updated a while back, looks like we just forgot to close the issue. The docs live [here](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress)

Pasting the relevant section here:

"The only supported wildcard character for the path field of an Ingress is the * character. The * character must follow a forward slash (/) and must be the last character in the pattern. For

[2019-05-27 09:58] #181 closed

[2019-05-27 15:27] caquino commented on #605
I think I have a different issue but with a similar outcome, I'm seeing my ingress stuck in create.

I'm running 1.13.6-gke.0 and I've checked addonsConfig on the cluster, and http load balancing is not set to "disabled".

I can't see any events other than "ADD" on my describe ingress.

Also when I check the load balancer on the console I see that it has no frontend attached to it, which I guess i

[2019-05-28 11:02] rramkumar1 commented on #605
@caquino Can you please file a separate issue in this repo?

[2019-05-29 14:39] caquino commented on #566
I'm also looking for this feature to enable custom geolocation headers on the backends.

Is this something that is still being worked on?

[2019-05-29 14:45] rramkumar1 commented on #566
We had a PR to implement this (#572) but it seems the PR has been abandoned. Please feel free to pick it up.

[2019-05-30 00:53] vinicyusmacedo commented on #595
Hi, I would like to grab this issue, if no one is working on it.

[2019-05-30 07:06] caquino opened #762 "Backends healthchecks and expected operation"
Hi,

I've been trying to troubleshoot some issues I'm having while deploying ingress-gce, but my lack of experience with a working installation limits sometimes my expectations.

After deploying it to my cluster, I can see a new ingress created:

[code]

As can be seen on the describe ingress, one of my backends is listed as UNHEALTHY.

After verifying the backend configuration via cloud console,

[2019-05-30 07:40] caquino commented on #762
After reading the FAQ looks like some of my questions where answered, please correct me if I'm wrong:

- There are 2 backends because one is the default backend.

Regarding the health check, the FAQ points to an example that don't exist so it's hard to compare to what I have on my Deployment definition.

I have a Liveness probe configured for my service, which I assume ingress-gce would use as sou

[2019-05-30 10:00] caquino commented on #762
Just found the answer for my question on #241

[2019-05-30 10:00] #762 closed

[2019-06-01 20:22] jakebolam opened #764 "Cannot Disable HTTP when using managed-certificates. HTTPS + HTTP are both provisioned"
Cannot disable HTTP when using managed-certificates

When specifying the annotation `kubernetes.io/ingress.allow-http: "false"` the ingress still accepts HTTP traffic.

### Versions
Kubernetes master/node-kube version: `1.12.7-gke.17` (Note: must be equal to or greater than this version, managed certificates had issues prior to this version see https://github.com/GoogleCloudPlatform/gke-managed-ce

[2019-06-01 20:24] jakebolam commented on #764
This was previously reported, but the issue was masked by issues in managed-certificates up until recent versions. See https://github.com/kubernetes/ingress-gce/issues/738

[2019-06-01 20:27] jakebolam commented on #738
@rramkumar1 GKE Manged Certs are working again and was unable to get HTTP to shut off. Created a new issue for this: https://github.com/kubernetes/ingress-gce/issues/764

[2019-06-01 20:30] jakebolam commented on #764
Debugging config from provisioned ingress:
[code]

[2019-06-03 13:52] rramkumar1 commented on #764
@jakebolam Ok, now I think you have discovered the bug. Turns out, we knew about this and were fixing it (#631) but the PR stalled a bit. I actually thought this PR was merged a while back and as a result I gave you the wrong advice in #738 (regarding adding the annotation after the frontend was configured) so apologies for that.

/assign

[2019-06-03 15:21] rramkumar1 commented on #764
@jakebolam A potential workaround might be to delete the HTTP resources manually until we can ship the fix.

[2019-06-04 01:44] jakebolam commented on #764
no worries, thanks for replying so fast. Looking forward to the PR getting merged.

Will do :)

[2019-06-04 10:03] SaadBinShahid opened #765 "GKE: IAP > L7 > custom host and path rules > Error code 11"
**What happened**:

I am using GKE Identity-aware proxy > L7 load balancer > Custom host and path rules. It works fine for the root-path. But it does not work for custom paths.

[code]

**What you expected to happen**:

Path `/` and `/nginx/` works fine. `/v2/` and `/v3/` throws `There was a problem with your request. Error code 11`.

If I disable the IAP, everything works fine.

**Environment**:

[2019-06-04 13:23] rramkumar1 commented on #18
Hi everyone, we now have tons of documentation on gRPC + Ingress (+ ESP optionally)

1. https://medium.com/google-cloud/gke-grpc-ingress-loadbalancing-4b9cdbc09758
2. https://cloud.google.com/solutions/exposing-grpc-services-using-cloud-endpoints-pt1
3. https://cloud.google.com/solutions/exposing-grpc-services-using-cloud-endpoints-pt2

Note that support for gRPC is not yet as first-class as it sh

[2019-06-04 13:27] rramkumar1 commented on #557
@zvictor I'm not sure why you think we deleted old docs before having new ones. Only material that was severely outdated was deleted.

[2019-06-06 00:41] clehene commented on #18
@alethenorio sorry, I just saw your questions now I wish I could have helped you earlier. I'm glad you figured it out eventually.

[2019-06-07 21:23] bowei commented on #55
/close

[2019-06-07 21:23] #55 closed

[2019-06-09 12:08] vinicyusmacedo commented on #595
@freehan I might be looking at it wrong, but I think the problem is not on ingress-gce itself.

Over [here](https://github.com/kubernetes/ingress-gce/blob/5bd3a2a1f50962ec2e005151e96892dac74e701f/pkg/utils/utils.go#L318), on `GetNodeConditionPredicate` (which is used to filter nodes during sync), all Unschedulable nodes are marked out of the filter.

However, over [here](https://github.com/kuberne

[2019-06-10 18:45] giladsh1 opened #766 "HTTS frontend listener isn't deleted after setting ingress.allow-http: "false" annotation"
I've created an Ingress controller in my GKE cluster with the default settings.
After applying the manifest, an HTTP(s) load balancer was created with 2 listeners - one for HTTP and another for HTTPS - as expected.

After adding the `kubernetes.io/ingress.allow-http: "false"` annotation to my Ingress config, and applying it to GKE, The HTTP frontend doens't get deleted.
I had to manually delete it

[2019-06-10 20:56] MrHohn commented on #766
@giladsh1 Thanks for reporting the issue. Closing this as it is pretty much a duplicate of https://github.com/kubernetes/ingress-gce/issues/32. Feel free to reopen otherwise.

[2019-06-10 20:56] #766 closed

[2019-06-11 21:24] freehan opened #767 "NEG controller should create NEG for default backend when enabled"
NEG controller currently ignores default backend service even it has NEG enabled. This is because default backend service is not explicitly referenced in the ingress spec.

https://github.com/kubernetes/ingress-gce/blob/master/pkg/neg/controller.go#L309

[2019-06-11 22:51] ricardocamposilva commented on #51
Disappointing that google doesn't look at this as a critical feature, even the worst LB has this feature.

[2019-06-12 17:06] bowei commented on #583
@autrilla can you file a new issue for your bug? This is a tracking issue for feature dev...

[2019-06-12 17:07] bowei commented on #675
/lifecycle frozen

[2019-06-13 05:57] autrilla opened #769 "Small amount of 502s during rollouts with NEG even with "mitigations""
From #583:

For the [NEG Programming Latency](https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#align_rollouts) issue, even with `minReadySeconds` and `terminationGracePeriodSeconds` set to 180, I'm still seeing a small amount of 502s during rollouts. Is this expected? My test was during a rollout of 11 pods, sending 100 requests per second to them overall. I s

[2019-06-13 05:57] autrilla commented on #583
Sure, done!

[2019-06-13 14:21] rramkumar1 commented on #769
@freehan Can you take a look?

[2019-06-13 14:22] rramkumar1 commented on #758
Closing since relevant PR has been merged.

Thanks @KatrinaHoffert !

[2019-06-13 14:22] #758 closed

[2019-06-13 17:54] cmluciano opened #770 "Migrate Ingress type to networking.k8s.io/v1beta1"
The deprecation process for the Ingress extensions type is almost complete and 1.15 will persist Ingress types in the new networking.k8s.io/v1beta1 . This report is to track ingress-gce moving to the new api group similar to the [ingress-nginx](https://github.com/kubernetes/ingress-nginx/pull/4127) PR.

cc @bowei @freehan

[2019-06-13 18:31] sonots opened #771 "failureThreshold of readinessProbe is not reflected to health check"
With readinessProbe such as:

[code]

A health check was created as:

![image](https://user-images.githubusercontent.com/2290461/59458165-e44a9180-8e54-11e9-9744-fcefcccf86c4.png)

It seems that `failureThreshold` is not reflected to `unhealthy threshold` at

https://github.com/kubernetes/ingress-gce/blob/e50d26db3545c986373ea591e308225ad9ec4e19/pkg/backends/syncer.go#L224-L249

[2019-06-13 18:33] sonots opened #772 "health check interval adds 60sec from periodSeconds of readinessProbe unexpectedly"
With readinessProbe such as:

[code]

A health check was created as:

![image](https://user-images.githubusercontent.com/2290461/59458165-e44a9180-8e54-11e9-9744-fcefcccf86c4.png)

Note that the `check interval` is configured as 65 sec, not 5 sec.

[2019-06-13 18:35] sonots commented on #772
I found a code

https://github.com/kubernetes/ingress-gce/blob/e50d26db3545c986373ea591e308225ad9ec4e19/pkg/backends/syncer.go#L246-L247

But, what is `flooding problem` actually?

Referring https://cloud.google.com/load-balancing/docs/health-check-concepts, GCLB defaults to 5sec. So, it should not be a problem of GCLB.

Is `flooding problem` a specific problem of k8s (kube-proxy?)?

[2019-06-13 18:54] freehan commented on #769
@autrilla
Have you set up graceful termination on the backend pods? LB will still send traffic for short amount of time after the pod becomes NotReady. But when pod get deleted, it gets SIGTERM, the container need to handle SIGTERM and shutdown gracefully while still accepting traffic for a while.
 https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace

[2019-06-13 18:55] freehan commented on #769
What is the GKE version?

[2019-06-13 18:56] autrilla commented on #769
I forget. I think I ran into this on GKE 1.11, but I'm not sure. I'll see if I can get some time and reproduce it again and give you better data if the issue is still there.

[2019-06-14 18:44] rramkumar1 commented on #771
Closing in favor of #772

[2019-06-14 18:44] #771 closed

[2019-06-15 00:45] ItsLeeOwen commented on #179
I have a Deployment, NodePort Service, and Ingress on GKE cluster running `1.13.6-gke.6`.

I've added `externalTrafficPolicy: Local` according to docs: https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport

I see what looks like an ISP address in Kansas in `X-Forwarded-For`, but not the original client IP.

[2019-06-15 21:43] ItsLeeOwen opened #775 "Source IP only contains ISP address & ephemeral address"
I'm hoping to at least ascertain whether a service exposed via an ephemeral address, GLB using HTTP Protocol, created from the Ingress manifest is capable of including a user's originating source/client IP in the `X-Forwarded-For` header when accessed directly by the ephemeral address.  Any direction, or suggestions are appreciated.

I have a go service that uses the client/source IP address of my

[2019-06-15 22:21] ItsLeeOwen commented on #775
nvm, user err

[2019-06-15 22:21] #775 closed

[2019-06-17 23:08] albertodominguezs commented on #385
I still get that default BE. I even remove it manually and it forces the creation / link again.

[2019-06-18 01:24] rramkumar1 commented on #385
@albertodominguezs What GKE cluster version are you using?

[2019-06-18 01:30] albertodominguezs commented on #385
@rramkumar1 **Cluster Version:** 1.13.6-gke.5

[2019-06-18 01:34] rramkumar1 commented on #385
@albertodominguezs Ok, would be useful to see your Ingress YAML so please file a separate issue. Thanks!

[2019-06-18 04:39] minhkhiemm opened #777 "Backend Config client import Must() method from runtime package that no longer exist"
File: https://github.com/kubernetes/ingress-gce/blob/master/pkg/backendconfig/client/clientset/versioned/scheme/register.go
`undefined: utilruntime "k8s.io/apimachinery/pkg/util/runtime".Must.`

[2019-06-18 09:28] #777 closed

[2019-06-19 12:23] ramonvermeulen commented on #109
This should really be supported in GKE..

[2019-06-19 14:21] manast commented on #605
@caquino did you create a separate issue? I think I am running into exactly the same issue. Stuck Ingress and empty frontend on the loadbalancer, also no ephemeral IP assigned to the ingress.

[2019-06-19 14:48] manast commented on #605
as an extra piece of information, even trying to create new ingress gets stuck now. Seems like something broke in the cluster and it is not possible to create new ingress, If I have to guess I think it gets stuck in the creation of the ephemeral IP.

[2019-06-19 14:53] rramkumar1 commented on #605
@manast Can you please file a separate issue?

[2019-06-19 15:18] manast commented on #605
@rramkumar1 yes. I am doing some more tests before I fill the issue.

[2019-06-19 15:45] rramkumar1 commented on #765
@SaadBinShahid Does [this](https://stackoverflow.com/questions/55343497/gcp-iap-there-was-a-problem-with-your-request-error-code-11) Stack Overflow thread help?

[2019-06-19 16:27] manast commented on #605
I upgraded the cluster to version 1.13.6 and the issue seem to be resolved.

[2019-06-20 10:38] SaadBinShahid commented on #765
@rramkumar1 Unfortunately not.

[2019-06-21 00:37] bowei commented on #638
/lifecycle frozen

[2019-06-21 17:59] freehan opened #782 "Extend the Ingress e2e framework to handle more test cases"
Can be a separate framework or existing framework.

Use cases:

- Examine if all backends are reached by sending traffic.
- Examine traffic characteristics by continuous sending traffic during backend rolling updates
  - Report the percentage of 500s
  - Report the latency distribution.

[2019-06-23 21:00] rramkumar1 commented on #772
@freehan Do you remember the reason why we spaced out the health checks this way?

[2019-06-25 23:46] drewsymo commented on #109
+1 Would love to see this supported

[2019-06-26 10:24] psalaberria002 commented on #241
@iftachsc did you find a solution? I am also having trouble understanding how that would work in practice.

[2019-06-27 01:02] rramkumar1 commented on #700
/close

This is fixed.

[2019-06-27 01:02] #700 closed

[2019-06-28 13:37] sly01 commented on #109
+1 I would like to see as well.

[2019-06-28 17:18] ignacio83 commented on #109
+1

[2019-06-30 10:32] frank12001 commented on #109
+1

[2019-06-30 15:28] gcbirzan commented on #33
/remove-lifecycle stale

Piss off.

On Sun, 30 Jun 2019 at 11:49, fejta-bot <notifications@github.com> wrote:

--
George-Cristian Bîrzan

[2019-07-03 17:14] morsik commented on #33
I'm interested in defining LB→Bucket in K8s too… Currently trying to add GCP Storage bucket as backend by hand causes to remove it by K8s controller anyway in a few minutes.

[2019-07-05 06:04] CloudGrimm commented on #241
@psalaberria002 Please if you get a work around on this it would be helpful to share as this is getting confusing by the day.

[2019-07-05 15:42] muhammadsalmansheikh commented on #605
Hi everyone, I was having the same problem; but the solution I found was that I had to enable the "HTTP load balancing" Add-on in the cluster's add-ons settings.
![kubernetes_1](https://user-images.githubusercontent.com/8895256/60732922-ca3c3480-9f64-11e9-87a3-9a4f74f687e1.PNG)

When the HTTP Load Balancer was disabled it gave a warning that the Kubernetes ingress object may not work properly.

It

[2019-07-05 22:26] kvudata opened #791 "Links to examples folder are broken in docs"
Numerous links for examples in the docs[1] reference an examples folder but it looks like this folder is no longer in the root of the repo. Can the docs please be updated (or the examples folder be brought back)?

[1] For example: https://github.com/kubernetes/ingress-gce/blob/master/docs/faq/gce.md#can-i-configure-gce-health-checks-through-the-ingress

[2019-07-05 23:56] kvudata commented on #42
To add another use case/scenario where more advanced health check configuration would be helpful:

I'm setting up an HTTPS application on Istio to be exposed via IAP. Istio's gateway (a proxy which routes external traffic to applications within the Istio service mesh) by default uses a TCP load balancer but IAP requires an HTTP(s) load balancer. Thus I expose the gateway as a NodePort service whic

[2019-07-06 04:24] IbbyBenali commented on #241
Agree with @CloudGrimm and @psalaberria002.. having trouble understanding how this exactly works.

[2019-07-06 13:36] thiagofernandocosta commented on #369
Hi, buddies.
Has anyone idea about this issue ?
I've been thinking workaround this using helm templates and updating my ingress resource, like as mentioned by @JorritSalverda, but I`m not sure about that.

If someone else has any idea or approach I will appreciate that.
Thanks.

[2019-07-06 13:43] thiagofernandocosta commented on #369
Taking advantage, lol.
Anyone knows if this is a good approach ?
Each deployment I`ve configured an ManagedCertificate and StaticIp, therefore associating them to my Ingress. I appreciate any help.
`
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: wp-{{ .Values.app }}
  annotations:
    kubernetes.io/ingress.global-static-ip-name:  wp-{{ .Values.app }}-external-ip
    networking.gke

[2019-07-08 14:54] snebel29 commented on #770
Hi,
I'm working in a tool that uses controller machinery and I was about to implement the ingress resource when realize that from `1.14` the new api groupfor ingress is available, and `extensionsv1beta1` is deprecated, of course you still can use the deprecated api group but at some point this will be removed.

I was wondering how others are dealing with such cases to be as transparent as possible

[2019-07-08 14:59] aledbf commented on #770
@snebel29 we (ingress-nginx) check the k8s version https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/store/store.go#L270 for the informer and switched everything to networking.k8s.io internally in the ingress controller using a helper https://github.com/kubernetes/ingress-nginx/blob/930e37a0b520cfde5f880cca809d1b7cbe300db5/internal/ingress/controller/store/store.g

[2019-07-08 15:15] snebel29 commented on #770
Oh, this is great @aledbf !
thank you so much for such a good and quick answer.

Saludos y gracias

[2019-07-09 08:15] JanisOrlovs opened #793 "Ingress not Working With Websocket"
Hello,
I'm running applications on GKE

[code]

OS versions: COS

and I have got SpringBoot service with UI built with Vaadin. I have got problem, that websocket is not working thru GCE ingress (same solution works well thru nginx ingress). And I want use IAP for auth.

Current configuration: using GCE ingress, nodeport, backend configs and managed certificates
[code]
From request perspective it l

[2019-07-09 10:04] samcgardner opened #794 "Proposal: Declarative Configuration of Multi-Cluster Ingress"
At the moment, it does not appear to be possible to configure multi-cluster Ingress in a purely declarative fashion (i.e. via an Ingress resource). I'm going to summarise the state of play as I understand it and then propose a solution (which I am willing to implement).

There is currently a tool and Ingress class associated with multi-cluster Ingress, namely `kubemci` and the related class `gce-m

[2019-07-09 18:35] #563 closed

[2019-07-10 20:19] freehan commented on #595
Thanks for the PR!

[2019-07-10 20:22] freehan commented on #595
Yes. As you pointed out, the problem is the handshake between autoscaler and ingress-gce (or any other loadbalancer controller). This required a better design for synchronization between cluster node life cycle and load balancer controller.

But for now, as a stop gap, we just need to watch autoscaler's taint and react.

[2019-07-11 15:30] aeneasr commented on #369
This is what we're currently dealing with as we're using multiple Helm Charts that each have their own ingress definitions, but we want to combine them under one domain, separated by path. Is there already a workaround here?

[2019-07-11 20:26] aeneasr commented on #109
This is such a basic feature, it literally makes ingress with path matching unusable in almost 99% of the use cases. It is so frustrating to see such basic issues being open for 1 1/2 years and apparently no one from Google side gives a single ... The experience with Google Cloud is as always (and so frustrating and annoying, it's like Microsoft under Ballmer): Yeah talk to this team. Oh we can't

[2019-07-11 20:38] ramonvermeulen commented on #109
Eventually ended up putting a nginx back-end in front of the back-end services I did need to target to do the HTTP -> HTTPS redirect, not ideal tho. I really hope Google will get this feature in place.

[2019-07-12 17:39] #595 closed

[2019-07-15 14:46] philpearl commented on #595
Would really like this fix in GKE - can anyone comment on how long it will take before it's available?

[2019-07-15 18:33] spencerhance opened #797 "Backend syncer should not block syncing if one backend fails GC"
Currently backendSyncer.GC() will break out of the GC loop if one backend fails.  It should collect all of the errors into a slice and return that instead.

https://github.com/kubernetes/ingress-gce/blob/master/pkg/backends/syncer.go#L135

[2019-07-16 20:45] mackoftrack commented on #769
I'm seeing this as well. 502s after every rolling deployment. This doesn't seem production ready?

[2019-07-17 17:46] freehan commented on #769
@mackoftrack wondering if you have setup graceful termination like https://github.com/kubernetes/ingress-gce/issues/769#issuecomment-501835310

[2019-07-17 18:02] mackoftrack commented on #769
@freehan Yes I have. Same issue.

[2019-07-17 18:07] freehan commented on #769
@mackoftrack could you provide more detail regarding your setup? GKE version? Anonymized yaml if possible?

[2019-07-18 21:08] freehan commented on #595
We will cherry pick this into 1.6 branch. And it will follow the GKE release pipeline and possibly available in newer version of 1.13.8+

[2019-07-19 17:37] mackoftrack commented on #769
@freehan So you are saying you are not able to reproduce?

Basically it's just a typical Deployment, with:

terminationGracePeriodSeconds: 60
minReadySeconds: 60

With a RollingUpdate deployment strategy

An typical Ingress object, and a Service object with:

metadata:
  annotations:
    cloud.google.com/neg: '{"ingress": true}'

[2019-07-19 17:48] freehan commented on #769
The rolling update scenario is tested continuously in the K8s E2E suite:
https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e&include-filter-by-regex=disruption

Test code:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/ingress.go#L390

The yamls we used:
https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/ingress/neg-clust