[2020-11-25 08:55] boredabdel commented on #1075
So the 404 is returned from the LoadBalancers, it doesn't reach your application. Your browser send a request to the IP:80, it's gets to the loadBalancing layer which reply as 404 (aka we don't know what is this). You cannot disable 80 completely.

[2020-11-25 08:59] pgp commented on #1075
So, this is a limitation of the load balancer, and not of the ingress resource...

[2020-11-25 16:52] #1046 closed

[2020-11-27 01:01] spacejam101 commented on #1075
Any news in supporting this in 1.17? :)

[2020-12-01 17:47] kundan2707 commented on #1329
/kind support

[2020-12-02 13:34] #1073 closed

[2020-12-03 21:20] smaslennikov opened #1334 "Can't provision an ingress with ManagedCertificate"
Updated my GKE cluster and nodes from 1.17 to 1.18 - this issue persisted in both 1.18 releases (the newest 1.18.10-gke.2101 one as well).

`Error syncing to GCP: error running load balancer syncing routine: error getting secrets for Ingress: secret "" does not exist`

I assume the culprit is that the ManagedCertificate is not yet provisioned, but it can't provision if the ingress doesn't forward

[2020-12-04 21:48] jmound opened #1336 "Request: Ability to enable logging on the health checks that the Ingress controller creates"
It would be useful to enable logging on the (load balancing) health checks that are created via Ingress resources. it appears that is not currently possible- if I'm mistaken, please point me in the right direction. The current health checks that are generated have logging disabled- a reasonable default, but troubleshooting a failing health check would be easier if there was a  method to enable it.

[2020-12-07 06:37] kundan2707 commented on #1305
/kind feature

[2020-12-08 20:04] thedarkwriter commented on #1319
Hi @axot I had a lot of problems connecting anything but the default healthcheckconfig to a NEG and it was fixed when I upgraded my cluster from 1.15 to 1.16. I found a long-winded article describing the issue which was fixed in 1.16. I'll attach if I can find the article.

[2020-12-10 21:00] Berndinox commented on #369
Finally, i got a full working example!
It's possible to use native google mechanics, without any messy ingress-controller hacks:

**Test-Deployment 0**
[code]

**Test-Deployment 1**
[code]

**Managed Cert:**
[code]

**Ingress:**
[code]

Wait some minutes.., thats all!

[2020-12-10 21:17] adrian-gierakowski commented on #369
@Berndinox I believe your example doesn’t address the problem raised in this issue as it doesn’t demonstrate that multiple ingress resources can share a single load balancer (you have 1 ingress with multiple backends which share the same load balancer).

[2020-12-10 21:24] Andrewangeta commented on #369
@Berndinox @adrian-gierakowski Right, for example my use case is multiple applications that have their own deployment repositories and each have their own `ingress.yml` files so they can't share a single file unless I did some funky merging and have a parent ingress etc.

[2020-12-10 21:32] Berndinox commented on #369
Oh, sorry.. seems like i dont got the hole thread.. lol
at least i have the "base" and can play around a bit, i will let you know if i can find any updates regarding your goals.

[2020-12-10 21:35] jglick commented on #369
https://github.com/jakubkulhan/ingress-merge

My use case is a slight variant: several `Ingress` objects (perhaps in the same namespace) with the same `host` but binding different `Service`s to different `path`s. `ingress-nginx` supports this.

[2020-12-10 21:56] Andrewangeta commented on #369
Any steps on installing without Helm? I'm just using GHActions to do a `kubectl apply` at the moment but everyone is using helm in a lot of scenarios. I just don't need/want it right now.

[2020-12-11 02:36] Andrewangeta commented on #369
Also the fact that AWS implemented this already.... https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/298#issuecomment-715532217

[2020-12-11 06:55] tpokki commented on #369
This workaround/setup with traefik works for us (nginx setup has issues, as described [above](#issuecomment-722376306)).

Install traefik:
[code]
[code]

Rest of the objects without helm. N.b. you need to allocate the IP address `external-lb-address` separately.

[code]

The individual Ingress resources are annotated with
[code]
... to make traefik process them.

[2020-12-16 18:17] yuriydee commented on #1087
Hi, I'm facing this same exact issue. Traffic is being sent to both backends and so half of the requests fail. I'm also using NEGs.

On the service:

`annotations:
cloud.google.com/neg: "{"ingress": true}"`

On the ingress:

`annotations:
  kubernetes.io/ingress.class: "gce"`

  Also the ingress rules:
[code]

So far the only way around this is to just use a single default backend. This way we los

[2020-12-17 23:58] liza-mae commented on #1195
Thanks @spencerhance I deleted my ingresses and services before deleting the cluster and it worked, closing :) thanks !

[2020-12-17 23:58] #1195 closed

[2020-12-18 13:48] #1190 closed

[2020-12-21 08:55] aeneasr commented on #109
/remove-lifecycle rotten

[2020-12-21 08:55] aeneasr commented on #109
/reopen

[2020-12-23 14:12] anderspetersson commented on #670
This is still an issue.

Please add balancing-mode and max RPS to backendconfig.

[2021-01-07 10:33] Aut0R3V commented on #661
@thockin can we close this issue? I think that #757 solves the problem

[2021-01-07 10:35] Aut0R3V commented on #369
Looks like this issue has been up for a long time. Anything I can do here?

[2021-01-07 10:37] Aut0R3V commented on #50
@bowei anything that can be done here?

[2021-01-07 16:41] #1211 closed

[2021-01-07 18:47] hermanbanken commented on #369
On a slightly related note: we are now working on our own MultiCluster LB controller that will utilize 2 or more existing LBs created by 2 different Kubernetes clusters that will merge the two URLMaps and create BackendServices with global Backends (instance groups from **all** clusters).

For us this is the easiest way, and cheapest (no Anthos Hub, as we don't need _most_ of Anthos's features).

[2021-01-09 20:32] #1205 closed

[2021-01-10 21:32] stevenaldinger commented on #1268
/remove-lifecycle stale

[2021-01-10 21:34] stevenaldinger commented on #1268
I'm trying to serve an app (Rocket chat) with ingress-gce/managed certs and need to be able to set content security policy response headers so it can be iframed at another domain.
is that possible without this feature or is ingress-gce unusable for that case?

[2021-01-14 01:41] dconvers1979 commented on #1075
Here is an update: [here](https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#https_redirect)

[2021-01-14 12:53] cport1 commented on #1075
FINALLY!

[2021-01-14 15:24] #1002 closed

[2021-01-14 15:29] nesl247 commented on #1002
/reopen

[2021-01-14 21:41] swetharepakula commented on #1301
/remove-lifecycle stale

[2021-01-15 15:48] mlarcher commented on #1075
So... it's still 1.18.10-gke.600 hence not in the "regular channel", or am I missing something ?

[2021-01-15 16:06] strigona-worksight commented on #1075
I have successfully applied the change on a 1.17.13-gke.2600 cluster.

[2021-01-15 16:54] abbec commented on #1075
Really? I can apply it but not get it to work on 1.17.14-gke.1200.

[2021-01-15 16:58] strigona-worksight commented on #1075
Check your events - I had to delete & recreate my ingress for it to apply properly. Additionally, can you confirm that you [associated your FrontendConfig to your ingress](https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#associating_frontendconfig_with_your_ingress)?

[2021-01-15 16:59] abbec commented on #1075
Ah, missed that, thanks!

[2021-01-18 08:57] jaceq commented on #919
let's not close that dear @fejta-bot

[2021-01-19 13:51] hari-dmartlabs commented on #1075
Ive tried this on 1.17.14-gke.400 and it works. It actually created another LB with a rule to send http traffic to https. Had to set ingress.allow-http: "true" for it to work.

[2021-01-20 18:04] santoshrajusagi opened #1357 "NEG endpoints not getting updated with the new deployments"
As per the GKE ingress controller docs, NEGs will be created automatically with each endpoint in the group pointing to the target Pod IP address and port right? In our case, those endpoint IP addresses and ports are not getting updated if new pods are getting created by the deployment and those endpoints end up having old pod IPs and the reason our backend services are staying in the UNHEALTHY sta

[2021-01-21 04:19] integrii commented on #1334
I have this issue as well.  Not sure whats going on yet.  Running on 1.17 here.

`  Warning  Sync    2m53s (x221 over 22h)  loadbalancer-controller  Error syncing to GCP: error running load balancer syncing routine: error getting secrets for Ingress: secret "" does not exist`

[2021-01-22 18:34] #1177 closed

[2021-01-23 18:00] KenTheWhaleGoddess commented on #136
Bump.

[2021-01-26 12:11] baishuchao commented on #1146
I also encountered this problem. The client reported 502. It will be normal after a while, which is terrible.

[2021-01-26 20:26] mstachniuk commented on #1306
/remove-lifecycle stale

[2021-01-27 11:15] tnaduc commented on #369
+1 for this feature.
We have multiple deployments resided in different repos and it is great to be able to have one ingress resource for each deployment rather than have a long single ingress resource for all deployments. With this feature, we can use google's managed certificate for our LB. Please add this feature.
Many thanks.

[2021-01-27 16:25] idaned commented on #1088
Any news on this?

[2021-01-28 10:44] grzegorz655 commented on #670
This is still an issue any way for adding balancing-mode and max RPS to backendconfig with NEG?

[2021-01-29 10:53] taihen commented on #136
This is still an issue.

[2021-01-29 18:38] freehan commented on #919
This feature is in public preview. https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg#create_a_service

Feel free to try it out and report any issues. Thanks!

[2021-02-01 14:05] Semmix commented on #699
Why was this closed ?

[2021-02-01 17:30] bowei commented on #136
The reason the issue is closed is because the logic required in the controller itself is sufficient for cleanup.

What is causing orphaned resources is actually the behavior of the control plane shutting down controllers before they have a chance to clean up; the controller can't do anything about it if it is no longer running.

I would recommend opening a bug against (GKE?) about the fact that wh

[2021-02-01 17:57] bowei commented on #670
/reopen

[2021-02-01 17:57] bowei commented on #670
/remove-lifecycle rotten

[2021-02-04 15:42] Nishaal-Tailor commented on #1334
Remove the `tls` section in your spec:
[code]

[2021-02-04 22:44] #1253 closed

[2021-02-10 21:49] jeremyd commented on #1106
I need this feature for HSTS.  Can we unfreeze this?

[2021-02-10 21:59] bowei commented on #1106
I might be not understanding frozen status -- I use it to pin issues so they do not rot

[2021-02-10 22:17] jeremyd commented on #1106
Apologies @bowei I assumed frozen meant something bad.  I see now that it prevents auto-close.  Thanks for clarifying.

[2021-02-12 10:40] #1252 closed

[2021-02-12 17:14] knyuwork commented on #1171
Not sure whether it is too late but I found a potential solution for this on stackoverflow:
[Can't connect static ip to Ingress on GKE](https://stackoverflow.com/questions/55357339/cant-connect-static-ip-to-ingress-on-gke)

1. Starting ingress with no static ip
2. Going to cloud console on the web under VPC Network > External IP addresses
3. Waiting for the Ingress ip to show up
4. Setting is as s

[2021-02-18 05:26] Omasumasu commented on #1357
I faced same issue today's morning.
Is there any solution to solve it?

[2021-02-18 13:12] haizaar commented on #638
Google acknowledge they have an issue and there is a public bug we can track: https://issuetracker.google.com/issues/180490128

[2021-02-18 16:02] sgyfr opened #1369 "Potential security issues: CVE-2020-14040, CVE-2021-3121"
Hi,

A recent Whitesource scan has discovered that the ingress-gce `vendor/modules.txt` file refers to two Go modules with associated CVE records. Specifically:

**[CVE-2020-14040](https://nvd.nist.gov/vuln/detail/CVE-2020-14040)**
Affects golang.org/x/text v0.3.2

**[CVE-2021-3121](https://nvd.nist.gov/vuln/detail/CVE-2021-3121)**
Affects github.com/gogo/protobuf v1.3.1

Are there any plans to up

[2021-02-19 09:43] rubensayshi commented on #638
nice, thanks for sharing @haizaar , I'll subscribe to that issue.

[2021-02-19 19:33] #18 closed

[2021-02-20 12:03] sumeetoc commented on #1171
By anychance did you get this working? Facing similar issue

[2021-02-20 12:59] MikeMichel commented on #1171
@sumeetoc
Yes, I did. When I remember right I needed to do the IP reservation differently because I use a shared VPC.

`cloud compute addresses create jenkins-internal-ip2 --region europe-west1 --subnet projects/your-host-project-2784/regions/europe-west1/subnetworks/subnetname-of-the-service-project`

[2021-02-20 16:15] sumeetoc commented on #1171
Anyone looking for solution, basically the service project is used to create the resource, and host subnetwork url is used as reference

Example:

`
gcloud compute addresses create ip-address \
--region us-east4 \
--subnet projects/host-project/regions/us-east4/subnetworks/subnet-name \
--project=service-project
`

[2021-02-22 06:55] Omasumasu commented on #1357
I found it, if anyone edit svc resource manually using `kubectl edit`, and not matching with `kubectl.kubernetes.io/last-applied-configuration` it happened.
I tried to remove resource and recreate it, the error was not shown.

[2021-02-22 14:13] billydh commented on #1075
does anyone know if we can use terraform for this?

[2021-02-27 15:37] #1260 closed

[2021-03-01 19:02] #919 closed

[2021-03-03 02:00] haizaar commented on #638
Had a chance to talk to GKE PM regarding this problem. While they won't fix the current issue (which is caused by NEG switching), they do have plans to alleviate it by supporting [K8s Gateway API](https://gateway-api.sigs.k8s.io/), which is really great since we would be able to do at least basic traffic management and routing without bringing heavy-weight likes of Istio.

If you are on GKE, reach

[2021-03-03 07:30] grzegorz655 commented on #670
This is still an issue any way for adding balancing-mode and max RPS to backendconfig with NEG?

[2021-03-03 07:33] bowei commented on #670
Yes, we are looking at pulling it from our backlog, the most likely avenue is as an annotation on Service.

[2021-03-04 13:00] grzegorz655 commented on #1268
Hi,
any chance to add support for user-defined response headers?

[2021-03-07 09:31] Ares3266 commented on #1305
/remove-lifecycle stale

[2021-03-07 18:27] TheMeier commented on #1148
/remove-lifecycle rotten

[2021-03-08 13:50] Berndinox commented on #973
@rramkumar1 - is there actually a way to use this (api-gateway) in gke cluster?

[2021-03-08 13:54] rramkumar1 commented on #973
@Berndinox Not yet, but look out for it very soon. We plan to have a public launch within the next couple months.

[2021-03-08 18:04] SergeyKons commented on #369
Are there any updates on it?

[2021-03-08 18:09] Berndinox commented on #369
Seems like its coming with API-Gateway. A replacement for ingress: https://github.com/kubernetes/ingress-gce/issues/973#issuecomment-792771406

[2021-03-10 17:14] dariemp commented on #1046
I need a health check for my Django app that supports sending the `HOST` header so the app can match `ALLOWED_HOSTS`.

/reopen

[2021-03-11 18:38] crimv42 opened #1379 "Is there still no option for HSTS/Request Headers?"
Currently using GCE ingress for a project, and need to enable request headers. I saw in:

https://github.com/kubernetes/ingress-gce/issues/693

This wasn't available in 2019, but am hoping something might have changed.

[2021-03-11 23:05] cezarsa opened #1380 "Feature: Support selecting network tier and scope"
Currently it's not possible to create a `Standard` tier external L7LB using Ingress objects. Even if the project default tier is set to `Standard` the ingress controller fails[1] because it tries to create a LB with a `global` scope and there's no way to specify a `regional` scope.

For L4 LBs created using Services with type `LoadBalancer` the custom annotation `cloud.google.com/network-tier: Sta

[2021-03-12 14:53] bryanlarsen commented on #369
I didn't get this to work with traefik, since it 404's on '/' for me.   It has a '/ping' route that'll 200, but that's on a different port, and I couldn't finagle BackendConfiguration to get the health check to work.

But I did get nginx to work.   It has a default backend option that'll return a 200 to '/healthz' so that'll work for the health check.

    helm3 install -f nginx-values.yaml ingres

[2021-03-12 15:25] adrian-gierakowski commented on #369
@bryanlarsen you can use the GCLB in L4 proxy mode and terminate tls on the nginx ingress, and instead of using google managed certificates have them automatically created by cert-manager. This would allow you to have services which are fully specified independently of one another and avoid having to modify a shared resource when adding/removing services exposed to the outside world. With nginx in

[2021-03-15 17:37] bryanlarsen commented on #369
@adrian-gierakowski this is for a situation where cert-manager cannot be used due to https://github.com/jetstack/cert-manager/issues/3717

[2021-03-15 20:17] cezarsa opened #1382 "Feature: Support specifying a custom subnet for L7 ILBs"
Currently it's not possible to create a L7 Internal Load Balancer using Ingress objects in a subnet different from the one used for nodes. According to [GKE networking best practices doc](https://cloud.google.com/kubernetes-engine/docs/best-practices/networking#create-lb-subnet) it's recommended to reserve a separated subnet for L4 ILBs and I can see that the same arguments for isolation would als

[2021-03-15 22:03] adrian-gierakowski commented on #369
@bryanlarsen you could try https://github.com/caddyserver/ingress

[2021-03-16 09:56] luna-duclos opened #1383 "Feature: Allow setting of IAP settings somewhere"
IAP provides a number of settings that can be set, see: https://cloud.google.com/iap/docs/customizing#customizing_settings

The ingress controller should provide for a way to set these. I'd be happy to contribute this myself if we can find a way we're happy with, my initial thought would be in the iap block of the backend config crd, but I'm open to anywhere, really.

[2021-03-17 18:03] bowei commented on #1383
/assign

[2021-03-17 18:04] bowei commented on #1383
Hi -- yes that looks to be the most straightforward place for the configuration. If you want, send a PR.

[2021-03-18 20:20] prameshj commented on #1169
/remove-lifecycle rotten
/reopen

[2021-03-19 09:28] luna-duclos commented on #1383
Cool! Perfect :) Will see to implementing it at some point, hopefully in the next few weeks/months depending on when we need it. Will report here when I start with it

[2021-03-21 00:27] christian-roggia opened #1386 "Cloud CDN is missing multiple features in the BackendConfig"
According to the official documentation the GCE ingress only supports the basic Cloud CDN features available in GCLB:
- https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#cloud_cdn

Cloud CDN support is currently missing the following features:
- [x] Cache keys https://cloud.google.com/cdn/docs/caching#cache-keys
- [ ] Cache mode https://cloud.google.com/cdn/docs/using-cache-m

[2021-03-21 00:33] christian-roggia commented on #1386
https://github.com/kubernetes/ingress-gce/blob/master/pkg/composite/gen.go#L607
https://github.com/kubernetes/ingress-gce/blob/master/pkg/backends/features/cdn.go#L48
https://github.com/kubernetes/ingress-gce/blob/master/pkg/apis/backendconfig/v1/types.go#L92

[2021-03-23 00:51] goobysnack commented on #1075
There's no baked in annotation, so you have to create it, then reference it in your annotation in `kubernetes_ingress` - I THINK.  Going to try this myself here shortly.  I don't know if that changes / removes all the other default front end config that k8s creates.  I'll report back.

[code]

[2021-03-23 01:35] spencerhance commented on #1075
For those very patient users on 1.16, this is now supported in 1.16.15-gke.11200+ 😃

[2021-03-23 04:00] billysegarloka commented on #1075
@spencerhance link or reference or example please?

[2021-03-23 07:01] boredabdel commented on #1075
@billysegarloka you can find an example here https://github.com/GoogleCloudPlatform/gke-networking-recipes/blob/master/ingress/secure-ingress/secure-ingress.yaml

The explanation is here https://github.com/GoogleCloudPlatform/gke-networking-recipes/tree/master/ingress/secure-ingress

[2021-03-23 14:43] goobysnack commented on #1075
should be plural as it turns out.

    annotations = {
      "networking.gke.io/crontendconfigs" = "frontend-config"
      ...other annotations removed...

Based on `kubectl api-resources`

`frontendconfigs                                networking.gke.io              true         FrontendConfig`

[2021-03-23 14:53] unitof commented on #1075
@goobysnack Just a heads up it's `frontendconfigs`, not `crontend`. But that does sound like a decent cron manager tool!

[2021-03-23 15:19] goobysnack commented on #1075
OOPSIE!

[2021-03-23 16:29] goobysnack commented on #1075
FYI this didn't work:

[code]

the annotation is set in the ingress:

[code]
But, it's not working:
[code]

[2021-03-23 16:54] caseywebdev commented on #1386
This is sorely needed. It seems there's no way to switch the cache mode or disable serve while stale. The changes take when done to the backend through `gcloud` (fails with an error when tried in the console UI) but revert within a few minutes back to the defaults. I assume this is GKE being the authority. I have my origin determining the cache durations and I never want to serve stale, but since

[2021-03-23 17:14] boredabdel commented on #1075
In the Ingress object, replace this annotation
[code]

With this one
[code]

[2021-03-23 18:45] christian-roggia commented on #1386
There is no workaround afaik, the GKE controller will overwrite the configuration and reconcile any change to the Load Balancer.

[2021-03-23 18:46] caseywebdev commented on #1386
Lame..., well I'm attempting a PR...but I've never used Go so it's a struggle.

[2021-03-23 20:10] rk185151 commented on #1075
Thank you @boredabdel

[2021-03-23 22:39] billysegarloka commented on #1075
@goobysnack did this work?

[2021-03-24 00:24] goobysnack commented on #1075
It did after I made the suggested change by @boredabdel

I'm repeating a similar exercise now for access logging.  I mean, this is duct tape and bailing wire stuff from Google.

[2021-03-24 07:16] boredabdel commented on #1075
Folks, i would appreciate if you have a look at https://github.com/GoogleCloudPlatform/gke-networking-recipes.

We are trying to document all potential ways of using Ingress with most of the important features, in an educational way. So far focusing on providing explanation and YAML files.

If you could have a look, try them out and log an issue if you see something missing or should be fixed i wo

[2021-03-24 13:06] smrutimandal commented on #1169
[Assuming the GKE Nodepool VPC has VPN connectivity to on-prem]

Another use case is routing external traffic into internal on-prem applications by exposing e.g. a Class A IP as a service in GKE and routing the traffic through an HTTP(S) Load Balancer created by a GKE Ingress.

Unsuccessfully tried the following manifest:

[code]

As there are no pods behind this kubernetes service, currently this

[2021-03-24 18:21] humblewolf opened #1388 "port based routing:: allow port in host for rules"
spec:
  rules:
    - host: app.example.com:5000 <<----- something like this
      http:
        paths:
          - path: "/*"
            backend:
              serviceName: my-service
              servicePort: 5005

--------------------------------------------------------------------

I know it can be argued that why one would design his apis like this (hitting some port other than 80/443 in req

[2021-03-25 16:56] samwightt opened #1389 "Ingress with GKE Autopilot has 5-6 minutes of downtime (502 errors) per deploy."
I'm getting a 502 error on each deploy with GKE Autopilot for about 5-6 minutes after I trigger the deployment. It seems like the Ingress controller is removing the old pod's NEG before the new pod's health checks have all passed. [Please see here for screenshots of logs and more info](https://discuss.kubernetes.io/t/gke-http-s-ingress-returns-502-error-for-5-6-minutes-after-deploying/15274/6).

I

[2021-03-25 16:58] samwightt commented on #116
This should be re-opened, I'm experiencing the exact same behavior that @infernix is describing almost two years later. Very disappointed that something as serious as downtime hasn't been resolved.

[2021-03-27 00:20] #1203 closed

[2021-03-30 20:05] spencerhance commented on #1389
For anyone looking at this issue:

There is additional discussion here: https://discuss.kubernetes.io/t/gke-http-s-ingress-returns-502-error-for-5-6-minutes-after-deploying/15274/8

[2021-04-05 19:27] dinvlad opened #1393 "Set namespace for BackendConfig.iap.oauthclientCredentials"
Hi folks,

It appears that currently, `BackendConfig` for IAP requires the OAuth client secret to be located in the same namespace [1]. Could you add an option to specify the namespace for the secret?

Our use case for this is to have one secret shared among multiple services deployed within the same cluster. Each service is deployed in a separate namespace, making it inconvenient and error-prone

[2021-04-06 03:54] sio4 opened #1394 "The function `Backends.Health()` actually returns a status of the first instance of the first Backend instead of the status of the Backend Service."
The function `Backends.Health()` has one meaningful `return` statement [in line 209](https://github.com/kubernetes/ingress-gce/blob/7422259dba059dd3af0017ada779742bf0e5d9a9/pkg/backends/backends.go#L209) but the statement is within `for` loop for the `range` of backends and it returns the first element's value as a result of the function. So the meaning of the function's return value is actually t

[2021-04-08 18:38] dboshardy opened #1399 "Backend NotFound when using Elasticsearch RestHighLevelClient or ElasticsearchIO via Cloud Dataflow"
As the title states, I keep getting a 404 with all routes when using the `RestHighLevelClient` or `ElasticsearchIO` in Cloud Dataflow.  I have tried the exact same routes via curl, and it works just fine.  For example:
`response 404 (backend NotFound), service rules for [ /_cluster/health ] non-existent`

Ingress config below:

[code]

Apologies if this is rather an ES issue, they do seem to share

[2021-04-09 07:40] override80 commented on #18
For all of you coming here as of today, this is what I did to get a grpc plaintext application working on GKE behind GCLB. Thanks @salrashid123 and @gnarea for providing insights. I used the docker-hitch sidecar from [here](https://github.com/zazukoians/docker-hitch/) instead of envoy (much simpler to me) which generates TLS certificates on the fly picking up pod ip address at startup. I slightly

[2021-04-09 19:49] dboshardy commented on #1399
Turns out the Apache HTTP client used by the ES client adds a `Host` header as:

[code]

Which seems to break at least the GCE Ingress class.

I fixed by setting a `RequestOption` to override the header.

[code]

I have not tested this with other ports to see if the issue persists.

[2021-04-13 10:46] nicholasklem commented on #87
Any news?

[2021-04-14 16:35] cslovell commented on #109
This is ridiculous.

[2021-04-14 22:14] swetharepakula commented on #1301
This is still in progress.
/remove-lifecycle stale

[2021-04-15 06:21] dbacinski commented on #1169
I have the same use case as @smrutimandal.

I want to give access to private hosts in local VPC (non-k8s).

My config is:
[code]

When I try to curl from a pod:
1. curl http://woo-web - works
2. curl http://dev.mydomain.com - returns 502
3. curl https://dev.mydomain.com - returns 502 with correct cert

In the LB logs I see:
[code]

Firewall is open to all 0.0.0.0/0

I have checked NEG created by I

[2021-04-15 11:10] dbacinski commented on #1169
I have switched to ingress nginx and it works without a problem.

[code]

Just had to open up a firewall between nginx ingress controller pod and vpc IP (10.142.0.30)

[2021-04-19 01:48] #1216 closed

[2021-04-20 20:37] bowei commented on #87
PRs are welcome -- we are looking into the prioritization for this feature.

[2021-04-21 16:05] mikosa opened #1413 "Switching Clusters by Switching LB IP address takes 7 min"
Hello
Sometimes we need to do some major updates in our cluster so we do this work on a new cluster instead. When we r done, we then switch the new cluster with the old live cluster.
we are doing this by deleting the ingress in the old cluster to free the ip address, then we apply the ip to the new cluster ingress. The new cluster loadbalancer takes forever to start serving the requests (around 5

[2021-04-21 17:10] #1171 closed

[2021-04-22 00:44] bluemalkin commented on #1268
Would love to see this implemented please.

[2021-04-22 16:01] jprzychodzen opened #1414 "ingress-gce-glbc does not work with Kubernetes 1.22"
Even with image `gcr.io/k8s-ingress-image-push/ingress-gce-glbc-amd64:v1.11.0` I still see CrashLoop of l7-lb-controller when I run kubernetes/kubernetes#99840. There is following ​error message:

[code]

This is a blocker for kubernetes/kubernetes#99840 - because of this error, test pull-kubernetes-e2e-gce-100-performance is failing.

/assign @swetharepakula
/cc @wojtek-t
/cc @deads2k

[2021-04-22 16:20] swetharepakula commented on #1414
The newest image that was updated only had the CRD API change.

Work is actively being done to convert the controller to use the `networking/v1` API which is the cause of the error above.

[2021-04-23 14:08] badrange commented on #1075
Is there something left to do in this issue or can it be considered fixed and thus closed?

[2021-04-23 14:12] goobysnack commented on #1075
I have other issues, but not redirect!  Honestly, it should be available without having to configure a custom backend.

[2021-04-27 23:13] Andrewangeta commented on #973
Any news or updates on this 👀 ?

[2021-04-28 00:44] shpml commented on #397
Is there any progress on this? Trying to view metrics and create alerts based on response codes with a backend being referred as above isn't very informative. Ideally I'd like to see the k8's service name.

[2021-04-28 01:05] sho-abe commented on #1088
/remove-lifecycle stale

[2021-04-30 10:39] ajaymaity commented on #109
This feature is still not supported? It's 2021!

[2021-04-30 15:59] bowei commented on #109
/reopen

You should also check out https://cloud.google.com/kubernetes-engine/docs/concepts/gateway-api#gatewayclass, as you may find the feature exists there.

[2021-04-30 19:13] #1329 closed

[2021-05-01 14:11] sio4 commented on #1394
the issue was fixed by #1398. closing it.

[2021-05-01 14:11] #1394 closed

[2021-05-03 01:49] mark-church commented on #1413
Use multi-cluster ingress or multi-cluster gateways that allows you to share a VIP between two clusters. It was built for this exact purpose:

- https://cloud.google.com/kubernetes-engine/docs/concepts/multi-cluster-ingress
- https://cloud.google.com/kubernetes-engine/docs/how-to/deploying-multi-cluster-gateways

[2021-05-03 01:57] mark-church commented on #1393
This is not currently possible with BackendConfig. The Gateway API is being developed to significantly improve Ingress however. We just had our preview release: https://cloud.google.com/kubernetes-engine/docs/concepts/gateway-api

Currently Gateway supports the BackendConfig in the same way that Ingress does (1 per service, Namespace-scoped). However, we plan to improve how service policy and conf

[2021-05-03 02:02] mark-church commented on #1388
Is the request to define the listening port on the http load balancer that's deployed by Ingress resource?

The newly introduced GKE Gateway controller does actually allow the listening port to be specified, however the TCP load balancers only support three ports (80, 8080, and 443): https://cloud.google.com/kubernetes-engine/docs/how-to/gatewayclass-capabilities#gateway

What additional listening

[2021-05-03 02:21] mark-church commented on #1075
@goobysnack you're saying that HTTPS redirects should be on by default if HTTPS/443 is on? That's an interesting idea. It would certainly be difficult to transition all the existing Ingress users to that right now though. Anybody who has an Ingress with 80/443 open and is expecting traffic on port 80 to work would find that it doesn't receive traffic anymore if we made HTTPS redirects default. On

[2021-05-03 15:16] dinvlad commented on #1393
Great, was not aware of that - sounds very interesting! Closing this one for now.

[2021-05-03 15:16] #1393 closed

[2021-05-03 17:23] Cyral commented on #1075
Closing since this is now implemented. See the GCP docs for an example: https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#https_redirect

[2021-05-03 17:32] goobysnack commented on #1075
I'm saying they should be available by default, as a configuration variable/flag/bool without having to configure a frontend.  Same with the backend config for logging.  These should just be simple options, not out of band configs.

[2021-05-03 18:20] Jojoooo1 commented on #973
About to launch ?

[2021-05-03 23:33] #1336 closed

[2021-05-04 00:16] #1313 closed

[2021-05-04 08:09] boredabdel commented on #1075
@goobysnack Thanks for the feedback. I agree that the UX is not great on this!
One thing to keep in mind is that it's very hard for us to asses what should be the default behavior because different customers want different things.
From experience customers in the financial service area want HTTP to be completely disabled and don't want any redirect for instance

From what i can see i could enumera

[2021-05-05 14:50] jupblb opened #1426 "ingress-gce-404-server-with-metrics causes OOM"
We encountered a scenario where [404-server-with-metrics](https://github.com/kubernetes/ingress-gce/blob/master/cmd/404-server-with-metrics) can cause OOM exception. This is probably caused by logs being partially retained in the memory. When someone pings the cluster a lot (e.g. botnet looking for vulnerabilities) this causes a surge in the amount of log messages being written. Example:
[code]
Wh

[2021-05-05 17:06] mborsz commented on #1426
In fact it's not logs being kept in memory. Those looks good.

I have done a following experiment:
* Modified code to add /debug/pprof/heap
* Ran 'curl' test from the README.md
* Checked docker stats (it was ~400MiB)
* Fetched pprof for the memory and...

![image](https://user-images.githubusercontent.com/2559168/117180394-6db23680-add4-11eb-91d6-afb7ae91bd19.png)

it looks like vast majority of m

[2021-05-05 17:42] spencerhance commented on #1426
cc: @skmatti @vbannai

[2021-05-06 22:34] swetharepakula commented on #1414
Tag v1.12.0 has been cut. This version removes Ingress beta APIs.
https://github.com/kubernetes/kubernetes/pull/101772 updates the image used in kubernetes/kubernetes

[2021-05-06 22:36] swetharepakula commented on #1414
fixed by #1416

/close

[2021-05-06 22:37] #1414 closed

[2021-05-07 21:01] #1319 closed

[2021-05-08 08:53] carlpett opened #1435 "Docs: Explain ingress v1 pathType"
Currently all Ingress examples are using networking.k8s.io/v1beta1. If using v1 instead, the `pathType` attribute is required. There doesn't appear to be any docs anywhere on how the choices are mapped to the underlying url map?
In particular, is _appears_ `Prefix` doesn't work as I'd expect it to? in my testing at least it seems to yield a url map with exact matching.

[2021-05-08 08:57] carlpett commented on #1435
Actually, after some more testing: How much of v1 is actually reflected to the underlying load balancer? I'd been making changes to `pathType` and `path` (testing combinations of `Prefix` vs `ImplementationSpecific` and `/` vs `/*`). I was a bit confused when I saw `Prefix`/`/` (the, in my opinion, obvious standard configuration?) working while I was sure I had tried it previously. So I copied the

[2021-05-09 07:17] EliezerIsrael commented on #43
I just got bit by this one.  Any news?

[2021-05-10 09:59] akhfa commented on #1146
This is also happened to me. Still waiting the ingress to be ready

[2021-05-10 16:00] bowei commented on #43
/reopen

[2021-05-10 23:38] Jojoooo1 commented on #511
Any news on this feature ?

[2021-05-11 16:16] haraldnh opened #1438 "Internal ingress gives connection failure from pods in same cluster."
We've run into a bit of a problem that has me quite confused.  We use a number of internal ingresses, they work fine and behave (mostly) as expected.

But connecting to an internal ingress from a pod in the same cluster as the ingress gives us connection refused.  Connecting from outside GKE works fine, as does connecting from pods in a different cluster.

We've tried restarting pods, recreating i

[2021-05-11 20:56] slayer commented on #369
I want to use IAP for multiple ingresses (multiple namespaces) on the shared LB.
It is impossible now, isn't ?

[2021-05-11 21:32] Andrewangeta commented on #369
I didn't realize they had a pre release version available?!?!?! ive been waiting for years @bowei thanks for sharing!

[2021-05-15 16:27] gabihodoroaga opened #1447 "Backend service synchronization triggers multiple times for the same backend"
The backend service synchronization triggers multiple times when multiple paths use the same backend service

For example for this configuration:

[code]

the backend synchronization (health checks, cdn, iap, ...) will run for each of the paths, and each sync triggers api call to the GCE, and I assume there is a quota and rate limiting because it takes lot of time just for one backend service.

[2021-05-24 17:02] ivansenic commented on #670
Can anyone clarify what `Max RPS` means in this context? Is it really the max request per second allowed to be executed against the back-end. This would be incredibly stupid?

However, we had a traffic spike during this weekend and indeed there were bunch of `502` most likely coming from the ingress. GKE backends were healthy all the time and were perfectly fine using almost no resources at all. N

[2021-05-24 17:10] williambrode commented on #670
@ivansenic no it doesn't mean it will refuse requests if you go beyond the limit.  Its used for load balancing so if you have 2 endpoints in your NEG and MAX 10 RPS and one endpoint starts getting more than 10 RPS it will start routing requests to the other one.  With 1 RPS on each endpoint it just means distribute the requests as evenly as possible.

If you use a global multi-cluster load balance

[2021-05-24 17:10] bowei commented on #670
Max rps means try to fill backends up to max rps before spilling over; i.e. if you have 5 backends with max RPS / endpoint = 10, they will each get 10 rps before getting more. No requests will be dropped -- the only effect is on how the traffic is distributed.

[2021-05-24 18:12] ivansenic commented on #670
Ok thanks sorry for confusion.

[2021-05-28 11:17] ben-xo commented on #670
We have also hit this issue. Is there a way to attach a `maxRatePerEndpoint` to an ingress in GKE yet? (the issue is as above that each backend can do about 12 RPS, but when the pods are unevenly distributed by zone, google will round robin them as it doesn't know where there's free capacity, despite knowing that the backends are unevenly distributed).

[2021-05-28 16:05] williambrode commented on #670
@ben-xo I'm confused what you mean?  The loadbalancer should be able to directly balance to each pod in GKE - so I'm not sure why unevenly distributing by zone would be a problem?

If you are using the [autoneg-controller](https://github.com/GoogleCloudPlatform/gke-autoneg-controller)
Then you set the `maxRatePerEndpoint` via the annotation on the service:
[code]

[2021-05-29 15:05] ivan046 commented on #1106
Hello @bowei! This is definitely supported by GCE load balancers (https://cloud.google.com/load-balancing/docs/custom-headers#working-with-response). Tested succesfully by manually adding custom responce headers (including CORS like Access-Control-Allow-Origin) to NEGs configured with Ingress BackendConfigs. Please, implement this feature. Response headers (mostly CORS ones) is a core feature that

[2021-06-03 14:20] jbielick commented on #699
If you're looking for preservation of source IP in a GCE Network Load Balancer (L4) -> Ingress Nginx Controller (L7) -> Pod setup, you can achieve that without proxy protocol: https://github.com/kubernetes/ingress-nginx/issues/3431#issuecomment-674879319

GCE NLB (L4) is not a proxy, so it does not need proxy protocol. Packets are forwarded straight to the VMs without SNAT. Further, your Ingress N

[2021-06-04 12:54] Eifoen commented on #699
@jbielick Does this really work? Wouldn't this actually mean the following:

- Client talks to the IP of the NLB - which forwards the traffic to one of the pods hosting the service
- pods don't know anything about all this NLB Stuff and answer to the actual Source-IP of the client (which is in the TCP Packets)
- pod answers with it's own IP as source (which might be SNATed by a gateway but must be

[2021-06-04 13:00] gabihodoroaga commented on #1447
The pull request was merged  #1448 into master.
I will close this issue.

[2021-06-04 13:00] #1447 closed

[2021-06-04 14:41] jbielick commented on #699
@Eifoen

Yes, it works. I think termination of the connection would be Layer 5. The major thing to note is that the NLB _does not terminate the TCP connection_. And you are correct that the packets are returned directly from the VM but maintain the correct source IP on return. See "direct server return").

![image](https://user-images.githubusercontent.com/1413330/120817253-8d499580-c51f-11eb-8019

[2021-06-05 09:15] elsbrock commented on #699
I am using this too. I think you will have to run the Ingress as Daemonset in this case though, so that it is present on all of the nodes.

[2021-06-05 21:09] gabihodoroaga opened #1461 "Firewall is not configured correctly when using named ports"
The firewall rule that allows the traffic from the Load Balancer to the NEGs endpoints does not contain the endpoint port when a named service port is used.

For this configuration:

[code]

will generate a firewall rule which allows traffic only to the node port ranges

[code]

as a result the health checks are failing and the load balancing is not working either.

The second issue with the firew

[2021-06-07 14:50] gabihodoroaga opened #1463 "Failed to Attach network endpoint(s) error"
Hi,

I did some tests related ot the Ingress, I setup my services with ```cloud.google.com/neg: '{"ingress": true}'``` annotation but the load balancer was not able to connect to the backend pods.

I checked and  NEG is was created but there are not endpoints attached to it.
And then I found this error in logs:

After many hours of debugging I found that the issue is that the cluster was not creat

[2021-06-09 01:50] WLun001 opened #1469 "Have performance issue if Cloud CDN is enabled"
I found out that GKE Ingress (with Cloud CDN) is way slower than GKE Ingress (without Cloud CDN), when testing against hello-world API server written in Go, (wait for 200ms and return response). Here is the benchmark results, access through public IP address, no DNS, no HTTPS, not cacheable by CDN and no server-side caching.

Tested enabled Cloud CDN from backend config CRD or from Cloud console,

[2021-06-09 18:24] swetharepakula commented on #1435
Currently we depend on the K8s docs to explain the `pathType` field. I believe their current documentation uses the V1 Ingress and mentions the accepted values for the [field](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types).

We don't have documentation specific to the `ingress-gce` repository. But currently only the `ImplementationSpecific` path type is supported by d

[2021-06-10 15:09] DaveWelling commented on #43
It seems like the workaround for this is to move the orphaned ports to another region? Is that right? I'm guessing that means there is no way to directly remove the ports? I cannot see any obvious method via the gcloud compute instance-groups cli. Did anybody find a better solution? I'm worried I will just have to jump from region to region.
Obviously, I'm also going to avoid recreating ingresses

[2021-06-17 20:25] gabihodoroaga commented on #1461
I found in the documentation where it states that:

"If you specify a protocol without any port information, the firewall rule applies to that protocol and all its applicable ports."

https://cloud.google.com/vpc/docs/firewalls#protocols_and_ports

[2021-06-18 03:19] po45ke95 opened #1478 "gke ingress rror syncing to GCP: error running load balancer syncing routine: loadbalancer ax0jpqse-api-zil17xhm does not exist: invalid ingress frontend configuration, please check your usage of the 'kubernetes.io/ingress.allow-http' annotation."
have problem is sometimes ingress can connect gcp loadbalancer sometimes cant
in ingress show this error
Error syncing to GCP: error running load balancer syncing routine: loadbalancer ax0jpqse-api-zil17xhm does not exist: invalid ingress frontend configuration, please check your usage of the 'kubernetes.io/ingress.allow-http' annotation.

my kubernetes.io/ingress.allow-http: false

[2021-06-18 14:02] jorams commented on #1435
The lack of support seems like an important thing to warn about somewhere.

The GKE regular channel is currently on kubernetes 1.19, the documentation for 1.19 documents these fields as stable, and using v1beta1 triggers warnings about its deprecation. Everything suggests we should be using v1, but something basic like `pathType: Prefix`, `path: /`, which looks like a very reasonable default for a

[2021-06-18 17:57] swetharepakula commented on #1469
Thanks for reporting the issue! The `ingress-gce` repository only has the controller code that is used to configure the loadbalancer. Since the performance issue seems is with the load balancer and not the controller, please open a support ticket with GCP with this info and cluster details.

[2021-06-18 17:57] #1469 closed

[2021-06-18 17:59] swetharepakula commented on #1478
Thanks for reporting the issue! A couple questions so we can further investigate.
1) Can you paste the yaml of your frontend configuration and ingress? (If different when successful vs unsuccessful please post both)
2) Are there any changes made to the Ingress or frontend configuration when you notice that the ingress is able to sync and not able to sync?

[2021-06-18 23:04] Cyral commented on #1075
I finally got around to implementing this but am getting a strange error:

```"Error syncing to GCP: error running load balancer syncing routine: loadbalancer default-client-ingress--8d745d5baddfbea0 does not exist: ensureRedirectUrlMap() = error: cannot enable HTTPS Redirects with the V1 Ingress naming scheme.  Please recreate your ingress to use the newest naming scheme."```

Seems like maybe th

[2021-06-18 23:30] spencerhance commented on #1075
@Cyral

Yes that is unfortunately correct, You need to delete and re-create your ingress.  However, we could probably make that error message less confusing - The naming scheme is a concept internal to the controller, and they are not always backwards compatible.

[2021-06-18 23:36] Cyral commented on #1075
@spencerhance Thanks for the clarification. What is the best approach for re-creating them without downtime? My thinking is they need to be re-created with new IPs, and then we will switch our DNS to point to the new load balancer IPs, and then manually delete the old load balancers. However I don't know how to trigger k8s to create new load balancers, and also how to make sure it leaves the old o

[2021-06-18 23:45] spencerhance commented on #1075
@Cyral

Ingress lifecycle is tied to the LB lifecycle.  Can you create a new ingress that points to the same service as the current ingress?  This will create a new LB and then you can switch over DNS.  Once that's complete you can delete the original ingress and the old LB will be torn down.

[2021-06-19 00:33] swetharepakula commented on #1435
The API itself is stable in Kubernetes, but the GKE Ingress controllers do not yet support the Ingress V1 API. Users can use V1 Ingresses as long as they do not depend on `ingressClassName` or `pathType` features. We have updated [documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/load-balance-ingress) to indicate we only support `ImplementationSpecific`.

We are working on V1 f

[2021-06-19 02:41] Cyral commented on #1075
@spencerhance That makes sense, I can do that. Although I will have to call it <ingress-name>2 I suppose.

[2021-06-20 14:11] po45ke95 commented on #1478
1.In our project doesnt use fronend cofig.
2.We notice the ingress  is not able to sync didnt change anything,but same ingress yaml in other service can always sync,that our confuse.
`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    ingress.gcp.kubernetes.io/pre-shared-cert: ""
    ingress.kubernetes.io/backends: '{"k8s-be-30016--75ef436e3be83a63":"HEALTHY","k8s-be-31740--

[2021-06-21 06:30] dotnetpiper opened #1481 "GKE Ingress Bad Gateway or Backend not found"
Hi Team,

I've been using GKE and setup GKE Ingress mere to manage the path for all  which we have kept in GCR.
I've created a .Net core based API which is has various path , if I expose the deployment with service as type Loadbalancer it works perfectly. Though when I utilize GKE Ingress and setup service and its backend it throws an error like Bad Gateway or sometime backend not found.

.Net cor

[2021-06-21 07:59] boredabdel commented on #1075
@Cyral Yes your new Ingress will have to have a different name than the existing one, Kubernetes will not allow you to create two objects of the same Kind in the same namespace with identical names.

An other Option is to run two clusters with Multi Cluster Ingress, have a single VIP attached to the DNS record your customers use and failover the clusters to do maintenance on your clusters. You can

[2021-06-21 18:44] spencerhance commented on #1075
@boredabdel

MultiClusterIngress is great!  However one of the drawbacks is that it doesn't support HTTPS Redirects yet.  This is changing very soon though :)

[2021-06-21 19:43] boredabdel commented on #1075
Yes correct. We are working on it :) @mark-church FYI

[2021-06-23 14:45] cgotfried commented on #1106
I made a request for allowing Custom Response Headers from GKE, via a BackendConfig resource. This is essential for enforcing HSTS from a site served by a GKE cluster. The only workaround is to modify the load balaner settings generated by GKE, and that is not a clean approach. Vote for the feature at : https://issuetracker.google.com/issues/191700241

[2021-06-23 18:35] swetharepakula commented on #1478
A few more followups:
1. Are you using GKE or running the controller by itself?
2. If using GKE, what are the cluster versions of the clusters you mentioned? (The one that is working and not working). If running the controller on its own, what Ingress versions are you using?

If you are using GKE, it may be better to open a support ticket as support will have access to more information about the c

[2021-06-23 18:38] swetharepakula commented on #1478
/kind support

[2021-06-24 03:06] po45ke95 commented on #1478
1. we using gke.
2. gke-cluster-version: 1.18.17-gke.1901.

[2021-06-25 14:23] petomalina opened #1497 "Allow using existing NEG when specifying name in the annotation"
This issue connects to #919. Since we have the ability to choose the name it would make things simpler to have the ability to attach to an existing NEG.

The behavior could be explicit, like another key next to the `name` called `useExisting`, that would not create a NEG but rather attach to an existing one.

This would simplify the creation of NEGs with Terraform, where we could build the whole i

[2021-06-25 21:40] #1306 closed

[2021-06-25 23:28] freehan commented on #1497
Thank you for filing this issue.

The main concern here is that multiple NEG controllers on different clusters would fight over the same NEG. They each will in turn wipe out other's endpoints and add their own ones into the NEG. We have brainstormed a few ideas to implement this feature. One way is to utilize the per endpoint metadata in the NEG to store which cluster the endpoint belongs to. This

[2021-06-29 06:47] haraldnh commented on #1438
Nobody seems to pick up on this, but if someone else has the same problem I think I found the workaround:  This is only a problem when "Default SNAT" is turned off.  I.e. it seems to be a routing error with the internal ingress which is hidden when the nodes masquerade the traffic from the pods towards the internal ingress machinery.

[2021-06-29 23:17] red8888 commented on #1075
Is this supported for private ingresses? I get this error: does not exist: ensureRedirectUrlMap() = error: cannot enable HTTPS Redirects with L7 ILB

[2021-06-30 07:52] boredabdel commented on #1075
@red8888 The frontendConfig CRD is not supported with Internal HTTP(s) LB. Have a look at this page [1] which contains the compatibility matrix between features and the various types of loadBalancers

[1]https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features

[2021-07-01 06:43] rdxmb commented on #369
I cannot believe gce is the only one who does not support this yet...

[2021-07-01 08:56] trietsch opened #1502 "Add support for grpcHealthCheck in BackendConfig CRD"
Correct me if I'm wrong, but if I understand it correctly, it's currently not possible to specify a gRPC based Health Check (using the [gRPC health checking protocol](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) and [grpc-health-probe](https://github.com/grpc-ecosystem/grpc-health-probe/)) in a `BackendConfig` CRD for GKE. If I'm correct, the `BackendConfig` CRD is generated fr

[2021-07-01 14:16] haraldnh commented on #1438
Seems we finally found the issue, which may or may not be related to internal ingress.  The real issue occur when combining an internal ingress and an internal load balancer on the same (shared usage) IP.

It works perfectly fine from the outside, while traffic originating inside the cluster will only hit the load balancer, not the ingress.  So there's a traffic selector that's somehow broken ther

[2021-07-01 14:16] #1438 closed

[2021-07-02 12:52] mikouaj opened #1503 "Applying backend-config annotation on existing ingress service has no effect"
### Issue

Applying `cloud.google.com/backend-config` annotation on an existing service, that is associated with an existing Ingress, makes no changes on underlaying backend service.

### Use cases

* configuring CloudArmor on GKE provided default backend service, that is `default-http-backend` in `kube-system` name space
* configuring CloudArmor, IAP or other services on any existing service that

[2021-07-02 12:56] boredabdel commented on #1503
@bowei any idea about this?

[2021-07-04 16:51] #1334 closed

[2021-07-07 14:51] rick-pri commented on #33
I know that there's a kind of example [here](https://github.com/robscott/k8s-website/blob/b8d8b9984d94699a9018c1581f139d58e984c443/content/en/examples/service/networking/ingress-resource-backend.yaml) but does anyone have an actual working example for use on the GCP regular release channel?
The thing that I don't understand and I could find no documentation on is what the [apiGroup](https://github

[2021-07-07 23:16] howardjohn opened #1504 "Drop import of k8s.io/kubernetes"
Currently we are importing this library. This requires a bunch of `replace` directives in go.mod, which is viral - any importers of this library *also* need to include them.

The current usage of the library is extremely small, it seems like it should be feasible to drop this import. This is also a general best practice, as far as I know, to not import k8s.io/kubernetes.

[2021-07-08 11:31] ivan046 commented on #1268
Everyone interested, please, add your stars to the correspondining issue here: https://issuetracker.google.com/issues/191700241
Thanks! It's a really easy-to-imolement feature. Hope will get it soon.

[2021-07-08 21:34] tarrencev commented on #33
Anyone having success configuring this?

[2021-07-09 05:53] swetharepakula commented on #33
Even though Kubernetes v1 Ingress adds the ability to specify backends other than services the GCE Ingress controller does not support this.

[2021-07-09 15:41] orlandothoeny commented on #1478
@po45ke95 Have you tried putting `true` in quotes?

Like this: `kubernetes.io/ingress.allow-http: "false"`

[2021-07-09 17:26] swetharepakula commented on #1481
Hi @dotnetpiper, thank you for raising the issue. Because you are using GKE it may be easier to debug if you open up a support ticket as they can better debug your environment.

Otherwise can you please post the error you are seeing and where you are seeing? What is the GKE version that you are using?

[2021-07-09 17:57] swetharepakula commented on #1357
Thanks for opening this issue!

This looks like a known bug in the NEG controller that was fixed with https://github.com/kubernetes/ingress-gce/pull/1342. This is available starting from v1.10.13 which is in GKE versions 1.18.12-gke.1201+, 1.19.5-gke.800+, 1.17.13-gke.2600+ and all 1.20 and 1.21 clusters.

[2021-07-12 03:26] haizaar commented on #33
@swetharepakula do you know if it's planned and what's the timeline?

[2021-07-12 03:57] haizaar commented on #33
Found this as well: https://issuetracker.google.com/issues/168854247

[2021-07-12 15:16] abrahammartin commented on #670
Is there any ETA for this? We currently have to change this manually via the UI instead of via K8s manifest, which is far from ideal.

[2021-07-13 13:22] mark-church commented on #1088
Hi there, header-based routing is coming to GKE through the [GKE Gateway controller](https://cloud.google.com/kubernetes-engine/docs/concepts/gateway-api). All four [GatewayClasses support header-based routing](https://cloud.google.com/kubernetes-engine/docs/how-to/gatewayclass-capabilities#httproute). Query-parameter routing is not yet supported but is likely going to come on the roadmap. Note th

[2021-07-14 14:59] lmakarov commented on #1169
/remove-lifecycle stale

[2021-07-14 16:32] freehan commented on #1357
/close

reopen if needed.

[2021-07-14 16:32] #1357 closed

[2021-07-14 16:34] freehan commented on #866
Fixed.

[2021-07-14 17:38] yokomotod opened #1508 "v1beta1/Backendconfig securityPolicy.name will be removed after apply"
### Issue ###

If I create BackendConfig with `apiVersion: cloud.google.com/v1beta1`, `spec.securityPolicy.name` field will be gone.

And actually the related LoadBalancer won't be registered to the CloudArmor's target.

### Reproduce ###

apply

[code]

then get

[code]

[code]

here `securityPolicy` is `{}`

### Expected ###

applied resource should have

[code]

### Environment ###

GKE v1.19.1

[2021-07-14 17:45] yokomotod commented on #1508
`v1` works fine

[code]

[code]

or using Server-side Apply also fine even with `v1beta1`

[code]

[code]

[2021-07-14 21:32] robscott commented on #1169
As described by the advisory in [CVE-2021-25740](https://github.com/kubernetes/kubernetes/issues/103675), forwarding to ExternalName Services is not considered safe for Ingress implementations. The Gateway API is working to provide safe mechanisms for forwarding requests across namespaces, which we will support.

/close

[2021-07-14 21:32] #1169 closed

[2021-07-16 05:30] sekinet commented on #1508
We've got same issue with v1.19.10-gke.1600
[code]

[2021-07-17 09:13] yokomotod commented on #1508
Reproduced with GKE 1.18.20-gke.900.  1.17.17-gke.9100 seems fine.

I think this may be a security risk.
If a user upgrades a cluster from 1.17 to 1.18+ and reapplies an existing v1beta1 BackendConfig which has `SecurityPolicy`, then LoadBalancer will lose CloudArmor protection.
So, for example, IP-restricted resource could be exposed to the public.

[2021-07-17 09:58] yokomotod commented on #1508
I found that 1.21.2-gke.600 has already solved this problem.

I didn't know what change fixed the issue, but I hope it will be backported to 1.18-1.20.

[2021-07-18 17:16] #1369 closed

[2021-07-19 10:36] rick-pri commented on #33
Thanks for the response.  I've since learned about the gateways API too which actually seems to be a much better fit for what we want to do.  It looks like it's going to be a long time until we can use it.

[2021-07-20 10:49] rymnc commented on #369
any updates here?

[2021-07-21 14:36] zioproto commented on #1214
@rramkumar1 I am reading https://cloud.google.com/kubernetes-engine/docs/concepts/ingress-xlb#disabling_http and https://github.com/kubernetes/ingress-gce/issues/1214#issuecomment-679155619

From the documentation this fact that the `kubernetes.io/ingress.allow-http: "false"` annotation used in GKE conflicts with other annotations `networking.gke.io/managed-certificates` is not clear.

What is the

[2021-07-21 17:32] #1504 closed

[2021-07-21 17:34] freehan commented on #1481
Ping @dotnetpiper for response.

[2021-07-21 17:35] freehan commented on #1478
Ping @po45ke95 for response.

[2021-07-21 17:37] freehan commented on #1435
Public doc updated. Closing for now. Reopen if needed.

[2021-07-21 17:37] #1435 closed

[2021-07-21 17:41] freehan commented on #1413
Reopen if needed.

[2021-07-21 17:41] #1413 closed

[2021-07-21 17:42] freehan commented on #1399
Looks like it is fixed. Reopen if needed.

[2021-07-21 17:42] #1399 closed

[2021-07-21 17:46] freehan commented on #1389
Is your backend pod configured to handle graceful termination (keep serving traffic after getting SIGTERM)?

See the 2nd potential cause
https://cloud.google.com/kubernetes-engine/docs/how-to/container-native-load-balancing#traffic_does_not_reach_endpoints

[2021-07-21 17:58] freehan commented on #1380
This is not possible to achieve today due to the google cloud LB does not support this setup.

Ideally, Google Cloud LB supports regional external LB. Then standard network tier can be applied.

[2021-07-21 17:58] freehan commented on #1380
Closing the issue. Reopen if needed.

[2021-07-21 17:58] #1380 closed

[2021-07-22 06:10] vbannai commented on #1426
A simple step like the following would suffice?
I have not verified but this will get away from allocated a new time.Timer for each request received.

 go func() {
       timeout := time.After(*idleLogTimer)
 	for {
 		select {
 		case <-server.idleChannel:
 		case <-timeout:
 			klog.Infof("No connection requests received for 1 hour\n")
 		}
 	}
 }()

[2021-07-22 06:21] vbannai commented on #1426
It might be better to call allocate using NewTimer() and call timer.Stop() when the idleChannel lights up. That way we are cleaning up the timers as and when requests are received keeping the memory footprint down.

[2021-07-24 16:58] gaurav517 commented on #1075
Eagerly waiting for this feature. Is there any suggested approach documented somewhere for multi-cluster ingress? Thanks.

[2021-07-26 08:03] boredabdel commented on #1075
@gaurav517 you can do the http->https redirect in your app. Or maybe run a simple proxy which will redirect http calls to the LB and proxy https directly to your app. I have never done this before so to be tested

[2021-07-30 23:37] JamesXNelson commented on #1502
Aye! Getting this healthcheck to work has taken more than 60% of total development time for my cluster ....and it still doesn't work.

Please, please, please, will someone on GKE + GCE treat GRPC like a first-class citizen?  I know I saw in docs "we decided not to play favorites and support grpc directly" ....but, seriously... if anyone is going to give full support for grpc, google seems like the

[2021-08-02 18:31] JamesXNelson commented on #109
I went and voted on the issue tracker items linked here, hopefully it helps them get picked up someday.

[2021-08-03 09:08] bboreham opened #1531 "Explain how to change version used at GKE"
I read at https://github.com/kubernetes/ingress-gce#gke-version-mapping "Note that these versions are simply the defaults.", however after reading many many pages of documentation I am unable to find how to depart from the default.

Could you add a pointer please.

[2021-08-03 16:41] rramkumar1 commented on #1508
@skmatti

[2021-08-03 19:34] steebchen opened #1533 "Add Cloud CDN cache mode to BackendConfig"
The Cloud CDN BackendConfig resource does not support setting the [cache mode](https://cloud.google.com/cdn/docs/using-cache-modes#api), e.g. `USE_ORIGIN_HEADERS`.

https://github.com/kubernetes/ingress-gce/blob/bac1e50af14856c4cf2162ece155de46b586dca9/pkg/apis/backendconfig/v1/types.go#L83-L88

Could this be added to the CDNConfig?

[2021-08-03 20:28] skmatti commented on #1508
The issue resulted from missing validation for `securityPolicy` field in the v1beta1 CRD.

The fix (#1512) was backported to GKE v1.20.9-gke.900+ and will be backported to 1.18 and 1.19 as well.

[2021-08-03 20:29] skmatti commented on #1508
/assign

[2021-08-04 02:21] seancarroll commented on #1399
@dboshardy's change to override the `host` header in the client feels like a work around rather than a fix. Given `host` headers are allowed to contain port this feels like its still a potential issue

[2021-08-04 03:06] yokomotod commented on #1508
@skmatti Thanks!!

[2021-08-04 09:06] csainty opened #1535 "Hung Instance Group operations causing downtime"
We've had this happen twice now, during a node pool upgrade an API call to modify the instance group hangs for 60 minutes before timing out. This ultimately results in all nodes being removed from the instance group and a service outage until the timeout occurs and another sync operation runs.

See timeout logs here
![Screen Shot 2021-08-04 at 09 27 51](https://user-images.githubusercontent.com/81

[2021-08-04 11:55] #1305 closed

[2021-08-04 20:57] #1148 closed

[2021-08-05 00:13] joelsdc commented on #87
What do you guys need from the community to get this prioritized?

On a side note, we've tried adding manually (via GUI / gcloud) an `IPv6 front-end` to the GKE-Ingress created load balancer and it seems to work, in our case we also use self-managed SSL certs and when we patch the `ingress.gcp.kubernetes.io/pre-shared-cert` annotation to make an update the changes are **not** applied to the load b

[2021-08-05 16:47] safarishane commented on #837
I too have a use case where we will need more than the standard 50 paths per domain. Any idea when this will be supported?

[2021-08-05 18:47] swetharepakula commented on #1531
Hi @bboreham, The version mapping that we have on our README is not complete and the actual mapping may be slightly different ( usually at the patch version) which is what we mean by this is only the default. There is no way to change the ingress version on a GKE cluster and the Ingress version is coupled with the GKE version and cannot be modified.

[2021-08-05 21:37] bboreham commented on #1531
Thank you. I think it would be worth putting that information alongside the table.

[2021-08-05 21:37] #1531 closed

[2021-08-05 22:51] christian-roggia commented on #1386
/remove-lifecycle stale

[2021-08-08 20:35] #1379 closed

[2021-08-09 08:23] csainty commented on #1535
@swetharepakula I would, humbly, challenge the `kind/support` label.

I gave all the details from our instance to show the severity of it, I am not looking for the developers here to diagnose or support our specific case. We've got a paid support ticket open for that.

The issue is rather that you're inheriting a 60 minute timeout on GCP API calls and I propose that is too long when the consequenc

[2021-08-10 14:28] jbuck commented on #1508
This happened to us. We use Cloud Armor to restrict admin services to VPN-only. Could y'all post a notice on the GKE release notes with this bug and the workaround?

Thanks, Jon

[2021-08-11 15:38] jacek-jablonski opened #1546 "Adding ingress rule to ingress definition doesn't update Load Balancer definition"
Kubernetes version: `1.20.8-gke.900`

Hi,
I have updated my ingress definition, by adding a path rule. However, this change isn't reflected in the Load Balancer configuration. By any means, I'm not able to force LB to update (without deleting the existing ingress). Unfortunately, events and logs show nothing useful in this case, so I am also unable to debug this situation.

![ingress](https://user

[2021-08-12 05:49] bowei commented on #1508
The release should be update soon @skmatti

[2021-08-12 10:23] gabihodoroaga commented on #1533
@steebchen There is a PR open for this #1387, and for all other CDN options as well but the review process is some how stuck because nothing happened in the last 2 months.

[2021-08-12 23:12] robscott commented on #1301
This is still in progress.

/remove-lifecycle rotten

[2021-08-13 00:50] skmatti commented on #1508
Our docs are updated with the issue details: https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#armor_fields_removed

A release not will be sent early next week about the fix in GKE v1.20.9-gke.900

[2021-08-13 00:57] skmatti commented on #1535
csainty@ High connection draining timeouts (3600 seconds (1 hour)) for one of the backend service of an instance-group based Ingress will cause issues for other instance-group based Ingresses in the cluster.

We recently updated our documentation to reflect this issue in https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#draining_timeout

Please let us know if reducing the tim

[2021-08-13 06:45] csainty commented on #1535
Thanks @skmatti we received this insight from the paid support ticket too.
I'll close the issue and leave it to your team to consider correct behaviour here.

For example, if you could continue adding new nodes to the instance group while they are being removed and given time to drain in the background, then it might keep the ingress alive during this period.
Additionally setting a realistic timeo

[2021-08-13 06:45] #1535 closed

[2021-08-13 09:32] jacek-jablonski commented on #1546
Finally, I've recreated an ingress, which solved this situation.

But today I tried to add a new path to this ingress and the same situation occurred. The path is visible in the ingress definition, but Load Balancer doesn't get updated.

Please could you take a look at this situation? Recreating ingress causes quite a long downtimes.

[2021-08-13 17:25] huynqtiki commented on #1380
https://cloud.google.com/network-tiers/docs/overview
@fredkan actually HTTP(S) Load Balancing does support regional external LB via standard network tier ?

I can confirm this if I created it manually
![image](https://user-images.githubusercontent.com/26454669/129396093-ca835d8c-0df0-41f6-a6b9-11743cd593e9.png)
![image](https://user-images.githubusercontent.com/26454669/129396352-acf1a9c7-c123-443

[2021-08-14 07:18] utamori commented on #1481
I ran into the same problem, but solved it by setting up readinessProbe.

[GKE Ingress for HTTP(S) Load Balancing ingress#health_checks](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#health_checks)

[2021-08-16 23:18] skmatti commented on #1535
cc: @bowei

[2021-08-17 17:24] bowei commented on #1535
We are looking at how to improve management of the IGs. However, there are some dependencies between the controllers in kubernetes/kubernetes and ingress-gce that makes changing the algorithm a bit trick. The best thing to do is to move to using NEGs if you can, as that will be the most scalable and quick to sync.

[2021-08-17 21:47] skmatti commented on #1508
Release notes for GKE v1.20: https://cloud.google.com/kubernetes-engine/docs/release-notes#August_17_2021

Will keep this thread posted on the release notes for 1.19 and 1.18 in next a couple of weeks.

[2021-08-18 10:44] nbblum opened #1558 "load balancer frontend config disappears"
I'm trying to configure the frontend part of the loadbalancer to provide https. After applying the ingress configuration it works fine for a short moment and the frontend configuration is visible in the loadbalancer. But then the frontend part of the loadbalancer is not configured anymore "This load balancer has no frontend configured".

Cluster Version: 1.20.8-gke.900

Ingress config:
[code]

out

[2021-08-18 15:54] rrondeau commented on #1508
I just found this, this is huge for us.
All our platforms were exposed without policies :fearful:
We are on v1.18.20-gke.900 and v1.20.8-gke.900

[2021-08-20 10:57] #1558 closed

[2021-08-20 15:17] #1214 closed

[2021-08-20 18:19] #1383 closed

[2021-08-23 15:54] ajaysourcedigital commented on #931
If you define `LivenessProbe` and `readinessProbe` inside the YAML definition file, it should go away.

[2021-08-25 06:59] tacumai commented on #1508
I've faced the same problem at `1.20.8-gke.2100` .
thanks for the issue, I got the solution. thanks.

[2021-09-07 11:38] aleks-m commented on #1106
@cgotfried I can't vote on that issue - I got "access denied" then I tried to open that issue tracker URL.

[2021-09-09 17:19] cparedes commented on #670
Running into this too. Would love to be able to set this programmatically with either `BackendConfig` or a service annotation

[2021-09-13 23:29] mark-church commented on #1508
GKE 1.19.x is now patched as of [GKE 1.19.14-gke.301 and later](https://cloud.google.com/kubernetes-engine/docs/release-notes#September_13_2021). These versions are no longer impacted by this issue and can use v1beta1 BackendConfig versions without any Cloud Armor issues.

GKE 1.18.x is targeted to be patched within the next 2 weeks. GKE 1.18.x clusters should continue using the v1 BackendConfig r

[2021-09-14 16:29] nealharris commented on #1106
same, I'd like to vote for this, but cannot

[2021-09-14 17:05] cgotfried commented on #1106
@aleks-m , @nealharris I don't know why this is happening. The issue is not reachable in the Google issuetracker anymore.
I get Access Denied when i try to go there.
I don't have any way to troubleshoot this.

[2021-09-19 18:47] #1389 closed

[2021-09-20 14:52] fatmcgav opened #1574 "Keep pod in NEG whilst terminating"
We have a scenario where we're running Jenkins in GKE using the `ingress-gce` class.

Jenkins is unfortunately a single statefulset instance, with potentially long-running CI jobs that we want to allow to end gracefully before the pod stops.

We've tried using the `preStop` lifecycle hook, however we hit a scenario whereby because the pod goes into a `Terminating` state it gets removed from the NE

[2021-09-21 22:30] lmakarov commented on #1268
That issue is private.

Added a thumb-up on this one. Hoping someone will notice it.

[2021-09-23 12:42] brondum commented on #1301
any updates on supporting `spec.ingressClassName`?

[2021-09-28 14:59] dinvlad opened #1578 "GKE 1.22 v1beta1 deprecation"
Hi folks,

I've got an email from GCP that `v1beta1` APIs will be deprecated in K8s 1.22. Does it affect existing GKE resources and annotations like `networking.gke.io/v1beta1.FrontendConfig`, where it's unclear if `v1` is supported yet?

Thank you

[2021-09-28 16:49] swetharepakula commented on #1578
Hi @dinvlad,

The notice was regarding [v1beta1 APIs](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes) that Kubernetes removed in 1.22. The linked blog has the list of APIs that have been removed as well as which APIs to use instead.

`networking.gke.io/v1beta1.FrontendConfig` will continue to be supported.

Cheers,
@swetharepakula

[2021-09-28 16:49] #1578 closed

[2021-09-30 12:34] arnisoph commented on #1268
👍  need :D

[2021-10-10 08:04] anderspetersson commented on #33
Any news on this now that 1.22 is available in GKE?

[2021-10-12 06:11] bowei commented on #33
Hi all, while the backend references has been generalized, we need a K8s resource representation for buckets. There has been some work in the storage sig around a portable backend bucket representation which is one option, although that will take time to converge.

The other choice would be a CRD that is specific to GCP representing a reference to a bucket. It is a somewhat strange object as it is

[2021-10-12 11:00] kl52752 opened #1581 "In line 119, Region field is being set to "" if scope is global. Will the api accept the empty value or should it be unset?"
In line 119, Region field is being set to "" if scope is global. Will the api accept the empty value or should it be unset?

_Originally posted by @prameshj in https://github.com/kubernetes/ingress-gce/pull/1579#discussion_r725436069_

[2021-10-12 11:01] #1581 closed, assigned to nobody

[2021-10-12 11:36] kl52752 opened #1582 "I think it is ok to accept scope and region as function parameters and leave it to the caller to invoke it with the correct combination."
I think it is ok to accept scope and region as function parameters and leave it to the caller to invoke it with the correct combination.

What happens if region is specified with a global scope? will the gce api error out? If yes, then you don't need additional validation about scope/region combo.

_Originally posted by @prameshj in https://github.com/kubernetes/ingress-gce/pull/1579#discussion_r7

[2021-10-12 13:37] kl52752 opened #1583 "I think it is better to do sooner than later, that way at least the common code can be exercised instead of being hidden under a flag. We would only need to update only place if we found a bug in the common implementation. If you want to do it in a follow up PR, that is ok, but in my opinion, better to do it before completing the controller code."
I think it is better to do sooner than later, that way at least the common code can be exercised instead of being hidden under a flag. We would only need to update only place if we found a bug in the common implementation. If you want to do it in a follow up PR, that is ok, but in my opinion, better to do it before completing the controller code.

_Originally posted by @prameshj in https://github.

[2021-10-12 13:38] kl52752 commented on #1583
Added health check, it is similar to L4 ILB but as I mentioned before we will refactor those controllers later and extract common parts

[2021-10-19 07:13] tpraveen-boomplus opened #1584 "Translation failed: invalid ingress spec: only "ImplementationSpecific" path type is supported"
I am running GKE  1.20.10-gke.301

 I am trying deploy ingress getting following errors

Translation failed: invalid ingress spec: only "ImplementationSpecific" path type is supported; only "ImplementationSpecific" path type is supported; only "ImplementationSpecific" path type is supported; only "ImplementationSpecific" path type is supported

[2021-10-19 20:36] swetharepakula commented on #1584
In GKE 1.20.10-gke.301 we only support `ImplementationSpecific` path type. Please check your ingress definition and ensure you are specifying `ImplementationSpecific`.

We support `Prefix` and `Exact` starting in `1.21.3-gke.1600`

[2021-10-20 20:39] tpraveen-boomplus commented on #1584
my ingress definition has pathType: ImplementationSpecific, pathType: Prefix and pathType: Exact.
for now i am using nginx ingress controller.
thanks update.

[2021-10-20 20:39] #1584 closed

[2021-10-26 23:43] Scalahansolo opened #1589 "Zonal NEG being removed from Load Balancer"
During rollouts of new pods, there are instances where the load balancer for the GCE ingress will drop a zone out of all the serving backends, and it takes an unknown amount of time before they get back into the pool.

There are plenty of issues about this particular issue, and we have tried a whole handful of things to alleviate the problem, but there has yet to be any particular resolution to fu

[2021-10-27 10:24] rf232 opened #1590 "Migrate glbc leader election client to lease lock"
Context: kubernetes/kubernetes#80289

[2021-10-30 05:58] dinvlad commented on #33
If I'm not mistaken, there's a _simple_ workaround that [exists](https://cloud.google.com/kubernetes-engine/docs/concepts/service#service_of_type_externalname) for this _today_ and wasn't yet mentioned in this thread :smiley: :
[code]
Here, `example.com` is both the name of your bucket AND a `CNAME` record to `c.storage.googleapis.com.`, as explained in ["Hosting a static website using HTTP" for G

[2021-10-30 06:11] dinvlad commented on #33
Sorry for spam, just wanted to mention for completeness that `Service` of type `ExternalName` also [doesn't work](https://stackoverflow.com/questions/67975198/gke-ingress-with-externalname-service-as-backend-not-working) in this case. Otherwise, it could provide a simple workaround by pointing the service to your bucket's domain name (after configuring it for static hosting).

[2021-11-01 10:14] boredabdel commented on #1075
@Gageperrin can you please log an issue against our repo ? https://github.com/GoogleCloudPlatform/gke-networking-recipes

Sorry for asking to duplicate the work but i rather keep our examples bugs in our own repo, just tag me and i will have a look right away

Thanks

[2021-11-01 10:15] boredabdel commented on #1075
Please also share all your YAML files (MCI, MCS, Deployment, FrontendConfig, and BackendConfig if you have one). Screenshots could help too.

[2021-11-03 10:12] #1478 closed

[2021-11-03 10:29] otherguy commented on #1106
@cgotfried I get the same `Access Denied` error. Could you re-create the issue?

[2021-11-03 17:55] caddac opened #1598 "Unknown field "logging" in com.google.cloud.v1beta1.BackendConfig.spec"
Attempting to disable LB logging on my backend (version `cloud.google.com/v1beta1/BackendConfig`) and getting this error: ```error validating data: ValidationError(BackendConfig.spec): unknown field "logging" in com.google.cloud.v1beta1.BackendConfig.spec```

My full BackendConfig:
[code]
This is being applied via FluxCD (which is reporting the error). In my cluster, the BackendConfig is actually

[2021-11-03 18:07] bsandusk commented on #1598
Weird.  Thinking some more here.  Wondering if we should modify the _Default sink to exclude these logs at a terraform level?  Looking into why this isn't working also.

[2021-11-03 18:35] caddac commented on #1598
updating my manifest to `v1` solved this issue. But I'd still like to understand why `v1beta1` doesn't work.

[2021-11-06 02:49] shawncao opened #1601 "[GKE] How to diagnose backend status to be Unknown"
Hi,

The ingress I created is pretty simple, however I can't find good clues to understand why the backend status is Uknown, and I think this is why I got `Server Error 502` from client/browser. Could you please share me some ideas how to troubleshoot it?

This is the ingress description:
[code]

and this is the ingress definition:
[code]

The service is running good, I tested it both from `kubect

[2021-11-06 06:59] shawncao commented on #1601
Turns out - everything works well after moving to a new cluster with version `1.21.5-gke.1302`.
The current default version `1.20.10-gke.1600` has the issue, no matter how I tried, never solved this issue.

Hope this comment helps in some way for future encounters who may hit here.

[2021-11-10 13:28] steebchen commented on #1386
Still relevant.

/remove-lifecycle stale

[2021-11-10 13:29] steebchen commented on #1533
Still relevant.

/remove-lifecycle stale

[2021-11-17 09:02] leedsjb commented on #33
+1 for this

[2021-11-18 23:27] albertoal commented on #1106
Also unable to upvote https://issuetracker.google.com/issues/191700241 - it will be great to have this feature available so we can use HSTS on GKE NEGs

[2021-11-20 20:21] gabihodoroaga commented on #1461
/reopen
The issue is still there.

[2021-11-23 00:56] #1497 closed

[2021-11-24 12:00] CarpathianUA commented on #369
it's strange that at the end of 2021 there is no way to share LB between Ingresses ...

[2021-11-24 13:18] Andrewangeta commented on #369
@CarpathianUA was just about to comment the same thing yesterday. Supposedly the new gateway API would help with that. But it's not available with GKE Autopilot.

[2021-11-26 13:48] jsravn commented on #1503
Alternatively, we should be able to disable the default backend. Very few people want or are aware that ingress-gce forwards all unmatched external traffic to a pod in kube-system. This is undesirable from a security standpoint.

[2021-11-28 22:05] muvaf opened #1622 "Not possible to have client certificate authentication"
Hi!

I have an application that authenticate requests based on their client certificate. However, if I use `Ingress` in GKE, it terminates SSL on the load balancer and application doesn't accept an HTTP request. If I set `cloud.google.com/app-protocols: '{"clients":"HTTPS"}'` on the `Service`, then load balancer makes an HTTPS request to the application but then;
* If I use port `80` on the load b

[2021-11-30 21:26] bowei commented on #1503
/remove-lifecycle rotten

[2021-11-30 21:27] bowei commented on #1503
Default backend can be removed when all of the products support a 404 response instead of requiring a Pod to 404. -- however, that seems to not be related to the issue title?

[2021-11-30 21:27] bowei commented on #1503
We will take a look at this bug in the triage.

[2021-12-01 08:27] kundan2707 opened #1627 "More info about pre-requisite in dev-setup.md"
More and clear information about pre-requisit should be present in
https://github.com/kubernetes/ingress-gce/blob/master/docs/contrib/dev-setup.md
For example:
Docker  version, Go and its version
Any other remaining ....

[2021-12-01 08:28] kundan2707 commented on #1627
/kind documentation

[2021-12-01 22:31] jotacamou commented on #1268
Any progress or news on this by any chance?

[2021-12-06 05:32] kundan2707 commented on #1601
/kind support

[2021-12-06 05:33] kundan2707 commented on #1546
/remove-lifecycle stale

[2021-12-06 05:34] kundan2707 commented on #1546
/kind support

[2021-12-07 00:21] swetharepakula commented on #1589
/kind support

@Scalahansolo Are there any node pool changes that occur around that time? About how long does it take for the zones to be added back? What cluster version are you using?

Can you open a support ticket with GKE. They/we will be able to investigate further as they will have access to the cluster and the master logs (where ingress controller logs are).

[2021-12-07 15:40] Gaen commented on #109
srsly?

/reopen
/remove-lifecycle rotten

[2021-12-07 19:08] freehan commented on #1503
Does this only impact CloudArmor config or any other config in BackendConfig?

We had a problem with CloudArmor in that version you provided and it is since fixed.

[2021-12-08 01:07] abdidarmawan007 commented on #837
ingress-gce awesome but have limit 50 paths per domain, its not good for backend microservice

[2021-12-08 03:11] zoeponta opened #1633 "Loadbalancer controller throws `Error 400: Invalid value for field 'zone': ''. `"
Hello team.

I am trying v1.21.6-gke.1500.
Since upgrading to this version, Ingress has been throwing warnings.
The communication with the backend is HEALTHY, so there seems to be no problem.

Is there any problem in this situation?
Is there any way to solve it?

<details>
<summary> kubectl describe ing</summary>

[code]

</details>

<details>
<summary> Ingress manifest</summary>

[code]

</detail

[2021-12-08 06:10] swetharepakula commented on #1633
/kind support

Hello @zoeponta,

We have some followup questions:
* Can you provide the service manifest?
* What version was the cluster running before?
* What other changes occurred around the same time? In particular any node pool changes?
* Is this a zonal or regional cluster?
* Is the error persistent? Or did the issue eventually get resolved?

Even with the above information, this may be diff

[2021-12-08 06:58] gyeongsikjang commented on #109
/reopen

[2021-12-08 07:46] zoeponta commented on #1633
Thanks for the reply. I'll answer your question.

It's written in a very simple manifest using helm.

<details>
<summary> Service Manifest </summary>

[code]
</details>

v1.16.15

Yes, we have changed the node pool.
I recreated it to change the machine type family from N1 to E2.

I use zonal cluster

Yes, it's still continuing.

[2021-12-08 17:22] swetharepakula commented on #1633
Are you able to recreate the Ingress? If so do you have the same issue?

[2021-12-09 00:44] zoeponta commented on #1633
I also thought it was caused by a version change, so I tried to recreate all the resources using Helm.
But the issue has been still persist.

I will consider to use GCP support.
Thanks.

[2021-12-09 15:04] adrian-gierakowski commented on #109
this issue should be reopened

[2021-12-09 17:37] AlisonOSouza commented on #109
+1
Please reopen this issue!

[2021-12-09 17:54] skmatti commented on #109
/reopen
/remove-lifecycle rotten

[2021-12-09 19:17] swetharepakula commented on #109
/reopen
/remove-lifecycle rotten

[2021-12-10 15:19] #1088 closed

[2021-12-14 17:42] freehan commented on #1627
Go version can be found in `go.mod`. There is no dependency on docker version.

Reopen if needed.

[2021-12-14 17:43] freehan commented on #1627
Welcome a PR for adding documentation in dev-setup.md.

[2021-12-14 17:46] freehan commented on #1622
I do not think this is supported on Google Cloud LB. This would be a feature request to GCLB.

One alternative is to use L4 LB on port 80 or 443 and it will deliver traffic to your backends directly.

[2021-12-16 01:12] lucasteligioridis commented on #1497
Just re-opening this because this is still a problem for me and just wanted a general opinion on a few things.

It would be pretty awesome to have this work as issue describe, or at least a discussion on workaround that is "neat".
At the moment I create the `service` within Kubernetes and the `backend` services within GCP outside of the scope of Kubernetes (configuration as code such as terraform

[2021-12-16 09:27] kundan2707 commented on #1627
@freehan will create a PR if i identify few more items to be added in dev-setup.md

[2021-12-16 13:25] DaveWelling commented on #837
It isn't obvious why this limit exists at all.  I'm guessing there some limit further upstream in the GCE infrastructure that drives this?  I agree with @abdidarmawan007 that microservices will easily drive consumers over this limit.  I also have the problem described by some other posters here where we provide multiple routes per service.  We will often provide a /doc route to provide swagger inf

[2021-12-16 14:32] kl52752 opened #1640 "No new tests in forwarding_rules_test.go ?"
No new tests in forwarding_rules_test.go ?
Maybe we should cover the network tier in the unit tests?

_Originally posted by @cezarygerard in https://github.com/kubernetes/ingress-gce/issues/1636#issuecomment-995689126_

Good catch, I added some test cases checking network tier in forwarding rule and address manager

[2021-12-16 14:33] #1640 closed

[2021-12-16 19:09] mark-church commented on #837
This was actually a limitation of the underlying load balancer (the URLmap) but this was recently lifted and should no longer be a limitation: https://cloud.google.com/load-balancing/docs/quotas#url_maps

[2021-12-18 16:00] DaveWelling commented on #837
@mark-church That seems like great news?  Is it difficult to remove or raise the restriction then?

[2021-12-18 19:46] #1388 closed

[2021-12-19 22:25] Vlad1mir-D commented on #1380
@freehan Why closed? Google Cloud LB supports regional external LB indeed!
https://cloud.google.com/load-balancing/docs/https#load-balancer-mode:

[2021-12-20 02:41] abdidarmawan007 commented on #837
@DaveWelling maybe you need URL maps Quota
https://console.cloud.google.com/iam-admin/quotas?service=compute.googleapis.com&metric=%22URL%20maps%22&_ga=2.229929628.181089356.1639957799-1272917692.1637229351&_gac=1.82412900.1639102158.CjwKCAiA78aNBhAlEiwA7B76p6W9X6GD1QyXUbYiDkfRXykdcV_TT7CdsojGVSHn5MhPqdtjGItjJxoCSeYQAvD_BwE

[2021-12-20 02:47] abdidarmawan007 commented on #837
as @mark-church said google cloud already increase (Host rules, path matchers per URL map) Limit: 1000
but for URL maps still need increase manual via GCP IAM Quotas

[2021-12-20 15:01] mark-church commented on #837
That is the quota for the URLmap resources per project (there is 1 URLmap per 1 Ingress resource). The quotas that I referenced are hard limits within an individual URLmap and I don't believe any quotas need to be configured to enable them as they are the same for everybody.

@spencerhance I don't believe we do any validation in ingress-gce for the number of host/paths per Ingress right? I believe

[2021-12-20 21:07] #1461 closed

[2021-12-21 17:33] #1508 closed

[2021-12-21 17:34] freehan commented on #1533
PR is merged. https://github.com/kubernetes/ingress-gce/pull/1387

[2021-12-21 17:34] #1533 closed

[2021-12-21 17:36] freehan commented on #1546
Can you file a support ticket with GKE support and include necessary information (cluster, ingress, time frame, etc)?

[2021-12-21 17:37] freehan commented on #1546
Another alternative is to provide a test yaml and steps to repro.

[2021-12-21 17:42] freehan commented on #1574
Yes. This is the intended behavior of NEG controller. It optimized to lower the programming latency. Currently this behavior is not configurable.

Is it possible to gracefully terminate the jenkins workflow before deleting the pod (put it into terminating state)?

[2021-12-21 17:43] #1582 closed

[2021-12-21 17:44] freehan commented on #1590
merged.

[2021-12-21 17:44] #1590 closed

[2021-12-21 17:48] freehan commented on #1598
cc @skmatti

Do you see any reason why `v1beta1` did not work?

[2021-12-21 17:49] #1583 closed

[2021-12-29 09:05] ankit-rsystem opened #1646 "How to enable Access-Control-Allow-Origin from gce-ingress"
We are facing an error related of CORS policy:

Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Is there any way to allow it from gce-ingress annotations ?

Please help.

[2021-12-30 13:30] raphaelauv commented on #1503
@mikouaj I have the same problem

GKE :  1.21.5-gke.1302

[2022-01-04 18:04] #866 closed

[2022-01-04 18:04] freehan commented on #744
I am wondering what is the benefit of doing this?

[2022-01-04 18:08] freehan commented on #743
The rbac has mostly went stale. Need to switch to use RBAC in K/K as the canonical one.

[2022-01-04 18:09] freehan commented on #676
It is already migrated to Composite Type pattern

[2022-01-04 18:09] #676 closed

[2022-01-06 10:32] kundan2707 commented on #1627
I am closing this issue for now. WIll reopen if identify any further required changes.

[2022-01-06 10:32] #1627 closed

[2022-01-10 21:39] thebeardedpapi commented on #1268
Any word on this?

[2022-01-11 08:39] #1481 closed

[2022-01-11 17:33] freehan commented on #1646
Can you elaborate where did you get this error? When sending traffic to the ingress VIP?

[2022-01-11 23:40] asgoel commented on #1271
/reopen

[2022-01-11 23:40] asgoel commented on #1271
@spencerhance @rramkumar1 any update here?

[2022-01-14 10:59] bygui86 commented on #109
after 3 years of discussion I think this feature won't be done

[2022-01-18 04:25] Olegt0rr commented on #1469
@WLun001, since [the article](https://blog.yongweilun.me/gke-ingress-is-slower-than-you-think) points here, please post any news about this issue here or update an article

[2022-01-20 18:25] freehan commented on #1574
This feature depends on the Graceful termination KEP currently in progress.

[2022-01-21 18:25] scarby opened #1656 "GCE load balancer health check does match k8s pod health"
## Issue
It would appear that there is zero connection between kubernetes' concept of when a pod is healthy and the GCE load balancer's concept of the same.

As such when a deployment is updating:
- kubernetes spins up new pods,
- new pods pass their health-checks and kubernetes considers them to be ready
- At this point the GCE load balancer is not guaranteed to have passed it's health-check,
- k

[2022-01-23 16:34] christopherdbull commented on #42
Is there any reason why we can't set the Host header with the BackendConfig CRD?

[2022-01-24 17:27] ben-xo commented on #670
/remove lifecycle-stale

[2022-01-24 17:28] ben-xo commented on #670
/remove-lifecycle stale

[2022-01-24 17:29] ben-xo commented on #670
/remove-lifecycle rotten

[2022-01-25 10:21] k725 commented on #33
+1

[2022-01-25 15:43] davidb-e4s commented on #109
+1

[2022-01-25 17:37] freehan commented on #1656
When NEG is enabled, LB health checks are feedback into pod readiness https://cloud.google.com/kubernetes-engine/docs/concepts/container-native-load-balancing#pod_readiness

To configure custom LB health check, use BackendConfig

[2022-01-26 17:18] scarby commented on #1656
Ok. I'm mistaken wrong no connection however I'm not sure this is fit for purpose.

Which is likely what is happening in my case.  If my health check times out I clearly don't want my pod to be considered ready?

[2022-01-27 12:27] kundan2707 commented on #1656
/kind support

[2022-02-01 02:11] leonelvsc commented on #87
Any update ?

[2022-02-01 16:10] olivierboucher commented on #87
@bowei I'm looking to work on this. Would the new annotation being proposed by @nikhiljindal be the way to go?

[2022-02-01 22:15] scarby opened #1665 "Enable GCE load balancer healthcheck logging"
When creating a GCE ingress there appears to be no way to enable logging on the health-checks other than through the gcloud command/console (off by default). This would be a very useful feature when debugging Load Balancer health-checks

(which have been likely been randomly failing for us)

[2022-02-02 12:49] dabo-ZON commented on #1301
/remove-lifecycle rotten

[2022-02-05 19:08] inductor opened #1670 "Add release note for recent versions"
Version tag reached at 1.15, but we have no release note on it

[2022-02-07 22:37] mvrahden commented on #1665
I give my thumbs up for this one 👍
It could be an option of the health check definition for the BackendConfig.

[2022-02-08 00:02] scarby commented on #1665
@mvrahden These two are not related. that one talks about access logging for the load balancer, which is a separate thing to logging for the health-checks

a proposed new spec would be something along the lines of
[code]

[2022-02-08 17:33] swetharepakula commented on #1665
/kind feature

[2022-02-08 23:19] #1386 closed

[2022-02-10 23:52] #1271 closed

[2022-02-11 00:24] fsjones commented on #245
Did you find a solution for this for wordpress?  I may be having a similar issue.

[2022-02-11 21:20] edclement commented on #1503
Count me in on this problem as well...

[2022-02-11 22:44] dinvlad commented on #1106
Any updates on this one?

[2022-02-13 21:22] collectedview commented on #1075
Following these two steps, worked for me, there are articles all over that have the leadup steps, the documentation here should be the latest.

https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features

1. [Associating the Ingress & Frontend Configuration](https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#configuring_ingress_features)

[code]

2. [Frontend Confi

[2022-02-16 18:20] kundan2707 commented on #1670
/kind documentation

[2022-02-16 18:28] kundan2707 commented on #1670
changelog after 1.10.3 are missing.
All changelog to recent versions should be updated

[2022-02-16 18:32] kundan2707 commented on #1646
/triage needs-information

[2022-02-17 02:40] dinvlad opened #1677 "Support for URL redirects"
Hi folks,

Does GCE Ingress support the [URL redirect](https://cloud.google.com/load-balancing/docs/url-map-concepts#url-redirects) feature of GCE LB? I've seen `defaultUrlRedirect` mentioned in the [code](https://github.com/kubernetes/ingress-gce/blob/951827341a53e783698632b1fec9d187dcc43474/pkg/composite/gen.go#L2435), however I'm trying to understand if it's actually usable inside an Ingress, a

[2022-02-19 18:32] #1574 closed

[2022-02-23 01:46] spencerhance commented on #1677
Hi @dinvlad, today it is only used for enabling HTTP->HTTPS redirects on external ingress:

https://cloud.google.com/kubernetes-engine/docs/how-to/ingress-features#https_redirect

[2022-02-23 05:22] dinvlad commented on #1677
@spencerhance thanks - Google Support shared this public issue filed for it: https://issuetracker.google.com/212418577

[2022-02-26 09:29] MarioIshac commented on #33
+1, would be very useful to serve both static (bucket) content and dynamic (service content) under one load balancer without it being overwritten by ingress.

[2022-03-02 18:59] freehan commented on #769
Another alternative is to add MinReadySeconds to deployments. This would force deployment controller to slow down rollout and leave enough time for NEG programming. For example:
[code]

[2022-03-04 11:50] AkselAllas commented on #116
Should definitely be reopened. We are using GKE Autopilot and have the same exact scenario with updating a Deployment with a newer version that @infernix described.

[2022-03-07 05:10] spencerhance commented on #1589
@Scalahansolo which GKE version was this on?

[2022-03-07 21:15] enj commented on #1305
/reopen
/remove-lifecycle rotten

This seems like valuable functionality to have 😄

[2022-03-08 12:01] AkselAllas commented on #116
I managed to solve the exact downtime described by @infrenix by adding the following to my deployment:

[code]

This is a new feature of k8s 1.22. And it is useful for situations [where Cloud service load balancers need extra time to setup after k8s endpoints are ready. ](https://kubernetes.io/blog/2021/08/27/minreadyseconds-statefulsets/) (Which is the case here.)

This is definitely an issue tha

[2022-03-09 10:40] AkselAllas commented on #116
The downtime also seems to only happen when load balancer gets swapped out.  e.g.

europe-west1-a -> europe-west1-a  = no error

but

europe-west1-a  -> europe-west1-b = error.

[2022-03-09 16:10] xvzf opened #1679 "CRDs as YAML"
Hello

I'd like to generate [jsonnet libraries for Grafana Tanka](https://github.com/jsonnet-libs/k8s) based on the CRDs but unfortunately they are not in any of the releases. Would you be open to address this?

[2022-03-10 12:45] andrelandry commented on #1633
I'm encountering the same issue.

What's odd is there's no issue in our staging environment which I upgraded to 1.21.9-gke.300 first as a test run.

Was this ever resolved?

[2022-03-10 15:16] lelandhwu opened #1680 "Is it possible to health check on a port not published as a service port?"
Currently I have a service that publishes port `12345` as the service port. I want this to be the port that Ingress routes traffic to because it's the port that listens to websocket messages. I'm making a game by the way, if this adds some color

The Ingress controller looks like this:

[code]

The service listens to websocket connections on port 12345, but I've also spun up a small python server

[2022-03-10 19:29] lelandhwu commented on #42
Hey guys,

Currently I have a service that publishes port `12345` as the service port. I want this to be the port that Ingress routes traffic to because it's the port that listens to websocket messages. I'm making a game by the way, if this adds some color

The Ingress controller looks like this:

[code]

The service listens to websocket connections on port 12345, but I've also spun up a small pyt

[2022-03-14 21:29] Scalahansolo opened #1681 "How to properly redirect www.* to proper endpoint"
Currently on my GCE ingress, www.* does not get routed anywhere based on our configs. How do I set my ingress such that www.* get's routed to a particular service?

[code]

[2022-03-16 16:37] m62534 commented on #1106
+1

[2022-03-16 19:46] raphaelauv opened #1682 "use a sslCertificates from another project"
In a project A I want use a sslCertificates from a project B

I tried :

[code]
or

[code]

But it's not working , is it possible ?

[2022-03-17 10:00] kundan2707 commented on #1681
/kind support

[2022-03-17 21:38] sahilrajput03 commented on #109
Even nginx-ingress doesn't seem to work according to me..

I found two issues facing path rewrite issue @

1. https://github.com/kubernetes/ingress-nginx/issues/8316
2. https://github.com/kubernetes/ingress-nginx/issues/8317

[2022-03-21 19:46] skmatti commented on #1598
Logging field is not defined in v1beta1 API. We have introduced this field only in V1 API.

[2022-03-21 19:46] skmatti commented on #1598
/close

[2022-03-21 19:47] #1598 closed

[2022-03-21 19:47] skmatti commented on #1598
/remove-lifecycle stale

[2022-03-22 22:11] adamcathersides commented on #33
+1

[2022-03-22 22:56] MishaVeldhoen commented on #109
Would be really convenient to have this!

[2022-03-23 11:06] aditanase opened #1684 "Support for GRPC Service name wildcards"
Hello,

I am trying to implement a deployment for versioned APIs, where some of the new APIs are served by a dedicated backend service.
Everything works as expected apart from the fact that I can't add routing rules at the GRPC package level, as the wildcards are only valid after a `/`. E.g. `/example.protobuf.v1beta1.Greeter/*` is valid but `/example.protobuf.v1beta1.*` is not.

Example config se

[2022-03-25 10:32] visheyra commented on #1301
I stumbled some time ago on this issue, and one of the google guy I can exchange with shared me this documentation https://cloud.google.com/kubernetes-engine/docs/how-to/custom-ingress-controller#controller_summary TL;DR you can configure ingressClass but you'll have to specify the annotation as well. This is working fine on a 1.21 cluster, I plan to test in 1.22 soon

[2022-04-01 17:09] griseau commented on #1268
Hello guys, do you have a workaround to be able to headers like Content-Security-Policy ? It's really annoying

[2022-04-05 20:27] skymeyer commented on #1268
This definitely would be great to have +1

[2022-04-06 21:24] thequailman opened #1692 "GCP certificate-manager support?"
When will GCE ingress support certificates generated by [certificate-manager](https://cloud.google.com/certificate-manager/docs/overview)?  The certificates have a separate path, and don't seem to work if you specify them in the annotation `ingress.gcp.kubernetes.io/pre-shared-cert` (https://cloud.google.com/kubernetes-engine/docs/how-to/load-balance-ingress#ingress_annotations).

[2022-04-13 13:30] Burekasim commented on #1692
Hi @thequailman

I had a call with GCP support today, it's not supported and they GKE team has an internal discussion about how to support this feature.

[2022-04-14 22:36] #1075 closed

[2022-04-18 22:05] 0sax commented on #109
+1

[2022-04-21 05:48] kundan2707 commented on #1670
/assign

[2022-04-21 21:28] MaroonedMind commented on #109
It's been more than 4 years and there's still no progress on this.
I find this kind of reaction, or rather lack thereof, to be very strange considering it's an essential feature request.
What a deal-breaker.

[2022-04-25 18:51] jacek-jablonski opened #1700 "Extremely slow ingress reconciliation on path and backend changes [1.22.8-gke.200]"
Hi,
Hope you're all doing well :).

I've got GKE cluster with more than 100 Ingress objects. Most of them were in a kind of "suspended" state, which means they pointed to services with deployments scaled to 0 replicas (staging environments ready to be instantly resumed).

I've noticed today that these ingress objects barely reacts to any changes. Changes in Load Balancer are usually applied no mor

[2022-04-25 19:40] jacek-jablonski commented on #1700
As an example: changes applied at 16:56
![image](https://user-images.githubusercontent.com/35669512/165161836-c2263061-0fa9-4787-9ef0-453d87cbc028.png)
This is what ingress spec looks like:
![image](https://user-images.githubusercontent.com/35669512/165161906-374d918e-abdb-4268-9527-4779f63ad113.png)
It is 21.40 and changes in Load Balancing are still not applied:
![image](https://user-images.gith

[2022-04-25 20:36] jmcarp commented on #1656
Does this controller intentionally not update backend health checks? Changing readiness probes doesn't seem to change health checks on the backend.

[2022-04-26 17:13] cezarygerard commented on #1700
Hi!

We are doing great, thanks for asking :-)

Could you please provide us with the cluster UUID which is to be found in the VM labels?

You can contact me via emails listed on my github profile

[2022-04-27 12:56] oryades commented on #1268
Need this to add custom headers in response.

[2022-04-28 17:25] red8888 commented on #1268
Any updates on this? The level of engagement and support here is very frustrating. As previously stated the link is private so how can we even start it!? https://issuetracker.google.com/issues/191700241

This is a basic feature. I want to use GKE native ingresses to take advantage of the global GCE load balancing features but it still does not support custom response headers.

[2022-05-03 14:06] kundan2707 opened #1702 "Link to gke-self-managed.sh broken"
LInk for gke-self-managed.sh  in https://github.com/kubernetes/ingress-gce/tree/master/docs/deploy/gke#readme is broken

[2022-05-03 14:07] kundan2707 commented on #1702
/kind bug
/kind documentation

[2022-05-03 14:07] kundan2707 commented on #1702
/assign

[2022-05-03 18:38] synvestable commented on #1646
NGINX ingress allows you to do this...

[code]

Is there an equivalent for the gce-ingress? I can't find any security features on it, the ingress is accessible to anyone externally.

[2022-05-03 18:43] synvestable commented on #179
Hi, can you guys add some insight to this? This is a security bug if there's no feature to cover it, can't use in prod.

[2022-05-05 06:15] #1601 closed

[2022-05-05 18:50] guibirow opened #1706 "BackendConfig.securityPolicy is not removed after config updates"
I have the following _BackendConfig_ with _securityPolicy_ that applies rate limite on a public API we expose via google load balancers.

[code]

The policy itself works fine to create the BackendConfig and update the Load Balancers with the desired policies, but it doesn't update ir accordingly when we remove the policy.

During releases, our team need to run performance tests against the APIs be

[2022-05-06 06:21] #1589 closed

[2022-05-08 19:15] pkerschbaum commented on #109
Hey @masus04!

At a project I am working on, we migrated from one domain to a new domain. We wanted to redirect all users using the old domain to the new domain.

We successfully deployed a workaround for this scenario which goes like this: the GCP Ingress does not allow rewrites/redirects; however, it allows to "route requests to different backend services depending on the URL path" (see https://

[2022-05-09 07:20] masus04 commented on #109
Thx @pkerschbaum I'll consider it :+1:

[2022-05-10 16:47] cezarygerard commented on #1706
/kind bug
Thanks for filling in the issue.
We will find a reasonable way to unset the securityPolicy, so it consistent with other similar cases of un-setting the fields.

[2022-05-10 22:47] swetharepakula opened #1713 "Migrate to LeasesResourceLock from ConfigMapsLeases"
ingress-gce binary is using ConfigMapsLeases as an intermediate step between switching from config map leader election to leases leader election. The binary needs to complete the migration.

For reference, the PR that changed to the intermediate step: https://github.com/kubernetes/ingress-gce/pull/1634

[2022-05-12 22:13] bowei commented on #1503
/assign @spencerhance

[2022-05-12 22:14] spencerhance commented on #1503
Ack

[2022-05-13 08:30] yevon commented on #518
This really helped a lot, it also helped to improve download speeds a lot over a nextcloud backend.

[2022-05-13 19:14] #1622 closed

[2022-05-16 22:40] mikegin commented on #116
Also experiencing this issue, any help would be appreciated!

[2022-05-18 14:27] jacek-jablonski commented on #1700
@WillieWookiee thanks for your response. We received a similar reply from Google support.

In our case, we combined GCE ingress and Nginx ingress in order to combine the advantages of using GLB (IAP) and the possibility of immediate changes to ingress rules enabled by Nginx ingress.

[2022-05-18 14:27] #1700 closed

[2022-05-19 17:51] rocketraman opened #1718 "Unable to avoid unhealthy backend / 502s on rolling deployments"
I have a GCE ingress in front of an HPA-managed deployment (at this time, with a single replica).

On a rolling deployment, I sometimes run into the backend being marked as unhealthy and resulting 502 errors, usually for about 15-20 seconds.

According to the pod events, the `neg-readiness-reflector` appears to mark `cloud.google.com/load-balancer-neg-ready` to `True` for the pod before it is actu

[2022-05-19 18:00] rocketraman commented on #1718
May also be related to https://github.com/kubernetes/ingress-gce/issues/1656.

[2022-05-19 18:25] swetharepakula commented on #35
This has been fixed with #936.

[2022-05-19 18:26] swetharepakula commented on #40
This has been fixed with the finalizers & GC V2.

[2022-05-19 18:26] #40 closed

[2022-05-19 18:36] swetharepakula commented on #42
@lelandhwu , can you please create a new issue with the same content as https://github.com/kubernetes/ingress-gce/issues/42#issuecomment-1064416269. This seems like a separate issue from Healthcheck configuration.

The remaining ask on this issue is to add Host Header to the BackendConfig. Please open a different issue if this FR is still desired.

Since this issue is specific to custom healthchec

[2022-05-19 18:36] #42 closed

[2022-05-19 18:41] swetharepakula commented on #43
As the last report of this was almost a year ago, we are closing out this issue. We recommend users to move to NEGs (container-native) and migrate off of InstanceGroups. If there are still issues, please open a new github issue. Thanks!

[2022-05-19 18:41] #43 closed

[2022-05-19 18:44] swetharepakula commented on #50
There have been various fixes in this area to make the ingress controllers react to zone changes. If the issues still exist, please open a new issue with details.

[2022-05-19 18:44] #50 closed

[2022-05-19 18:59] swetharepakula commented on #143
Closing. GC events have been added.

[2022-05-19 18:59] #143 closed

[2022-05-19 23:21] rocketraman commented on #1718
The `NEG is not attached to any Backend Service with health checking` message seems to be a red herring. The problem happens on every update, and I haven't seen that message again.

[code]

As soon as the `LoadBalancerNegReady` event occurred, the 502s started happening, and kept happening (intermittently) for about 15-20 seconds.

[2022-05-20 09:09] ialidzhikov opened #1719 "Multiarch image is missing for 1.5 (`k8s.gcr.io/defaultbackend-amd64:1.5`)"
**What happened**:
`k8s.gcr.io/defaultbackend` (https://console.cloud.google.com/gcr/images/google-containers/global/defaultbackend) does not have image with tag `1.5`.

While `k8s.gcr.io/defaultbackend-am64` (https://console.cloud.google.com/gcr/images/google-containers/global/defaultbackend-amd64) has image with tag `1.5`.

Is the multi-arch image `k8s.gcr.io/defaultbackend` deprecated and no lo

[2022-05-20 19:05] #1546 closed

[2022-05-20 20:49] swetharepakula commented on #1301
This issue was concerning the APIs that ingress-gce was using to manage ingress resources. Since the controller now only uses the v1 API this issue can be closed.

Please open a new issue for `ingressClassName` support if still desired.

[2022-05-20 20:49] #1301 closed

[2022-05-20 21:04] swetharepakula commented on #1633
Is there a large version skew between the master and the nodes? I suspect since the master versions are all 1.21, the nodes are 1.16 are lower.  The ingress controller in this master version depends on a label that kubelet adds to the Node Resources starting from 1.17.

As a reference, [Kubernetes version skew policy](https://kubernetes.io/releases/version-skew-policy/#kubelet) only supports up to

[2022-05-20 21:06] swetharepakula commented on #1646
/kind feature

[2022-05-20 21:27] swetharepakula commented on #1656
The ingress controller waits to make sure that a pod, on startup, is considered healthy by the load balancer before updating the readiness check on the pod. If in 15 minutes, the load balancer does not consider the pod ready, the readiness check on the pod will be ready. The idea is to only let Kubernetes consider the pod ready once the load balancer considers the pod ready. If you require a diffe

[2022-05-20 21:51] swetharepakula commented on #1718
/kind support

A clarification question. Are you seeing that the requests are going to the pod that has been deleted when you get 502s or are seeing that the requests are going to the new pod?

I am wondering if the issue you are facing is that the old pod on termination has not been removed from the NEG yet, so there is a latency between the pod being removed in Kubernetes and the pod being remov

[2022-05-20 22:05] rocketraman commented on #1718
From what I can tell, I think you are right -- the load balancer 502 errors are because the load balancer is still sending requests to the pod that is terminating in k8s.

I thought the issue was with my setting of `unhealthyThreshold: 10` on the health check, overriding the default of 2 causing the system to take too long to detect the terminated pod is unhealthy, but that wasn't the case. I've r

[2022-05-20 23:17] rocketraman commented on #1718
Forcing the stopping container to stick around for a few extra seconds via `lifecycle.preStop` hook that sleeps for 30 seconds seems to be the only valid workaround I've found so far. This does also confirm the problem is with requests being sent to the terminating pod, not the new pod.

[2022-05-20 23:34] swetharepakula commented on #1682
Thanks for opening an issue!

Can you share more about this use case? Is this a Shared VPC setup or are all certs in a different project?

[2022-05-20 23:41] swetharepakula commented on #1719
Hello @ialidzhikov,

The container image you are referencing is outdated. We have not updated that image registry in a few years. However we currently do not build multi-arch images for the default backend image yet. We are working on this.

[2022-05-20 23:52] plgingembre commented on #1692
Hi @thequailman,

Thanks for your question. Cloud Certificate Manager will natively be supported using the Gateway API in GKE. Current support with Ingress is K8s secret, Self-managed certs, or Google-managed certs.

Thanks,
Pierre-Louis

[2022-05-20 23:57] plgingembre commented on #1382
@cezarsa, thanks for your question! I actually have a question for you, can you elaborate on the use case on your end for this option in Ingress? How are you working around that missing option today?

Thanks,
Pierre-Louis

[2022-05-20 23:57] swetharepakula commented on #1679
Hello @xvzf,

We currently do not use the CRDs as YAML and do not have them in the repo to reduce our maintenance. However if you would like, you can get the YAML form by querying a cluster:
[code]

[2022-05-21 06:31] raphaelauv commented on #1682
Shared VPC setup -> No

The cert is in another project

[2022-05-22 00:32] toVersus commented on #1692
Hi @plgingembre,

Thanks for your clarification! So, you mean that there is no plan for Ingress to attach certificates generated by Certificate Manager, right?

[2022-05-23 00:50] plgingembre commented on #1305
We currently do not verify the cert issued to the backend. TLS to the backend is on our roadmap.

[2022-05-23 05:34] venkyz commented on #1633
The case @andrelandry mentioned is the solution, and skew version is the case. Old Node versions do not have a kubelet version that populates the information necessary for the Ingress controller in the master version. So all nodepools in the cluster should match the min skew version case.

[2022-05-23 15:56] ialidzhikov commented on #1719
Thanks for the update! Let's us know in this issue once we can try out multi-arch images for the default backend.
IMO, a short section in the README.md would be useful for the end users to know the details that you shared in https://github.com/kubernetes/ingress-gce/issues/1719#issuecomment-1133466843. For example a section similar to https://github.com/kubernetes/cloud-provider-aws#container-imag

[2022-05-24 13:21] cezarsa commented on #1382
Hey @plgingembre, since creating this feature request I moved on to a new job, working mostly with a different cloud provider. Answering based on what I remember and it's possible I'm incorrect.

I think the primary use case would be being able to create firewall rules matching a subset of L7 ILBs. Without this annotation, all L7 ILB IPs would be allocated from the node IP subnet and it would be i

[2022-05-25 14:23] red8888 opened #1720 "I think NEG finalizers are making my namespaces take 10+ mins to delete"
It always takes a very long time to delete namespaces.

First I delete all resources in a namespace and confirm its empty:
[code]

Then I try to delete the namespace:
`kubectl delete namespace derps
`

This hangs for 10+ minutes, but eventually removes the namespace

While the namespace is stuck in the terminating phase I see this:

[code]

It looks like the NEG finalizers are causing this. Is thi

[2022-05-26 14:04] rocketraman commented on #1718
Even `lifecycle.preStop` does not appear to be a 100% consistent workaround -- today during a deployment I saw two 502 errors while pinging the endpoint every 2s, even though the old pod was still in "Terminating" state due to `lifecycle.preStop`.

The new pod did have the error message I originally mentioned above:

[code]

in which the "cloud.google.com/load-balancer-neg-ready" condition appears

[2022-05-27 19:37] swetharepakula commented on #1718
@rocketraman, as this pod changes are occurring, are there any node or zone changes that are occurring?

[2022-05-27 19:44] rocketraman commented on #1718
@swetharepakula Yes, this cluster is an autopilot cluster. When I deploy this update, the deployment generally requires a new node to be created to host the new pod.

[2022-05-27 19:46] rocketraman commented on #1718
In addition, usually a few minutes later the pod is migrated back to the original node, and the new node is shutdown. That process rarely completes without some 502s as well.

[2022-05-27 20:26] swetharepakula commented on #1718
@rocketraman, is that node being created in a new zone? Is the autopilot cluster a regional cluster?

[2022-05-27 20:35] rocketraman commented on #1718
@swetharepakula I haven't checked specifically on the zone of the new node. It *is* a regional cluster (my understanding is that *all* autopilot clusters are regional clusters), so I presume autopilot is indeed balancing the new node across zones.

[2022-05-27 20:44] rocketraman commented on #1718
Yes, I just confirmed the new node is in a different zone than the existing node that hosts that pod.

[2022-05-27 23:15] swetharepakula commented on #1718
So I believe the following is happening in the following cases:

Neg controller does immediately respond to endpoint changes. However, there can be latency due to the time it takes for a detach operation to complete. In the time it takes the detach operation to complete, the load balancer may still route traffic to the terminating pod. There are a few options to mitigate this:
1. The `lifecycle.pr

[2022-05-30 08:30] xvzf commented on #1679
Hi @swetharepakula this is fine but we'd need a static exposure of them to automatically generate them. It's not a manual task for now. Would you consider adding them to this repo or is it a no-go?

[2022-05-30 18:18] rocketraman commented on #1718
FYI I actually don't think this works -- at least it didn't when I tried it. I actually wouldn't expect it to: `terminationGracePeriodSeconds` tells k8s that if the workload takes longer to stop, to give it that extra time before terminating. Changing the value to a larger value doesn't actually delay termination, which is what we want in this case. I believe the GKE docs on this are incorrect, an

[2022-06-01 22:47] goobysnack commented on #1656
The pods in our deployment can take up to 90s to fully initialize and pass the readiness probe (yay java!).  The load balancer healthcheck is just hitting the tomcat listener.  THIS ALONE passes before pod readiness passes, and marks the NEGS as ready.  It seems that the load balancer backend shouldn't forward traffic to a pod unless both the backend healthcheck and the pod readiness are in a good

[2022-06-01 22:54] goobysnack commented on #1656
I opened a Google case, and their response is "by design", and offered to open a feature request.  That seems more like a bug than a feature.

My response:
[code]

[2022-06-02 10:37] kundan2707 commented on #1720
/kind support

[2022-06-03 21:06] m62534 opened #1723 "K8S Ingress spec missing URL rewrite capability"
Missing a way of configuration-as-code/infra-as-code for k8s ingress to perform the following actions (which can be done via gui): https://cloud.google.com/load-balancing/docs/https/setting-up-url-rewrite#modifying_the_url_map

**outcome**:
1. user navigates to somesite.com/public/ql
2. url map redirects to somesite.com/api/ql/external

[2022-06-06 09:02] dides82 commented on #33
+1 would be great to see this kind of feature.
Wouldn't it be possible to leverage GKE config-connector capability in backend references of ingresses ? To have something like :
[code]

[2022-06-06 10:20] thomas-riccardi commented on #1656
@goobysnack same story here, the GCP support ended up opening this feature request: https://github.com/kubernetes/ingress-gce/issues/1656 for us.

After reading the code, issues, and design docs for readiness gates and this ingress-gce, I believe it's a non trivial issue to fix because the whole design of the Readiness Gates rely on transmitting the GCLB programmation success state to other compon

[2022-06-07 10:27] nicoche opened #1727 "Allow naming NEG when ingress: true"
Hi!

I currently use annotation `"cloud.google.com/neg"` (`NEGAnnotationKey` https://github.com/kubernetes/ingress-gce/blob/master/pkg/annotations/service.go#L39-L47)  with `ingress: true` to automatically create network endpoint groups. It works incredibly well.
I want to set a custom name to NEGs. I saw in GCP documentation that it's possible, but that means dropping `ingress: true`, which I don

[2022-06-10 11:44] zufardhiyaulhaq commented on #699
@jbielick,
[code]
we already do this one, but when we rollout restarts the Istio pod, it causes a short downtime.

[2022-06-12 10:49] mikenorgate opened #1730 "Ingress controller crash if endpoint slice missing service label"
I am running a GKE cluster (version 1.22.8-gke.201) in which I have setup Submariner (https://submariner.io/) for multi-cluster communication. As part of Submarniners operation it uses endpoint slices to keep track of available endpoints across the clusters.

These endpoint slices are missing a service label which causes a panic in the GCE ingress controller

[code]

[2022-06-13 13:13] red8888 commented on #1720
Just to follow up GCP support told me this is expected behavior and I can't do anything to speed it up.

[2022-06-14 02:42] spacejam101 commented on #1106
+1

[2022-06-14 18:50] #33 closed

[2022-06-14 18:52] swetharepakula commented on #87
With the introduction of the Gateway API, we will look to add dual stack support there.

[2022-06-14 18:52] #87 closed

[2022-06-14 19:39] gcbirzan commented on #33
I'm not entirely sure this 5+ year ticket being closed with "maybe we'll do it somewhere" warrants a completed status.

[2022-06-14 20:49] swetharepakula commented on #109
The Gateway API natively allows specifying rewrites. We will look into supporting this through the Gateway API.

[2022-06-14 20:49] #109 closed

[2022-06-14 20:50] swetharepakula commented on #246
Closing as this feature has been implemented.

[2022-06-14 20:50] #246 closed

[2022-06-14 20:51] swetharepakula commented on #259
Closing since there has been no update since 2019.

[2022-06-14 20:51] #259 closed

[2022-06-14 20:52] masus04 commented on #109
What API is this exactly and is there an issue we can follow the progress on?

[2022-06-14 20:53] swetharepakula commented on #320
Closing. We cannot support this for Ingress due to API limitations. The Gateway API has the capability and we will look to support this feature there.

[2022-06-14 20:56] swetharepakula commented on #397
Closing as this issue hasn't had any comments in over a year. The newer GCP resources like NEGs do have service names added into the name.

[2022-06-14 20:56] #397 closed

[2022-06-14 20:56] #465 closed

[2022-06-14 21:02] swetharepakula commented on #480
Closing as there has been no update since 2019.

[2022-06-14 21:02] #480 closed

[2022-06-14 21:04] swetharepakula commented on #369
This is a limitation of the Ingress API. The Gateway API allows for this feature and we will look to support this feature there.

[2022-06-14 21:04] #369 closed

[2022-06-14 21:05] swetharepakula commented on #510
Closing as there has been no activity since 2018.

[2022-06-14 21:05] #510 closed

[2022-06-14 21:12] adrian-gierakowski commented on #369
@swetharepakula how is this completed? Also what is the limitation of the ingress api? Nginx ingress supports multiple ingress objects controlling a single gateway

[2022-06-14 21:23] mgoodness commented on #369
I think the more accurate explanation is that it's a limitation of the GCE implementation of the Ingress API.

[2022-06-14 21:55] swetharepakula commented on #369
The Ingress API does not natively support this. A single Ingress is meant to represent a single load balancer. Nginx is completely different architecture and what works there does not necessarily work for ingress-gce. In ingress-gce, we have many other concerns such as namespaces, permissions etc that cannot be expressed clearly in the Ingress API. This feature is one of the core reasons the Gatew

[2022-06-14 22:07] swetharepakula commented on #33
Sorry, for the confusion. This was meant to be closed as not planned.

[2022-06-14 22:23] adrian-gierakowski commented on #369
@swetharepakula thank you for the clarification 👍

[2022-06-14 22:27] swetharepakula commented on #511
We will not be adding this feature per the decision in the public issue tracker: https://issuetracker.google.com/133192467.

[2022-06-14 22:27] #511 closed

[2022-06-14 22:38] swetharepakula commented on #564
Closing as no update since 2018

[2022-06-14 22:38] #564 closed

[2022-06-14 22:38] hjorth commented on #1692
+1 for getting this on gce ingress.

Currently it seems to be working when setting the certificate map manually on the https target proxy.

But maybe this will stop working once cert-manager is not beta.

[2022-06-14 22:39] swetharepakula commented on #614
Closing, as we will not be adding support for this.

[2022-06-14 22:39] #614 closed

[2022-06-14 22:44] #645 closed

[2022-06-14 22:46] swetharepakula commented on #670
We do not plan to add this feature to Ingress. This feature is available with the [GKE Gateway API Implementation](https://cloud.google.com/kubernetes-engine/docs/concepts/gateway-api). Please use the Gateway API for this feature.

[2022-06-14 22:46] #670 closed

[2022-06-14 22:48] swetharepakula commented on #740
Closing as there has been no activity since 2019.

[2022-06-14 22:48] #740 closed

[2022-06-14 22:50] swetharepakula commented on #744
We currently do not plan on making this change.

[2022-06-14 22:50] #744 closed

[2022-06-14 22:52] swetharepakula commented on #837
We do not do any validation in ingress-gce on the number of host/paths for ingress. This limitation was purely due to the URLMap quota. Closing as this is not an ingress issue and has been fixed by the underlying GCE infra.

[2022-06-14 22:52] #837 closed

[2022-06-14 22:57] #1633 closed

[2022-06-14 23:08] spencerhance commented on #1503
Hi Folks, I attempted to repro this locally by adding a security policy and backendconfig to a service after the LB was provisioned but I was unable to.  If you share your redacted YAMLs or email your cluster info to the email on my profile I can take another look.

[2022-06-14 23:37] swetharepakula commented on #1656
Thanks @thomas-riccardi for the great explanation!

Currently the load balancer health checks are the only signal we can provide to the load balancer that the pod is ready to receive traffic. We do not have a solution at this time for making the load balancer Kubernetes aware.

For those affected by this now, my recommendation is to make sure that the health check on the application only passes on

[2022-06-14 23:38] #1665 closed

[2022-06-14 23:42] swetharepakula commented on #1679
Hi @xvzf,  Do our [API definitions](https://github.com/kubernetes/ingress-gce/tree/master/pkg/apis) work? Those are what we generate our CRDs.

[2022-06-15 00:05] swetharepakula commented on #1684
Ingress uses the GCE URLMap to support Ingress rules. GCE URL Maps do not support paths with wildcards like `/example.protobuf.v1beta1.*`.

Please refer to the [GCE Url Map](https://cloud.google.com/load-balancing/docs/url-map-concepts) for more information on what kinds of paths are supported.

[2022-06-15 00:06] swetharepakula commented on #1684
Would specifying a defaultBackend work for your case? This would get all the requests that do not match any of the existing rules.

[2022-06-15 09:19] thomas-riccardi commented on #1656
Thanks @swetharepakula

Are there plans to improve the situation in GKE? Discussions in upstream kubernetes like there was for the introduction of the Readiness Gates?
Because otherwise it seems we will be stuck with the old Ingress+IG, also loosing the much awaited Gateway API with all the new features (plus #33, #109, ...).

[2022-06-15 09:49] xvzf commented on #1679
@swetharepakula Unfortunately no, we'd need a YAML file, containing the rendered CRDs that are applied to the cluster then

[2022-06-15 17:31] swetharepakula commented on #1702
Thanks for catching and fixing this @kundan2707 !

[2022-06-15 17:31] #1702 closed

[2022-06-15 21:53] swetharepakula commented on #1720
Yes, this is expected behavior. The NEG finalizers exist to make sure that the ServiceNetworkEndpointGroup CRs ( a status only API) continue to stay around until the respective NEGs in GCE have been deleted. The NEG GC loop occurs every 2 minutes. NEG resources cannot be deleted if there are GCE resources that are using them such as BackendServices etc.

Most likely what is happening is that the I

[2022-06-15 21:53] swetharepakula commented on #1720
/assign

[2022-06-15 21:56] swetharepakula commented on #1727
/kind feature

[2022-06-15 21:58] swetharepakula commented on #1730
/kind bug

[2022-06-15 21:58] swetharepakula commented on #1730
/assign

[2022-06-15 21:59] swetharepakula commented on #1730
Thanks @mikenorgate for finding the issue. We will take a look and update as soon as we can.

[2022-06-16 00:48] swetharepakula commented on #1730
@mikenorgate, are these logs from ingress-gce? Are you using the inbuilt ingress-gce instance in GKE or running it yourself?

[2022-06-16 01:21] spacejam101 commented on #1268
An progress? This is the only feature that is lacking for us to migrate to ingress-gce.

[2022-06-16 01:25] spacejam101 commented on #1646
+1

[2022-06-16 17:29] swetharepakula commented on #1723
The K8s Ingress API is in V1 and does not support providing a rewrite for a path. The [Gateway API](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/) is meant to replace the Ingress API in Kubernetes and natively supports rewrites. We will look to support this feature in the GKE Gateway implementation.

Please look to the [GKE Gateway Docs](https://cloud.google.com/kubernetes-engine/docs/

[2022-06-16 17:29] #1723 closed

[2022-06-17 11:18] #1730 closed

[2022-06-21 09:44] dorfire commented on #1268
+1

[2022-06-21 09:47] dorfire commented on #1727
+1

[2022-06-21 18:18] mikenorgate opened #1738 "How to identify controller version in GKE?"
Is there any way to identify which version of ingress-gce is being used in a GKE cluster or when a new version of ingress-gce will be made available by GKE?

With new versions of ingress-gce containing some required bug fixes it would be useful to track when the updated version will be available in GKE

[2022-06-22 21:52] swetharepakula commented on #1718
The workaround I suggested with `terminationGracePeriodSeconds` is not the documented way to use the field. Typically it gives pod more time to shutdown so it can gracefully exist as you describe it. To use the workaround I suggested, you would have to modify the application shutdown logic to not immediately start shutting but continue accepting requests but failing the healthcheck for a period of

[2022-06-23 16:23] dinvlad commented on #1677
/remove-lifecycle stale

[2022-06-23 16:24] dinvlad commented on #1677
/remove-lifecycle rotten

[2022-06-27 11:23] aditanase commented on #1684
@swetharepakula Thanks for taking a look. I am aware of the GCE Url Map spec limitations, that's why I added this enhancement request :). It's all good in http land, but for GRPC it breaks down immediately.

Using a default backend would not work for the same reason - it would lump all the GRPC service definitions in the same backend, since I can't add wildcard matchers for any of them.

[2022-06-29 00:00] goobysnack opened #1744 "Ingress not polling/syncing with Backendconfig CRD"
I have this annotation in my ingress:

`cloud.google.com/v1.BackendConfig: beconfig-helloworld-test`

and my backendconfig is:

[code]

No matter what I change in the CRD, the backend service of the load balancer never updates the logging rate or the securityPolicy.

There is not a security policy listed with

`gcloud compute backend-services describe <be-service-name> --project=<projectID> --glob

[2022-06-29 00:03] goobysnack commented on #1744
cluster info:
[code]

[2022-06-29 03:28] goobysnack commented on #1744
Well, that's embarrassing.  I missed a critical bit of the documentation. Backendconfigs are not applied to the ingress annotations, but rather the service definition.  My bad.

[2022-06-29 03:28] #1744 closed

[2022-06-29 04:46] MarioIshac commented on #33
Is there a ticket tracking the addition of this in the Gateway API? If not, @swetharepakula are you open to creating one w/ a timeline of when it can be added in the Gateway API? I understand why this ticket was closed, but the functionality is still very useful to have.

[2022-07-01 17:10] msuterski commented on #1503
@spencerhance thanks for your comment/verification. It does seem to work for default backends when they are attached to healthy Ingresses!

For future reference the steps to have the policies attached to default backends.

1. Create a security policy for the default http backend in the gcp project

    ```gcloud compute security-policies create default-http-backend```

1. Attach rule(s) to your se

[2022-07-04 15:50] ialidzhikov commented on #1719
@swetharepakula do you have any updates on this one? Thanks in advance!

[2022-07-05 15:27] Vlad1mir-D opened #1745 "Feature: Support selecting network tier and scope"
https://github.com/kubernetes/ingress-gce/issues/1380 Wasn't reopened so I'm duplicating this feature request.

P.S. Also would like to duplicate my answer to https://github.com/kubernetes/ingress-gce/issues/1380#issuecomment-884380535:

[2022-07-14 18:43] spencerhance commented on #1503
@msuterski
Can you elaborate, are the Backends unhealthy or is the ingress have a configuration issue that prevents it from being fully synced?

[2022-07-15 11:57] tedchang77 commented on #1745
this feature is something we would be very interested in as well due to data residency requirements.

[2022-07-19 13:26] masus04 commented on #793
Was there ever a solution to this?

[2022-07-19 13:31] masus04 commented on #36
Was there ever a solution to this issue? I'm running into the same problem.

[2022-07-20 05:50] geNAZt opened #1751 "Feature: Add domain support for PSC"
Currently a ServiceAttachment doesn't support setting domains. It is possible via Web UI and terraform resources. We currently use it to expose a general service so having a internal domain attached to it so every connected consumer gets a DNS entry pushed via service directory would be awesome.

[2022-07-20 14:50] xabufr opened #1752 "Feature: Configure target-https-proxies quic"
We need to configure the quic-override parameter of created target-https-proxy, currently the FrontConfig doesn't permit that.

[2022-07-20 15:45] thomasmey opened #1753 "Feature: Add labels to forwarding rule being created"
Hi,

I would like to add some custom labels to the forwarding rule being created by ingress-gce. Maybe the labels could be transfered from FrontendConfig/Ingress annotations to the forwaring rule.

[2022-07-21 11:00] AlbertMoser opened #1755 "Creating Network Endpoint Group (NEG) before creating workload"
It seems that NEGs for a service with annotations: _exposed_ports_ are only created once there are pods matching the service, otherwise, we see correct 'neg-status' annotation (matching zones of cluster) but no NEGs.
Only once Service matching PODs are deployed NEGs appear. However (and this is inconsistent) when pods are deleted, NEGs remain (but with 0 endpoints).

**Steps to reproduce:**
1. Cre

[2022-07-21 20:36] bschaeffer commented on #1268
+1

[2022-07-22 08:36] trevex opened #1756 "Ingress changes resulting in 502s"
I was recently made aware of the following behavior and am wondering if it is intentional:

When you create an `Ingress`-resource and one of the rules is changed in a way, that the service it points to is not used by the `Ingress`-resource it will result in 502s as the NEG is de-provisioned.

This can be easily reproduced on GKE Autopilot as follows:
[code]
If we change the backend of `foo.mydomai

[2022-07-25 16:49] g3kk0 opened #1757 "Custom Error Pages"
Is it possible to serve custom error pages for things like 404, 503 errors using this ingress controller?

The community Nginx ingress controller appears to support this. It would be good if this was possible with the GCE controller too.

[2022-07-26 23:08] renaudguerin commented on #511
Hi,

In that case, could you please recommend a workable infrastructure-as-code solution to define and apply these IAP-related IAM policies at the Backend resource level ?

This doesn't seem to be available in Config Connector.

The Terraform Google provider team [didn't want to help either](https://github.com/hashicorp/terraform-provider-google/issues/5468#issuecomment-578950136) and pointed back

[2022-07-28 16:37] gauravkghildiyal opened #1761 "Replace klog.TODO() in the call to neg.NewController() with a top level logger configuration once one becomes available."
https://github.com/kubernetes/ingress-gce/blob/c5778344695be23782c0bd3d4fd70f8b07945379/cmd/glbc/main.go#L343

[Contextual logging](https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/3077-contextual-logging/README.md) suggests to replace the global logger by passing a `logr.Logger` instance into functions via a `context.Context` or an explicit parameter, building on to

[2022-07-28 23:01] rnett opened #1762 "Ingress fails to infer health check parameters from readiness check"
From the docs [here](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress#health_checks), I understand the ingress is supposed to infer health check parameters from the pods readiness checks.  This fails to happen for this setup:

Ingress:
[code]

Service:
[code]

Pod:
[code]

This results in a health check like this:
![image](https://user-images.githubusercontent.com/32281897/18165109

[2022-07-29 08:30] Vlad1mir-D commented on #1745
/kind feature

[2022-07-29 19:02] edonnura opened #1765 "Routing for web sockets"
I am trying to route WebSockets requests to specific path but I am not succeeding to do that. I have an api and web application both behind the ingress, I want specific requests to go to api all others to go to web application service. WebSocket hub is hosted in api and no matter what path I add it always send requests to web application, I assume it is failing to route it correctly because of wss

[2022-07-30 10:48] anhnt094 commented on #1268
+1. Any progress on that?

[2022-07-30 11:08] anhnt094 commented on #1106
+1

[2022-07-30 12:28] erikhubers commented on #1268
+1

[2022-07-31 18:44] anderspetersson opened #1766 "BackendConfig does not support Named Cookies in CDN Cache Key"
I'd like https://cloud.google.com/cdn/docs/using-cache-keys#updating_cache_keys_to_use_named_cookies support in BackendConfig.

Currently it throws a validationerror: error validating data: ValidationError(BackendConfig.spec.cdn.cachePolicy): unknown field "includeNamedCookies" in com.google.cloud.v1.BackendConfig.spec.cdn.cachePolicy;

[2022-07-31 23:45] PiotrDabkowski opened #1767 "Zombie ingress keeps being created after renaming and manual deletion"
I have created ingress as follows:

[code]

and then pushed via `kubectl apply -f ingress.yaml`. Then after renaming the old ingress keeps being created after manual deletion. The only way to get rid seems to be via `kubectl delete -f zombie_ingress.yaml'.

I see that in theory this is WAI, because it is hard to distinguish replacement vs new ingress creation, but it should be a bit easier to dele

[2022-08-01 01:03] PiotrDabkowski commented on #1767
Ah I see, the ingress is in the ingress tab of services, then it is WAI :)

[2022-08-01 01:03] #1767 closed

[2022-08-01 13:06] kundan2707 commented on #1670
/remove-lifecycle stale

[2022-08-01 15:20] rnett opened #1768 "Health checks should accepts 3XX response codes as healthy"
Having services respond with a 3XX response code is fairly common, for example to redirect to a "starting" page or an OAuth login.  It's a valid successful response, however the ingress's health checks regard it as unhealthy.

[2022-08-02 12:16] gauagarw0 opened #1770 "Google SM usage for OauthCredentials in backendendconfig CRD to enable IAP in K8S"
https://cloud.google.com/iap/docs/enabling-kubernetes-howto#kubernetes-configure shows usage of k8s secret for OAUTH credentails for enabling IAP in k8s. Can this OAUTH client id and secret be supplied from Google Secret Manager?

[2022-08-03 09:20] itpromorus commented on #1268
we all need it)

[2022-08-05 22:21] dgnemo commented on #1692
According to [1] Certificate Manager now reached GA status.

Is it really not possible to use it with the GKE offering ?!?

[1] https://cloud.google.com/certificate-manager/docs/release-notes

[2022-08-08 17:51] guibirow commented on #1706
/remove-lifecycle stale

[2022-08-08 17:52] swetharepakula commented on #1706
/remove-lifecycle stale

[2022-08-11 14:33] baptiste-dauphin commented on #1268
+1 we also need this feature ;)

[2022-08-18 17:25] softwareplumber commented on #109
*shakes head* it took four years to not implement this basic feature and we're expected to believe that the yet-more-complicated Gateway API will be fit for use?

[2022-08-18 18:59] masus04 commented on #109
Having switched from Ingress to Gateway primarily because of this issue I think the Gateway API is definitely an improvement and the separation of HttpRoutes simplify the setup.

However, while the URL rewrite is part of the API specification, it appears the GCP implementation of it does not yet support the rewrite functionality.

[2022-08-19 02:04] spacejam101 commented on #1268
Any updates?

[2022-08-21 07:10] kundan2707 commented on #1738
/kind support

[2022-08-21 10:34] kundan2707 commented on #1757
@g3kk0  seems a good idea. Can you add such page?

[2022-08-21 10:42] kundan2707 commented on #1682
/remove-lifecycle stale

[2022-08-24 02:09] kamalmarhubi opened #1785 "Support all session affinity types available on the underlying load balancer resource"
Currently the ingress controller supports CLIENT_IP and GENERATED_COOKIE session affinities. At least some of the underlying HTTP load balancers additionally support [other session affinities](https://cloud.google.com/load-balancing/docs/backend-service#bs-session-affinity), HEADER_FIELD and HTTP_COOKIE which allow greater application control of routing to backends.

I'm particularly interested HE

[2022-08-24 22:10] pewpewp3w commented on #109
/reopen

[2022-08-28 13:41] StenlyTU opened #1794 "k8s.gcr.io/defaultbackend-amd64:1.5 has many security vulnerabilities"
**What is the problem:**
[Image](https://console.cloud.google.com/gcr/images/google-containers/global/defaultbackend-amd64@sha256:4dc5e07c8ca4e23bddb3153737d7b8c556e5fb2f29c4558b7cd6e6df99c512c7/details) k8s.gcr.io/defaultbackend-amd64:1.5 is build Sep 28, 2018 with Go 1.10.3.

There are many known vulnerability since than:
Following is screenshot from Black Duck Binary Analysis tools showing the

[2022-08-29 15:25] swetharepakula commented on #1751
/assign @swetharepakula

[2022-08-29 15:26] swetharepakula commented on #1751
/kind feature

[2022-08-29 15:26] swetharepakula commented on #1752
/kind feature

[2022-08-29 15:30] swetharepakula commented on #1753
/kind feature

Hi @thomasmey, would you mind explaining more about your use case and why you need custom labels?

Thanks!

[2022-08-29 15:34] swetharepakula commented on #1755
Hi @AlbertMoser,

Thanks for creating the issue. Can you tell us more of why this behavior is affecting your use case and how creating empty NEGs before workloads help?

Thanks,
Swetha

[2022-08-29 15:34] swetharepakula commented on #1755
/kind bug

[2022-08-29 15:35] swetharepakula commented on #1756
/kind bug

[2022-08-29 15:39] swetharepakula commented on #1756
Hi @trevex,

Thank you for creating the issue! We need a little more information to understand what could be the possible issue. Are you seeing that the NEG is being pre-maturely removed from the BackendService or that the NEG is being deleted before the BackendService is updated with the correct NEGs?

Thanks,
Swetha

[2022-08-29 15:43] swetharepakula commented on #1757
Hi @g3kk0,

You can have a custom 404 error page by specifying a default backend on the Ingress. Currently if no default backend is provided, the GCE Ingress controller adds our default backend.

For 503, we need to investigate how this can be done and will add an update.

Thanks,
Swetha

fyi @spencerhance

[2022-08-29 20:02] thomasmey commented on #1753
Hi,

the idea is that the existence of those labels will trigger a process which will create a x.509 certificate and will update LB with this certificate and private key.

[2022-08-30 10:37] trevex commented on #1756
Hi @swetharepakula,

Basically the latter:
The NEG is deleted before the BackendService is updated (or changes have properly propagated to GFE to be active) with the correct NEGs.

[2022-08-30 11:33] raj-saxena commented on #511
It's unfortunate that this issue still doesn't have a solution after 2 years. We faced the same blocker & solved it by using the Terraform's `external` `data` type & calling `gcloud` to fetch the `backend-service` by Kubernetes annotation.
Sharing the code here hoping to help someone else:
[code]
The shell script:
[code]

[2022-08-30 22:45] Vlad1mir-D commented on #1380
/reopen

[2022-09-01 13:49] AlbertMoser commented on #1755
Hi @swetharepakula
Thanks for looking into it.
For us, this is an issue for us since the deployment of load balancers happens before the deployment of workloads. Moreover, both of them are decoupled. Since NEGs are an integral part of the load balancer, it does not work.

[2022-09-01 18:36] swetharepakula commented on #1713
This was finished as part of #1750.

[2022-09-01 18:36] #1713 closed

[2022-09-02 06:52] therealsamlin commented on #109
/reopen

[2022-09-05 21:50] ernani commented on #598
For some reason this is not working as of GKE 1.21 either.

[2022-09-08 09:49] sandrotanner commented on #598
I am running GKE 1.24 and I too cannot get it to apply for some reason. I even deleted the ingress and created it again with no luck.
Are @ernani ernani and I doing something wrong or is it not working anymore?

Here is what I am doing:

Backendconfig:
[code]

ingress:
[code]

[2022-09-08 19:55] sandrotanner opened #1803 "Possible Regression: BackendConfig timeoutSec doesn't seem to work with GCE Ingress"
It seems the issue from #598 is back.

I am running GKE 1.24 and I cannot get timeoutSec to apply for some reason. I even deleted the ingress and created it again with no luck.

Here is what I am doing:

Backendconfig:
[code]

ingress:
[code]
What I expect: the timeout is 2h
What I get: the timeout is 30s (the default)

This issue is possibly related to #1503 ...

I will gladly provide more info i

[2022-09-08 21:06] sandrotanner commented on #1803
I also tried adding the annotation to the service (via helm), no luck either....

[2022-09-08 21:10] sandrotanner commented on #1803
Whoops , spoke to soon. I missread the config and now it works.

[2022-09-08 21:10] #1803 closed

[2022-09-08 21:11] sandrotanner commented on #598
I made an error, now it works. see #1803

[2022-09-09 12:34] ernani commented on #598
Just out of nowhere it started working too here, but, it takes some minutes to reflect the changes, which is an acceptable thing.

[2022-09-12 15:09] swetharepakula commented on #1765
/assign @spencerhance

/kind support

[2022-09-12 15:09] swetharepakula commented on #1766
/kind feature

[2022-09-12 15:15] swetharepakula commented on #1768
/kind feature

@rnett, thanks for creating the issue! Unfortunately the GCP load balancing healthcheck has a strict requirement on a 200 status. This is not configurable, so we (ingress controller) cannot support this feature. The healtcheck can have a large amount of traffic, we recommend having a dedicated healtcheck endpoint that does not require a OAuth login or have redirection that will limi

[2022-09-12 15:16] swetharepakula commented on #1785
/kind feature

/assign @spencerhance

[2022-09-12 15:21] swetharepakula commented on #1770
/kind feature

/assign @spencerhance

[2022-09-13 12:24] tdi commented on #1646
+1 :)

[2022-09-13 15:26] goobysnack commented on #1656
I learned that the backend-config isn't assigned to the ingress annotation, it's assigned to the workload service.  Once you do that, it all works like magic.  That was the fine print in the documentation I missed.

[2022-09-14 08:11] talzion12 commented on #1718
I'm also getting 502 errors during availability zone changes. I added the `cloud.google.com/neg: '{"ingress":false}'` annotation to my service so that the load balancer forwards to all instance groups in the cluster and I think it solves the problem relatively cleanly.

Are there drawbacks to this workaround? Any reason it wasn't suggested in this thread before?

[2022-09-14 20:08] jsoref opened #1816 "Replace `extensions/v1beta1` `Ingress` in documentation"
There are many instances of `extensions/v1beta1` `Ingress` in this repository, e.g.:
https://github.com/kubernetes/ingress-gce/blob/051cfde145f34c8721e39df778e262fb4a256c67/LIMITATIONS.md#latency

Per https://endoflife.date/google-kubernetes-engine, it appears that 1.21 will expire at the end of the year. That will be the last version of GKE that supported `extensions/v1beta1` `Ingress` which was

[2022-09-14 21:52] xvzf commented on #1679
/remove-lifecycle stale

[2022-09-15 10:29] kundan2707 commented on #1816
/assign

[2022-09-15 20:34] red8888 commented on #1720
Just to follow up I have not experienced this behavior FYI: "Namespace deletion will be faster if all Ingresses and Negs are deleted before the namespace."

I deploy with helm and helm uninstall before removing the namespace. even removing all resources first does not seem to speed up the namespace deletion. maybe you need to wait a min or two after deleting the ingress to delete the namespace?

[2022-09-15 20:42] swetharepakula commented on #1720
@red8888, are you deleting the namespace right after all the NEG and Ingress resources are deleted or waiting for those resources to be completely deleted? A quick check is to run the following command to ensure that no SvcNeg CRs or Ingresses remain in the namespace before deleting the namespace.

[code]

As mentioned in the above comment, the problem is that GC takes time. When you delete the na

[2022-09-19 15:14] naxo8628 commented on #1646
+1

[2022-09-19 19:00] swetharepakula commented on #1646
Work to allow users to specify custom response headers using the BackendConfig is in progress. I will update this ticket again once it it is available in GKE.

[2022-09-21 22:29] #1677 closed

[2022-09-27 19:29] jaroslawhartman commented on #109
It's a shame that such basic functionality is not supported. Please reopen‼️

[2022-09-29 03:38] bernardopericacho commented on #1106
+1

[2022-09-29 03:40] bernardopericacho commented on #1268
+1

[2022-10-03 09:38] FernandoMiguel commented on #1719
/remove-lifecycle stale

[2022-10-07 14:28] Agh42 commented on #1268
It took me about one hour of trying to get this done until I finally reached this issue...

It's such a common requirement to be able to set headers such as `Cross-Origin-Opener-Policy, Cross-Origin-Resource-Policy, Cross-Origin-Embedder-Policy, Content-Security-Policy` and others in one central location.

When using NGINX as Ingress we can simple set `nginx.ingress.kubernetes.io/configuration-sni

[2022-10-11 15:05] grzegorzjudas commented on #109
There is (seemingly) related item in Google's issue tracker that I think they use to prioritize stuff: https://issuetracker.google.com/issues/194125076. Please vote on it, may help getting this finally implemented.

[2022-10-12 09:08] ridhoadya commented on #1106
I found out, there are 3 PR related to this, https://github.com/kubernetes/ingress-gce/pull/1771, https://github.com/kubernetes/ingress-gce/pull/1772, and https://github.com/kubernetes/ingress-gce/pull/1776. But not sure, when it will be release

[2022-10-13 10:42] pkhadka56 opened #1832 "Allow custom name for http(s) load balancing"
I am using ingress object to create the load balancing. I want to use the [google managed certificate](https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs) for which I need to give the static IP name in the annotation of the ingress object

[code]

The issue is that the load balancing name is automatically given when using ingress, I want to give a custom name to it. Therefore I w

[2022-10-13 16:53] #1832 closed

[2022-10-17 23:45] #1680 closed

[2022-10-18 20:43] omid-verneek commented on #33
It seems the Ingress only accepts Service and other custom resources such as `ComputeBackendBucket` are not accepted.

[2022-10-20 09:18] brianstorti commented on #1718
The only way I found to consistently work around this issue is to set a `minReadySeconds` on the deployment, to force the old pods to stick around for a while after the new pods are created.

[2022-10-22 16:04] david-1990 commented on #1633
I tried all the above solutions for the helm install and nothing worked :(
I am now trying the kubectl method but still no success. I am seeing the below error in the logs:

cert-manager "msg"="error while executing" "error"="error building controller context (options &{ 20 50 cert-manager true cert-manager 1m0s 40s 15s [*] quay.io/jetstack/cert-manager-acmesolver:v1.5.1 10m 64Mi 100m 64Mi true fa

[2022-10-31 16:34] ivan046 commented on #1106
@swetharepakula finally! thanks for the update!

[2022-11-01 22:17] arlando opened #1852 "Forwarding rule's subnetwork must have purpose=PRIVATE"
Hello!

When I try to use the `ingress-gce` to create an internal cloud native HTTP load balancer I get an error the load balancer cannot be created because the purpose of the subnetwork's purpose is not `PRIVATE`.

I've followed the steps as per the docs https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress#console but I can't tell what I'm missing.

First, I create

[2022-11-01 22:25] spencerhance commented on #1852
Hi @arlando !

I think the issue here is that your static IP is in the wrong subnet.  Can you try creating it in any other subnet besides the proxy-only one?

[code]

https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balance-ingress#static_ip_addressing

[2022-11-02 14:11] arlando commented on #1852
Thank you! That worked!

[2022-11-02 14:11] #1852 closed

[2022-11-04 21:47] jstncno commented on #1646
+1

[2022-11-05 03:52] dryleaf commented on #109
Since 2018, this issue is still not fixed. Unbelievable!!!
<img class="emoji" alt="thinking_face" src="https://github.githubassets.com/images/icons/emoji/unicode/1f615.png" width="20" height="20">

[2022-11-06 11:51] julienMichaud opened #1855 "Cannot use the script /hack/update-codegen.sh"
Hi,

Im working on a PR which allow users to disable QUIC support throught the FrontendConfig CR.

Im executing the script /hack/update-codegen.sh to generate the new files but I get the error :

`./hack/update-codegen.sh: line 32: ../code-generator/generate-groups.sh: No such file or directory`

Can you please tell me what im doing wrong ?

Here is the attribute I added

[code]
Thanks

[2022-11-06 16:11] aojea commented on #1855
It seems the scripts tries to find an script on the vendor folder for package `k8s.io/code-generator`

https://github.com/kubernetes/ingress-gce/blob/8195b0bb284e56265d606ee967bd4612d17a6662/hack/update-codegen.sh#L24

However, it is not present there ... @swetharepakula does this ring a bell? how `code-generator` dependency works in this repo?

[2022-11-07 02:52] spencerhance commented on #1855
So this is a fun one, since code-generator is not in vendor anymore the script only works with the `|| echo ../code-generator` part, i.e. you need to git clone or go install it into your gopath next to ingress-gce.

For example, if you have this repo cloned into `go/src/k8s.io/ingress-gce`, you need to clone `k8s.io/code-generator` into `go/src/k8s.io/code-generator`.

Additionally, you will have

[2022-11-07 16:42] SaltyCoco commented on #1681
Did you ever find a solution for this issue?  I am facing the same thing.  With nginx ingress there is just an annotation but for gce.....

[2022-11-07 19:24] julienMichaud commented on #1855
thanks guys, @spencerhance I did what you said, here are the logs

[code]

but i dont see any changes to my files, I should see a property `quicOverride `in the file `pkg/apis/frontendconfig/v1beta1/zz_generated.openapi.go` I think ?

[2022-11-08 03:31] spencerhance commented on #1855
Hm yeah you should be seeing a diff, I also tried locally and got the same result...will have to keep investigating.

[2022-11-10 16:21] julienMichaud commented on #1855
Alright, I made the changes manually to the files `pkg/apis/frontendconfig/v1beta1/zz_generated.deepcopy.go` & `pkg/apis/frontendconfig/v1beta1/zz_generated.openapi.go` to be able to create a `FrontendConfig` with the new attribute.

The thing is that I build the container and run it with `GLBC=bin/amd64/glbc hack/run-local-glbc.sh` but the CRD is not being updated in my gke cluster, I dont see my

[2022-11-12 16:08] #1656 closed

[2022-11-14 21:26] #1720 closed

[2022-11-17 16:18] gnubibi33 commented on #1766
Need the same but for HTTP headers :)

[2022-11-18 04:20] mahboobalambeg opened #1860 "Do we have header bases routing in ingress-gce controller?"
Our requirement is to route the traffic to pods based on header-based routing in ingress-gce controller.
Do we have any specific any ways to add header-based routing on ingress rules?
Please assist me on the same as we are using GKS with ingress-gce on production.

[2022-11-18 04:22] #1860 closed

[2022-11-18 04:22] mahboobalambeg commented on #1860
.

[2022-11-18 04:24] AlamBeg opened #1861 "Do we have header bases routing in ingress-gce controller"
Our requirement is to route the traffic to pods based on header-based routing in ingress-gce controller.
Do we have any specific any ways to add header-based routing on ingress rules?
Please assist me on the same as we are using GKS with ingress-gce on production.

[2022-11-18 05:06] AlamBeg commented on #1088
HI @mark-church

Is there any support on query parameter-based routing in the gke-ingress controller?
Our requirement is to validate a parameter in the header if that parameter is **True** route the traffic to a specific pod and if that parameter is **False**, route the traffic to another pod.

Any specific ingress rules are available or supports on GKS?

Thanks in advance.
Alam

[2022-11-18 11:09] #1727 closed

[2022-11-20 14:26] markrandall commented on #1692
I am in the same position.

I have a need to assign hundreds of SSL certificates to a GKE ingress but am capped by the 15 limit via the ingress object. We are running on a premium network tier and a global load balancer behind Cloud CDN and Cloud Armor, but seemingly have no way of having GKE and certificate manager talk to each other, and as mentioned by the post previously gateway api does not s

[2022-11-22 15:35] nokernel commented on #1426
/remove-lifecycle rotten

[2022-11-22 15:36] nokernel commented on #1426
/reopen

[2022-11-22 15:36] nokernel commented on #1426
This issue still exist.

[2022-11-22 16:46] ratelle commented on #1426
I'd like to assign this issue to myself and work on a small PR to fix it.

[2022-11-22 17:22] jupblb commented on #1426
/reopen

[2022-11-23 05:25] kundan2707 commented on #1861
@AlamBeg  https://github.com/kubernetes/ingress-gce/issues/1088#issuecomment-879084063

[2022-11-23 05:25] kundan2707 commented on #1861
/kind support

[2022-11-23 11:09] ZiaUrRehman-GBI commented on #1478
[code]

[2022-11-24 13:12] #1684 closed

[2022-11-24 17:50] kundan2707 commented on #1855
/kind support

[2022-11-25 14:53] pjestin commented on #699
We're using the Kong Kubernetes Ingress Controller and Kong seems to agree on the 2 solutions described by @jbielick above. However, as @zufardhiyaulhaq pointed out, the  `externalTrafficPolicy: Local` solution causes errors during deployment restarts.

It seems that a load balancer with `externalTrafficPolicy: Local` sends traffic to the nodes that are running a "healthy" Kong pod. However that "

[2022-11-28 04:24] kundan2707 commented on #1757
/remove-lifecycle stale

[2022-11-28 15:26] Vlad1mir-D commented on #1745
/remove-lifecycle rotten

[2022-11-28 16:09] spencerhance commented on #1861
cc: @spencerhance

[2022-11-28 23:20] spencerhance commented on #1855
Still working on a fix for this but it appears it's an issue with how the script handles the GOPATH.  If you're using gvm you can symlink the repo in your GOPATH to your source tree by running `gvm linkthis k8s.io/ingress-gce` from the top level of the repo.

[2022-11-29 00:17] spencerhance opened #1870 "Pin dependencies of update-codegen.sh"
While looking at #1855 it came up that we are not pinning versions of the two dependencies:

1. k8s.io/code-generator
2. k8s.io/kube-openapi/cmd/openapi-gen

We should pin these so that we can have reproducible results when running our API generation.

We should be able to use the same approach as golangci-lint in `hack/tools/tools.go` to install the dependencies.  Then we can access them like how

[2022-11-29 17:25] julienMichaud commented on #1855
[code]
If I run `hack/update-codegen.sh` after, I get

`Generating composite types
WARNING: No description for type: BackendService.circuitBreakers
WARNING: No description for type: BackendService.connectionTrackingPolicy
WARNING: No description for type: BackendService.subsetting
WARNING: No description for type: BackendService.connectionDraining
WARNING: No description for type: HealthCheck.http